<div class="card vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.STRUCTURAL.TOP_CONCEPT_WITH_BROADER.NAME'|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'COMMONS.ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">
        
        <div *ngIf="!brokenRecordList" style="padding: 4px;">
            {{'ICV.PRESS_RUN_TO_RUN_CHECK.0'|translate}} <strong>{{'COMMONS.ACTIONS.RUN'|translate}}</strong> {{'ICV.PRESS_RUN_TO_RUN_CHECK.1'|translate}}
        </div>
        
        <div *ngIf="brokenRecordList" class="table-responsive">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">{{'DATA.CONCEPT.CONCEPT'|translate}}</th>
                        <th class="text-center">{{'DATA.SCHEME.SCHEME'|translate}}</th>
                        <th class="text-center" style="width: 1%">{{'COMMONS.ACTIONS.ACTION'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of brokenRecordList">
                        <td>
                            <rdf-resource class="clickable" [resource]="record.concept" (click)="onResourceClick(record.concept)"></rdf-resource>
                        </td>
                        <td>
                            <rdf-resource class="clickable" [resource]="record.scheme" (click)="onResourceClick(record.scheme)"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="removeBroaders(record)">{{'ICV.STRUCTURAL.TOP_CONCEPT_WITH_BROADER.REMOVE_BROADER'|translate}}</button>
                            <button class="btn btn-xs btn-light ms-1" (click)="removeAsTopConceptOf(record)">{{'ICV.STRUCTURAL.TOP_CONCEPT_WITH_BROADER.REMOVE_AS_TOP'|translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div *ngIf="brokenRecordList && brokenRecordList.length != 0" class="dropup float-end" ngbDropdown>
            <button class="btn btn-light dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ngbDropdownToggle>
                {{'ICV.QUICK_ACTION'|translate}}
                <span class="fas fa-caret-down fa-sm"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="removeBroadersToAll()" style="cursor: pointer;">{{'ICV.STRUCTURAL.TOP_CONCEPT_WITH_BROADER.REMOVE_BROADER_TO_ALL'|translate}}</a>
                <a class="dropdown-item" (click)="removeAllAsTopConceptOf()" style="cursor: pointer;">{{'ICV.STRUCTURAL.TOP_CONCEPT_WITH_BROADER.REMOVE_ALL_AS_TOP'|translate}}</a>
            </div>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>