<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <leaflet-map *ngIf="viewInitialized" [point]="mapPoint" [route]="mapRoute" [area]="mapArea" [edit]="edit" (pointChanged)="onPointChanged($event)" (routePointChanged)="onRoutePointChanged($event)"></leaflet-map>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>