<div class="card vbox">

  <div class="card-body vbox">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td nowrap>
            <label>{{'METADATA.METADATA_VOCABULARIES.METADATA_VOCABULARY'|translate}}:</label>
          </td>
          <td>
            <select class="form-select" [(ngModel)]="selectedExporter" (change)="onExtensionChange()">
              <option *ngFor="let e of exporters" [ngValue]="e">{{e.name}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="margin-top: 4px;" class="scrollableContainer">
      <!-- Common extension point settings -->
      <settings-renderer-panel *ngIf="extensionPointSettings?.properties.length > 0" style="margin-top: 4px;" [(ngModel)]="extensionPointSettings">
      </settings-renderer-panel>

      <!-- Settings of the exporter implementation -->
      <settings-renderer-panel *ngFor="let s of settingsStructs" [(ngModel)]="s.settings" [scope]="s.scope">
        <button class="btn btn-xs btn-light" (click)="importSettingsFromMDR(s)" [title]="'METADATA.METADATA_VOCABULARIES.IMPORT_FROM_MDR_INFO'|translate">
          <b>{{'METADATA.METADATA_VOCABULARIES.IMPORT_FROM_MDR'|translate}}</b>
        </button>
      </settings-renderer-panel>
    </div>

  </div>

  <div class="card-footer d-flex align-items-center">
    <span style="flex: 1;">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>

    <div class="d-flex align-items-center">


      <div *ngIf="!selectedExporter?.metadataStoredInsideDataset" class="input-group">
        <select class="form-select" [(ngModel)]="selectedExportFormat">
          <option *ngFor="let f of exportFormats" [ngValue]="f">{{f.name}}</option>
        </select>
        <button class="btn btn-light" (click)="export()" [disabled]="!settingsStructs">
          {{'COMMONS.ACTIONS.EXPORT'|translate}}
        </button>
      </div>
      <button *ngIf="selectedExporter?.metadataStoredInsideDataset" class="btn btn-light ms-3" (click)="storeToDataset()" [title]="'Stores Metadata within the dataset being managed in this project'|translate" [disabled]="!settingsStructs">
        <!-- {{'Store'|translate}} -->
        {{'Add to dataset'|translate}}
      </button>
      <button class="btn btn-primary ms-3" (click)="saveSettings()" [disabled]="!settingsStructs">{{'COMMONS.ACTIONS.SAVE'|translate}}</button>
    </div>
  </div>
</div>