<div class="card vbox">
    <div class="card-header">
        <label style="flex: 1">{{id}}</label>

        <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="initCustomService()" [title]="'COMMONS.ACTIONS.REFRESH'|translate">
                <span class="fas fa-redo"></span>
            </button>
            <div class="btn-group btn-group-xs" ngbDropdown>
                <button class="btn btn-light dropdown-toggle" style="padding: 1px 3px;" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-caret-down fa-sm"></span>
                </button>
                <div class="dropdown-menu float-end" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="reload()" [title]="'CUSTOM_SERVICES.FORCE_RELOAD_INFO'|translate">
                        {{'CUSTOM_SERVICES.FORCE_RELOAD'|translate}}
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="form" class="card-body vbox">

        <!-- Name -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.name.displayName}}
                    <span class="fas fa-info-circle" [title]="form.name.description"></span>
                </label>
                <input-editable style="flex: 1;" [value]="form.name.value" (valueEdited)="updateName($event)" [disabled]="!editServiceAuthorized"></input-editable>
            </div>
        </div>

        <!-- Description -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.description.displayName}}
                    <span class="fas fa-info-circle" [title]="form.description.description"></span>
                </label>
                <input-editable style="flex: 1;" [value]="form.description.value" (valueEdited)="updateDescription($event)" [allowEmpty]="true" [disabled]="!editServiceAuthorized"></input-editable>
            </div>
        </div>

        <!-- Operations -->
        <div class="hbox">
            <div class="card vbox">
                <div class="card-header">
                    <label style="flex: 1">
                        {{form.operations.displayName}}
                        <span class="fas fa-info-circle" [title]="form.operations.description"></span>
                    </label>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-light" (click)="createOperation()" [title]="'COMMONS.ACTIONS.CREATE'|translate" [disabled]="!createOperationAuthorized">
                                <span class="fas fa-plus"></span>
                            </button>
                            <button class="btn btn-light" (click)="deleteOperation()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!selectedOperation || !deleteOperationAuthorized">
                                <span class="fas fa-minus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body vbox scrollableContainer">
                    <div *ngFor="let o of form.operations.value" class="listItem" [ngClass]="{ active: selectedOperation == o }" (click)="selectOperation(o)">
                        {{o.name}}
                    </div>
                </div>
            </div>
            <custom-operation *ngIf="selectedOperation" style="margin-left: 4px; flex: 4;" [operation]="selectedOperation" (update)="onOperationUpdate()">
            </custom-operation>
        </div>

    </div>
</div>