<div class="treeNode" #listNodeElement>
    <rdf-resource #rdfRes [resource]="node" [rendering]="rendering" (click)="selectNode($event)" 
        [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}" tabindex="0" (keydown)="keyHandler($event)"></rdf-resource>
    <input *ngIf="multiselection" type="checkbox" style="margin-left: 5px;" [(ngModel)]="checked" (ngModelChange)="onNodeCheckChange()">
</div>