<div class="hbox">

    <!--
        Extension selector visible if: 
        * there are multiple extensions;
        * there is one extension (immediately selected) and it has 0 or 1 configuration
        Configuration selector visible if the selected extension has multiple configurations.
    -->
    <select *ngIf="extensions.length > 1 || !selectedExtension.configurations || selectedExtension.configurations.length == 1"
        class="form-select" [(ngModel)]="selectedExtension" (ngModelChange)="onChangeExtension()"
        [title]="selectedExtension.description" style="margin-right: 2px;" [disabled]="disabled">
        <option *ngFor="let ext of extensions" [ngValue]="ext" [title]="ext.description">
            {{ext.name}} 
        </option>
    </select>
    <select *ngIf="selectedExtension.configurations?.length > 1" class="form-select" style="margin-left: 2px;"
        [(ngModel)]="selectedConfiguration" (ngModelChange)="onChangeConfig()" [disabled]="disabled">
        <option *ngFor="let cfg of selectedExtension.configurations" [ngValue]="cfg">{{cfg.shortName}}</option>
    </select>

    <span *ngIf="selectedExtension.configurations" class="btn-group" style="display: flex; margin-left: 5px;">
        <button class="btn btn-light" (click)="configure()" [disabled]="disabled">{{'COMMONS.CONFIG.CONFIGURE'|translate}}</button>
        <ng-container *ngIf="storeable">
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.SAVE_CONFIGURATION'|translate" (click)="saveConfig()" [disabled]="disabled">
                <span class="fas fa-download"></span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.LOAD_CONFIGURATION'|translate" (click)="loadConfig()" [disabled]="disabled">
                <span class="fas fa-upload"></span>
            </button>
        </ng-container>
    </span>

</div>