<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <div class="hbox" style="align-items: center">
            <h3 class="modal-title" style="flex: 1">{{'SEARCH.CUSTOM_SEARCH.CUSTOM_SEARCH'|translate}}</h3>
            <button class="btn btn-light btn-xs" [ngClass]="{active: detailsOn}" [title]="'SEARCH.CUSTOM_SEARCH.SHOW_HIDE_SPARQL_DETAILS'|translate" (click)="detailsOn = !detailsOn">
                {{'COMMONS.DETAILS'|translate}}
                <span *ngIf="detailsOn" class="fas fa-eye"></span>
                <span *ngIf="!detailsOn" class="fas fa-eye-slash"></span>
            </button>
        </div>
    </div>
    <div class="modal-body blockingDivHost scrollableContainer">

        <div *ngIf="description" class="alert alert-info" style="margin-bottom: 4px;">
            {{description}}
        </div>

        <div *ngIf="staticParameterization && !detailsOn" class="alert alert-warning" style="margin-bottom: 4px;">
            {{'SEARCH.CUSTOM_SEARCH.NO_PARAM_SEARCH'|translate}}
        </div>

        <query-param-form [bindings]="parameterization" (update)="onVarBindingsUpdate($event)" [configurable]="false" 
            [mode]="detailsOn ? 'sparql' : 'search'"></query-param-form>

        <yasgui *ngIf="detailsOn" class="mt-2" [query]="query" [readonly]="true" [hideButtons]="true"></yasgui>


        <div #blockingDiv class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>

</div>