<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title text-info">{{'SEARCH.CUSTOM_SEARCH.LOAD_CUSTOM_SEARCH'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <div class="hbox" style="flex: initial; align-items: center; margin-bottom: 4px;">
            <label>{{'COMMONS.LEVEL'|translate}}:</label>
            <select class="form-select form-select-sm" style="display: inline-block; margin-left: 4px;" [(ngModel)]="selectedScope" (ngModelChange)="initReferences()">
                <option *ngFor="let s of scopes">{{s}}</option>
            </select>
        </div>

        <div class="card vbox">
            <div class="card-header">
                <label style="flex: 1;">{{'SEARCH.CUSTOM_SEARCH.STORE_CUSTOM_SEARCH'|translate}}</label>
                <button class="btn btn-xs btn-light" (click)="add()" [title]="'COMMONS.ACTIONS.DELETE'|translate">
                    <span class="fas fa-plus"></span>
                </button>
            </div>

            <div class="card-body table-responsive" style="min-height: 80px;">
                <table class="table table-sm table-hoverable">
                    <colgroup>
                        <col>
                        <col style="width: 1%;">
                    </colgroup>
                    <tbody>
                        <tr *ngFor="let ref of references" (click)="selectReference(ref)" [ngClass]="{ 'table-primary': selectedRef == ref }">
                            <td>{{ref.identifier}}</td>
                            <td>
                                <button class="btn btn-xs btn-light" (click)="deleteReference(ref)" [title]="'COMMONS.ACTIONS.DELETE'|translate">
                                    <span class="far fa-trash-alt"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedRef">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>