<div class="hbox">

  <ng-container *ngIf="searchSettings.useAutocompletion">
    <div style="flex: 1;" (keyup.enter)="doSearch()">
      <ng-autocomplete #autocompleter [(ngModel)]="searchStr" (ngModelChange)="onAutocompleteChange()"
        [heading]="completerLimitExceeded ? ('SEARCH.SEARCH_SUGGESTIONS_LIMIT_EXCEEDED'|translate:{limit:completerLimit}) : null"
        [placeholder]="'COMMONS.ACTIONS.SEARCH'|translate"
        [data]="completerData" [isLoading]="isCompleterLoading" [itemTemplate]="itemTemplate" [disabled]="disabled">
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item"></a>
      </ng-template>
    </div>
  </ng-container>
  <input *ngIf="!searchSettings.useAutocompletion" #inputField type="text" class="form-control form-control-sm" style="flex: 1;"
    [(ngModel)]="searchStr" (keyup.enter)="doSearch(); inputField.blur()" [placeholder]="'COMMONS.ACTIONS.SEARCH'|translate" [disabled]="disabled">

  <div class="btn-group btn-group-xs ms-2" ngbDropdown placement="top-right" container="body">
    <button class="btn btn-light" type="button" (click)="doSearch()" [disabled]="disabled">
      <span class="fas fa-search"></span>
    </button>
    <ng-container *ngIf="showOtherSearch()">
      <button class="btn btn-light dropdown-toggle px-1" [disabled]="disabled" data-toggle="dropdown" ngbDropdownToggle>
        <span class="fas fa-caret-up"></span>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" (click)="doAdvancedSearch()">{{'SEARCH.ADV_SEARCH.ADVANCED_SEARCH'|translate}}</button>
        <button class="dropdown-item" (click)="customSearch()">{{'SEARCH.CUSTOM_SEARCH.CUSTOM_SEARCH'|translate}}</button>
      </div>
    </ng-container>
  </div>

  <div class="btn-group btn-group-xs ms-2">
    <div class="btn-group" ngbDropdown placement="top-right">
      <button class="btn btn-light px-1 dropdown-toggle" style="width: 24px;" data-toggle="dropdown" ngbDropdownToggle>
        <span *ngIf="searchSettings.stringMatchMode == 'startsWith'" class="fw-bold" style="font-size: 14px; line-height: 1;">&#945;..</span>
        <span *ngIf="searchSettings.stringMatchMode == 'contains'" class="fw-bold" style="font-size: 14px; line-height: 1;">.&#945;.</span>
        <span *ngIf="searchSettings.stringMatchMode == 'endsWith'" class="fw-bold" style="font-size: 14px; line-height: 1;">..&#945;</span>
        <span *ngIf="searchSettings.stringMatchMode == 'exact'" class="fw-bold" style="font-size: 14px; line-height: 1;">&#945;</span>
        <span *ngIf="searchSettings.stringMatchMode == 'fuzzy'" class="fw-bold" style="font-size: 14px; line-height: 1; width: 16px">~&#945;</span>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button *ngFor="let mode of stringMatchModes" class="dropdown-item" (click)="updateSearchMode(mode.value, $event)">
          <span class="d-inline-block fw-bold me-2" style="font-size: 13px; width: 24px;">{{mode.symbol}}</span>
          <span>{{mode.labelTranslationKey|translate}}</span>
          <span *ngIf="searchSettings.stringMatchMode == mode.value" class="fas fa-check ms-3"></span>
        </button>
      </div>
    </div>

    <button class="btn btn-light" type="button" (click)="editSettings()">
      <span class="fas fa-cog"></span>
    </button>
  </div>

</div>