<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'PROJECTS.ACTIONS.EDIT_SETTINGS'|translate}}</h3>
    </div>
    <div class="modal-body vbox scrollableContainer">

        <div *ngIf="validationEnabled || shaclEnabled || trivialInferenceAvailable || changeTrackerSetup" class="card mb-2">
            <div class="card-body" style="margin-bottom: -1rem;">
                <!-- BLACKLISTING -->        
                <div *ngIf="validationEnabled" class="row mb-2">
                    <label class="col-form-label col-sm-4">
                        {{'PROJECTS.BLACKLIST'|translate}}
                        <span class="fas fa-info-circle" [title]="'PROJECTS.BLACKLIST_INFO'|translate"></span>
                    </label>
                    <div class="col-sm-8 d-flex align-items-center">
                        <button class="btn btn-light btn-sm" [ngClass]="{ active: blacklisting }" (click)="changeBlacklisting()">
                            <b *ngIf="blacklisting" class="text-success">{{'STATUS.ACTIVE'|translate}}</b>
                            <b *ngIf="!blacklisting" class="text-danger">{{'STATUS.INACTIVE'|translate}}</b>
                        </button>
                        <span *ngIf="!remoteProject" class="fas fa-exclamation-triangle ms-3" [title]="'MESSAGES.RESTART_REPO_LOCAL_REQUIRED'|translate"></span>
                    </div>
                </div>
                <!-- SHACL VALIDATION -->        
                <div *ngIf="shaclEnabled" class="row mb-2">
                    <label class="col-form-label col-sm-4">{{'PROJECTS.SHACL_SHAPE_VALIDATION_ON_COMMIT'|translate}}</label>
                    <div class="col-sm-8 d-flex align-items-center">
                        <button class="btn btn-light btn-sm" [ngClass]="{ active: shaclValidationEnabled }" (click)="changeShaclValidation()">
                            <b *ngIf="shaclValidationEnabled" class="text-success">{{'STATUS.ACTIVE'|translate}}</b>
                            <b *ngIf="!shaclValidationEnabled" class="text-danger">{{'STATUS.INACTIVE'|translate}}</b>
                        </button>
                        <span *ngIf="!remoteProject" class="fas fa-exclamation-triangle ms-3" [title]="'MESSAGES.RESTART_REPO_LOCAL_REQUIRED'|translate"></span>
                    </div>
                </div>
                <!-- Trivial inference -->        
                <div *ngIf="trivialInferenceAvailable" class="row mb-2">
                    <label class="col-form-label col-sm-4">{{'PROJECTS.TRIVIAL_INFERENCE'|translate}}</label>
                    <div class="col-sm-8 d-flex align-items-center">
                        <button class="btn btn-light btn-sm" [ngClass]="{ active: trivialInferenceEnabled }" (click)="changeTrivialInference()">
                            <b *ngIf="trivialInferenceEnabled" class="text-success">{{'STATUS.ACTIVE'|translate}}</b>
                            <b *ngIf="!trivialInferenceEnabled" class="text-danger">{{'STATUS.INACTIVE'|translate}}</b>
                        </button>
                        <span *ngIf="!remoteProject" class="fas fa-exclamation-triangle ms-3" [title]="'MESSAGES.RESTART_REPO_LOCAL_REQUIRED'|translate"></span>
                    </div>
                </div>
                <!-- UNDO -->        
                <div *ngIf="changeTrackerSetup" class="row mb-2">
                    <label class="col-form-label col-sm-4">{{'MODELS.PROJECT.UNDO'|translate}}</label>
                    <div class="col-sm-8 d-flex align-items-center">
                        <button class="btn btn-light btn-sm" [ngClass]="{ active: undoEnabled }" (click)="changeUndo()">
                            <b *ngIf="undoEnabled" class="text-success">{{'STATUS.ACTIVE'|translate}}</b>
                            <b *ngIf="!undoEnabled" class="text-danger">{{'STATUS.INACTIVE'|translate}}</b>
                        </button>
                        <span *ngIf="!remoteProject" class="fas fa-exclamation-triangle ms-3" [title]="'MESSAGES.RESTART_REPO_LOCAL_REQUIRED'|translate"></span>
                    </div>
                </div>
            </div>
            <div *ngIf="remoteProject && (validationEnabled || shaclEnabled)" class="card-footer text-end">
                <div class="form-check mt-2">
                    <input class="form-check-input" id="restartRepoCheck" type="checkbox" [(ngModel)]="restartRepo">
                    <label class="form-check-label" for="restartRepoCheck">Automatically restart remote repositories on changes</label>
                </div>
            </div>
        </div>

        <!-- RENDERING ENGINE -->
        <div class="card mb-2">
            <div class="card-header">
                <label>{{'PROJECTS.RENDERING_ENGINE'|translate}}</label>
            </div>
            <div class="card-body">
                <extension-configurator #rendEngConfigurator *ngIf="rendEngExtensions"
                    [extensions]="rendEngExtensions" [storeable]="false" style="flex: 1;"
                    (extensionUpdated)="selectedRendEngExtension = $event; selectedRendEngExtensionConf = null"
                    (configurationUpdated)="selectedRendEngExtensionConf = $event">
                </extension-configurator>
            </div>
            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary btn-sm" (click)="updateRenderingEngine()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
            </div>
        </div>

        <!-- URI GENERATOR-->

        <div class="card mb-2">
            <div class="card-header">
                <label>{{'PROJECTS.URI_GENERATOR'|translate}}</label>
            </div>
            <div class="card-body">
                <extension-configurator #uriGenConfigurator *ngIf="uriGenExtensions"
                    [extensions]="uriGenExtensions" [storeable]="false" style="flex: 1;"
                    (extensionUpdated)="selectedUriGenExtension = $event; selectedUriGenExtensionConf = null"
                    (configurationUpdated)="selectedUriGenExtensionConf = $event">
                </extension-configurator>
            </div>
            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary btn-sm" (click)="updateUriGenerator()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-light btn-sm" (click)="ok()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
    </div>
</div>