<div class="card vbox">

  <div class="card-body vbox">

    <div *ngIf="unauthorized" class="alert alert-danger m-2">
      {{'MESSAGES.UNAUTHORIZED_VIEW'|translate}}
    </div>

    <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
      <ng-container *ngFor="let n of nodes; let idx=index">
        <div *ngIf="idx < nodeLimit">
          <div class="listNodeItem">
            <input *ngIf="context == 'dataPanel'" type="checkbox" style="margin-right: 5px;" [(ngModel)]="n['checked']"
              (ngModelChange)="updateActiveSchemesPref()">
            <scheme-list-node [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated"
              [context]="context" [projectCtx]="projectCtx" (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)" style="flex:1">
            </scheme-list-node>
          </div>
        </div>
      </ng-container>
    </div>

    <loading-div *ngIf="loading"></loading-div>

  </div>

</div>