<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'SHEET2RDF.ACTIONS.EDIT_CONTENT_SANITIZATION'|translate}}</h3>
    </div>
    <div class="modal-body vbox scrollableContainer">

        <node-sanitization-editor [(ngModel)]="sanitization"></node-sanitization-editor>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>