<div class="d-flex align-items-center border rounded p-2">
  <label class="text-nowrap">
    {{'SHEET2RDF.HEADER_EDITOR.DEFAULT_NAMESPACE'|translate}}
    <span class="fas fa-info-circle" [title]="'SHEET2RDF.HEADER_EDITOR.DEFAULT_NAMESPACE_INFO'|translate"></span>
    :
  </label>
  <div class="input-group ms-2">
    <button class="btn btn-light" [ngClass]="{ active: namespaceLocked }" (click)="toggleNamespaceLock()">
      <span class="fas fa-lock"></span>
    </button>
    <input *ngIf="!namespaceLocked" type="text" class="form-control" [(ngModel)]="defaultNamespace" (ngModelChange)="onModelChange()">
    <input *ngIf="namespaceLocked" type="text" class="form-control" [ngModel]="projectNamespace" disabled>
  </div>
</div>