<div class="card">
  <div class="card-body">

    <div class="d-flex align-items-center">

      <div class="form-check">
        <input class="form-check-input" id="memoizeCheck" type="checkbox" [(ngModel)]="memoizeData.enabled" (ngModelChange)="onModelChange()">
        <label class="form-check-label text-nowrap" for="memoizeCheck">
          {{'SHEET2RDF.HEADER_EDITOR.MEMOIZE'|translate}}
          <span class="fas fa-info-circle ms-1" [title]="'SHEET2RDF.HEADER_EDITOR.MEMOIZE_INFO'|translate">
          </span>
        </label>
      </div>

      <div class="input-group ms-4">
        <select class="form-select" [(ngModel)]="memoizeData.id" (ngModelChange)="onModelChange()" [disabled]="!memoizeData.enabled">
          <option [ngValue]="null">Default</option>
          <option *ngFor="let id of memoizeIds">{{id}}</option>
        </select>
        <button class="btn btn-light" (click)="addMap()" [disabled]="!memoizeData.enabled">
          <span class="fas fa-plus"></span>
        </button>
      </div>

      <div class="form-check ms-4">
        <input class="form-check-input" id="ignorecaseCheck" type="checkbox" [(ngModel)]="memoizeData.ignoreCase" (ngModelChange)="onModelChange()" [disabled]="!memoizeData.enabled">
        <label class="form-check-label text-nowrap" for="ignorecaseCheck">
          {{'SHEET2RDF.HEADER_EDITOR.MEMOIZE_CASE_INSENSITIVE'|translate}}
          <span class="fas fa-info-circle ms-1" [title]="'SHEET2RDF.HEADER_EDITOR.MEMOIZE_CASE_INSENSITIVE_INFO'|translate">
          </span>
        </label>
      </div>

    </div>

  </div>
</div>