<div class="d-flex border rounded p-2">

  <button *ngIf="fallback" class="btn btn-light" [ngClass]="{ active: locked }" (click)="toggleLock()">
    <span class="fas fa-lock"></span>
  </button>

  <fieldset [disabled]="locked" style="flex: 1;">
    <div class="d-flex align-items-center justify-content-around">
      <div class="form-check form-check-inline mx-4">
        <input class="form-check-input" id="trimCheck" type="checkbox" [(ngModel)]="trim" (ngModelChange)="onModelChange()">
        <label class="form-check-label text-nowrap" for="trimCheck">
          {{'SHEET2RDF.HEADER_EDITOR.SANITIZATION.TRIM'|translate}}
        </label>
      </div>
      <div class="form-check form-check-inline mx-4">
        <input class="form-check-input" id="spacesCheck" type="checkbox" [(ngModel)]="removeDuplicateSpaces" (ngModelChange)="onModelChange()">
        <label class="form-check-label text-nowrap" for="spacedCheck">
          {{'SHEET2RDF.HEADER_EDITOR.SANITIZATION.REMOVE_DOUBLE_SPACES'|translate}}
        </label>
      </div>
      <div class="d-flex align-items-center mx-4">
        <div class="form-check form-check-inline mx-4">
          <input class="form-check-input" id="punctuationCheck" type="checkbox" [(ngModel)]="removePunctuationStatus" (ngModelChange)="onModelChange()">
          <label class="form-check-label text-nowrap" for="punctuationCheck">
            {{'SHEET2RDF.HEADER_EDITOR.SANITIZATION.REMOVE_PUNCTUATION'|translate}}
          </label>
        </div>
        <input class="form-control ms-2" style="max-width: 60px;" [(ngModel)]="removePunctuationChars" (ngModelChange)="onModelChange()" placeholder=".,:;!?" [disabled]="!removePunctuationStatus">
      </div>
      <div class="d-flex align-items-center mx-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="caseCheck" type="checkbox" [(ngModel)]="convertCase" (ngModelChange)="onModelChange()">
          <label class="form-check-label text-nowrap" for="caseCheck">
            {{'SHEET2RDF.HEADER_EDITOR.SANITIZATION.CONVERT_CASE'|translate}}
          </label>
        </div>
        <select class="form-select form-control ms-2" [(ngModel)]="convertCaseChoice" [disabled]="!convertCase" (ngModelChange)="onModelChange()">
          <option *ngFor="let s of convertCaseStatuses" [ngValue]="s">{{s.translationKey|translate}}</option>
        </select>
      </div>
    </div>
  </fieldset>
</div>