<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'SHEET2RDF.HEADER_EDITOR.NODE_EDITOR'|translate}}</h3>
  </div>
  <div class="modal-body vbox scrollableContainer">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end"><label>ID:</label></td>
          <td><input id="toFocus" class="form-control" [(ngModel)]="nodeId" [sanitized]="true" [disabled]="!!editingNode"></td>
        </tr>
        <tr>
          <td class="text-end"><label>{{'COMMONS.TYPE'|translate}}:</label></td>
          <td>
            <select class="form-select" [(ngModel)]="rangeType" [disabled]="rangeTypeConfig.lock" (onModelChange)="onRangeTypeChanged()">
              <option *ngFor="let t of rangeTypes">{{t}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="text-end">
            <label style="white-space: nowrap;">
              {{'SHEET2RDF.HEADER_EDITOR.SANITIZATION.SANITIZATION'|translate}}
              <span class="fas fa-info-circle" [title]="'SHEET2RDF.HEADER_EDITOR.SANITIZATION.SANITIZATION_INFO'|translate"></span>
              :
            </label>
          </td>
          <td>
            <node-sanitization-editor [(ngModel)]="sanitization" [fallback]="sheetSanitization"></node-sanitization-editor>
          </td>
        </tr>
      </tbody>
    </table>

    <converter-config *ngIf="rangeType" class="mt-2"
      [converter]="selectedConverter" [rangeType]="rangeType" [language]="constrainedLanguage" [datatype]="constrainedDatatype"
      (update)="onConverterUpdate($event)">
    </converter-config>

    <div *ngIf="isConverterRandom()" class="d-flex align-items-center mt-2">
      <memoization-editor style="flex: 1;" [(ngModel)]="memoizeData"></memoization-editor>
      <button class="btn btn-light ms-2" (click)="selectNodeToBind()" [title]="'SHEET2RDF.HEADER_EDITOR.COPY_MEMOIZED_NODE_CONVERTER_INFO'|translate" [disabled]="!memoizedNodes">
        <span class="fas fa-link"></span>
      </button>
    </div>

    <conversion-namespace-editor *ngIf="isConverterUri()" class="mt-2" [(ngModel)]="defaultNamespace"></conversion-namespace-editor>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>