<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.SIMPLE_GRAPH_APPL'|translate}}</h3>
  </div>
  <div class="modal-body vbox">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>

        <tr>
          <td class="text-end"><label>{{'DATA.PROPERTY.PROPERTY'|translate}}:</label></td>
          <td>
            <div class="input-group">
              <div class="form-control">
                <rdf-resource *ngIf="property" [resource]="property" [rendering]="false"></rdf-resource>
              </div>
              <button class="btn btn-light" (click)="changeProperty()">
                <img src="./assets/images/icons/res/prop.png">
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-end"><label>{{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.RANGE'|translate}}:</label></td>
          <td>

            <fieldset class="form-control" style="min-height: 26px;" disabled>
              <ng-container *ngIf="rangeCollection?.length > 0">
                <rdf-resource *ngFor="let c of rangeCollection" [resource]="c" [rendering]="false"></rdf-resource>
              </ng-container>
              <ng-container *ngIf="rangeCollection?.length == 0">
                {{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.UNDETERMINED'|translate}}
              </ng-container>
            </fieldset>
          </td>
        </tr>

        <tr>
          <td class="text-end text-nowrap"><label>{{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.RANGE_TYPE'|translate}}:</label></td>
          <td>
            <select class="form-select" [(ngModel)]="selectedRangeType" [disabled]="!property">
              <option *ngFor="let rt of rangeTypes" [ngValue]="rt">{{rt.show}}</option>
            </select>
          </td>
        </tr>

        <tr *ngIf="selectedRangeType?.type == 'resource'">
          <td class="text-end"><label>{{'COMMONS.TYPE'|translate}}:</label></td>
          <td>
            <div class="hbox" style="align-items: center;">
              <div class="input-group" style="flex: 1;">
                <select class="form-select" [(ngModel)]="assertedType" [disabled]="!assertType">
                  <option *ngFor="let t of assertableTypes" [ngValue]="t">{{t.getShow()}}</option>
                </select>
                <button class="btn btn-light" (click)="addAssertedType()" [disabled]="!assertType">
                  <img src="./assets/images/icons/res/class.png">
                </button>
              </div>
              <div class="form-check ms-2">
                <input class="form-check-input" id="typeCheck" type="checkbox" [(ngModel)]="assertType">
                <label class="form-check-label" for="typeCheck">
                  {{'SHEET2RDF.HEADER_EDITOR.ASSERT_TYPE'|translate}}
                  <span class="fas fa-info-circle ms-1" [title]="'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.ASSERT_TYPE_INFO'|translate"></span>
                </label>
              </div>
            </div>
          </td>
        </tr>

        <tr *ngIf="selectedRangeType?.type == 'literal'">
          <td class="text-end"><label>{{'DATA.DATATYPE.DATATYPE'|translate}}:</label></td>
          <td>
            <datatype-picker [(ngModel)]="datatype" [allowedDatatypes]="allowedDatatypes"></datatype-picker>
          </td>
        </tr>

        <tr>
          <td class="text-end"><label>{{'COMMONS.NODE'|translate}}:</label></td>
          <td>
            <div class="input-group">
              <select class="form-select" [(ngModel)]="selectedNode" [disabled]="!isNodeSelectionEnabled()">
                <option *ngFor="let n of availableNodes" [ngValue]="n">{{getNodeSerialization(n)}}</option>
              </select>
              <button class="btn btn-light" (click)="addNode()" [disabled]="!isNodeSelectionEnabled()">
                <span class="fas fa-plus"></span>
              </button>
            </div>
          </td>
        </tr>


      </tbody>
    </table>

    <div *ngIf="selectedNode && getNodeNotCompliantError()" class="alert alert-danger" style="margin-top: 4px;">
      {{getNodeNotCompliantError()}}
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>