<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'SHEET2RDF.HEADER_EDITOR.SUBJECT_HEADER_EDITOR'|translate}}</h3>
  </div>
  <div class="modal-body vbox scrollableContainer">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end">
            <label style="white-space: nowrap;">
              {{'SHEET2RDF.HEADER_EDITOR.HEADER'|translate}} <span class="fas fa-info-circle" [title]="'SHEET2RDF.HEADER_EDITOR.SUBJ_HEADER_INFO'|translate"></span> :
            </label>
          </td>
          <td>
            <select class="form-select" [(ngModel)]="selectedHeader">
              <option *ngFor="let h of s2rdfModel.headers" [ngValue]="h">{{h.nameStruct.fullName}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="text-end" nowrap><label>{{'SHEET2RDF.HEADER_EDITOR.PEARL_FEATURE'|translate}}:</label></td>
          <td>
            <input type="text" class="form-control" [ngModel]="selectedHeader?.pearlFeature" disabled>
          </td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>
              {{'SHEET2RDF.HEADER_EDITOR.NODE_ID'|translate}} <span class="fas fa-info-circle" [title]="'SHEET2RDF.HEADER_EDITOR.SUBJ_NODE_ID_INFO'|translate"></span> :
            </label>
          </td>
          <td>
            <input type="text" class="form-control" [ngModel]="s2rdfModel.subjectHeader.node.nodeId" disabled>
          </td>
        </tr>

        <tr>
          <td class="text-end"><label>{{'COMMONS.TYPE'|translate}}:</label></td>
          <td>
            <div class="hbox" style="align-items: center;">
              <div class="input-group" style="flex: 1;">
                <div class="form-control" style="opacity: 1; background-color: #eee;">
                  <rdf-resource *ngIf="type" [resource]="type" [rendering]="false"></rdf-resource>
                </div>
                <button class="btn btn-light" (click)="changeType()" [disabled]="!assertType">
                  <img src="./assets/images/icons/res/class.png">
                </button>
              </div>
              <div class="form-check ms-2">
                <input class="form-check-input" id="typeCheck" type="checkbox" [(ngModel)]="assertType">
                <label class="form-check-label" for="typeCheck">
                  {{'SHEET2RDF.HEADER_EDITOR.ASSERT_TYPE'|translate}}
                  <span class="fas fa-info-circle ms-1" [title]="'SHEET2RDF.HEADER_EDITOR.ASSERT_TYPE_INFO'|translate">
                  </span>
                </label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-end">
            <label style="white-space: nowrap;">
              {{'SHEET2RDF.HEADER_EDITOR.SANITIZATION.SANITIZATION'|translate}}
              <span class="fas fa-info-circle" [title]="'SHEET2RDF.HEADER_EDITOR.SANITIZATION.SANITIZATION_INFO'|translate"></span>
              :
            </label>
          </td>
          <td>
            <node-sanitization-editor [(ngModel)]="sanitization" [fallback]="sheetSanitization"></node-sanitization-editor>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mt-2">
      <converter-config [converter]="selectedConverter" [rangeType]="RangeType.resource" (update)="onConverterUpdate($event)">
      </converter-config>

      <div *ngIf="isConverterRandom()" class="d-flex align-items-center mt-2">
        <memoization-editor style="flex: 1;" [(ngModel)]="memoizeData"></memoization-editor>
        <button class="btn btn-light ms-2" (click)="selectNodeToBind()" [title]="'SHEET2RDF.HEADER_EDITOR.COPY_MEMOIZED_NODE_CONVERTER_INFO'|translate" [disabled]="!memoizedNodes">
          <span class="fas fa-link"></span>
        </button>
      </div>

      <conversion-namespace-editor *ngIf="selectedConverter" class="mt-2" [(ngModel)]="defaultNamespace"></conversion-namespace-editor>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <label style="flex: 1;">{{'SHEET2RDF.HEADER_EDITOR.ADDITIONAL_PRED_OBJ'|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="addAdditionalPredObj()">
          <span class="fas fa-plus"></span>
        </button>
      </div>
      <div class="card-body">
        <table class="table table-borderless table-sm">
          <colgroup>
            <col style="width: 1%;">
            <col>
            <col style="width: 1%;">
            <col>
            <col style="width: 1%;">
          </colgroup>
          <tbody>
            <tr *ngFor="let po of additionalPredObjs">
              <td><label>{{'MODELS.RESOURCE.PREDICATE'|translate}}:</label></td>
              <td>
                <resource-picker [resource]="po.predicate" [editable]="true" [config]="{ roles: [RDFResourceRolesEnum.property] }"
                  (resourceChanged)="onAdditionalPropChanged(po, $event)">
                </resource-picker>
              </td>
              <td><label>{{'MODELS.RESOURCE.OBJECT'|translate}}:</label></td>
              <td>
                <value-picker [value]="po.object" [editable]="true" (valueChanged)="onAdditionalObjChanged(po, $event)"></value-picker>
              </td>
              <td>
                <button class="btn btn-sm btn-light" (click)="removeAdditionalPredObj(po)">
                  <span class="far fa-trash-alt"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>