<div class="card vbox">
    <div class="card-header">
        <label style="flex: 1">{{'METADATA.NAMESPACES_AND_IMPORTS.IMPORTS'|translate}}:</label>
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle [disabled]="!addImportAuthorized">
                {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} <span class="fas fa-caret-down fa-sm"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="importFromWeb()">{{'METADATA.NAMESPACES_AND_IMPORTS.WEB'|translate}}</a>
                <a class="dropdown-item" (click)="importFromLocalFile()">{{'METADATA.NAMESPACES_AND_IMPORTS.LOCAL_FILE'|translate}}</a>
                <a class="dropdown-item" (click)="importFromOntologyMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}</a>
                <a class="dropdown-item" (click)="importFromDatasetCatalog()">{{'DATA_MANAGEMENT.DATASET_CATALOG.DATASET_CATALOG'|translate}}</a>
                <a class="dropdown-item" (click)="importFromLocalProject()">{{'RESOURCE_VIEW.STATUS.LOCAL_PROJECT'|translate}}</a>
            </div>
        </div>
        <button class="btn btn-light btn-xs" (click)="openOntologyMirror()" style="margin-left: 4px;">
            {{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}
        </button>
    </div>
    <div class="card-body vbox">
        <import-tree (update)="onUpdate()"></import-tree>
    </div>
</div>

<div #blockingDiv class="blockingDiv" style="display:none">
    <div class="loadingDiv">
        <div>
            <p>Loading...</p><img src="./assets/images/loading.gif" />
        </div>
    </div>
</div>