<div class="treeNode listItem">

    <!-- Expand/collapse -->
    <div class="expandCollapseBtnContainer">
        <img *ngIf="import.imports.length > 0" src="./assets/images/icons/arrow.png" (click)="open = !open"
            [ngClass]="{'arrow-right': !open}">
    </div>

    <!-- Icon -->
    <div style="position: relative;">
        <span class="ms-1 me-2">
            <img *ngIf="import.source?.project" src="./assets/images/icons/vb_16x16.png" height="16px" width="16px" [title]="import.source.project">
            <img *ngIf="!import.source?.project" src="./assets/images/icons/res/ontology.png" height="16px" width="16px">
        </span>
        <span *ngIf="import.status == 'FAILED'" style="position: absolute; font-size: 16px; left: 5px; top: 1px;" class="fas fa-times text-danger"></span>
    </div>

    <!-- ID -->
    <div style="flex: 1;" [ngClass]="{ proposedAddTriple: import.status == 'STAGED_ADDITION', proposedRemoveTriple: import.status == 'STAGED_REMOVAL' }">
        {{import.id}}
    </div>

    <!-- Actions -->
    <div class="d-flex align-items-center">
        <span *ngIf="import.status == 'LOOP'" class="fas fa-redo mx-1" [title]="'METADATA.NAMESPACES_AND_IMPORTS.IMPORT_TREE.LOOP_IMPORTS'|translate"></span>

        <div class="ms-2">
            <div *ngIf="import.status == 'FAILED'" class="btn-group" ngbDropdown container="body" placement="bottom-right">
                <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [title]="'METADATA.NAMESPACES_AND_IMPORTS.IMPORT_TREE.FAILED_IMPORT'|translate">
                    <span class="fas fa-exclamation-triangle fa-fw"></span>
                </button>
                <div class="dropdown-menu float-end" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="repairFromLocalFile()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.REPAIR_FROM_LOCAL_FILE'|translate}}</a>
                    <a class="dropdown-item" (click)="repairFromWeb()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.REPAIR_FROM_WEB'|translate}}</a>
                    <a class="dropdown-item" (click)="repairFromMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.REPAIR_FROM_ONTOLOGY_MIRROR'|translate}}</a>
                    <a class="dropdown-item" (click)="repairFromDatasetCatalog()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.REPAIR_FROM_DATASET_CATALOG'|translate}}</a>
                    <a class="dropdown-item" (click)="repairFromLocalProject()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.REPAIR_FROM_LOCAL_PROJECT'|translate}}</a>
                </div>
            </div>
            <button *ngIf="root" class="btn btn-light btn-xs ms-2" (click)="removeImport()" [disabled]="!deleteImportAuthorized">
                <span class="far fa-trash-alt fa-fw" [title]="'COMMONS.ACTIONS.REMOVE'|translate"></span>
            </button>
        </div>

        <div class="ms-2" [ngClass]="{ invisible: import.status != 'OK' }" ngbDropdown container="body">
            <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-xs dropdown-toggle" [disabled]="!updateImportAuthorized">
                <span class="fas fa-caret-down"></span>
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <ng-container *ngIf="import.source?.project; then fromProjectOptions; else genericOptions"></ng-container>
                <ng-template #genericOptions>
                    <button class="dropdown-item" (click)="updateFromWeb()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_DATA_FROM_WEB'|translate}}</button>
                    <button class="dropdown-item" (click)="updateFromLocalFile()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_DATA_FROM_LOCAL_FILE'|translate}}</button>
                    <button class="dropdown-item" (click)="updateFromMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_DATA_FROM_ONTOLOGY_MIRROR'|translate}}</button>
                    <button class="dropdown-item" (click)="updateFromDatasetCatalog()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_DATA_FROM_DATASET_CATALOG'|translate}}</button>
                    <button class="dropdown-item" (click)="connectToProject()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.CONNECT_TO_PROJECT'|translate}}</button>
                </ng-template>
                <ng-template #fromProjectOptions>
                    <button class="dropdown-item" (click)="updateFromLinkedProject()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_DATA_FROM_LINKED_PROJ'|translate}}</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)="changeSourceProject()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.CHANGE_SOURCE_TO_PROJ'|translate}}</button>
                    <button class="dropdown-item" (click)="disconnectFromProject()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.DISCONNECT_FROM_PROJ'|translate}}</button>
                </ng-template>
            </div>
        </div>
    </div>



</div>

<div class="subTree" *ngIf="import.imports.length > 0 && open">
    <import-tree-node *ngFor="let i of import.imports" [import]="i" (remove)="onNodeRemoved($event)" (update)="onUpdate()">
    </import-tree-node>
</div>