<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox">

        <div *ngIf="showAspectSelector" class="btn-group" style="align-self: flex-end; margin-bottom: 6px;">
            <button *ngFor="let selector of aspectSelectors" class="btn btn-light" [ngClass]="{ active: selectedAspectSelector == selector }"
                (click)="selectedAspectSelector = selector">{{selector}}</button>
        </div>
        
        <div *ngIf="selectedAspectSelector == typedLiteralAspectSelector">
            <div class="hbox" style="align-items: center;">
                <typed-literal-input [allowedDatatypes]="allowedDatatypes" [datatype]="datatype" [(ngModel)]="value"
                    (datatypeChange)="onDatatypeChange($event)" (enter)="onEnter($event)" style="flex: 1;">
                </typed-literal-input>
                <button *ngIf="multivalue" class="btn btn-light btn-xs" (click)="addValue()" style="margin-left: 4px; margin-bottom: 4px;" [disabled]="!isAddValueEnabled()">
                    <span class="fas fa-plus"></span>
                </button>
            </div>

            <div *ngIf="notValidatableType" class="alert alert-warning" style="margin-top: 6px;">
                <span class="fas fa-exclamation-triangle" style="margin-right: 6px;"></span>
                Creation of a literal for datatype {{datatype.getShow()}} does not undergo any validation.
            </div>
        </div>

        <div *ngIf="selectedAspectSelector == dataRangeAspectSelector">
            <select *ngIf="dataRanges.length > 1" class="form-select" [(ngModel)]="selectedDataRange">
                <option *ngFor="let dr of dataRanges" [ngValue]="dr">
                    {{getDataRangePreview(dr)}}
                </option>
            </select>
            <div class="hbox" style="align-items: center; margin-top: 6px;">
                <select class="form-select" [(ngModel)]="value">
                    <option *ngFor="let v of selectedDataRange" [ngValue]="v">{{v.toNT()}}</option>
                </select>
                <button *ngIf="multivalue" class="btn btn-light btn-xs" (click)="addValue()" style="margin-left: 4px; margin-bottom: 4px;" [disabled]="!isAddValueEnabled()">
                    <span class="fas fa-plus"></span>
                </button>
            </div>
        </div>

        <div *ngIf="values.length > 0" class="card" style="margin-top: 4px;">
            <div class="card-body vbox scrollableContainer" style="max-height: 300px;">
                <div *ngFor="let v of values" class="listItem d-flex align-items-center">
                    <rdf-resource style="flex: 1;" [resource]="v"></rdf-resource>
                    <button class="btn btn-light btn-xs" (click)="removeValue(v)">
                        <span class="far fa-trash-alt" [title]="'COMMONS.ACTIONS.REMOVE'|translate"></span>
                    </button>
                </div>
            </div>
        </div>

        
    </div>
    <div class="modal-footer">
        <span *ngIf="isOkWarningActive()" class="fas fa-exclamation-triangle" style="margin-right: 2px;"
            [title]="'DATA.COMMONS.MULTIVALUE_WARN'|translate">
        </span>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>