<resource-view [resource]="resourceHistory[activeIdx]" (update)="onUpdate($event)" (valueClick)="onValueClick($event)">
  <div history-control>
    <div class="btn-toolbar" style="flex-wrap: nowrap">
      <div class="btn-group btn-group-xs" ngbDropdown #leftDrop="ngbDropdown">
        <button data-toggle="dropdown" ngbDropdownAnchor class="btn btn-light dropdown-no-arrow"
          [title]="('RESOURCE_VIEW.BROWSER.BACK'|translate) + '. ' + ('RESOURCE_VIEW.BROWSER.SEE_HISTORY'|translate)"
          (mousedown)="onMouseDown('left')" (mouseup)="onMouseUp('left')" [disabled]="activeIdx == 0">
          <i class="fas fa-arrow-left"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button *ngFor="let r of resourceHistory.slice(0, activeIdx); let index=index" class="dropdown-item" (click)="goToResInHistory(r)">
            <rdf-resource [resource]="r"></rdf-resource>
          </button>
        </div>
      </div>
      <div class="btn-group btn-group-xs" ngbDropdown #rightDrop="ngbDropdown">
        <button data-toggle="dropdown" ngbDropdownAnchor class="btn btn-light dropdown-no-arrow"
          [title]="('RESOURCE_VIEW.BROWSER.NEXT'|translate) + '. ' + ('RESOURCE_VIEW.BROWSER.SEE_HISTORY'|translate)"
          (mousedown)="onMouseDown('right')" (mouseup)="onMouseUp('right')" [disabled]="activeIdx == resourceHistory.length-1">
          <i class="fas fa-arrow-right"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button *ngFor="let r of resourceHistory.slice(activeIdx+1); let index=index" class="dropdown-item" (click)="goToResInHistory(r)">
            <rdf-resource [resource]="r"></rdf-resource>
          </button>
        </div>
      </div>
    </div>
  </div>
</resource-view>