<div class="card vbox">

    <div class="card-header">
        <label style="flex: 1">{{'COMMONS.LANGUAGE.LANGUAGES'|translate}}:</label>
        <div class="float-end">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-light" [ngClass]="{active: activePanel == 'rendering'}" (click)="activePanel = 'rendering'">
                        Rendering
                    </button>
                    <button class="btn btn-light" [ngClass]="{active: activePanel == 'editing'}" (click)="activePanel = 'editing'">
                        Editing
                    </button>
                    <button class="btn btn-light" [ngClass]="{active: activePanel == 'valuefilter'}" (click)="activePanel = 'valuefilter'">
                        Value-filter
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body vbox">
        <lang-rendering-pref *ngIf="activePanel == 'rendering'" class="vbox"></lang-rendering-pref>
        <lang-editing-pref *ngIf="activePanel == 'editing'" class="vbox"></lang-editing-pref>
        <lang-value-filter-pref *ngIf="activePanel == 'valuefilter'" class="vbox"></lang-value-filter-pref>
    </div>
</div>