<div class="card vbox">
  <div class="card-body vbox scrollableContainer" style="gap: 10px;">

    <div class="card">
      <div class="card-header">
        <label style="flex: 1;">{{'PREFERENCES.RES_VIEW_SECTIONS_VISIBILITY.SECTIONS_VISIBILITY'|translate}}</label>
        <div class="btn-toolbar">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="storeSectionFilter()" [title]="'COMMONS.ACTIONS.STORE'|translate">
              <span class="fas fa-download"></span>
            </button>
            <button class="btn btn-light" (click)="loadSectionFilter()" [title]="'COMMONS.ACTIONS.LOAD'|translate">
              <span class="fas fa-upload"></span>
            </button>
          </div>
          <div class="btn-group btn-group-xs">
            <div class="btn-group" ngbDropdown placement="bottom-right">
              <button class="btn btn-light dropdown-toggle btn-xs" ngbDropdownToggle>
                Defaults
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="setUserDefault()">
                  Set this configuration as default for all projects
                </button>
                <button class="dropdown-item" (click)="restoreDefault()">
                  {{'COMMONS.ACTIONS.VIEW_DEFAULTS'|translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body vbox">
        <div class="alert alert-info" role="alert" style="margin-bottom: 5px;">
          {{'PREFERENCES.RES_VIEW_SECTIONS_VISIBILITY.SECTIONS_VISIBILITY_PU_INFO'|translate}}
        </div>
        <section-filter-editor [(ngModel)]="sectionsFilter" [template]="template" (ngModelChange)="updateSectionsFilter()"></section-filter-editor>
      </div>
    </div>

    <div *ngIf="rvConceptTypeSelectorAvailable" class="card">
      <div class="card-body">
        <div class="hbox" style="align-items: center;">
          <label style="white-space: nowrap;">
            {{'RESOURCE_VIEW.SETTINGS.INITIAL_VIEW_FOR_CONCEPTS'|translate}}:
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.INITIAL_VIEW_FOR_CONCEPTS_INFO'|translate"></span>
          </label>
          <select class="form-select ms-2" [(ngModel)]="selectedRvConceptType" (ngModelChange)="onResViewConceptTypeChange()">
            <option *ngFor="let t of rvConceptTypes" [ngValue]="t">{{t.showTranslationKey|translate}}</option>
          </select>
        </div>
        <div class="alert alert-info mt-2">
          {{selectedRvConceptType.descrTranslationKey|translate}}
        </div>
      </div>
    </div>

    <div *ngIf="rvLexEntryTypeSelectorAvailable" class="card">
      <div class="card-body">
        <div class="hbox" style="align-items: center;">
          <label style="white-space: nowrap;">
            {{'RESOURCE_VIEW.SETTINGS.INITIAL_VIEW_FOR_LEXENTRY'|translate}}:
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.INITIAL_VIEW_FOR_LEXENTRY_INFO'|translate"></span>
          </label>
          <select class="form-select ms-2" [(ngModel)]="selectedRvLexEntryType" (ngModelChange)="onResViewLexEntryTypeChange()">
            <option *ngFor="let t of rvLexEntryTypes" [ngValue]="t">{{t.showTranslationKey|translate}}</option>
          </select>
        </div>
        <div class="alert alert-info mt-2">
          {{selectedRvLexEntryType.descrTranslationKey|translate}}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" id="imageCheck" type="checkbox" [(ngModel)]="displayImg" (ngModelChange)="onDisplayImgChange()">
          <label class="form-check-label" for="imageCheck">
            {{'RESOURCE_VIEW.SETTINGS.DISPLAY_IMAGES'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.DISPLAY_IMAGES_INFO'|translate"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" id="deprecatedCheck" type="checkbox" [(ngModel)]="showDeprecated" (ngModelChange)="onShowDeprecatedChange()">
          <label class="form-check-label" for="deprecatedCheck">
            {{'RESOURCE_VIEW.SETTINGS.SHOW_DEPRECATED'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.SHOW_DEPRECATED_INFO'|translate"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" id="badgeCheck" type="checkbox" [(ngModel)]="showDatatypeBadge" (ngModelChange)="onShowDatatypeBadge()">
          <label class="form-check-label" for="badgeCheck">
            {{'RESOURCE_VIEW.SETTINGS.SHOW_DATATYPE_BADGE'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.SHOW_DATATYPE_BADGE_INFO'|translate"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" id="sortLexCheck" type="checkbox" [(ngModel)]="sortByRendering" (ngModelChange)="onSortByRenderingChange()">
          <label class="form-check-label" for="sortLexCheck">
            {{'RESOURCE_VIEW.SETTINGS.SORT_BY_RENDERING'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.SORT_BY_RENDERING_INFO'|translate"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" id="forceSearchModeForAddPropertyCheck" type="checkbox" [(ngModel)]="forceSearchModeForAddPropertyValue" (ngModelChange)="onForceSearchModeForAddPropertyValueChange()">
          <label class="form-check-label" for="forceSearchModeForAddPropertyCheck">
            {{'RESOURCE_VIEW.SETTINGS.FORCE_SEARCHMODE_FOR_ADD_PROPERTY_VALUE'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.FORCE_SEARCHMODE_FOR_ADD_PROPERTY_VALUE_INFO'|translate"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" id="syncCheck" type="checkbox" [(ngModel)]="resViewTabSync" (ngModelChange)="onTabSyncChange()">
          <label class="form-check-label" for="syncCheck">
            {{'RESOURCE_VIEW.SETTINGS.SYNC_WITH_TREE_LIST'|translate}}
            <span class="fas fa-exclamation-triangle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.SYNC_WITH_TREE_LIST_WARNING'|translate"></span>
          </label>
        </div>
      </div>
    </div>

  </div>
</div>