<div class="card vbox">
  <div class="card-header">
    <label>{{'PREFERENCES.VB_PREFS'|translate}}</label>
  </div>

  <div class="card-body vbox">

    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
      <li class="nav-item" [ngClass]="{ active : activeTab == 'languages' }">
        <a class="nav-link" (click)="activeTab = 'languages'">{{'COMMONS.LANGUAGE.LANGUAGES'|translate}}</a>
      </li>
      <li class="nav-item" [ngClass]="{ active : activeTab == 'resView' }">
        <a class="nav-link" (click)="activeTab = 'resView'">Resource View</a>
      </li>
      <li class="nav-item" [ngClass]="{ active : activeTab == 'notifications' }">
        <a class="nav-link" (click)="activeTab = 'notifications'">{{'NOTIFICATIONS.NOTIFICATIONS'|translate}}</a>
      </li>
      <li class="nav-item" [ngClass]="{ active : activeTab == 'other' }">
        <a class="nav-link" (click)="activeTab = 'other'">{{'COMMONS.OTHER'|translate}}</a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane" [ngClass]="{ active : activeTab == 'resView' }">
        <res-view-pref class="vbox"></res-view-pref>
      </div>

      <div class="tab-pane" [ngClass]="{ active : activeTab == 'languages' }">
        <lang-pref class="vbox"></lang-pref>
      </div>

      <div class="tab-pane" [ngClass]="{ active : activeTab == 'notifications' }">
        <notifications-pref class="vbox"></notifications-pref>
      </div>

      <div class="tab-pane" [ngClass]="{ active : activeTab == 'other' }">
        <div class="card vbox">
          <div class="card-header">
            <label style="flex: 1">{{'PREFERENCES.OTHER.OTHER_PREFS'|translate}}</label>
          </div>
          <div class="card-body scrollableContainer">

            <div class="card" style="padding: 4px; margin-bottom: 2px">
              <div class="card-body">
                <div class="form-check">
                  <input class="form-check-input" id="flagCheck" type="checkbox" [(ngModel)]="showFlags" (ngModelChange)="onShowFlagChange()">
                  <label class="form-check-label" for="flagCheck">
                    {{'PREFERENCES.OTHER.SHOW_FLAGS'|translate}}
                    <span class="fas fa-info-circle" [title]="'PREFERENCES.OTHER.SHOW_FLAGS_INFO'|translate"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="card" style="padding: 4px; margin-bottom: 2px">
              <div class="card-body">
                <label>
                  {{'PREFERENCES.OTHER.PROJECT_THEME'|translate}}
                  <span class="fas fa-info-circle" [title]="'PREFERENCES.OTHER.PROJECT_THEME_INFO'|translate"></span>
                </label>
                <div *ngFor="let t of themes; let i=index" class="form-check form-check-inline ms-3">
                  <input class="form-check-input" [id]="'themeRadio'+i" type="radio" name="themeRadio" [(ngModel)]="selectedTheme" [value]="t" (click)="changeTheme(t)">
                  <label class="form-check-label" [for]="'themeRadio'+i">
                    <div class="d-flex" style="border: 1px solid black;">
                      <div style="width: 12px; height: 12px;" [class]="'bg-theme-' + t"></div>
                      <div style="width: 12px; height: 12px;" [class]="'bg-theme-alt-' + t"></div>
                    </div>
                  </label>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>