<div class="card vbox">
    <div class="card-header">
        <div style="flex: 1">
            <label>Docsets</label>
        </div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createDocset()">
                <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.DELETE'|translate" (click)="deleteDocset()" [disabled]="!selectedDocset">
                <span class="fas fa-minus"></span>
            </button>
            <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.EDIT'|translate" (click)="editDocset()" [disabled]="!selectedDocset">
                <span class="fas fa-pencil-alt"></span>
            </button>
            <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
                <span class="fas fa-redo"></span>
            </button>
        </div>
    </div>

    <div class="card-body vbox">
        <docset-list (nodeSelected)="onNodeSelected($event)">
        </docset-list>
    </div>


</div>
