<div class="card vbox">
  <div class="card-body vbox">
    <div class="scrollableContainer">
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

      <div *ngFor="let d of docsets" class="treeNode listItem" [ngClass]="{ selectedResource: d == selectedDocset }" (click)="onNodeSelected(d)">
        <div style="flex: 1;">
          {{d.name}}
        </div>
        <div *ngIf="d.contentSize > 0" style="position: absolute; margin: 4px; top: 0; right: 0;">
          <span class="badge bg-warning" style="font-size: 100%;">{{d.contentSize}}</span>
        </div>
      </div>
    </div>
  </div>
</div>