<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal" resizable>
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox">

        <settings-renderer-panel class="vbox" [(ngModel)]="config"></settings-renderer-panel>

    </div>
    <div class="modal-footer">
        <span class="float-start">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkClickable()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>