<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'GRAPHS.SETTINGS.DATA_GRAPH_SETTINGS'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <div class="hbox">
            <lang-value-filter-pref class="vbox"></lang-value-filter-pref>

            <div class="card vbox ms-2">
                <div class="card-header">
                    <label>{{'GRAPHS.SETTINGS.GRAPH_FILTER'|translate}}</label>
                </div>
                <div class="card-body vbox">
                    <div class="alert alert-info mb-2">
                        {{'GRAPHS.SETTINGS.SECTION_FILTER_INFO'|translate}}
                    </div>
                    <section-filter-editor [(ngModel)]="graphFilter" [template]="template" (ngModelChange)="updateFilter()"></section-filter-editor>
                </div>
            </div>
        </div>
        
        <div class="card mt-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" id="literalCheck" type="checkbox" [(ngModel)]="hideLiteralNodes" (ngModelChange)="onHideLiteralChange()">
                    <label class="form-check-label" for="literalCheck">
                        {{'GRAPHS.SETTINGS.HIDE_LITERAL_NODES'|translate}}
                        <span class="fas fa-info-circle ms-2" [title]="'GRAPHS.SETTINGS.HIDE_LITERAL_NODES_INFO'|translate"></span>
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>