<div class="modal-body vbox" style="min-height: 70vh;">
  <data-graph-panel *ngIf="dataGraph" class="vbox" [graph]="dataGraph" [rendering]="rendering" [role]="role" [context]="context"></data-graph-panel>
  <model-graph-panel *ngIf="modelGraph" class="vbox" [graph]="modelGraph" [rendering]="rendering"></model-graph-panel>
  <uml-graph-panel *ngIf="umlGraph" class="vbox" [graph]="umlGraph" [rendering]="rendering"></uml-graph-panel>
</div>
<div class="modal-footer">
  <button class="btn btn-light btn-sm" (click)="ok()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
</div>