<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox">


    <div class="d-flex align-items-center">
      <label class="me-2">{{'DATA.PROPERTY.PROPERTY'|translate}}</label>
      <resource-picker [resource]="selectedProperty" [config]="{ roles: [RDFResourceRolesEnum.property]}" (resourceChanged)="onPropertySelected($event)" style="flex: 1">
      </resource-picker>
    </div>

    <div class="card vbox mt-2">
      <div class="card-header">
        <label>{{'CUSTOM_VIEWS.CUSTOM_VIEWS'|translate}}</label>
      </div>
      <div class="card-body scrollableContainer" style="min-height: 200px;">
        <div *ngFor="let v of customViews" class="listItem" [ngClass]="{ active: selectedCustomView == v }" (click)="selectCustomView(v)">
          {{v.name}}
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center mt-2">
      <label class="text-nowrap">{{'CUSTOM_VIEWS.DEFAULT_VIEW'|translate}}:</label>
      <select class="form-select ms-2" [(ngModel)]="defaultView" [disabled]="!selectedCustomView || availableViews?.length == 1">
        <option *ngFor="let v of availableViews" [value]="v.id">
          {{v.translationKey|translate}}
        </option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>