<div class="groupPanel">
    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img src="./assets/images/icons/arrow.png" (click)="sectionCollapsed = !sectionCollapsed"
                [ngClass]="{'arrow-right': sectionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{sectionTitle}}:</label>
        </span>
        <span class="groupPanel-heading-content groupPanel-add-btn dropdown float-end" ngbDropdown>
            <button class="dropdown-toggle resViewSectionAddBtn" data-toggle="dropdown" ngbDropdownToggle [title]="addTitleTranslationKey|translate" [disabled]="addDisabled">
                <img [src]="addBtnImgSrc"/>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="importFromWeb()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.WEB'|translate}}
                </button>
                <button class="dropdown-item" (click)="importFromLocalFile()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.LOCAL_FILE'|translate}}
                </button>
                <button class="dropdown-item" (click)="importFromOntologyMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}
                </button>
                <button class="dropdown-item" (click)="importFromDatasetCatalog()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'DATA_MANAGEMENT.DATASET_CATALOG.DATASET_CATALOG'|translate}}
                </button>
                <button class="dropdown-item" (click)="importFromLocalProject()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'RESOURCE_VIEW.STATUS.LOCAL_PROJECT'|translate}}
                </button>
            </div>
        </span>
    </div>

    <div class="groupPanel-body">
        <ng-container *ngIf="!sectionCollapsed">

            <div *ngIf="sectionDescription" class="section-description text-secondary">
                <i>{{sectionDescription}}</i>
            </div>
            
            <import-pred-obj-renderer *ngFor="let po of poList"
                [predObj]="po" [resource]="resource" [readonly]="readonly"
                [rendering]="rendering" [section]="section" (valueClick)="onValueClick($event)"
                (importFromWeb)="importFromWeb()" (importFromLocalFile)="importFromLocalFile()"
                (importFromOntologyMirror)="importFromOntologyMirror()" (importFromDatasetCatalog)="importFromDatasetCatalog()"
                (importFromLocalProject)="importFromLocalProject()"
                (add)="addHandler(po.getPredicate(), $event)" (edit)="editHandler(po.getPredicate(), $event)" 
                (remove)="removeHandler(po.getPredicate(), $event)" (update)="onObjectUpdate()"
                (changeProp)="onChangeProperty(po.getPredicate(), $event)">
            </import-pred-obj-renderer>
        </ng-container>
    </div>
</div>