<div class="card card-alt">
    <div class="card-header">
        <label style="flex: 1" [title]="predicate.getShow()">{{predicateRendering}}</label>
        <div class="btn-group float-end" ngbDropdown>
            <button class="btn btn-xs btn-light dropdown-toggle"
                data-toggle="dropdown" ngbDropdownToggle [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="addDisabled">
                <span class="fas fa-plus" style="font-size: 9px;"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="importFromWeb.emit()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.WEB'|translate}}
                </button>
                <button class="dropdown-item" (click)="importFromLocalFile.emit()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.LOCAL_FILE'|translate}}
                </button>
                <button class="dropdown-item" (click)="importFromOntologyMirror.emit()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}
                </button>
                <button class="dropdown-item" (click)="importFromDatasetCatalog.emit()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'DATA_MANAGEMENT.DATASET_CATALOG.DATASET_CATALOG'|translate}}
                </button>
                <button class="dropdown-item" (click)="importFromLocalProject.emit()">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'RESOURCE_VIEW.STATUS.LOCAL_PROJECT'|translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ng-container *ngFor="let obj of objects">
            <resview-value-renderer
                [subject]="resource" [predicate]="predicate" [object]="obj" [rendering]="rendering" 
                [readonly]="readonly" [section]="section"
                (valueClick)="onValueClick($event)" (delete)="removeValue(obj)" (edit)="onEdit(obj)"
                (update)="onUpdate()" (changeProp)="onChangeProperty($event)">
            </resview-value-renderer>
        </ng-container>
    </div>
</div>