<div class="groupPanel">

  <div class="groupPanel-heading">
    <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
      <img src="./assets/images/icons/arrow.png" (click)="toggleCollapsed()"
        [ngClass]="{'arrow-right': sectionCollapsed}">
    </div>
    <span style="flex: 1">
      <label class="groupPanel-heading-content">{{sectionTitle}}:</label>
    </span>
    <span class="groupPanel-heading-content groupPanel-add-btn dropdown float-end" ngbDropdown>
      <button class="dropdown-toggle resViewSectionAddBtn" data-toggle="dropdown" ngbDropdownToggle [title]="addTitleTranslationKey|translate" [disabled]="addDisabled">
        <img [src]="addBtnImgSrc" />
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" (click)="addFirst()">{{'COMMONS.ACTIONS.ADD_FIRST'|translate}}</button>
        <button class="dropdown-item" (click)="addLast()">{{'COMMONS.ACTIONS.ADD_LAST'|translate}}</button>
        <button class="dropdown-item" [ngClass]="{disabled : !selectedMember}" (click)="addBefore()">{{'COMMONS.ACTIONS.ADD_BEFORE'|translate}}</button>
        <button class="dropdown-item" [ngClass]="{disabled : !selectedMember}" (click)="addAfter()">{{'COMMONS.ACTIONS.ADD_AFTER'|translate}}</button>
      </div>
    </span>
  </div>

  <div class="groupPanel-body">
    <ng-container *ngIf="!sectionCollapsed">

      <div *ngIf="sectionDescription" class="section-description text-secondary">
        <i>{{sectionDescription}}</i>
      </div>

      <ng-container *ngFor="let po of poList">
        <div class="card card-alt" *ngFor="let obj of po.getObjects()" style="margin-bottom: 4px;">
          <div class="card-header">
            <label style="flex: 1">{{po.getPredicate().getShow()}}</label>
            <div class="btn-group float-end" ngbDropdown>
              <button class="btn btn-xs btn-light dropdown-toggle"
                data-toggle="dropdown" ngbDropdownToggle [title]="addTitleTranslationKey|translate" [disabled]="addDisabled">
                <span class="fas fa-plus" style="font-size: 9px;"></span>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="addFirst(po.getPredicate())">{{'COMMONS.ACTIONS.ADD_FIRST'|translate}}</button>
                <button class="dropdown-item" (click)="addLast(po.getPredicate())">{{'COMMONS.ACTIONS.ADD_LAST'|translate}}</button>
                <button class="dropdown-item" [ngClass]="{disabled : !selectedMember}" (click)="addBefore(po.getPredicate())">{{'COMMONS.ACTIONS.ADD_BEFORE'|translate}}</button>
                <button class="dropdown-item" [ngClass]="{disabled : !selectedMember}" (click)="addAfter(po.getPredicate())">{{'COMMONS.ACTIONS.ADD_AFTER'|translate}}</button>
              </div>
            </div>

            <button class="btn btn-xs btn-light ms-2" (click)="removePredicateObject(po.getPredicate(), obj)" [title]="'COMMONS.ACTIONS.DELETE_MEMBERS'|translate">
              <span class="far fa-trash-alt"></span>
            </button>
          </div>
          <div class="card-body">
            <div *ngFor="let memb of obj['members']" class="listItem d-flex align-items-center" (click)="selectMember(memb)"
              [ngClass]="{active: memb == selectedMember}">
              <editable-resource style="flex: 1" [resource]="memb" [rendering]="rendering"
                [subject]="obj.asResource()" [predicate]="po.getPredicate()" [readonly]="readonly" [section]="section"
                (valueClick)="onValueClick($event)" (delete)="removeMember(memb)" (update)="onObjectUpdate()">
              </editable-resource>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

</div>