<div class="groupPanel">
  <div class="groupPanel-heading">
    <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
      <img src="./assets/images/icons/arrow.png" (click)="toggleCollapsed()"
        [ngClass]="{'arrow-right': sectionCollapsed}">
    </div>
    <span style="flex: 1">
      <label class="groupPanel-heading-content">{{sectionTitle}}:</label>
    </span>
    <span class="groupPanel-heading-content groupPanel-add-btn">
      <button class="resViewSectionAddBtn" (click)="addHandler(null, AddAction.default)" [title]="addTitleTranslationKey|translate" [disabled]="addDisabled">
        <img [src]="addBtnImgSrc" />
      </button>
    </span>
    <!-- <span *ngIf="addManuallyAllowed || addExteranlResourceAllowed" class="groupPanel-heading-content groupPanel-dropdown-btn">
      <div class="btn-group" style="vertical-align: initial;" ngbDropdown container="body">
        <button class="dropdown-toggle transparentBtn" style="width: 12px;" data-toggle="dropdown" ngbDropdownToggle>
          <span class="fas fa-caret-down fa-sm" style="margin: 0px;"></span>
        </button>
        <div class="dropdown-menu float-end" ngbDropdownMenu>
          <button *ngIf="addManuallyAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addManually(null, null)">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_MANUALLY'|translate}}</button>
          <button *ngIf="addExteranlResourceAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addExternalValue()">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_FROM_ANOTHER_PROJ'|translate}}</button>
        </div>
      </div>
    </span> -->
  </div>

  <div class="groupPanel-body">
    <ng-container *ngIf="!sectionCollapsed">

      <div *ngIf="sectionDescription" class="section-description text-secondary">
        <i>{{sectionDescription}}</i>
      </div>

      <div class="d-flex align-items-center pt-2 pb-3">
        <div *ngFor="let f of facets; let i=index" class="form-check form-check-inline" style="flex: 1;">
          <input class="form-check-input" [id]="'facetCheck'+i" type="checkbox" [(ngModel)]="f.value" [disabled]="isChangeFacetDisabled(f)" (change)="changeFacet(f)">
          <label class="form-check-label" [for]="'facetCheck'+i" style="font-weight: initial;">{{f.name}}</label>
        </div>
      </div>
      <ng-container *ngFor="let po of poList">
        <pred-obj-renderer *ngIf="po.getObjects().length > 0"
          [predObj]="po" [resource]="resource" [rendering]="rendering"
          [readonly]="readonly" [section]="section" (valueClick)="onValueClick($event)"
          (add)="addHandler(po.getPredicate(), $event)" (remove)="removeHandler(po.getPredicate(), $event)"
          (edit)="editHandler(po.getPredicate(), $event)">
        </pred-obj-renderer>
      </ng-container>
    </ng-container>
  </div>

</div>