<div class="card vbox">
  <div class="d-flex pt-1 px-2">
    <button class="btn btn-xs btn-light" (click)="openHelper()">{{'WIDGETS.EDITORS.MANCHESTER.HELPER'|translate}}</button>
    <div *ngIf="!context" class="form-check form-check-inline ms-auto">
      <input class="form-check-input" id="semCheck" type="checkbox" [(ngModel)]="skipSemanticCheck" (ngModelChange)="onSkipSemCheckChange()">
      <label class="form-check-label" for="semCheck">{{'WIDGETS.EDITORS.MANCHESTER.SKIP_SEM_CHECKS'|translate}}</label>
    </div>
  </div>

  <div class="card-body vbox" style="overflow: auto; position: relative">
    <div *ngIf="!codeValid" style="position: absolute; top: 12px; right: 30px; z-index: 1;" [title]="codeInvalidDetails">
      <span class="fas fa-exclamation-triangle" style="color: red;"></span>
    </div>
    <ngx-codemirror #cmEditor [(ngModel)]="code" (ngModelChange)="onCodeChange()" (codeMirrorLoaded)="onCodeMirrorLoaded()" [options]="editorConfig"></ngx-codemirror>
    <span style="margin-top: 5px;">{{'WIDGETS.EDITORS.MANCHESTER.PREST_CTRL_SPACE'|translate}}</span>
  </div>
</div>