<div class="vbox">

    <div class="card vbox">

        <div class="card-body hbox">

            <div class="card vbox">
                <div class="card-header">
                    <label style="flex: 1;">{{'COMMONS.ROLES'|translate}}:</label>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" (click)="createRole()" [title]="getCreateRoleTitle()" [disabled]="!isProjectOpen()">
                            <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" (click)="deleteRole()" [title]="'COMMONS.ACTIONS.DELETE'|translate"
                             [disabled]="!selectedRole || selectedRole.getLevel() == 'system'">
                            <span class="fas fa-minus"></span>
                        </button>
                        <button class="btn btn-light" (click)="cloneRole()" [title]="'COMMONS.ACTIONS.CLONE'|translate" [disabled]="!isProjectOpen() || !selectedRole">
                            <span class="fas fa-copy"></span>
                        </button>
                        <button class="btn btn-light" (click)="importRole()" [title]="'COMMONS.ACTIONS.IMPORT'|translate" [disabled]="!isProjectOpen()">
                            <span class="fas fa-upload"></span>
                        </button>
                        <button class="btn btn-light" (click)="exportRole()" [title]="'COMMONS.ACTIONS.EXPORT'|translate" [disabled]="!selectedRole">
                            <span class="fas fa-download"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <div *ngFor="let r of roleList" class="listItem" (click)="selectRole(r)"
                            [ngClass]="{active: r == selectedRole, grayText: r.getLevel() == 'system'}">
                            <span>{{r.getName()}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card vbox" style="margin-left: 5px;">
                <div class="card-header">
                    <label style="flex: 1;">{{'ADMINISTRATION.ROLES.ROLE_CAPABILITIES'|translate}}:</label>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" (click)="addCapability()" [title]="'COMMONS.ACTIONS.ADD'|translate"
                            [disabled]="!selectedRole || selectedRole.getLevel() == 'system'">
                            <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" (click)="removeCapability()" [title]="'COMMONS.ACTIONS.REMOVE'|translate"
                            [disabled]="!selectedCapability || (selectedRole && selectedRole.getLevel() == 'system')">
                            <span class="fas fa-minus"></span>
                        </button>
                        <button class="btn btn-light" (click)="editCapability()" [title]="'COMMONS.ACTIONS.EDIT'|translate"
                            [disabled]="!selectedCapability || (selectedRole && selectedRole.getLevel() == 'system')">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                    </div>
                </div>
                <div class="card-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <ng-container *ngIf="selectedRole">
                            <div *ngFor="let c of capabilityList" class="listItem"
                                [ngClass]="{active: c == selectedCapability, grayText: (selectedRole && selectedRole.getLevel() == 'system')}"
                                (click)="selectCapability(c)">
                                {{c}}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>