<div class="vbox">

  <div class="card vbox">
    <div class="card-header">
      <label>{{'COMMONS.ACTIONS.CREATE_PROJECT'|translate}}</label>
    </div>

    <div class="card-body scrollableContainer">

      <div class="row mb-2">
        <label class="col-form-label col-sm-1">{{'PROJECTS.PROJECT_NAME'|translate}}</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" [(ngModel)]="projectName"
            [placeholder]="'PROJECTS.PROJECT_NAME'|translate" (ngModelChange)="onProjectNameChange()" [sanitized]="true">
        </div>
      </div>

      <div class="row mb-2">
        <label class="col-form-label col-sm-1">{{'PROJECTS.PRELOAD.DATA_PRELOADING'|translate}}</label>
        <div class="col-sm-3">
          <select class="form-select" [(ngModel)]="selectedPreloadOpt" (ngModelChange)="onPreloadChange()">
            <option *ngFor="let p of preloadOptList" [value]="p">{{p|translate}}</option>
          </select>
        </div>
        <div *ngIf="selectedPreloadOpt != preloadOptNone" class="col-sm-5">
          <div class="hbox" style="align-items: center">
            <div *ngIf="selectedPreloadOpt == preloadOptFromLocalFile" class="hbox" style="align-items: center">
              <file-picker (fileChanged)="preloadFromFileChanged($event)" [file]="preloadFile" [accept]="filePickerAccept"></file-picker>
              <label style="margin-left: 8px;">{{'COMMONS.FORMAT'|translate}}</label>
              <select class="form-select" style="margin-left: 5px; width: initial" [(ngModel)]="selectedInputFormat">
                <option *ngFor="let f of inputFormats" [ngValue]="f">{{f.name}}</option>
              </select>
              <button class="btn btn-light" (click)="preloadFromFile()" [disabled]="!preloadFile" style="margin-left: 10px;">{{'PROJECTS.PRELOAD.PRELOAD'|translate}}</button>
            </div>

            <div *ngIf="selectedPreloadOpt == preloadOptFromURI" class="input-group" style="flex: 1;">
              <input type="text" class="form-control" [(ngModel)]="preloadUri">
              <button class="btn btn-light" (click)="preloadFromUri()" [disabled]="!preloadUri || preloadUri.trim() == ''">{{'PROJECTS.PRELOAD.PRELOAD'|translate}}</button>
            </div>

            <div *ngIf="selectedPreloadOpt == preloadOptFromDatasetCatalog" class="input-group" style="flex: 1;">
              <input type="text" class="form-control" [ngModel]="preloadCatalog" disabled>
              <button class="btn btn-light" (click)="preloadFromDatasetCatalog()">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
            <div style="margin-left: 8px; font-size: 15px;">
              <ng-container *ngIf="preloadedData?.option == selectedPreloadOpt && preloadedData?.summary; then preloadDone; else preloadNotDone"></ng-container>
              <ng-template #preloadDone>
                <span class="far fa-check-circle" [title]="'PROJECTS.PRELOAD.DATA_LOADED_CORRECTLY'|translate"></span>
              </ng-template>
              <ng-template #preloadNotDone>
                <span class="fas fa-exclamation-triangle" [title]="'PROJECTS.PRELOAD.DATA_NOT_LOADED'|translate"></span>
              </ng-template>
            </div>
          </div>
        </div>
        <div *ngIf="selectedPreloadOpt != preloadOptNone" class="col-sm-3">
          <div class="hbox" style="align-items: center;">
            <label>{{'METADATA.NAMESPACES_AND_IMPORTS.TRANSITIVE_IMPORTS.TRANSITIVE_IMPORTS'|translate}}</label>
            <select class="form-select" style="margin-left: 5px;" [(ngModel)]="selectedImportAllowance">
              <option *ngFor="let ia of importAllowances" [value]="ia.allowance">{{ia.showTranslationKey|translate}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <label class="col-form-label col-sm-1">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
        <div class="col-sm-11">

          <div class="hbox" style="align-items: center">
            <input type="text" class="form-control" [(ngModel)]="baseUri" [disabled]="baseUriLocked">
            <div *ngIf="preloadedData?.summary" style="margin-left: 4px;">
              <button *ngIf="baseUriForced" class="btn btn-light" [ngClass]="{ active : baseUriLocked }" (click)="baseUriLocked = !baseUriLocked"
                [title]="'PROJECTS.PRELOAD.SELECTION_AUTO_DETERMINED'|translate">
                <span class="fas fa-lock"></span>
              </button>
              <span *ngIf="!baseUriForced" class="fas fa-exclamation-triangle" [title]="'PROJECTS.PRELOAD.SELECTION_UNDETERMINED'|translate"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-1">{{'COMMONS.MODEL'|translate}}</label>
        <div class="col-sm-3">
          <div class="hbox" style="align-items: center">
            <select class="form-select" [(ngModel)]="ontoModelType" (ngModelChange)="onOntoModelChanged()" [disabled]="ontoModelLocked">
              <option *ngFor="let om of ontoModelList" [ngValue]="om.value">{{om.label}}</option>
            </select>
            <div *ngIf="preloadedData?.summary" style="margin-left: 4px;">
              <button *ngIf="ontoModelForced" class="btn btn-light" [ngClass]="{ active : ontoModelLocked }" (click)="ontoModelLocked = !ontoModelLocked"
                [title]="'PROJECTS.PRELOAD.SELECTION_AUTO_DETERMINED'|translate">
                <span class="fas fa-lock"></span>
              </button>
              <span *ngIf="!ontoModelForced" class="fas fa-exclamation-triangle" [title]="'PROJECTS.PRELOAD.SELECTION_UNDETERMINED'|translate"></span>
            </div>
          </div>
        </div>
        <ng-container *ngIf="!isEdoalProject(); else edoalBlock">
          <label class="col-form-label col-sm-1">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</label>
          <div class="col-sm-3">
            <div class="hbox" style="align-items: center">
              <select class="form-select" [(ngModel)]="lexicalModelType" [disabled]="(isOntoModelOntolex() && !lexicalModelForced) || lexicalModelLocked">
                <option *ngFor="let lm of lexicalModelList" [ngValue]="lm.value">{{lm.label}}</option>
              </select>
              <div *ngIf="preloadedData?.summary" style="margin-left: 4px;">
                <button *ngIf="lexicalModelForced" class="btn btn-light" [ngClass]="{ active : lexicalModelLocked }" (click)="lexicalModelLocked = !lexicalModelLocked"
                  [title]="'PROJECTS.PRELOAD.SELECTION_AUTO_DETERMINED'|translate">
                  <span class="fas fa-lock"></span>
                </button>
                <span *ngIf="!lexicalModelForced" class="fas fa-exclamation-triangle" [title]="'PROJECTS.PRELOAD.SELECTION_UNDETERMINED'|translate"></span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #edoalBlock>
          <label class="col-form-label col-sm-1">
            {{'PROJECTS.LEFT_RIGHT'|translate}}
            <span class="fas fa-info-circle" [title]="'PROJECTS.LEFT_RIGHT_INFO'|translate"></span>
          </label>
          <div class="col-sm-3">
            <div class="hbox" style="align-items: center">
              <select class="form-select" [(ngModel)]="leftProject" (ngModelChange)="updateRightProjectList()">
                <option *ngFor="let p of leftProjectList" [ngValue]="p">{{p.getName(true)}}</option>
              </select>
              <span style="margin: 0px 4px; font-size: 14px;">/</span>
              <select class="form-select" [(ngModel)]="rightProject" [disabled]="!leftProject">
                <option *ngFor="let p of rightProjectList" [ngValue]="p">{{p.getName(true)}}</option>
              </select>
            </div>
          </div>
        </ng-template>
        <div class="col-sm-4 d-flex flex-wrap align-items-center justify-content-around">
          <div class="form-check form-check-inline" style="flex: 1; justify-content: center;">
            <input class="form-check-input" id="historyCheck" type="checkbox" [(ngModel)]="history">
            <label class="form-check-label text-nowrap" for="historyCheck">
              {{'MODELS.PROJECT.HISTORY'|translate}}
              <span class="fas fa-info-circle ms-1" [title]="'PROJECTS.HISTORY_INFO'|translate"></span>
            </label>
          </div>
          <div class="form-check form-check-inline" style="flex: 1; justify-content: center;">
            <input class="form-check-input" id="validationCheck" type="checkbox" [(ngModel)]="validation" (input)="blacklisting=false">
            <label class="form-check-label text-nowrap" for="validationCheck">
              {{'MODELS.PROJECT.VALIDATION'|translate}}
              <span class="fas fa-info-circle ms-1" [title]="'PROJECTS.VALIDATION_INFO'|translate"></span>
            </label>
          </div>
          <div class="form-check form-check-inline" style="flex: 1; justify-content: center;">
            <input class="form-check-input" id="blacklistCheck" type="checkbox" [(ngModel)]="blacklisting" [disabled]="!validation">
            <label class="form-check-label text-nowrap" for="blacklistCheck">
              {{'PROJECTS.BLACKLIST'|translate}}
              <span class="fas fa-info-circle ms-1" [title]="'PROJECTS.BLACKLIST_INFO'|translate"></span>
            </label>
          </div>
          <div class="form-check form-check-inline" style="flex: 1; justify-content: center;">
            <input class="form-check-input" id="undoCheck" type="checkbox" [(ngModel)]="undo">
            <label class="form-check-label text-nowrap" for="undoCheck">
              {{'MODELS.PROJECT.UNDO'|translate}}
              <span class="fas fa-info-circle ms-1" [title]="'PROJECTS.UNDO_INFO'|translate"></span>
            </label>
          </div>
          <div class="form-check form-check-inline" style="flex: 1; justify-content: center;">
            <input class="form-check-input" id="trivialInferCheck" type="checkbox" [(ngModel)]="enableTrivialInference">
            <label class="form-check-label text-nowrap" for="trivialInferCheck">
              {{'PROJECTS.TRIVIAL_INFERENCE'|translate}}
              <span class="fas fa-info-circle ms-1" [title]="'PROJECTS.TRIVIAL_INFERENCE_INFO'|translate"></span>
            </label>
          </div>
        </div>
      </div>

      <!--Triple store configuration-->
      <div class="card mb-2">
        <div class="card-header">
          <label>{{'MODELS.PROJECT.DATA_STORE'|translate}}</label>
        </div>
        <div class="card-body">

          <div class="row mb-2">
            <label class="col-form-label col-sm-2">{{'MODELS.PROJECT.REPO_ACCESS'|translate}}</label>
            <div class="col-sm-10">
              <div class="hbox">
                <select class="form-select" style="flex: 4" [(ngModel)]="selectedRepositoryAccess" (ngModelChange)="onRepoAccessChange()">
                  <option *ngFor="let repoAcc of repositoryAccessList" [ngValue]="repoAcc">{{repoAcc}}</option>
                </select>
                <div *ngIf="isSelectedRepoAccessRemote()" class="input-group ms-2" style="flex: 1; min-width: 210px;">
                  <select class="form-select" [(ngModel)]="selectedRemoteRepoConfig">
                    <option *ngFor="let c of remoteRepoConfigs" [ngValue]="c">{{c.serverURL}}</option>
                  </select>
                  <button *ngIf="isAdmin" class="btn btn-light" (click)="configureRemoteRepositoryAccess()">
                    <span class="fas fa-pencil-alt"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Data repo -->
          <div class="row mb-2">
            <label class="col-form-label col-sm-2">{{'MODELS.PROJECT.DATA_REPO_ID'|translate}}</label>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="dataRepoId"
                  [placeholder]="'MODELS.PROJECT.DATA_REPO_ID'|translate" [disabled]="isSelectedRepoAccessCreateMode()">
                <button class="btn btn-light" (click)="changeRemoteRepository('data')"
                  [title]="'COMMONS.ACTIONS.SELECT_REMOTE_REPO'|translate" [disabled]="isSelectedRepoAccessCreateMode()">
                  <span class="fas fa-folder-open"></span>
                </button>
              </div>
            </div>
            <ng-container *ngIf="isSelectedRepoAccessCreateMode()">
              <div class="col-form-label col-sm-1">
                <label>{{'COMMONS.CONFIG.CONFIGURATION'|translate}}</label>
              </div>
              <div class="col-sm-5">
                <extension-configurator #dataRepoConfigurator *ngIf="dataRepoExtensions"
                  [extensions]="dataRepoExtensions" [storeable]="false"
                  (extensionUpdated)="selectedDataRepoExtension = $event"
                  (configurationUpdated)="selectedDataRepoConfig = $event">
                </extension-configurator>
              </div>
            </ng-container>
            <ng-container *ngIf="!isSelectedRepoAccessCreateMode()">
              <div class="col-form-label col-sm-1">
                <label>{{'MODELS.PROJECT.BACKEND_TYPE'|translate}}</label>
              </div>
              <div class="col-sm-5">
                <select class="form-select" [(ngModel)]="selectedCoreRepoBackendType">
                  <option *ngFor="let bt of backendTypes" [value]="bt">{{bt}}</option>
                </select>
              </div>
            </ng-container>
          </div>

          <!-- Support repo -->

          <div class="row mb-2">
            <label class="col-form-label col-sm-2">{{'MODELS.PROJECT.SUPPORT_REPO_ID'|translate}}</label>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="supportRepoId"
                  [placeholder]="'MODELS.PROJECT.SUPPORT_REPO_ID'|translate" [disabled]="isSelectedRepoAccessCreateMode() || !(history || validation)">
                <button class="btn btn-light" type="button" (click)="changeRemoteRepository('support')"
                  [title]="'COMMONS.ACTIONS.SELECT_REMOTE_REPO'|translate" [disabled]="isSelectedRepoAccessCreateMode() || !(history || validation)">
                  <span class="fas fa-folder-open"></span>
                </button>
              </div>
            </div>
            <ng-container *ngIf="isSelectedRepoAccessCreateMode()">
              <div class="col-form-label col-sm-1" style="white-space: nowrap">
                <label>{{'COMMONS.CONFIG.CONFIGURATION'|translate}}</label>
                <span class="fas fa-exclamation-circle ms-2" [title]="'PROJECTS.INFERENCE_DISCOURAGED_INFO'|translate"></span>
              </div>
              <div class="col-sm-5">
                <extension-configurator #supportRepoConfigurator *ngIf="supportRepoExtensions"
                  [extensions]="supportRepoExtensions" [storeable]="false" [disabled]="!(history || validation)"
                  (extensionUpdated)="selectedSupportRepoExtension = $event"
                  (configurationUpdated)="selectedSupportRepoConfig = $event">
                </extension-configurator>
              </div>
            </ng-container>
            <ng-container *ngIf="!isSelectedRepoAccessCreateMode()">
              <div class="col-form-label col-sm-1">
                <label>{{'MODELS.PROJECT.BACKEND_TYPE'|translate}}</label>
              </div>
              <div class="col-sm-5">
                <select class="form-select" [(ngModel)]="selectedSupportRepoBackendType" [disabled]="!(history || validation)">
                  <option *ngFor="let bt of backendTypes" [value]="bt">{{bt}}</option>
                </select>
              </div>
            </ng-container>
          </div>

        </div>
      </div>

      <!--Extention points configuration-->
      <div class="card mb-2">
        <div class="card-header">
          <div class="d-flex align-items-center" (click)="extPointPanelOpen = !extPointPanelOpen">
            <div class="expandCollapseBtnContainer clickable">
              <img src="./assets/images/icons/arrow.png" [ngClass]="{'arrow-right' : !extPointPanelOpen}">
            </div>
            <label class="clickable" style="flex: 1">{{'PROJECTS.OPTIONAL_SETTINGS'|translate}}</label>
          </div>
        </div>
        <div class="card-body" *ngIf="extPointPanelOpen">

          <div class="row mb-2">
            <label class="col-form-label col-sm-1">{{'COMMONS.LABEL'|translate}}</label>
            <div class="col-sm-11">
              <lang-string-editor [(ngModel)]="projectLabel" [lang]="projectLabelLang"></lang-string-editor>
            </div>
          </div>

          <div class="card mb-2">
            <div class="card-header">
              <label style="flex: 1;">{{'PROJECTS.URI_GENERATOR'|translate}}</label>
              <div class="form-check">
                <input class="form-check-input" id="defaultUriGenCheck" type="checkbox" [(ngModel)]="uriGenUseDefaultSetting">
                <label class="form-check-label" for="defaultUriGenCheck">{{'PROJECTS.USE_DEFAULT'|translate}}</label>
              </div>
            </div>
            <div class="card-body">
              <ng-container *ngIf="!uriGenUseDefaultSetting">
                <extension-configurator [extensions]="uriGenExtensions" (extensionUpdated)="selectedUriGenExtension = $event; selectedUriGenExtensionConf = null"
                  (configurationUpdated)="selectedUriGenExtensionConf = $event" [storeable]="false" style="flex: 1;">
                </extension-configurator>
              </ng-container>
            </div>
          </div>

          <div class="card mb-2">
            <div class="card-header">
              <label style="flex: 1;">{{'PROJECTS.RENDERING_ENGINE'|translate}}</label>
              <div class="form-check">
                <input class="form-check-input" id="defaultRenderingCheck" type="checkbox" [(ngModel)]="rendEngUseDefaultSetting">
                <label class="form-check-label" for="defaultRenderingCheck">{{'PROJECTS.USE_DEFAULT'|translate}}</label>
              </div>
            </div>
            <div class="card-body">
              <ng-container *ngIf="!rendEngUseDefaultSetting">
                <extension-configurator [extensions]="rendEngExtensions" (extensionUpdated)="selectedRendEngExtension = $event; selectedRendEngExtensionConf = null"
                  (configurationUpdated)="selectedRendEngExtensionConf = $event" [storeable]="false" style="flex: 1;">
                </extension-configurator>
              </ng-container>
            </div>
          </div>

          <div class="card mb-2">
            <div class="card-header">
              <label style="flex: 1;">{{'PROJECTS.RESOURCE_METADATA'|translate}}</label>
              <div class="form-check">
                <input class="form-check-input" id="resMetadataCheck" type="checkbox" [(ngModel)]="useResourceMetadata">
                <label class="form-check-label" for="resMetadataCheck">
                  {{'COMMONS.ACTIONS.USE'|translate}}
                  <span class="fas fa-info-circle ms-1" [title]="'PROJECTS.USE_RESOURCE_METADATA_INFO'|translate"></span>
                </label>
              </div>
            </div>
            <div class="card-body">
              <ng-container *ngIf="useResourceMetadata">
                <table class="table table-sm table-borderless">
                  <colgroup>
                    <col style="width: 1%;">
                    <col>
                    <col style="width: 1%;">
                    <col>
                    <col style="width: 1%;">
                    <col style="width: 1%;">
                  </colgroup>
                  <tbody>
                    <tr *ngFor="let ma of metadataAssociations; let last = last">
                      <td class="text-rigth" nowrap>
                        <label>{{'MODELS.RESOURCE.RESOURCE_TYPE'|translate}}</label>
                      </td>
                      <td>
                        <select class="form-select" [(ngModel)]="ma.role">
                          <option *ngFor="let r of resourceTypes" [ngValue]="r">{{r.show}}</option>
                        </select>
                      </td>
                      <td class="text-rigth" nowrap>
                        <label>Pattern</label>
                      </td>
                      <td>
                        <div class="input-group">
                          <input class="form-control" [ngModel]="ma.pattern?.name" disabled>
                          <button class="btn btn-light" (click)="selectMetadataPattern(ma)">
                            <span class="fas fa-pencil-alt"></span>
                          </button>
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-xs btn-light" (click)="removeMetadataAssociation(ma)" [disabled]="metadataAssociations.length == 1">
                          <span class="far fa-trash-alt"></span>
                        </button>
                      </td>
                      <td>
                        <button *ngIf="last" class="btn btn-xs btn-light" (click)="addMetadataAssociation()">
                          <span class="fas fa-plus"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </div>
          </div>

          <div class="card mb-2">
            <div class="card-header">
              <label style="flex: 1;">{{'PROJECTS.SHACL_SHAPE_VALIDATION'|translate}}</label>
              <div class="form-check">
                <input class="form-check-input" id="shapeCheck" type="checkbox" [(ngModel)]="enableSHACL" (ngModelChange)="onShaclEnableChange()">
                <label class="form-check-label" for="shapeCheck">{{'COMMONS.ACTIONS.ENABLE'|translate}}</label>
              </div>
            </div>
            <div class="card-body">
              <ng-container *ngIf="enableSHACL">
                <settings-renderer *ngIf="isSelectedRepoAccessCreateMode() && shaclSettings" [(ngModel)]="shaclSettings" [disabled]="!enableSHACL">
                </settings-renderer>
                <div *ngIf="!isSelectedRepoAccessCreateMode()" class="alert alert-warning">
                  <span class="fas fa-exclamation-triangle"></span>
                  You should check that the existing repository being accessed actually supports SHACL with the desired settings.
                </div>
              </ng-container>
            </div>
          </div>

          <div class="card card-alt">
            <div class="card-header">
              <label>{{'PROJECTS.OTHER_OPTIONS'|translate}}</label>
            </div>
            <div class="card-body">
              <table class="table table-borderless">
                <colgroup>
                  <col style="width: 1%;">
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <td nowrap>
                      <label>
                        {{'PROJECTS.ACL.UNIVERSAL_ACCESS_LEVEL'|translate}}
                        <span class="fas fa-info-circle ms-2" [ngbPopover]="popContent" triggers="mouseenter:mouseleave"></span>
                        <ng-template #popContent>
                          <div style="width: 300px;">
                            <p>{{'PROJECTS.ACL.UNIVERSAL_ACCESS_LEVEL_INFO'|translate}}</p>
                            <ul>
                              <li><code>R</code>: {{'PROJECTS.ACL.UNIVERSAL_LEVEL_R_INFO'|translate}}</li>
                              <li><code>RW</code>: {{'PROJECTS.ACL.UNIVERSAL_LEVEL_RW_INFO'|translate}}</li>
                              <li><code>EXT</code>: {{'PROJECTS.ACL.UNIVERSAL_LEVEL_EXT_INFO'|translate}}</li>
                            </ul>
                          </div>
                        </ng-template>
                      </label>
                    </td>
                    <td class="text-center">
                      <select class="form-select" [(ngModel)]="universalAccess">
                        <option *ngFor="let l of universalAccessLevels" [ngValue]="l.level">{{l.label}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td nowrap>
                      <label>
                        {{'PROJECTS.OPEN_AT_STARTUP'|translate}}
                        <span class="fas fa-info-circle" [title]="'PROJECTS.OPEN_AT_STARTUP_INFO'|translate"></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <div class="form-control">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" id="startupRadioTrue" type="radio" name="startupRadio" [(ngModel)]="openAtStartup" [value]="true">
                          <span class="form-check-label" for="startupRadioTrue">{{'COMMONS.BOOLEAN.TRUE'|translate}}</span>
                        </div>
                        <div class="form-check form-check-inline ms-3">
                          <input class="form-check-input" id="startupRadioFalse" type="radio" name="startupRadio" [(ngModel)]="openAtStartup" [value]="false">
                          <span class="form-check-label" for="startupRadioFalse">{{'COMMONS.BOOLEAN.FALSE'|translate}}</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td nowrap>
                      <label>
                        {{'PROJECTS.PUBLICLY_ACCESSIBLE'|translate}}
                        <span class="fas fa-info-circle" [title]="'PROJECTS.PUBLICLY_ACCESSIBLE_INFO'|translate"></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <div class="form-control">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" id="accessibleRadioTrue" type="radio" name="accessibleRadio" [(ngModel)]="publiclyAccessible" [value]="true">
                          <span class="form-check-label" for="accessibleRadioTrue">{{'COMMONS.BOOLEAN.TRUE'|translate}}</span>
                        </div>
                        <div class="form-check form-check-inline ms-3">
                          <input class="form-check-input" id="accessibleRadioFalse" type="radio" name="accessibleRadio" [(ngModel)]="publiclyAccessible" [value]="false">
                          <span class="form-check-label" for="accessibleRadioFalse">{{'COMMONS.BOOLEAN.FALSE'|translate}}</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary float-end" (click)="create()">{{'COMMONS.ACTIONS.CREATE'|translate}}</button>
      <span class="clearfix"></span>
    </div>
  </div>

</div>