<div *ngIf="queryResult != null" class="vbox">
  <div class="table-responsive" style="flex: 1; border: 1px solid #ddd; padding: 4px;">
    <table class="table table-striped table-sm table-hoverable" style="flex: 1">
      <thead>
        <tr>
          <th *ngFor="let h of headers" style="white-space: nowrap">
            {{h}}
            <button *ngIf="resultType != 'boolean'" class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="sortResult(h)">
              <span class="fas fa-sort-alpha-down" *ngSwitchCase="h+asc_Order"></span>
              <span class="fas fa-sort-alpha-down-alt" *ngSwitchCase="h+desc_Order"></span>
              <span class="fas fa-sort" *ngSwitchDefault></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody style="overflow: auto;">
        <ng-container *ngIf="resultType != 'boolean'">
          <ng-container *ngFor="let bindings of $any(queryResult); let i=index">
            <ng-container *ngIf="i >= page*resultsLimit && i < page*resultsLimit + resultsLimit"> <!-- paging filter -->
              <tr>
                <td *ngFor="let h of headers">
                  <span *ngIf="bindings[h]" [ngClass]="{ clickable: isBindingResource(bindings[h]) }" style="white-space: pre-wrap;" (click)="onBindingClick(bindings[h])">{{getBindingShow(bindings[h])}}</span>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="resultType == 'boolean'">
          <tr>
            <td>
              {{queryResult}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="d-flex align-items-center mt-2">

    <span *ngIf="queryResult != null && resultType != 'boolean'">
      {{'SPARQL.RESULTS.RESULTS_COUNT'|translate}}: {{$any(queryResult).length}}
    </span>

    <div class="d-flex align-items-center ms-2" style="flex: 1">
      <div class="dropdown ms-2" ngbDropdown>
        <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle
          [disabled]="queryResult == null || resultType == 'boolean'">
          {{'SPARQL.RESULTS.SAVE_RESULTS_AS'|translate}}... <span class="fas fa-caret-down fa-sm"></span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" (click)="exportAsJSON()">Json</a>
          <a class="dropdown-item" (click)="exportAsCSV()">CSV</a>
          <a class="dropdown-item" (click)="exportAsTSV()">TSV</a>
          <a class="dropdown-item" (click)="exportAsSpradsheet()">XLSX (Microsoft spreadsheet)</a>
          <a *ngIf="resultType=='graph'" class="dropdown-item" (click)="exportAsRdf()">RDF format...</a>
        </div>
      </div>
    </div>

    <button *ngIf="isOpenGraphEnabled()" class="btn btn-xs btn-light mx-2" (click)="openGraph()">
      <img src="./assets/images/icons/res/ontology.png" [title]="'SPARQL.RESULTS.SHOW_RESULTS_AS_GRAPH'|translate" width="11px">
    </button>

    <div class="d-flex align-items-center" style="justify-content: end;">
      <div class="btn-group btn-group-xs">
        <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="page=page-1" [disabled]="page <= 0">
          <span class="fas fa-caret-left"></span>
        </button>
        <button class="btn btn-light" style="cursor: auto" disabled>
          <span>{{pageCount != 0 ? page+1 : '0'}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{pageCount}}</span>
        </button>
        <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="page=page+1" [disabled]="page+1 >= pageCount">
          <span class="fas fa-caret-right"></span>
        </button>
      </div>

      <div class="d-flex align-items-center ms-3">
        <label style="white-space: nowrap;">{{'COMMONS.PAGING.GO_TO'|translate}}:</label>
        <div class="input-group input-group-sm ms-2">
          <select class="form-select" [(ngModel)]="pageSelectorOpt" [disabled]="pageSelector.length == 0">
            <option *ngFor="let p of pageSelector" [ngValue]="p">{{p+1}}</option>
          </select>
          <button class="btn btn-light" (click)="goToPage()" [disabled]="pageSelectorOpt == null">{{'COMMONS.ACTIONS.GO'|translate}}</button>
        </div>
      </div>
    </div>


  </div>

</div>