<yasgui [query]="query" (querychange)="onQueryChange($event)"></yasgui>

<!--Commands (submit, clear, inferred, ...)-->
<div class="mt-2 d-flex align-items-center">
  <button class="btn btn-xs btn-primary" type="button" (click)="doQuery()" [disabled]="queryInProgress || !queryValid">
    {{'COMMONS.ACTIONS.SUBMIT'|translate}}
  </button>
  <button class="btn btn-xs btn-secondary ms-2" type="button" (click)="clear()" [disabled]="queryResultResp == null">{{'SPARQL.RESULTS.CLEAR'|translate}}</button>
  <div class="form-check ms-3">
    <input class="form-check-input" id="inferredCheck" type="checkbox" [(ngModel)]="inferred">
    <label class="form-check-label" for="inferredCheck">{{'SPARQL.RESULTS.INCLUDE_INFERRED'|translate}}</label>
  </div>
  <span *ngIf="queryTime" class="ms-2">({{'SPARQL.RESULTS.DONE_IN'|translate}} {{queryTime}})</span>
  <span style="flex: 1"></span>
  <div class="btn-toolbar">
    <div class="btn-group btn-group-xs">
      <button class="btn btn-light btn-xs" [title]="'SPARQL.ACTIONS.SAVE_SPARQL_QUERY'|translate" (click)="saveConfiguration()">
        <span class="fas fa-download"></span>
      </button>
      <button class="btn btn-light btn-xs" [title]="'SPARQL.ACTIONS.LOAD_SPARQL_QUERY'|translate" (click)="loadConfiguration()">
        <span class="fas fa-upload"></span>
      </button>
    </div>
  </div>
</div>

<!--Query result-->
<query-results *ngIf="queryResultResp" class="mt-2" [queryResultResp]="queryResultResp" [queryCache]="queryCache" [inferred]="inferred"></query-results>