<div class="hbox">

  <div class="card card-alt" style="flex: 2; margin-right: 4px;">
    <div class="card-header">
      <span style="flex: 1">
        <label>{{'SPARQL.QUERY.STORED_QUERY'|translate}}: </label> {{storedQueryName}}
      </span>
      <button class="btn btn-xs btn-light" (click)="changeStoredQuery()" [title]="'SPARQL.QUERY.CHANGE_STORED_QUERY'|translate">
        <span class="fas fa-pencil-alt"></span>
      </button>
    </div>
    <div class="card-body vbox">
      <yasgui [query]="query" (querychange)="onQueryChange($event)" [readonly]="true"></yasgui>
    </div>
  </div>

  <div class="vbox">
    <query-param-form class="vbox" [bindings]="parameterization" (update)="onVarBindingsUpdate($event)"
      (paramsChange)="onParametrizationsChange($event)"></query-param-form>
    <div class="hbox" style="margin-top: 4px; align-items: center; flex: initial;">
      <label style="margin-right: 4px;">{{'COMMONS.DESCRIPTION'|translate}}:</label>
      <textarea class="form-control form-control-sm" style="resize: none" rows="3" [(ngModel)]="description" (ngModelChange)="onDescriptionChange()"></textarea>
    </div>
  </div>

</div>

<!--Commands (submit, clear, inferred, ...)-->
<div class="mt-2 d-flex align-items-center">
  <button class="btn btn-xs btn-primary" type="button" (click)="doQuery()" [disabled]="queryInProgress || !queryValid">
    {{'COMMONS.ACTIONS.SUBMIT'|translate}}
  </button>
  <button class="btn btn-xs btn-secondary ms-2" type="button" (click)="clear()" [disabled]="queryResultResp == null">{{'SPARQL.RESULTS.CLEAR'|translate}}</button>
  <div class="form-check ms-3">
    <input class="form-check-input" id="inferredCheck" type="checkbox" [(ngModel)]="inferred">
    <label class="form-check-label" for="inferredCheck">{{'SPARQL.RESULTS.INCLUDE_INFERRED'|translate}}</label>
  </div>
  <span *ngIf="queryTime" class="ms-2">({{'SPARQL.RESULTS.DONE_IN'|translate}} {{queryTime}})</span>
  <span style="flex: 1"></span>
  <div class="btn-toolbar">
    <div class="btn-group btn-group-xs">
      <button class="btn btn-light btn-xs" [title]="'SPARQL.ACTIONS.SAVE_SPARQL_PARAMETERIZED_QUERY'|translate" (click)="saveConfiguration()" [disabled]="!storedQueryReference">
        <span class="fas fa-download"></span>
      </button>
      <button class="btn btn-light btn-xs" [title]="'SPARQL.ACTIONS.LOAD_SPARQL_PARAMETERIZED_QUERY'|translate" (click)="loadConfiguration()">
        <span class="fas fa-upload"></span>
      </button>
    </div>
  </div>
</div>

<!--Query result-->
<query-results *ngIf="queryResultResp" class="mt-2" [queryResultResp]="queryResultResp" [queryCache]="queryCache" [inferred]="inferred"></query-results>