<div *ngIf="!readonly" class="form-check mb-2" style="width: fit-content;">
  <input class="form-check-input" id="fetchCheck" type="checkbox" [(ngModel)]="fetchFromPrefixCheck" (change)="onCheckboxChange()">
  <label class="form-check-label" for="fetchCheck">{{'SPARQL.QUERY.FETCH_FROM_PREFIXCC'|translate}}</label>
</div>
<div style="position: relative" class="vbox" [ngClass]="{ 'CodeMirror-fullscreen' : fullScreen }">
  <div #yasqe class="vbox" [ngClass]="{ 'yasqe-readonly': readonly }"></div>

  <div *ngIf="!hideButtons" class="full-screen-toggle">
    <i class="fa-solid fa-2xl clickable" [ngClass]="fullScreen ? 'fa-compress': 'fa-expand'"
      (click)="toggleFullScreen()">
    </i>
  </div>
</div>