<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'COMMONS.ACTIONS.CREATE_TASK'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <div class="hbox" style="flex: initial; align-items: center;">
            <label>{{'COMMONS.MODE'|translate}}:</label>
            <select class="form-select ms-2" [(ngModel)]="mode" (ngModelChange)="onModeChange()">
                <option *ngFor="let m of modes" [ngValue]="m.mode">{{m.show}}</option>
            </select>
        </div>

        <div *ngIf="mode" class="card vbox mt-3">
            <div class="card-body">
                <div class="hbox">
                    <div class="vbox">
                        <label class="text-center mb-2 p-2">{{'SKOS_DIFF.LEFT_DATASET'|translate}}</label>
                        <div *ngIf="mode == 'projects'" class="row mb-2">
                            <label class="col-form-label col-sm-3">{{'MODELS.PROJECT.PROJECT'|translate}}:</label>
                            <div class="col-sm-9">
                                <input class="form-control" [ngModel]="leftDataset.project.getName(true)" disabled>
                            </div>
                        </div>
                        <div *ngIf="mode == 'versions'" class="row mb-2">
                            <label class="col-form-label col-sm-3">{{'SKOS_DIFF.VERSION'|translate}}:</label>
                            <div class="col-sm-9">
                                <select class="form-select" [(ngModel)]="leftDataset.version">
                                    <option *ngFor="let v of versions" [ngValue]="v">{{v.versionId}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="vbox">
                        <label class="text-center mb-2 p-2">{{'SKOS_DIFF.RIGHT_DATASET'|translate}}</label>   
                        <div *ngIf="mode == 'projects'" class="row mb-2">
                            <label class="col-form-label col-sm-3">{{'MODELS.PROJECT.PROJECT'|translate}}:</label>
                            <div class="col-sm-9">
                                <select class="form-select" [(ngModel)]="rightDataset.project">
                                    <option *ngFor="let p of projects" [ngValue]="p">{{p.getName(true)}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="mode == 'versions'" class="row mb-2">
                            <label class="col-form-label col-sm-3">{{'SKOS_DIFF.VERSION'|translate}}:</label>
                            <div class="col-sm-9">
                                <select class="form-select" [(ngModel)]="rightDataset.version">
                                    <option *ngFor="let v of versions" [ngValue]="v">{{v.versionId}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>