<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">

    <table class="table table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr style="border-bottom: 1px solid #ddd;">
          <td nowrap><label>{{'COMMONS.TYPE'|translate}}:</label></td>
          <td>
            <select class="form-select" [(ngModel)]="reified">
              <option *ngFor="let rt of relationTypes" [ngValue]="rt.reified">{{rt.translationKey|translate}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td nowrap><label>{{'ALIGNMENT.CREATION.SOURCE_RESOURCE'|translate}}:</label></td>
          <td>
            <div class="form-control input-resource">
              <rdf-resource [resource]="sourceEntity"></rdf-resource>
            </div>
          </td>
        </tr>
        <tr>
          <td nowrap><label>{{'COMMONS.CATEGORY'|translate}}:</label></td>
          <td>
            <select class="form-select" [(ngModel)]="selectedCategory" [title]="selectedCategory?.toNT()" [disabled]="translation">
              <option *ngFor="let c of categories" [ngValue]="c" [title]="c.toNT()">{{c.getLocalName()}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label>{{'ALIGNMENT.CREATION.TARGET_RESOURCE'|translate}}:</label></td>
          <td>
            <resource-picker [config]="resourcePickerConfig" (resourceChanged)="targetEntity = $event"></resource-picker>
          </td>
        </tr>
        <ng-container *ngIf="reified">
          <tr *ngIf="translation">
            <td nowrap><label>{{'RESOURCE_VIEW.LEX_VIEW.TRANSLATION_SET'|translate}}:</label></td>
            <td>
              <div class="d-flex align-items-center">
                <div class="input-group">
                  <div class="form-control input-resource">
                    <rdf-resource *ngIf="translationSet" [resource]="translationSet"></rdf-resource>
                  </div>
                  <button class="btn btn-light" (click)="pickTranslationSet()" [title]="'COMMONS.ACTIONS.SELECT'|translate">
                    <span class="fas fa-pencil-alt"></span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td nowrap><label>{{'RESOURCE_VIEW.LEX_VIEW.UNDIRECTIONAL'|translate}}:</label></td>
            <td>
              <input type="checkbox" [(ngModel)]="undirectional">
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkClickable()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>