<div class="d-flex align-items-center">
    <sense-ref *ngFor="let ref of targetRef" class="clickable" [ref]="ref" (dblclick)="targetDblClick(ref)"></sense-ref>
    <ng-container *ngIf="showCategory">
        (
            <category *ngFor="let c of relation.category; let last=last" class="clickable" [ngClass]="{ 'ms-1': !last }" [category]="c" 
                (dblclick)="categoryDblClick(c)">
            </category>
        )
    </ng-container>
    <button class="btn btn-xs btn-faded ms-2" (click)="delete()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!deleteAuthorized">
        <span class="fas fa-minus"></span>
    </button>
</div>