<div class="card vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.GENERIC.BROKEN_DEFINITIONS.NAME'|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'COMMONS.ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox" style="gap: 5px">

        <icv-config-panel [checkRoles]="checkRoles" (rolesChange)="onRolesChanged($event)">
            <div class="vbox" style="flex: 0.5; justify-content: center; padding: 12px;">
                <div style="display: flex; margin-bottom: 4px; align-items: center;">
                    <label style="white-space: nowrap">
                        {{'ICV.GENERIC.BROKEN_DEFINITIONS.DEFINITION_PROP'|translate}}:
                        <span class="fas fa-info-circle ms-1" [title]="'ICV.GENERIC.BROKEN_DEFINITIONS.DEFINITION_PROP_INFO'|translate">
                        </span>
                    </label>
                    <div class="form-control form-control-sm" style="margin: 0px 4px;">
                        <rdf-resource [resource]="noteProperty"></rdf-resource>
                    </div>
                    <button class="btn btn-light btn-sm" (click)="changeProperty()">
                        <img src="./assets/images/icons/res/propAnnotation.png"/>
                    </button>
                </div>
            </div>
        </icv-config-panel>

        <div class="card vbox">
            <div class="card-body table-responsive">
                <table *ngIf="brokenRecordList" class="table table-sm table-hoverable">
                    <thead>
                        <tr>
                            <th class="text-center">{{'MODELS.RESOURCE.SUBJECT'|translate}}</th>
                            <th class="text-center">{{'MODELS.RESOURCE.PREDICATE'|translate}}</th>
                            <th class="text-center">{{'MODELS.RESOURCE.OBJECT'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let record of brokenRecordList; let i=index">
                            <tr *ngIf="i >= page*resultsLimit && i < page*resultsLimit + resultsLimit">
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.subject" (click)="onResourceClick(record.subject)"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.predicate" (click)="onResourceClick(record.predicate)"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.object" (click)="onResourceClick(record.object)"></rdf-resource>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

            <div *ngIf="brokenRecordList && brokenRecordList.length > 0" class="card-footer">
                <div class="btn-group btn-group-xs float-end" role="group">
                    <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="page=page-1" [disabled]="page <= 0">
                        <span class="fas fa-caret-left"></span>
                    </button>
                    <button class="btn btn-light" style="cursor: auto" disabled>
                        <span>{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{pageCount}}</span>
                    </button>
                    <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="page=page+1" [disabled]="page+1 >= pageCount">
                        <span class="fas fa-caret-right"></span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>