<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">
            {{'COLLABORATION.ACTIONS.CREATE_ISSUE'|translate}}
        </h3>
    </div>
    <div class="modal-body">
        <settings-renderer [(ngModel)]="form"></settings-renderer>
    </div>
    <div class="modal-footer">
        <span class="float-start">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkClickable()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>