<div class="vbox">

  <ul class="nav nav-tabs">
    <li *ngFor="let l of langs" class="nav-item">
      <a class="nav-link px-3" (click)="activateTabLang(l)" [ngClass]="{ active: activeTabLang == l }">
        {{l}}
        <span class="ms-3" (click)="closeTab(l, $event)">
          <i class="fas fa-times-circle clickable"></i>
        </span>
      </a>
    </li>
    <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle dropdown-no-arrow" style="border-color: #dee2e6;" data-toggle="dropdown" ngbDropdownToggle>
        <i class="fas fa-plus"></i>
      </a>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a *ngFor="let l of additionalLangs" class="dropdown-item" (click)="addLangTab(l)">{{l}}</a>
      </div>
    </li>
  </ul>

  <div class="tab-content">

    <div *ngIf="activeMappingTab" class="tab-pane active">
      <div class="card vbox">
        <div class="card-header d-flex align-items-center">
          <label style="flex: 1;"></label>
          <div class="btn-toolbar">
            <button class="btn btn-light btn-sm ms-2" (click)="addMapping()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="newMapping">
              <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-light btn-sm ms-2" (click)="importProperties()" [title]="'PREFERENCES.PRED_LABEL_MAPPING.IMPORT_FROM_VOCABULARIES'|translate">
              <i class="far fa-list-alt"></i>
            </button>
            <!-- <button class="btn btn-light btn-sm ms-2" (click)="bootstrapMappings()" [title]="'PREFERENCES.PRED_LABEL_MAPPING.BOOTSTRAP_ALL' | translate">
                        <i class="fas fa-bolt"></i>
                    </button> -->

            <div class="btn-group btn-group-sm ms-2">
              <button class="btn btn-light" (click)="bootstrapMappings()" [title]="'PREFERENCES.PRED_LABEL_MAPPING.BOOTSTRAP_ALL' | translate" [disabled]="activeMappingTab.labelMappings.length == 0">
                <span class="fas fa-bolt"></span>
                <span *ngIf="activeMappingTab.includeSimpleString" class="fas fa-circle position-absolute text-danger" style="font-size: .5rem; top:4px; right: 2px;"></span>
              </button>
              <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
                <button class="btn btn-light dropdown-toggle" style="padding: 1px 3px;" data-toggle="dropdown" ngbDropdownToggle>
                  <span class="fas fa-caret-down fa-sm"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <a class="dropdown-item" (click)="activeMappingTab.includeSimpleString = !activeMappingTab.includeSimpleString" [title]="'PREFERENCES.PRED_LABEL_MAPPING.INCLUDE_SIMPLE_STRING_INFO'|translate">
                    {{'PREFERENCES.PRED_LABEL_MAPPING.INCLUDE_SIMPLE_STRING'|translate}}
                    <span *ngIf="activeMappingTab.includeSimpleString" class="fas fa-check ms-2"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div #mappingsContainer class="card-body table-responsive">
          <table class="table table-sm table-borderless table-hover">
            <colgroup>
              <col style="width: 30%;">
              <col>
            </colgroup>
            <thead class="border-bottom">
              <tr>
                <th>{{'MODELS.RESOURCE.PREDICATE'|translate}}</th>
                <th>{{'MODELS.RESOURCE.LABEL'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="newMapping" class="table-warning">
                <td>
                  <div class="input-group input-group-sm">
                    <input class="form-control" [(ngModel)]="newMapping.pred" placeholder="http://example.org/prop123">
                    <button class="btn btn-light" (click)="pickProperty()" [title]="'COMMONS.ACTIONS.PICK_PREDICATE'|translate">
                      <span class="fas fa-edit"></span>
                    </button>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <input class="form-control form-control-sm" [(ngModel)]="newMapping.label">
                    <div class="btn-group btn-group-sm ms-2">
                      <button type="button" class="btn btn-light" style="width: 28px;" (click)="confirmNewMapping()" [title]="'COMMONS.ACTIONS.CONFIRM'|translate">
                        <span class="fas fa-check text-success"></span>
                      </button>
                      <button type="button" class="btn btn-light" style="width: 28px;" (click)="cancelNewMapping()" [title]="'COMMONS.ACTIONS.CANCEL'|translate">
                        <span class="fas fa-times text-danger"></span>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              <ng-container *ngFor="let m of activeMappingTab.labelMappings">
                <tr *ngIf="m.visible">
                  <td nowrap>
                    <label style="font-family: monospace;" [title]="m.predIri">
                      <ng-container *ngIf="m.annotatedPred && m.annotatedPred['qname']; then qnameBlock; else iriBlock"></ng-container>
                      <ng-template #qnameBlock>
                        {{m.annotatedPred['qname']}}
                      </ng-template>
                      <ng-template #iriBlock>
                        {{m.predIri}}
                      </ng-template>
                    </label>
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <input class="form-control" [(ngModel)]="m.label" (ngModelChange)="onModelChange()">
                      <button class="btn btn-light" (click)="clearMapping(m)">
                        <span class="fas fa-times"></span>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" [(ngModel)]="activeMappingTab.filterString" (ngModelChange)="applyFilters()" [placeholder]="'COMMONS.ACTIONS.FILTER'|translate">
            <span class="input-group-text">
              <i class="fas fa-filter"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>