<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'PREFERENCES.PRED_LABEL_MAPPING.SELECT_VOCABULARIES'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <div class="card vbox">
            <div class="card-header d-flex align-items-center">
                <span style="flex: 1;">
                    {{'COMMONS.GRAPHS'|translate}}
                </span>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-light" (click)="checkAll(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
                        <span class="far fa-check-square"></span>
                    </button>
                    <button type="button" class="btn btn-light" (click)="checkAll(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
                        <span class="far fa-square"></span>
                    </button>
                </div>
            </div>
            <div class="card-body vbox scrollableContainer">
                <table class="table table-sm table-hoverable table-borderless">
                    <colgroup>
                        <col style="width: 1%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr *ngFor="let g of graphs">
                            <td>
                                <input type="checkbox" style="vertical-align: middle" [(ngModel)]="g.checked">
                            </td>
                            <td>
                                {{g.graph.getURI()}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
        <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
    </div>
</div>