<div class="input-group">
  <input type="text" class="form-control" [ngModel]="literalNT" [disabled]="disabled" disabled>
  <button class="btn btn-light" (click)="pickLiteral()" [disabled]="disabled">
    <span class="fas fa-pencil-alt"></span>
  </button>
</div>