<div [class]="inputGroupClass">
  <input type="text" class="form-control" [(ngModel)]="resourceIRI" (ngModelChange)="onModelChanged()" [placeholder]="placeholder ? placeholder : ''" [disabled]="disabled || !editable">
  <!-- Allowed only local -->
  <button *ngIf="config.allowLocal && !config.allowRemote" class="btn btn-light" (click)="pickLocalResource()"
    [title]="(projectAccessed ? 'COMMONS.ACTIONS.SELECT_EXISTING_RESOURCE' : 'WIDGETS.VALUE_PICKER.CANNOT_PICK_FROM_NOT_ACCESSED_PROJ')|translate" [disabled]="disabled || !projectAccessed">
    <span *ngIf="projectAccessed" class="fas fa-pencil-alt"></span>
    <span *ngIf="!projectAccessed" class="fas fa-exclamation-triangle"></span>
  </button>
  <!-- Allowed only remote -->
  <button *ngIf="!config.allowLocal && config.allowRemote" class="btn btn-light" (click)="pickExternalResource()" [title]="'COMMONS.ACTIONS.SELECT_EXTERNAL_RESOURCE'|translate" [disabled]="disabled || !projectAccessed">
    <span class="fas fa-share"></span>
  </button>
  <!-- Allowed both local and remote -->
  <ng-container *ngIf="config.allowLocal && config.allowRemote">

    <div class="btn-group" ngbDropdown container="body">
      <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [disabled]="disabled || !projectAccessed">
        <span class="fas fa-pencil-alt"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" (click)="pickLocalResource()">{{'WIDGETS.VALUE_PICKER.FROM_CURRENT_PROJ'|translate}}</a>
        <a class="dropdown-item" (click)="pickExternalResource()">{{'WIDGETS.VALUE_PICKER.FROM_EXTERNAL_PROJ'|translate}}</a>
      </div>
    </div>

  </ng-container>

</div>