<div class="hbox">

  <select class="form-select" style="margin-right: 4px; width: initial" [(ngModel)]="selectedResType" (ngModelChange)="onTypeChange()" [disabled]="disabled">
    <option *ngFor="let rt of resTypes" [ngValue]="rt">{{rt.show}}</option>
  </select>

  <div [ngSwitch]="selectedResType.value" style="width: 100%">
    <resource-picker *ngSwitchCase="'uri'" [resource]="annotatedValue?.asURIResource()" [editable]="editable" [disabled]="disabled" (resourceChanged)="updateIRI($event)">
    </resource-picker>

    <literal-picker *ngSwitchCase="'literal'" [literal]="annotatedValue?.asLiteral()" [disabled]="disabled" (literalChanged)="updateLiteral($event)">
    </literal-picker>
  </div>

</div>