<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox table-responsive">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end" nowrap>
            <label>Name</label>
          </td>
          <td>
            <input class="form-control" [(ngModel)]="name">
          </td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>Configuration</label>
          </td>
          <td>
            <select class="form-select" [(ngModel)]="selectedConfiguration" (ngModelChange)="onConfigurationChanged()">
              <option *ngFor="let c of configurations" [ngValue]="c">{{c.name}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>Content</label>
          </td>
          <td>
            <div class="d-flex">
              <div class="card" style="flex: 1">
                <div class="card-body scrollableContainer" style="min-height: 100px; max-height: 50vh;">
                  <table class="table table-sm">
                    <tbody>
                      <tr *ngFor="let r of content">
                        <td><input class="form-control" [ngModel]="r['fullPath']" disabled></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <button class="btn btn-light btn-sm ms-3" style="align-self: flex-start;" (click)="browseFileManager()" [disabled]="!selectedConfiguration">
                {{'WIDGETS.FILE_PICKER.BROWSE'|translate}}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>

</div>