<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox" style="min-height:30vh;">

        <div class="card vbox">
            <div class="card-header">
                <label>{{'COMMONS.USERS'|translate}}</label>
            </div>
            <div class="card-body vbox" style="padding: 0px;">
                <div class="scrollableContainer">
                    <div *ngFor="let u of userList" class="listItem" [ngClass]="{active: u == selectedUser, disabled: !isUserSelectable(u)}" (click)="selectUser(u)">
                        {{u.getShow()}} <span class="grayText">&nbsp;({{u.getEmail()}})</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedUser">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>