<div class="treeNode" #listNodeElement>
    <div class="d-flex flex-grow-1" style="max-width: 100%;">
        <rdf-resource [resource]="node" [rendering]="rendering" (click)="selectNode($event)"
            [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}" tabindex="0" (keydown)="keyHandler($event)"></rdf-resource>
    </div>
    <input *ngIf="multiselection" type="checkbox" style="margin-left: 5px;" [(ngModel)]="checked" (ngModelChange)="onNodeCheckChange()">
</div>