<div class="card vbox">
  <div class="card-body vbox">

    <div *ngIf="unauthorized" class="alert alert-danger">
      {{'MESSAGES.UNAUTHORIZED_VIEW'|translate}}
    </div>

    <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">

      <div *ngIf="visualizationMode == 'searchBased' && !nodes" class="alert alert-warning mb-1">
        {{'DATA.INSTANCE.USE_SEARCH_MSG'|translate}}.
        <ng-container *ngIf="context=='addPropValue'">
          <br /><br />
          <a style="font-size: .9rem;" (click)="switchMode.emit(InstanceListVisualizationMode.standard); false" href>{{'DATA.INSTANCE.SWITCH_TO_STANDARD_MODE'|translate}}</a>
        </ng-container>
      </div>

      <ng-container *ngIf="!safeToGo.safe && visualizationMode == 'standard'; then unsafetyBlock else safetyBlock"></ng-container>

      <ng-template #safetyBlock>
        <ng-container *ngFor="let n of nodes; let idx=index">
          <instance-list-node *ngIf="idx < nodeLimit"
            [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context"
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
          </instance-list-node>
        </ng-container>
      </ng-template>

      <ng-template #unsafetyBlock>
        <div class="alert alert-warning">
          {{'DATA.INSTANCE.UNSAFE_WARN.ELEMENT_COUNT'|translate:translationParam}}
          {{'DATA.INSTANCE.UNSAFE_WARN.PERFORMANCE_ISSUE'|translate}}
          {{'DATA.CONCEPT.UNSAFE_WARN.IT_IS_RECOMMENDED'|translate}}
          <a (click)="switchMode.emit(InstanceListVisualizationMode.searchBased); false" href>{{'DATA.INSTANCE.UNSAFE_WARN.SWITCH_MODE'|translate}}</a>.<br>
          {{'DATA.INSTANCE.UNSAFE_WARN.FORCE_INIT'|translate}}
          <a (click)="forceSafeness(); false" href>{{'DATA.INSTANCE.UNSAFE_WARN.HERE'|translate}}</a>.
        </div>
      </ng-template>
    </div>


  </div>

</div>