<div class="card vbox">
    <!-- Commands -->
    <div class="card-header">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <ng-container *ngFor="let action of panelActions">
                <button *ngIf="isActionVisible(action)" class="btn btn-light" [title]="action.title" (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
                    <img [src]="action.icon" class="panelButtonImg"/>
                </button>
            </ng-container>
        </div>
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-light btn-bright btn-xs" [title]="'DATA.INSTANCE.INCLUDE_NON_DIRECT'|translate" (click)="switchIncludeNonDirect()" [ngClass]="{ active: includeNonDirect }">
                <span class="fas fa-sitemap"></span>
            </button>
            <button class="btn btn-light btn-bright btn-xs" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()" [ngClass]="{ active: rendering }">
                <span class="fas fa-font"></span>
            </button>
            <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
                <span class="fas fa-redo"></span>
            </button>
            <button *ngIf="isOpenSettingsAvailable()" class="btn btn-light btn-xs" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
                <span class="fas fa-cog"></span>
            </button>
        </div>

        <div class="dropdown" ngbDropdown>
            <button class="dropdown-toggle transparentBtn ms-1" data-toggle="dropdown" ngbDropdownToggle [disabled]="!allowMultiselection && !isOpenGraphEnabled(GraphModeEnum.dataOriented)">
                <span class="fas fa-caret-down"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <ng-container *ngIf="allowMultiselection">
                    <button class="dropdown-item" (click)="toggleMultiselection()">
                        <span style="flex: 1;">
                            <span class="far fa-check-square" style="margin-right: 4px;"></span>
                            {{'DATA.COMMONS.MULTISELECTION'|translate}}
                        </span>
                        <span *ngIf="multiselection" class="fas fa-check float-end"></span>
                    </button>
                    <button *ngIf="context=='dataPanel' && multiselection" class="dropdown-item" [ngClass]="{ disabled: checkedNodes.length == 0 }" (click)="enrichMultiSubject()">
                        <span class="far fa-check-square" style="margin-right: 4px; margin-left: 16px;"></span>
                        {{'DATA.COMMONS.ADD_PROP_VALUE_TO_SELECTION'|translate}}
                    </button>
                </ng-container>
                <button *ngIf="isOpenGraphEnabled(GraphModeEnum.dataOriented)" class="dropdown-item" (click)="openDataGraph()">
                    <img src="./assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                    {{'GRAPHS.ACTIONS.SHOW_DATA_ORIENTED_GRAPH'|translate}}
                </button>
            </div>
        </div>
    </div>
    
    <!-- Tree -->
    <div class="card-body vbox">
        <instance-list [cls]="cls" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context" [projectCtx]="projectCtx"
            [forceVisualizationMode]="forceVisualizationMode" (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)" (switchMode)="onSwitchMode($event)">
        </instance-list>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="card-footer">
        <search-bar (search)="doSearch($event)" (advancedSearch)="onAdvancedSearch($event)" 
            [role]="panelRole" [cls]="cls" [disabled]="!isSearchEnabled()" [context]="context" [focusOnInit]="!!forceVisualizationMode">
        </search-bar>
    </div>
    
</div>