<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'DATA_MANAGEMENT.DATASET_CATALOG.DATA_DUMPS'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <div class="alert alert-info">
            {{message}}
        </div>

        <div class="table-responsive" style="margin-top: 6px;">
            <table class="table table-hoverable">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>{{'COMMONS.TITLE'|translate}}</th>
                        <th>{{'COMMONS.DESCRIPTION'|translate}}</th>
                        <!-- <th>MimeType</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of dataDumps" [ngClass]="{ 'table-primary': d == selectedDump }" (click)="selectedDump = d">
                        <td><a [href]="d.accessURL" target="_blank">{{d.accessURL}}</a></td>
                        <td>{{d.getPreferredTitle() != null ? d.getPreferredTitle().toNT() : null }}</td>
                        <td>{{d.getPreferredDescription() != null ? d.getPreferredDescription().toNT() : null }}</td>
                        <!-- <td>{{d.mimeType}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedDump">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>