/* :host {
  display: none;
} */

.blockingDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  /* Blocking div z-index > of .modal z-index (1000+) */
  text-align: center;
  color: black;
  font-size: 13px;
}

.blockingDiv>.loadingDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 100px;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  background: linear-gradient(#FFFFFF, #CACACA);
}

.blockingDiv>.loadingDiv>div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

