<table class="table table-sm table-borderless">
  <colgroup>
    <col style="width: 200px">
    <col>
    <col style="width: 1%">
    <col style="width: 1%">
  </colgroup>
  <tbody>
    <tr *ngIf="items.length == 0 && !pendingItem">
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button [class]="'btn btn-light ' + btnClass" (click)="addItem()" [title]="'COMMONS.ACTIONS.ADD'|translate">
          <span class="fas fa-plus"></span>
        </button>
      </td>
    </tr>
    <tr *ngFor="let l of items; let last=last">
      <td>
        <lang-picker [ngModel]="l.lang" [size]="size" [config]="{ projectAware: false, allowNoLang: true }" [readonly]="true"></lang-picker>
      </td>
      <td>
        <input [class]="'form-control ' + inputClass" [(ngModel)]="l.value">
      </td>
      <td>
        <button [class]="'btn btn-light ' + btnClass" (click)="removeItem(l)" [title]="'COMMONS.ACTIONS.DELETE'|translate">
          <span class="far fa-trash-alt"></span>
        </button>
      </td>
      <td *ngIf="last && !pendingItem">
        <button [class]="'btn btn-light ' + btnClass" (click)="addItem()" [title]="'COMMONS.ACTIONS.ADD'|translate">
          <span class="fas fa-plus"></span>
        </button>
      </td>
    </tr>
    <tr *ngIf="pendingItem">
      <td>
        <lang-picker [(ngModel)]="pendingItem.lang" [size]="size" [config]="{ projectAware: false, languages: pendingLangs }"></lang-picker>
      </td>
      <td>
        <input [class]="'form-control ' + inputClass" [(ngModel)]="pendingItem.value">
      </td>
      <td>
        <button [class]="'btn btn-light ' + btnClass" (click)="confirmNewItem()" [disabled]="!isNewItemOk()">
          <span class="fas fa-check"></span>
        </button>
      </td>
      <td>
        <button [class]="'btn btn-light ' + btnClass" (click)="pendingItem = null">
          <span class="fas fa-times"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>