<div class="card vbox">
    <div class="card-header">
        <label style="flex: 1">{{'PREFERENCES.LANG.VALUE_FILTER.VALUE_FILTER_LANGS'|translate}}</label>
        <span *ngIf="getActiveLanguageItems().length == 0" class="grayText" style="margin-right: 5px;">
            <span class="fas fa-exclamation-triangle"></span>
            {{'COMMONS.LANGUAGE.NO_LANG_INFO'|translate}}
        </span>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-light" (click)="changeAllLangStatus(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
                    <span class="far fa-check-square"></span>
                </button>
                <button class="btn btn-light" (click)="changeAllLangStatus(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
                    <span class="far fa-square"></span>
                </button>
            </div>
            <button class="btn btn-xs btn-light" (click)="toggleFilter()" [title]="'COMMONS.ACTIONS.ENABLE'|translate" [ngClass]="{ active: filterEnabled }">
                <span class="fas fa-filter"></span>
            </button>
        </div>
    </div>
    <div class="card-body vbox">

        <div class="alert alert-info mb-2">
            {{'PREFERENCES.LANG.VALUE_FILTER.DESCRIPTION'|translate}}
        </div>
        
        <div class="table-responsive">
            <table class="table table-sm table-hoverable">
                <colgroup>
                    <col style="width: 1%">
                    <col style="width: 1%">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center" style="padding: 0px 8px;">{{'STATUS.ACTIVE'|translate}}</th>
                        <th class="text-center" style="padding: 0px 8px;" nowrap>
                            {{'COMMONS.LANGUAGE.ISO_CODE'|translate}}
                            <button class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="changeIsocodeOrder()">
                                <span class="fas fa-sort-alpha-down" *ngSwitchCase="'isocode_ascending'" ></span>
                                <span class="fas fa-sort-alpha-down-alt" *ngSwitchCase="'isocode_descending'"></span>
                                <span class="fas fa-sort" *ngSwitchDefault></span>
                            </button>
                        </th>
                        <th class="text-center" style="padding: 0px 8px;" nowrap>
                            {{'COMMONS.LANGUAGE.LANGUAGE'|translate}}
                            <button class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="changeLanguageOrder()">
                                <span class="fas fa-sort-alpha-down" *ngSwitchCase="'language_ascending'"></span>
                                <span class="fas fa-sort-alpha-down-alt" *ngSwitchCase="'language_descending'"></span>
                                <span class="fas fa-sort" *ngSwitchDefault></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of filterLanguages">
                        <td class="text-center">
                            <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.active" (ngModelChange)="onActiveChange(l)">
                        </td>
                        <td class="text-center" nowrap>{{l.lang.tag}}</td>
                        <td class="text-center">
                            <lang-item [language]="l.lang"></lang-item>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>