<div class="card vbox">
    <div class="card-header">
        <label style="flex: 1">{{'PREFERENCES.LANG.EDITING.EDITING_LANGS'|translate}}</label>
    </div>
    <div class="card-body vbox">

        <div class="alert alert-info mb-2">
            {{'PREFERENCES.LANG.EDITING.DESCRIPTION'|translate}}
        </div>
        
        <div class="table-responsive">
            <table class="table table-sm table-hoverable">
                <colgroup>
                    <col style="width: 1%">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center" style="padding: 0px 8px;">{{'STATUS.DEFAULT'|translate}}</th>
                        <th class="text-center" nowrap>{{'COMMONS.LANGUAGE.ISO_CODE'|translate}}</th>
                        <th class="text-center" nowrap>{{'COMMONS.LANGUAGE.LANGUAGE'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of languages">
                        <td class="text-center">
                            <input type="radio" name="lang_radio" [checked]="l == editingLang" (change)="updateDefaultLang(l)">
                        </td>
                        <td class="text-center" nowrap>{{l.tag}}</td>
                        <td class="text-center">
                            <lang-item [language]="l"></lang-item>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>