<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <div class="hbox" style="align-items: center">
      <h3 class="modal-title" style="flex: 1">{{'COMMONS.ACTIONS.CREATE_TASK'|translate}}</h3>
      <button *ngIf="serviceMetadata?.settings?.stProperties" class="btn btn-xs btn-light" (click)="systemSettings()">
        <span class="fas fa-wrench"></span>
      </button>
    </div>
  </div>
  <div class="modal-body vbox">

    <div class="row">
      <div class="col-sm-6 text-center">
        <label>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.LEFT_PROJECT'|translate}}</label>
      </div>
      <div class="col-sm-6 text-center">
        <label>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.RIGHT_PROJECT'|translate}}</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
        <div class="hbox" style="align-items: center;">
          <input class="form-control" [ngModel]="leftProjectStruct.project.getName(true)" disabled>
          <button class="btn btn-light ms-2" (click)="profileProject(leftProjectStruct)" [title]="'COMMONS.ACTIONS.PROFILE_PROJECT'|translate">
            <span class="fas fa-align-right" style="transform: rotate(90deg)"></span>
          </button>
          <div style="margin-left: 4px;">
            <span *ngIf="leftProjectStruct.profileAvailable" class="fas fa-check" [title]="'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.METADATA_PROFILE_AVAILABLE'|translate"></span>
            <span *ngIf="!leftProjectStruct.profileAvailable" class="fas fa-times" [title]="'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.METADATA_PROFILE_NOT_AVAILABLE'|translate"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="hbox" style="align-items: center;">
          <select class="form-select" [(ngModel)]="selectedRightProject"
            (ngModelChange)="onRightProjectChange()" [disabled]="!!rightProject">
            <ng-container *ngFor="let p of projectList">
              <option *ngIf="p.getName() != leftProjectStruct.project.getName()" [ngValue]="p">{{p.getName(true)}}</option>
            </ng-container>
          </select>
          <button *ngIf="rightProjectStruct" class="btn btn-light ms-2" (click)="profileProject(rightProjectStruct)" [title]="'COMMONS.ACTIONS.PROFILE_PROJECT'|translate">
            <span class="fas fa-align-right" style="transform: rotate(90deg)"></span>
          </button>
          <div *ngIf="rightProjectStruct" style="margin-left: 4px;">
            <span *ngIf="rightProjectStruct.profileAvailable" class="fas fa-check" [title]="'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.METADATA_PROFILE_AVAILABLE'|translate"></span>
            <span *ngIf="!rightProjectStruct.profileAvailable" class="fas fa-times" [title]="'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.METADATA_PROFILE_NOT_AVAILABLE'|translate"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 text-center">
        <button class="btn btn-sm btn-primary" (click)="profileMatching()" [disabled]="!isProfileEnabled()">{{'ALIGNMENT.ACTIONS.PROFILE_MATCHING'|translate}}</button>
      </div>
    </div>

    <div *ngIf="alignmentScenario" class="scrollableContainer mt-3">
      <div>
        <div class="hbox">
          <maple-dataset [dataset]="alignmentScenario.leftDataset" style="flex: 1; margin-right: 6px;"></maple-dataset>
          <maple-dataset [dataset]="alignmentScenario.rightDataset" style="flex: 1; margin-left: 6px;"></maple-dataset>
        </div>
      </div>

      <div class="card" style="margin-top: 6px;">
        <div class="card-header">
          <label>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.PAIRINGS'|translate}}</label>
        </div>
        <div class="card-body">
          <div *ngFor="let p of refinablePairings; let i=index" class="groupPanel" style="margin-top: 12px; margin-bottom: 8px; position: relative;">

            <div class="groupPanel-heading">
              <div class="groupPanel-heading-content">
                <div class="form-check">
                  <input class="form-check-input" [id]="'pairingCheck'+i" type="checkbox" [(ngModel)]="p.checked" (ngModelChange)="onPairingSelectionChange()">
                  <label class="form-check-label" [for]="'pairingCheck'+i">{{'COMMONS.ACTIONS.USE'|translate}}</label>
                </div>
              </div>
            </div>

            <div class="groupPanel-body">
              <div class="hbox" style="align-items: center; justify-content: center;">
                <lang-item [language]="p.language" size="lg" [showName]="false"></lang-item>
                <div style="margin-left: 10px;">
                  <div class="text-center">
                    <span>{{'MODELS.MAPLE.PAIRING.SCORE'|translate}}:</span>
                    <b [title]="p.score">{{p.scoreRound}}</b>
                  </div>
                  <div class="text-center">
                    <span>{{'MODELS.MAPLE.PAIRING.BEST_COMBINED_SCORE'|translate}}:</span>
                    <b [title]="p.bestCombinedScore">{{p.bestCombinedScoreRound}}</b>
                  </div>
                </div>
              </div>
              <div *ngIf="p.synonymizers.length > 0" class="groupPanel">
                <div class="groupPanel-heading">
                  <div class="groupPanel-heading-content">
                    <label>
                      {{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.SYNONIMIZERS'|translate}}
                      <span class="fas fa-info-circle" [title]="'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.SYNONIMIZERS_INFO'|translate"></span>
                    </label>
                  </div>
                </div>
                <div class="groupPanel-body">
                  <div *ngFor="let s of p.synonymizers" class="hbox" style="align-items: center; padding: 2px 4px">
                    <input type="radio" [checked]="s == p.selectedSynonymizer" (click)="selectSynonymizer(p, s)" [disabled]="!p.checked" />
                    <lang-item style="margin-left: 12px;" [language]="s.language" [showName]="false" [disabled]="!p.checked"></lang-item>
                    <i *ngIf="s.lexiconDataset.title?.length > 0; else noTitleBlock" style="margin-left: 12px;">{{s.lexiconDataset.title[0]}}</i>
                    <ng-template #noTitleBlock>
                      <i style="margin-left: 12px;">{{s.lexiconDataset['@id']}}</i>
                    </ng-template>
                    <div style="margin-left: 10px;">
                      {{'MODELS.MAPLE.PAIRING.SCORE'|translate}}: <b [title]="s.score">{{s.scoreRound}}</b>
                    </div>
                    <button class="btn btn-light btn-xs" style="margin-left: 12px;" (click)="describeSynonymizer(s)" [title]="'COMMONS.DETAILS'|translate">
                      <span class="fas fa-info-circle"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="margin-top: 6px;">
        <div class="card-header">
          <label style="flex: 1">{{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.MATCHERS'|translate}}</label>
        </div>
        <div class="card-body">

          <ng-container *ngIf="!matchers; then noMatchersBlock; else matchersBlock"></ng-container>

          <ng-template #noMatchersBlock>
            <div *ngIf="!matchers" class="alert alert-info">
              {{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.MATCHERS_INFO.0'|translate}}
              <a (click)="searchMatchers(); false" href><b>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.MATCHERS_INFO.1'|translate}}</b></a>
              {{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.MATCHERS_INFO.2'|translate}}
            </div>
          </ng-template>

          <ng-template #matchersBlock>
            <div *ngIf="outdatedMatchers && matchers.length > 0" class="alert alert-warning" style="margin-bottom: 8px;">
              {{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.PAIRINGS_CHANGED_WARN.0'|translate}}
              <a (click)="searchMatchers(); false" href><b>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.PAIRINGS_CHANGED_WARN.1'|translate}}</b></a>
              {{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.PAIRINGS_CHANGED_WARN.2'|translate}}
            </div>
            <div *ngFor="let m of matchers; let i=index" class="groupPanel" style="margin-top: 12px; margin-bottom: 8px; position: relative;">
              <div class="groupPanel-heading">
                <div class="groupPanel-heading-content">
                  <div class="form-check">
                    <input class="form-check-input" [id]="'matcherRadio'+i" type="radio" (click)="selectMatcher(m)" [checked]="selectedMatcher == m">
                    <label class="form-check-label" [for]="'matcherRadio'+i">{{'COMMONS.ACTIONS.USE'|translate}}</label>
                  </div>
                </div>
              </div>
              <div class="groupPanel-body">
                <div class="hbox" style="align-items: center; justify-content: center;">
                  <b>{{m.id}}</b>
                </div>
                <div *ngIf="m.description" class="alert alert-info" style="margin-top: 6px">
                  {{m.description}}
                </div>
                <div *ngIf="m.settings" class="card" style="margin-top: 6px">
                  <div class="card-header">
                    <div class="clickable" (click)="m.settings['open'] = !m.settings['open']">
                      <span [class]="'fas fa-chevron-' + (m.settings['open'] ? 'down' : 'right')"></span>
                    </div>
                    <label style="flex: 1;">{{'COMMONS.SETTINGS'|translate}}</label>
                    <span *ngIf="!m.settings.stProperties" class="fas fa-exclamation-triangle"
                      style="margin-right: 4px;" [title]="'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.JSON_SETTINGS_INFO'|translate">
                    </span>
                  </div>
                  <div class="card-body">
                    <ng-container *ngIf="m.settings['open']">
                      <settings-renderer *ngIf="m.settings.stProperties; else originalSchemaBlock"
                        [(ngModel)]="m.settings.stProperties" [disabled]="selectedMatcher != m">
                      </settings-renderer>
                      <ng-template #originalSchemaBlock>
                        <div class="hbox">
                          <json-editor [(ngModel)]="m.settings['settingsJson']" class="CodeMirror-sm" style="flex: 2"
                            [disabled]="selectedMatcher != m">
                          </json-editor>
                          <json-editor [(ngModel)]="m.settings['originalSchemaJson']" class="CodeMirror-sm" style="flex: 3; margin-left: 4px;"
                            [lineNumbers]="false" [disabled]="true">
                          </json-editor>
                        </div>
                      </ng-template>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>

  <div #blockingDiv class="blockingDiv" style="display:none">
    <div class="loadingDiv">
      <div>
        <p>Loading...</p><img src="./assets/images/loading.gif" />
      </div>
    </div>
  </div>
</div>