<div class="card">
  <div class="card-body">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end" nowrap><label>{{'COMMONS.TYPE'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="shortType" [title]="dataset['@type']" disabled></td>
        </tr>
        <tr *ngIf="dataset.uriSpace">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.URI_SPACE'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset.uriSpace" disabled></td>
        </tr>
        <tr *ngIf="dataset.conformsTo">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.CONFORMS_TO'|translate}}:</label></td>
          <td>
            <h5><span [class]="'badge ' + modelBadgeClass" [title]="dataset.conformsTo">{{shortConformsTo}}</span></h5>
          </td>
        </tr>
        <tr *ngIf="dataset.sparqlEndpoint">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.SPARQL_ENDPOINT'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset.sparqlEndpoint.endpointURL" disabled></td>
        </tr>
        <tr *ngIf="dataset['avgAmbiguity']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.AVG_AMBIGUITY'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['avgAmbiguity']" disabled></td>
        </tr>
        <tr *ngIf="dataset['avgNumOfLexicalizations']">
          <td class="text-end" nowrap><label [title]="'MODELS.MAPLE.DATASET.AVG_LEXICALIZATIONS_INFO'">{{'MODELS.MAPLE.DATASET.AVG_LEXICALIZATIONS'|translate}}</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['avgNumOfLexicalizations']" disabled></td>
        </tr>
        <tr *ngIf="dataset['avgSynonymy']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.AVG_SYNONYMY'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['avgSynonymy']" disabled></td>
        </tr>
        <tr *ngIf="dataset['concepts']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.CONCEPTS'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['concepts']" disabled></td>
        </tr>
        <tr *ngIf="dataset['conceptualDataset']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.CONCEPTUAL_DATASET'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['conceptualDataset']" disabled></td>
        </tr>
        <tr *ngIf="dataset['conceptualizations']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.CONCEPTUALIZATIONS'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['conceptualizations']" disabled></td>
        </tr>
        <tr *ngIf="dataset['languageLexvo']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.LANGUAGE_LEXVO'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['languageLexvo']" disabled></td>
        </tr>
        <tr *ngIf="dataset['languageLOC']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.LANGUAGE_LOC'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['languageLOC']" disabled></td>
        </tr>
        <tr *ngIf="dataset['languageTag']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.LANGUAGE_TAG'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['languageTag']" disabled></td>
        </tr>
        <tr *ngIf="dataset['lexicalEntries']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.LEXICAL_ENTRIES'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['lexicalEntries']" disabled></td>
        </tr>
        <tr *ngIf="dataset['lexicalizationModel']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.LEXICALIZATION_MODEL'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['lexicalizationModel']" disabled></td>
        </tr>
        <tr *ngIf="dataset['lexicalizations']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.LEXICALIZATIONS'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['lexicalizations']" disabled></td>
        </tr>
        <tr *ngIf="dataset['lexiconDataset']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.LEXICON_DATASET'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['lexiconDataset']" disabled></td>
        </tr>
        <tr *ngIf="dataset['linguisticCatalog']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.LINGUISTIC_CATALOG'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['linguisticCatalog']" disabled></td>
        </tr>
        <tr *ngIf="dataset['percentage']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.PERCENTAGE'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['percentage']" disabled></td>
        </tr>
        <tr *ngIf="dataset['referenceDataset']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.REFERENCE_DATASET'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['referenceDataset']" disabled></td>
        </tr>
        <tr *ngIf="dataset['references']">
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.DATASET.REFERENCES'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="dataset['references']" disabled></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>