<div class="card">
  <div class="card-body">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.PAIRING.SOURCE'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="pairing.source.lexicalizationSet" disabled></td>
        </tr>
        <tr>
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.PAIRING.TARGET'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="pairing.target.lexicalizationSet" disabled></td>
        </tr>
        <tr>
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.PAIRING.SCORE'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="pairing.score" disabled></td>
        </tr>
        <tr>
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.PAIRING.BEST_COMBINED_SCORE'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [ngModel]="pairing.bestCombinedScore" disabled></td>
        </tr>
        <tr>
          <td class="text-end" nowrap><label>{{'MODELS.MAPLE.PAIRING.SYNONYMIZER'|translate}}:</label></td>
          <td>
            <select class="form-select form-select-sm" [(ngModel)]="selectedSynonymizer" (ngModelChange)="onSynonimizerChanged()"
              [title]="'conceptualizationSet: ' + selectedSynonymizer?.conceptualizationSet + '\nlexicon: ' + selectedSynonymizer?.lexicon">
              <option *ngFor="let s of pairing.synonymizers" [ngValue]="s"
                [title]="'conceptualizationSet: ' + s.conceptualizationSet + '\nlexicon: ' + s.lexicon">
                {{s.score}}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>