<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title text-info">{{title}}</h3>
  </div>
  <div class="modal-body vbox">
    <div class="alert alert-warning">
      {{message}}
      <div>{{'ALIGNMENT.VALIDATION.MANAGEMENT.YOU_CAN_FORCE_PROP'|translate}}</div>
    </div>

    <div class="d-flex align-items-center mt-2">
      <label style="margin-right: 4px; white-space: nowrap">{{'ALIGNMENT.VALIDATION.MANAGEMENT.MAPPING_PROP'|translate}}: </label>
      <select class="form-select" [(ngModel)]="selectedProperty">
        <option *ngFor="let p of mappingPropList" [title]="p.getURI()" [ngValue]="p">{{p.getShow()}}</option>
      </select>
      <div class="form-check ms-3">
        <input class="form-check-input" id="allPropCheck" type="checkbox" [(ngModel)]="allPropCheck" (ngModelChange)="initMappingProperties()">
        <label class="form-check-label text-nowrap" for="allPropCheck">{{'ALIGNMENT.CREATION.ALL_PROP'|translate}}</label>
      </div>
    </div>

    <div class="form-check mt-2">
      <input class="form-check-input" id="defaultCheck" type="checkbox" [(ngModel)]="setAsDefault">
      <label class="form-check-label" for="defaultCheck">{{'ALIGNMENT.VALIDATION.MANAGEMENT.SET_DEFAULT_FOR_RELATION'|translate}}</label>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedProperty">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>