<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title text-info">{{'ALIGNMENT.VALIDATION.REMOTE_SYS.CONFIG.REMOTE_ALIGN_SYS_CONFIG'|translate}}</h3>
  </div>
  <div class="modal-body vbox">

    <div class="card">
      <div class="card-body table-responsive">
        <table class="table table-sm">
          <colgroup>
            <col style="width: 1%;">
            <col>
            <col>
            <col>
            <col>
            <col style="width: 150px;">
            <col style="width: 1%;">
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">{{'STATUS.DEFAULT'|translate}}</th>
              <th class="text-center">ID *</th>
              <th class="text-center">
                {{formDef['serverURL']?.displayName}}
                <span *ngIf="formDef['serverURL']?.required">*</span>
                <span *ngIf="formDef['serverURL']?.description" class="fas fa-info-circle ms-1" [title]="formDef['serverURL']?.description"></span>
              </th>
              <th class="text-center">
                {{formDef['username']?.displayName}}
                <span *ngIf="formDef['username']?.required">*</span>
                <span *ngIf="formDef['username']?.description" class="fas fa-info-circle ms-1" [title]="formDef['username']?.description"></span>
              </th>
              <th class="text-center">
                {{formDef['password']?.displayName}}
                <span *ngIf="formDef['password']?.required">*</span>
                <span *ngIf="formDef['password']?.description" class="fas fa-info-circle ms-1" [title]="formDef['password']?.description"></span>
              </th>
              <th class="text-center">
                {{formDef['forwardCredentials']?.displayName}}
                <span *ngIf="formDef['forwardCredentials']?.required">*</span>
                <span *ngIf="formDef['forwardCredentials']?.description" class="fas fa-info-circle ms-1" [title]="formDef['forwardCredentials']?.description"></span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="savedConfigs?.length == 0">
              <td colspan="4">{{'COMMONS.CONFIG.NO_CONFIG_FOUND'|translate}}</td>
            </tr>
            <tr *ngFor="let conf of savedConfigs">
              <td class="text-center">
                <input type="radio" (click)="setDefaultConfig(conf)" [checked]="conf == defaultConfig">
              </td>
              <td class="text-center">
                {{conf.id}}
              </td>
              <td class="text-center">
                <input-editable [value]="conf.serverURL" (valueEdited)="updateConfServerURL(conf, $event)"></input-editable>
              </td>
              <td class="text-center">
                <input-editable [value]="conf.username" [allowEmpty]="true" (valueEdited)="updateConfUsername(conf, $event)"></input-editable>
              </td>
              <td class="text-center">
                <input-editable [value]="conf.password" type="password" [allowEmpty]="true" (valueEdited)="updateConfPassword(conf, $event)"></input-editable>
              </td>
              <td class="text-center">
                <input class="form-check form-check-inline" type="checkbox" [(ngModel)]="conf.forwardCredentials" (ngModelChange)="updateConfForwardCredentials(conf, $event)" />
              </td>
              <td class="text-center">
                <button class="btn btn-sm btn-light" (click)="deleteConfig(conf)">
                  <span class="far fa-trash-alt"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="card" style="margin-top: 5px">
      <div class="card-body">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td style="width: 150px;"><label>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.CONFIG.NEW_ALIGN_SYS'|translate}}:</label></td>
              <td>
                <input class="form-control" [(ngModel)]="newConfig.id" [placeholder]="'ALIGNMENT.VALIDATION.REMOTE_SYS.CONFIG.ID_INFO'|translate">
              </td>
              <td>
                <input class="form-control" [(ngModel)]="newConfig.serverURL" placeholder="http://serverurl:8080">
              </td>
              <td>
                <input class="form-control" [(ngModel)]="newConfig.username" [placeholder]="formDef['username']?.displayName">
              </td>
              <td>
                <password-input [(ngModel)]="newConfig.password" [placeholder]="formDef['password']?.displayName" autocomplete="new-password"></password-input>
              </td>
              <td class="text-center" style="width: 130px;">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" id="forwardCredenialsCheck" type="checkbox" [(ngModel)]="newConfig.forwardCredentials">
                  <label class="form-check-label" for="forwardCredenialsCheck">{{formDef['forwardCredentials']?.displayName}}</label>
                </div>
              </td>
              <td>
                <button class="btn btn-sm btn-light" (click)="createConfig()" [disabled]="!newConfig.serverURL || !newConfig.id">
                  <span class="fas fa-plus"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
  <div class="modal-footer">
    <span class="float-start">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
    <button class="btn btn-primary btn-sm" (click)="ok()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>