<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.SYNONYMIZER_DATASETS'|translate}}</h3>
    </div>
    <div class="modal-body scrollableContainer">

        <div class="card">
            <div class="card-header">
                <label>{{'DATA.LEXICON.LEXICON'|translate}}</label>
            </div>
            <div class="card-body">
                <maple-dataset [dataset]="lexicon"></maple-dataset>
            </div>
        </div>

        <div class="card" style="margin-top: 8px;">
            <div class="card-header">
                <label>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.CREATE_TASK.CONCEPTUALIZATION_SET'|translate}}</label>
            </div>
            <div class="card-body">
                <maple-dataset [dataset]="conceptualizationSet"></maple-dataset>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
    </div>
</div>