<div class="vbox">

  <ul class="nav nav-tabs" (click)="$event.preventDefault()">
    <li class="nav-item" [ngClass]="{ active : activeSetting == 'languages' }">
      <a class="nav-link" (click)="activeSetting = 'languages'">{{'COMMONS.LANGUAGE.LANGUAGES'|translate}}</a>
    </li>
    <li class="nav-item" [ngClass]="{ active : activeSetting == 'resView' }">
      <a class="nav-link" (click)="activeSetting = 'resView'">Resource View</a>
    </li>
    <li *ngIf="!isEdoal" class="nav-item" [ngClass]="{ active : activeSetting == 'other' }">
      <a class="nav-link" (click)="activeSetting = 'other'">{{'COMMONS.OTHER'|translate}}</a>
    </li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane" [ngClass]="{ active : activeSetting == 'languages' }">
      <div class="card vbox">
        <div class="card-header">
          <label style="flex: 1;">{{'COMMONS.LANGUAGE.LANGUAGES'|translate}}</label>
          <span *ngIf="noLangActive" class="grayText" style="margin-right: 5px;">
            <span class="fas fa-exclamation-triangle"></span> {{'COMMONS.LANGUAGE.NO_LANG_INFO'|translate}}
          </span>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="changeAllLangStatus(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate" [disabled]="!project">
              <span class="far fa-check-square"></span>
            </button>
            <button class="btn btn-light" (click)="changeAllLangStatus(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate" [disabled]="!project">
              <span class="far fa-square"></span>
            </button>
          </div>
        </div>
        <div class="card-body scrollableContainer">
          <table class="table table-sm table-borderless table-hoverable">
            <colgroup>
              <col style="width: 1%">
              <col style="width: 1%">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th class="text-center" style="padding: 0px 8px;">{{'STATUS.ACTIVE'|translate}}</th>
                <th class="text-center" style="padding: 0px 8px;" nowrap>
                  {{'ADMINISTRATION.PROJECTS.MANDATORY_LANGS'|translate}}
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.PROJECTS.MANDATORY_LANGS_INFO'|translate"></span>
                </th>
                <th class="text-center" style="padding: 0px 8px;" nowrap>{{'COMMONS.LANGUAGE.ISO_CODE'|translate}}</th>
                <th class="text-center" style="padding: 0px 8px;">{{'COMMONS.LANGUAGE.LANGUAGE'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of languageItems">
                <td class="text-center">
                  <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.active" (ngModelChange)="updateActiveLangSettings()"
                    [disabled]="!project">
                </td>
                <td class="text-center">
                  <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.lang.mandatory" (ngModelChange)="updateActiveLangSettings()"
                    [disabled]="!project || !l.active">
                </td>
                <td class="text-center" nowrap>{{l.lang.tag}}</td>
                <td class="text-center">
                  <lang-item [language]="l.lang"></lang-item>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="tab-pane" [ngClass]="{ active : activeSetting == 'resView' }">
      <div class="vbox overflow-auto" style="gap: 6px;">
        <res-view-project-settings [project]="project" [settings]="rvSettings">
        </res-view-project-settings>

        <div class="card vbox" style="min-height: 420px;">
          <div class="card-header">
            <label style="flex: 1;">
              {{'PREFERENCES.RES_VIEW_SECTIONS_VISIBILITY.SECTIONS_VISIBILITY_PROJ_DEFAULT'|translate}}
            </label>
          </div>
          <div class="card-body vbox">
            <div class="alert alert-info mb-2">
              {{'PREFERENCES.RES_VIEW_SECTIONS_VISIBILITY.SECTIONS_VISIBILITY_PROJ_DEFAULT_INFO'|translate}}
            </div>
            <section-filter-editor [(ngModel)]="sectionVisibilityDefault" [template]="rvSettings?.templates"
              (ngModelChange)="onSectionVisibilityDefaultChanged()">
            </section-filter-editor>
          </div>
        </div>

        <div class="card mt-2">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <label class="form-check-label">
                {{'PREFERENCES.RES_VIEW_SECTIONS_DISPLAY_INFO.EDIT_SECTIONS_DISPLAY_INFO'|translate}}
              </label>
              <button class="btn btn-sm btn-light ms-2" (click)="editSectionDetails()">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="card mt-2">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="renderPredCheck" type="checkbox" [(ngModel)]="predLabelSettings.enabled" (ngModelChange)="onRenderPredicateChange()">
                <label class="form-check-label" for="renderPredCheck">
                  {{'PREFERENCES.PRED_LABEL_MAPPING.RENDER_LABELS'|translate}}
                  <span class="fas fa-info-circle ms-1" [title]="'PREFERENCES.PRED_LABEL_MAPPING.RENDER_LABELS_INFO'|translate">
                  </span>
                </label>
              </div>
              <div [ngbTooltip]="!project.isOpen() ? 'This setting cannot be edited when the dataset is closed' : ''">
                <button class="btn btn-sm btn-light ms-2" (click)="editPredicateLabels()"
                  [title]="'COMMONS.ACTIONS.EDIT'|translate" [disabled]="!project.isOpen()">
                  <span class="fas fa-pencil-alt"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane" [ngClass]="{ active : activeSetting == 'other' }">
      <div class="vbox overflow-auto" style="gap: 6px;">

        <div *ngIf="isSkos" class="card">
          <div class="card-header">
            <label>
              {{'ADMINISTRATION.PROJECTS.PREF_LABEL_CLASH.PREF_LABEL_CLASH_MODE'|translate}}
              <span class="fas fa-info-circle" [title]="'ADMINISTRATION.PROJECTS.PREF_LABEL_CLASH.PREF_LABEL_CLASH_MODE_INFO'|translate"></span>
            </label>
          </div>
          <div class="card-body">
            <div *ngFor="let opt of labelClashOpts; let i=index" class="form-check mt-2">
              <input class="form-check-input" [id]="'labelClashRadio'+i" type="radio" name="labelClashRadio" [value]="opt.mode" [checked]="opt == labelClashOptSelected" (click)="setLabelClashSetting(opt)">
              <label class="form-check-label" [for]="'labelClashRadio'+i">
                {{opt.modeTranslationKey|translate}}
                <i class="text-secondary font-weight-normal ms-2">{{opt.infoTranslationKey|translate}}</i>
              </label>
            </div>
          </div>
        </div>

        <data-panels-settings *ngIf="!isEdoal" [(ngModel)]="hiddenDataPanels" (ngModelChange)="onHiddenDataPanelsChange()" [project]="project">
          <button headerBtn class="btn btn-xs btn-light" (click)="editDataPanelsLabelsMappings()" [title]="'PREFERENCES.DATA_PANEL_LABELS.EDIT'|translate">
            <span class="fas fa-pencil-alt"></span>
          </button>
          <div info class="alert alert-info mb-2">
            {{'ADMINISTRATION.PROJECTS.VISIBLE_TABS_INFO'|translate}}
          </div>
        </data-panels-settings>

        <custom-tree-settings *ngIf="!isEdoal" [(ngModel)]="customTreeSettings" [context]="'administration'" [project]="project"
          (settingsSubmit)="onCustomTreeSettingsSubmit()" (settingsReset)="onCustomTreeSettingsReset()">
        </custom-tree-settings>

        <div *ngIf="historyEnabled" class="card">
          <div class="card-body">
            <div class="form-check">
              <input class="form-check-input" id="tmCheck" type="checkbox" [(ngModel)]="timeMachineEnabled" (ngModelChange)="onTimeMachineEnabledChanged()">
              <label class="form-check-label" for="tmCheck">{{'ADMINISTRATION.PROJECTS.TIME_MACHINE_ENABLED'|translate}}</label>
              <span class="fas fa-info-circle ms-2" [title]="'ADMINISTRATION.PROJECTS.TIME_MACHINE_ENABLED_INFO'|translate"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>