<div class="hbox">

  <div class="card vbox">
    <div class="card-header">
      <label style="flex: 1;">{{'COMMONS.GROUPS'|translate}}:</label>
    </div>
    <div class="card-body vbox scrollableContainer">
      <div *ngFor="let g of groups" class="listItem" [ngClass]="{active: g == selectedGroup}" (click)="selectGroup(g)">
        <span style="flex: 1">{{g.shortName}}</span>
      </div>
    </div>
  </div>

  <div *ngIf="project && selectedGroup" class="card vbox" style="margin-left: 5px; flex: 3;">
    <div class="card-header">
      <label>{{'ADMINISTRATION.PROJECTS.PROJ_GROUP.PROJ_GROUP_SETTINGS'|translate}}:</label>
    </div>
    <div class="card-body vbox">

      <div *ngIf="projectNotAccessed; else elseBlock" class="alert alert-warning">
        {{'ADMINISTRATION.PROJECTS.PROJ_GROUP.PROJ_NOT_ACCESSED_WARNING'|translate:translationParam}}
      </div>

      <ng-template #elseBlock>
        <div class="vbox" *ngIf="isProjectSkosCompliant(); else owlBlock">
          <div class="hbox" style="margin-bottom: 6px; align-items: center; flex: initial;">
            <span class="fas fa-info-circle" [title]="'DATA.CONCEPT.SETTINGS.BASE_BROADER_PROP_INFO'|translate"></span>
            <label style="white-space: nowrap; margin: 0px 4px;">
              {{'DATA.CONCEPT.SETTINGS.BASE_BROADER_PROP'|translate}}:
            </label>

            <div class="input-group" style="flex: 1;">
              <input type="text" class="form-control" [ngModel]="baseBroaderProp" disabled>
              <button class="btn btn-light" (click)="changeBaseBroaderProperty()">
                <img src="./assets/images/icons/res/propObject.png" />
              </button>
            </div>
          </div>

          <div class="card vbox">
            <div class="card-header">
              <label>
                {{'DATA.CONCEPT.SETTINGS.BROADER_NARROWER_MGMT'|translate}}
                <span class="fas fa-info-circle ms-1" [title]="'DATA.CONCEPT.SETTINGS.BROADER_NARROWER_MGMT_INFO'|translate">
                </span>
              </label>
            </div>
            <div class="card-body vbox">

              <div class="hbox">
                <div class="card vbox">
                  <div class="card-header">
                    <label style="flex:1">Broader</label>
                    <div class="btn-toolbar" role="toolbar">
                      <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" (click)="addBroader()">
                          <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" (click)="removeBroader()" [disabled]="!selectedBroader">
                          <span class="fas fa-minus"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body vbox" style="min-height: 70px;">
                    <resource-list [resources]="broaderProps" (nodeSelected)="selectedBroader = $event"></resource-list>
                  </div>
                </div>

                <div class="card vbox" style="margin-left: 4px;">
                  <div class="card-header">
                    <label style="flex:1">Narrower</label>
                    <div class="btn-toolbar" role="toolbar">
                      <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" (click)="addNarrower()">
                          <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" (click)="removeNarrower()" [disabled]="!selectedNarrower">
                          <span class="fas fa-minus"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body vbox" style="min-height: 70px;">
                    <resource-list [resources]="narrowerProps" (nodeSelected)="selectedNarrower = $event"></resource-list>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="form-check">
                  <input class="form-check-input" id="syncInvCheck" type="checkbox" [(ngModel)]="syncInverse" (ngModelChange)="onSyncChange()">
                  <label class="form-check-label" for="syncInvCheck">{{'DATA.CONCEPT.SETTINGS.SYNC_INV_PROP'|translate}}</label>
                  <span class="fas fa-info-circle ms-2" [title]="'DATA.CONCEPT.SETTINGS.SYNC_INV_PROP_INFO'|translate"></span>
                </div>
                <div class="form-check mt-1">
                  <input class="form-check-input" id="includeSubCheck" type="checkbox" [(ngModel)]="includeSubProps" (ngModelChange)="onIncludeSubPropsChange()">
                  <label class="form-check-label" for="includeSubCheck">{{'DATA.CONCEPT.SETTINGS.INCLUDE_SUBPROP'|translate}}</label>
                  <span class="fas fa-info-circle ms-2" [title]="'DATA.CONCEPT.SETTINGS.INCLUDE_SUBPROP_INFO'|translate"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="card vbox" style="margin-top: 4px;">
            <div class="card-header">
              <label style="flex:1">
                {{'ADMINISTRATION.PROJECTS.PROJ_GROUP.SCHEME_AUTH'|translate}}
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.PROJECTS.PROJ_GROUP.SCHEME_AUTH_INFO'|translate"></span>
              </label>
              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-xs">
                  <button class="btn btn-light" (click)="addScheme()">
                    <span class="fas fa-plus"></span>
                  </button>
                  <button class="btn btn-light" (click)="removeScheme()" [disabled]="!selectedScheme">
                    <span class="fas fa-minus"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body vbox">
              <resource-list [resources]="ownedSchemes" (nodeSelected)="selectedScheme = $event"></resource-list>
            </div>
          </div>

        </div>

        <ng-template #owlBlock>
          <div class="alert alert-warning">
            {{'ADMINISTRATION.PROJECTS.PROJ_GROUP.OWL_PROJECT_WARNING'|translate:translationParam}}
          </div>
        </ng-template>

      </ng-template>

    </div>
  </div>
</div>