<div class="card vbox">
  <div class="card-header">
    <label>{{'ADMINISTRATION.PROJECTS.PROJ_USER.OVERVIEW_TABLE'|translate}}</label>
  </div>
  <div class="card-body vbox">
    <div class="table-responsive">
      <table class="table">
        <colgroup>
          <col style="width: 40%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
        </colgroup>
        <thead>
          <tr>
            <th class="border-top-0">{{'USER.USER'|translate}}</th>
            <th class="text-center border-top-0">{{'COMMONS.ROLES'|translate}}</th>
            <th class="text-center border-top-0">{{'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.GROUP'|translate}}</th>
            <th class="text-center border-top-0">{{'COMMONS.LANGUAGE.LANGUAGES'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of bindings">
            <td>
              <div class="d-flex align-items-center text-nowrap">
                <span>{{b.user.getShow()}} <span class="grayText">({{b.user.getEmail()}})</span></span>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="b.user.isAdmin()" class="badge bg-primary">Admin</span>
              {{b.binding.getRoles().join(', ')}}
            </td>
            <td class="text-center">
              <div *ngIf="b.binding.getGroup()" class="text-nowrap">
                {{b.binding.getGroup().shortName}}
              </div>
            </td>
            <td class="text-center">
              <div class="d-flex flex-wrap" style="gap: 3px;">
                <div *ngFor="let l of b.binding['languagesEnriched']" style="flex: 1 1 calc(50% - 3px)">
                  <lang-item [language]="l" [showTag]="true"></lang-item>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>