<div class="btn-group btn-group-sm align-self-start mb-2">
  <button class="btn btn-light" (click)="activeView = 'list'" [ngClass]="{ active : activeView == 'list' }">
    <i class="far fa-list-alt"></i>
  </button>
  <button class="btn btn-light" (click)="activeView = 'table'" [ngClass]="{ active : activeView == 'table' }"
    [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.OVERVIEW_TABLE'|translate">
    <i class="fas fa-table"></i>
  </button>
</div>

<project-users-bindings-table *ngIf="activeView == 'table'" class="vbox" [project]="project"></project-users-bindings-table>

<div *ngIf="activeView == 'list'" class="hbox">

  <div class="card vbox">
    <div class="card-header">
      <label style="flex: 1;">{{'COMMONS.USERS'|translate}}:</label>

      <div class="filter-dropdown mx-1" ngbDropdown #filterDropdown="ngbDropdown" [autoClose]="false">
        <button class="btn btn-light btn-xs" (click)="filterDropdown.toggle()" ngbDropdownAnchor>
          <span class="fas fa-filter"></span>
        </button>
        <div ngbDropdownMenu>
          <div class="px-2 py-2">
            <div class="row mb-2">
              <label class="col-sm-3 col-form-label">{{'COMMONS.ROLES'|translate}}:</label>
              <div class="col-sm-9 d-flex align-items-center">
                <div class="input-group">
                  <input type="text" class="form-control" [ngModel]="usersFilters.roles.preview" disabled>
                  <button class="btn btn-light" (click)="editUsersFilterRoles()">
                    <span class="fas fa-pencil-alt"></span>
                  </button>
                  <button class="btn btn-light" (click)="usersFilters.roles.filters = []; usersFilters.roles.preview = ''" [title]="'COMMONS.ACTIONS.RESET'|translate">
                    <span class="fas fa-times"></span>
                  </button>
                </div>
                <button class="btn btn-sm btn-light ms-2 font-weight-bold" style="width: 38px;" (click)="usersFilters.roles.and = !usersFilters.roles.and">
                  {{usersFilters.roles.and ? 'AND' : 'OR'}}
                </button>
              </div>
            </div>
            <div class="row mb-2">
              <label class="col-sm-3 col-form-label">{{'COMMONS.GROUPS'|translate}}:</label>
              <div class="col-sm-9 d-flex align-items-center">
                <div class="input-group">
                  <input type="text" class="form-control" [ngModel]="usersFilters.groups.preview" disabled>
                  <button class="btn btn-light" (click)="editUsersFilterGroups()">
                    <span class="fas fa-pencil-alt"></span>
                  </button>
                  <button class="btn btn-light" (click)="usersFilters.groups.filters = []; usersFilters.groups.preview = ''" [title]="'COMMONS.ACTIONS.RESET'|translate">
                    <span class="fas fa-times"></span>
                  </button>
                </div>
                <button class="btn btn-sm btn-light ms-2 font-weight-bold" style="width: 38px;" disabled>
                  OR
                </button>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3 col-form-label">{{'COMMONS.LANGUAGE.LANGUAGES'|translate}}:</label>
              <div class="col-sm-9 d-flex align-items-center">
                <div class="input-group">
                  <input type="text" class="form-control" [ngModel]="usersFilters.languages.filters" disabled>
                  <button class="btn btn-light" (click)="editUsersFilterLanguages()">
                    <span class="fas fa-pencil-alt"></span>
                  </button>
                  <button class="btn btn-light" (click)="usersFilters.languages.filters = []" [title]="'COMMONS.ACTIONS.RESET'|translate">
                    <span class="fas fa-times"></span>
                  </button>
                </div>
                <button class="btn btn-sm btn-light ms-2 font-weight-bold" style="width: 38px;" (click)="usersFilters.languages.and = !usersFilters.languages.and">
                  {{usersFilters.languages.and ? 'AND' : 'OR'}}
                </button>
              </div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="px-4 py-2 text-end">
            <button class="btn btn-sm btn-primary" (click)="filterUsers()">
              {{'COMMONS.ACTIONS.SUBMIT'|translate}}
            </button>
            <button class="btn btn-sm btn-secondary ms-2" (click)="resetUsersFilters()">
              {{'COMMONS.ACTIONS.RESET'|translate}}
            </button>
          </div>
        </div>
      </div>

      <div class="btn-group btn-group-xs mx-1">
        <button class="btn btn-light" (click)="addUserToProject()" [disabled]="!project" [title]="'ADMINISTRATION.ACTIONS.ADD_USER_TO_PROJ'|translate">
          <span class="fas fa-plus"></span>
        </button>
        <button class="btn btn-light" (click)="removeUserFromProject()"
          [disabled]="!selectedUser || selectedUser.isAdmin() || !project" [title]="'ADMINISTRATION.ACTIONS.REMOVE_USER_FROM_PROJ'|translate">
          <span class="fas fa-minus"></span>
        </button>
      </div>
    </div>
    <div class="card-body vbox scrollableContainer">
      <ng-container *ngFor="let u of usersBound">
        <div *ngIf="isUserVisible(u)" class="listItem d-flex align-items-center" [ngClass]="{active: u == selectedUser}" (click)="selectUser(u)">
          <span style="flex: 1">{{u.getShow()}} <span class="grayText">&nbsp;({{u.getEmail()}})</span></span>
          <span *ngIf="u.isAdmin()" class="badge bg-primary">Admin</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="selectedUser" class="card vbox" style="margin-left: 5px; flex: 3;">
    <div class="card-header">
      <label style="flex: 1;">{{'ADMINISTRATION.PROJECTS.PROJ_USER.PROJ_USER_SETTINGS'|translate}}:</label>
      <button *ngIf="isLoggedUserAdmin()" class="btn btn-xs btn-light" (click)="cloneSettings()" [title]="'ADMINISTRATION.ACTIONS.DUPLICATE_SETTINGS_TO_ANOTHER_PROJ'|translate">
        <span class="fas fa-copy"></span>
      </button>
    </div>
    <div class="card-body vbox scrollableContainer">

      <!-- Roles -->
      <div *ngIf="isRoleManagementAuthorized() && !isSelectedUserAdmin()" class="card vbox" style="min-height: 200px;">
        <div class="card-body vbox">
          <div class="hbox">
            <div class="card vbox">
              <div class="card-header">
                <label style="flex: 1;">{{'ADMINISTRATION.PROJECTS.PROJ_USER.ROLES.ASSIGNED_ROLES'|translate}}:</label>
                <button class="btn btn-light btn-xs" (click)="showUserRoleDescription(selectedUserRole)" [title]="'ADMINISTRATION.ROLES.ROLE_CAPABILITIES'|translate" [disabled]="!selectedUserRole">
                  <span class="fas fa-eye"></span>
                </button>
              </div>
              <div class="card-body vbox scrollableContainer">
                <ng-container *ngIf="puBinding">
                  <div *ngFor="let r of puBinding.getRoles()" (click)="selectUserRole(r)" class="listItem" [ngClass]="{active: r == selectedUserRole}">
                    {{r}}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="d-grid gap-2 align-self-center m-2">
              <button class="btn btn-light btn-sm" (click)="addRole()" [disabled]="!selectedRole || !puBinding">
                <span class="fas fa-chevron-left"></span> {{'COMMONS.ACTIONS.ADD'|translate}}
              </button>
              <button class="btn btn-light btn-sm" (click)="removeRole()" [disabled]="!selectedUserRole">
                {{'COMMONS.ACTIONS.REMOVE'|translate}} <span class="fas fa-chevron-right"></span>
              </button>
            </div>
            <div class="card vbox">
              <div class="card-header">
                <label style="flex: 1;">{{'ADMINISTRATION.PROJECTS.PROJ_USER.ROLES.AVAILABLE_ROLES'|translate}}:</label>
                <button class="btn btn-light btn-xs" (click)="showRoleDescription(selectedRole)" [title]="'ADMINISTRATION.ROLES.ROLE_CAPABILITIES'|translate" [disabled]="!selectedRole">
                  <span class="fas fa-eye"></span>
                </button>
              </div>
              <div class="card-body vbox scrollableContainer">
                <div *ngFor="let r of roleList" class="listItem d-flex align-items-center" (click)="selectRole(r)"
                  [ngClass]="{active: r == selectedRole, disabled: isRoleAlreadyAssigned(r)}">
                  <span style="flex: 1;">{{r.getName()}}</span>
                  <span *ngIf="r.getLevel()=='project'" class="badge bg-secondary me-2" style="font-size: 10px; padding: 2px 3px;"
                    [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.ROLES.DEFINED_AT_PROJ_LEVEL'|translate">P</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Groups -->
      <div *ngIf="isGroupManagementAuthorized()" class="card vbox mt-2" style="min-height: 180px;">
        <div class="card-body vbox">
          <div class="hbox">
            <div class="card vbox">
              <div class="card-header">
                <label style="flex: 1">{{'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.ASSIGNED_GROUP'|translate}}:</label>
                <button *ngIf="puBinding?.getGroup()" class="btn btn-xs btn-light" [ngClass]="{ active: puBinding.isSubjectToGroupLimitations()}" (click)="changeGroupLimitations()"
                  [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.RESTRICTIONS_INFO'|translate" [disabled]="selectedUser.isAdmin()">
                  <span *ngIf="puBinding.isSubjectToGroupLimitations()" class="greenText fw-bold">{{'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.RESTRICTIONS_APPLIED'|translate}}</span>
                  <span *ngIf="!puBinding.isSubjectToGroupLimitations()" class="grayText">{{'COMMONS.ACTIONS.APPLY_RESTRICTIONS'|translate}}</span>
                </button>
              </div>
              <div class="card-body vbox scrollableContainer">
                <ng-container *ngIf="puBinding">
                  <div *ngIf="puBinding.getGroup()" class="listItem" [ngClass]="{active: selectedUserGroup}" (click)="selectUserGroup(puBinding.getGroup())">
                    {{puBinding.getGroup().shortName}}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="d-grid gap-2 align-self-center m-2">
              <button class="btn btn-light btn-sm" (click)="assignGroup()" [disabled]="!selectedGroup || !puBinding">
                <span class="fas fa-chevron-left"></span> {{'COMMONS.ACTIONS.ASSIGN'|translate}}
              </button>
              <button class="btn btn-light btn-sm" (click)="removeGroup()" [disabled]="!selectedUserGroup">
                {{'COMMONS.ACTIONS.REMOVE'|translate}} <span class="fas fa-chevron-right"></span>
              </button>
            </div>
            <div class="card vbox" style="margin: 0px">
              <div class="card-header">
                <label>{{'ADMINISTRATION.PROJECTS.PROJ_USER.GROUPS.AVAILABLE_GROUPS'|translate}}:</label>
              </div>
              <div class="card-body vbox scrollableContainer">
                <div *ngFor="let g of groupList" class="listItem" (click)="selectGroup(g)"
                  [ngClass]="{active: g == selectedGroup, disabled: isGroupAlreadyAssigned(g)}">
                  {{g.shortName}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Languages -->
      <div class="card vbox" style="min-height: 320px; margin-top: 4px;">
        <div class="card-body vbox">
          <div class="hbox">
            <div class="card vbox" style="margin: 0px">
              <div class="card-header">
                <label>{{'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.ASSIGNED_LANGUAGES'|translate}}:</label>
              </div>
              <div class="card-body vbox scrollableContainer">
                <ng-container *ngIf="puBinding">
                  <ng-container *ngFor="let l of puLanguages">
                    <div *ngIf="isAssignedLangVisible(l)" class="listItem d-flex align-items-center" [ngClass]="{active: selectedUserLangs?.includes(l)}"
                      (click)="selectUserLang(l, $event)">
                      <lang-item style="flex: 1" [language]="l" [showTag]="true"></lang-item>
                      <span *ngIf="l['proficiency']" class="fas fa-star"
                        [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.LANG_PROFICIENCIES_INFO'|translate">
                      </span>
                    </div>
                  </ng-container>
                  <div *ngIf="puLanguages?.length == 0 && selectedUser.isAdmin()" class="alert alert-warning">
                    <span class="fas fa-exclamation-triangle"></span>
                    {{'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.LANGUAGE_ADMIN_INFO'|translate}}
                  </div>
                </ng-container>
              </div>
              <div class="card-footer">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" [(ngModel)]="assignedLangsFilter">
                  <span class="input-group-text">
                    <span class="fas fa-filter"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="vbox" style="align-self: center; margin: 5px; flex: initial;">
              <div class="btn-group" style="display: flex; margin-bottom: 5px;">
                <button class="btn btn-sm btn-light" style="width: 100%" (click)="addLanguage()" [disabled]="selectedLangs?.length == 0 || !puBinding">
                  <span class="fas fa-chevron-left"></span> {{'COMMONS.ACTIONS.ADD'|translate}}
                </button>
                <div class="btn-group" ngbDropdown>
                  <button class="btn btn-sm btn-light dropdown-toggle" style="padding: 5px 3px;" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-caret-down fa-sm"></span>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="addAllLanguages()">{{'COMMONS.ACTIONS.ADD_ALL'|translate}}</a>
                    <a class="dropdown-item" (click)="addProficienciesLangs()">
                      {{'ADMINISTRATION.ACTIONS.ADD_ALL_PROFICIENCIES'|translate}}
                      <span class="fas fa-star"></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="btn-group">
                <button class="btn btn-sm btn-light" (click)="removeLanguage()" [disabled]="selectedUserLangs?.length == 0">
                  {{'COMMONS.ACTIONS.REMOVE'|translate}} <span class="fas fa-chevron-right"></span>
                </button>
                <div class="btn-group" ngbDropdown>
                  <button class="btn btn-sm btn-light dropdown-toggle" style="padding: 5px 3px;" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-caret-down fa-sm"></span>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="removeAllLanguages()">{{'COMMONS.ACTIONS.REMOVE_ALL'|translate}}</a>
                    <a class="dropdown-item" (click)="leaveProficienciesLangs()">
                      {{'ADMINISTRATION.ACTIONS.LEAVE_ONLY_PROFICIENCIES'|translate}}
                      <span class="fas fa-star"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card vbox" style="margin: 0px">
              <div class="card-header">
                <label style="flex: 1">{{'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.AVAILABLE_LANGUAGES'|translate}}:</label>
                <button class="btn btn-xs btn-light ms-2" (click)="filterProficiencies = !filterProficiencies" [ngClass]="{ active: filterProficiencies }">
                  <span class="fas fa-star" [title]="'ADMINISTRATION.ACTIONS.SHOW_ONLY_PROFICIENCIES'|translate"></span>
                </button>
              </div>
              <div class="card-body vbox scrollableContainer">
                <ng-container *ngFor="let l of availableLanguages">
                  <div *ngIf="isAvailableLangVisible(l)" class="listItem d-flex align-items-center" [ngClass]="{active: selectedLangs?.includes(l)}" (click)="selectLang(l, $event)">
                    <lang-item [language]="l" [showTag]="true" style="flex: 1" [disabled]="isLangAlreadyAssigned(l)"></lang-item>
                    <span *ngIf="l['proficiency']" class="fas fa-star"
                      [title]="'ADMINISTRATION.PROJECTS.PROJ_USER.LANGS.LANG_PROFICIENCIES_INFO'|translate">
                    </span>
                  </div>
                </ng-container>
              </div>
              <div class="card-footer">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" [(ngModel)]="availableLangsFilter">
                  <span class="input-group-text">
                    <span class="fas fa-filter"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Templates -->
      <div class="card vbox" style="min-height: 420px; margin-top: 4px;">
        <div class="card-header">
          <label style="flex: 1;">
            {{'PREFERENCES.RES_VIEW_SECTIONS_VISIBILITY.SECTIONS_VISIBILITY'|translate}}
          </label>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
              <button class="btn btn-light" (click)="storeTemplate()" [title]="'COMMONS.ACTIONS.STORE'|translate">
                <span class="fas fa-download"></span>
              </button>
              <button class="btn btn-light" (click)="loadTemplate()" [title]="'COMMONS.ACTIONS.LOAD'|translate">
                <span class="fas fa-upload"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body vbox">
          <div class="alert alert-info" role="alert" style="margin-bottom: 5px;">
            {{'ADMINISTRATION.PROJECTS.PROJ_USER.TEMPLATE.RES_VIEW_TEMPLATE_DESCRIPTION'|translate}}
          </div>
          <section-filter-editor [(ngModel)]="puSectionFilter" [template]="projResViewTemplate" (ngModelChange)="updateTemplate()"></section-filter-editor>
        </div>
      </div>

    </div>
  </div>
</div>