<div class="card vbox">
    <div class="card-body vbox">

        <res-view-template-editor *ngIf="settings" class="vbox" style="flex: 3; min-height: 250px; max-height: 40vh;" 
            [(ngModel)]="settings.templates" (ngModelChange)="updateResViewSettingsWithTimeout()" [customSections]="customSectionsIDs">
        </res-view-template-editor>

        <div class="card vbox mt-2" style="flex: 2; min-height: 200px;">
            <div class="card-header">
                <label>{{'ADMINISTRATION.PROJECTS.RES_VIEW.CUSTOM_SECTIONS'|translate}}</label>
            </div>
            <div class="card-body hbox">
                <div class="card vbox">
                    <div class="card-header">
                        <label style="flex: 1;">{{'RESOURCE_VIEW.SECTIONS.SECTIONS'|translate}}</label>
                        <div class="btn-toolbar">
                            <button class="btn btn-light btn-xs" (click)="renameCustomSection()" [disabled]="!selectedCustomSection">
                                <span class="fas fa-pencil-alt"></span>
                            </button>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-light" (click)="addCustomSection()">
                                    <span class="fas fa-plus"></span>
                                </button>
                                <button class="btn btn-light" (click)="deleteCustomSection()" [disabled]="!selectedCustomSection">
                                    <span class="fas fa-minus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body scrollableContainer">
                        <div *ngFor="let cs of customSectionsIDs" class="listItem" (click)="selectCustomSection(cs)" [ngClass]="{ active: cs == selectedCustomSection }">
                            {{cs}}
                        </div>
                    </div>
                </div>

                <div class="card vbox ms-2">
                    <div class="card-header">
                        <label style="flex: 1;">{{'ADMINISTRATION.PROJECTS.RES_VIEW.MANAGED_PROPERTIES'|translate}}</label>

                        <ng-container *ngIf="selectedCustomSection">
                            <span *ngIf="!isActiveProject" class="fas fa-exclamation-triangle" [title]="'ADMINISTRATION.PROJECTS.RES_VIEW.PROP_ADDITION_OTHER_PROJECT_WARN'|translate"></span>
                            <div class="btn-group btn-group-xs ms-2">
                                <button class="btn btn-light" (click)="addManagedProperty()">
                                    <span class="fas fa-plus"></span>
                                </button>
                                <button class="btn btn-light" (click)="deleteManagedProperty()" [disabled]="!selectedManagedProperty">
                                    <span class="fas fa-minus"></span>
                                </button>
                            </div>
                        </ng-container>
                    </div>
                    <div class="card-body scrollableContainer">
                        <ng-container *ngIf="selectedCustomSection">
                            <div *ngFor="let p of customSections[selectedCustomSection]" class="listItem" (click)="selectManagedProperty(p)" [ngClass]="{ active: p == selectedManagedProperty }">
                                {{p.toNT()}}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="text-end mt-2">
            <div *ngIf="isAdmin" class="btn-group" style="position: static;" ngbDropdown placement="top-right">
                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                    {{'STATUS.DEFAULT'|translate}}
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="setAsSystemDefault()">{{'COMMONS.ACTIONS.SET_AS_SYSTEM_DEFAULT'|translate}}</button>
                    <button class="dropdown-item" (click)="restoreSystemDefault()">{{'COMMONS.ACTIONS.RESTORE_SYSTEM_DEFAULT'|translate}}</button>
                </div>
            </div>
            <button *ngIf="!isAdmin" class="btn btn-light" (click)="restoreSystemDefault()">{{'COMMONS.ACTIONS.RESTORE_SYSTEM_DEFAULT'|translate}}</button>
        </div>
    </div>
</div>

