<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'ADMINISTRATION.ACTIONS.ADD_USER_TO_PROJ'|translate}} {{project.getName(true)}}</h3>
  </div>
  <div class="modal-body vbox">

    <div class="hbox">

      <div class="card vbox">
        <div class="card-header">
          <label>{{'COMMONS.USERS'|translate}}</label>
        </div>
        <div class="card-body vbox" style="padding: 0px;">
          <div class="scrollableContainer">
            <ng-container *ngFor="let u of userList">
              <div *ngIf="isUserVisible(u)">
                <div class="listItem" [ngClass]="{active: u == selectedUser, disabled: isUserAlreadyBound(u)}"
                  (click)="selectUser(u)">
                  {{u.getShow()}} <span class="grayText">&nbsp;({{u.getEmail()}})</span>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="card-footer">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" [(ngModel)]="userFilter">
            <span class="input-group-text">
              <span class="fas fa-filter"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="card vbox" style="margin-left: 5px;">
        <div class="card-header">
          <label>{{'COMMONS.ROLES'|translate}}</label>
        </div>
        <div class="card-body vbox" style="padding: 0px;">
          <div class="scrollableContainer">
            <div *ngFor="let r of roleList" class="listItem" [ngClass]="{active: isRoleSelected(r)}" (click)="selectRole(r)">
              {{r.getName()}}
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedUser || selectedRoles.length == 0">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()" ngbAutofocus>{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>