<ng-container *ngIf="viewInitialized && (series || seriesCollection)">
  <bar-chart *ngIf="activeView=='bar'" class="shift-cursor ctrl-cursor"
    [chartData]="series" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [readonly]="readonly || !editAuthorized"
    (doubleClick)="onDoubleClick($event)" (click)="onClick($event)" (dataChanged)="onDataChanged($event)">
  </bar-chart>
  <pie-chart *ngIf="activeView=='pie'" class="shift-cursor ctrl-cursor"
    [chartData]="series" [readonly]="readonly || !editAuthorized"
    (doubleClick)="onDoubleClick($event)" (click)="onClick($event)" (dataChanged)="onDataChanged($event)">
  </pie-chart>
  <line-chart *ngIf="activeView=='line'" class="shift-cursor ctrl-cursor"
    [chartData]="seriesCollection" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [readonly]="readonly || !editAuthorized"
    (doubleClick)="onDoubleClick($event)" (click)="onClick($event)" (dataChanged)="onDataChanged($event)">
  </line-chart>
</ng-container>

<select *ngIf="compliantViews.length > 1" class="form-select form-select-sm ms-2" style="width: initial;" [(ngModel)]="activeView" (ngModelChange)="onWidgetChanged()">
  <option *ngFor="let v of compliantViews">{{v}}</option>
</select>

<div class="dropdown float-end" style="align-self: flex-start;" ngbDropdown container="body">
  <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" ngbDropdownToggle [disabled]="readonly">
    <span class="fas fa-caret-down fa-sm"></span>
  </button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <a class="dropdown-item" [ngClass]="{ disabled: !deleteAuthorized }" (click)="deleteHandler()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
      {{'COMMONS.ACTIONS.DELETE'|translate}}
    </a>
  </div>
</div>