<div *ngIf="value.resource" class="listItem d-flex align-items-center">

  <ng-container *ngIf="editInProgress; then editingBlock; else viewBlock"></ng-container>

  <ng-template #viewBlock>
    <rdf-resource style="flex: 1;" [resource]="value.resource" [rendering]="rendering" [ngClass]="{ clickable: value.resource.isResource() }"
      (dblclick)="valueDblClick()" (valueClick)="onValueClick($event)">
    </rdf-resource>
  </ng-template>

  <ng-template #editingBlock>
    <div class="input-group input-group-sm" style="flex: 1;">
      <textarea class="form-control" style="height: initial; resize: vertical;" rows="1" [(ngModel)]="resourceStringValue"></textarea>
      <button class="btn btn-light" style="width:15px; padding: 0px;" (click)="confirmEdit()" [title]="'COMMONS.ACTIONS.CONFIRM'|translate">
        <span class="fas fa-check" style="color: green"></span>
      </button>
      <button class="btn btn-light" style="width:15px; padding: 0px;" (click)="cancelEdit()" [title]="'COMMONS.ACTIONS.CANCEL'|translate">
        <span class="fas fa-times" style="color: red"></span>
      </button>
    </div>
  </ng-template>

  <ng-container *ngIf="context == 'single_value'; then singleValueActions; else vectorActions"></ng-container>

  <ng-template #singleValueActions>
    <div *ngIf="!editInProgress" class="dropdown float-end" style="align-self: flex-start;" ngbDropdown container="body">
      <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" ngbDropdownToggle [disabled]="readonly">
        <span class="fas fa-caret-down fa-sm"></span>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a class="dropdown-item" [ngClass]="{ disabled: !editAuthorized }" (click)="edit()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
          {{'COMMONS.ACTIONS.EDIT'|translate}}
        </a>
        <a class="dropdown-item" [ngClass]="{ disabled: !deleteAuthorized }" (click)="deleteHandler()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
          {{'COMMONS.ACTIONS.DELETE'|translate}}
        </a>
      </div>
    </div>
  </ng-template>

  <ng-template #vectorActions>
    <button *ngIf="!editInProgress" class="btn btn-xs btn-transparent ms-2" (click)="edit()" [title]="'COMMONS.ACTIONS.EDIT'|translate" [disabled]="!editAuthorized">
      <span class="fas fa-pencil-alt"></span>
    </button>
  </ng-template>

</div>


<!-- hidden pickers useful for edit action -->
<resource-picker style="display: none;" [config]="resPickerConf" (resourceChanged)="onResourcePicked($event)"></resource-picker>
<literal-picker style="display: none;" [datatypes]="litPickerDatatypes" (literalChanged)="onLiteralPicked($event)"></literal-picker>