<leaflet-map class="shift-cursor ctrl-cursor"
  [point]="point" [route]="route" [area]="area"
  (dblclick)="onDoubleClick()" (click)="onClick($event)">
</leaflet-map>

<div class="dropdown float-end" style="align-self: flex-start;" ngbDropdown container="body">
  <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" ngbDropdownToggle [disabled]="readonly">
    <span class="fas fa-caret-down fa-sm"></span>
  </button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <a class="dropdown-item" [ngClass]="{ disabled: !editAuthorized }" (click)="edit()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
      {{'COMMONS.ACTIONS.EDIT'|translate}}
    </a>
    <a class="dropdown-item" [ngClass]="{ disabled: !deleteAuthorized }" (click)="deleteHandler()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
      {{'COMMONS.ACTIONS.DELETE'|translate}}
    </a>
  </div>
</div>

<!-- <button *ngIf="!readonly" class="btn btn-xs btn-transparent ms-2" style="align-self: flex-start;" (click)="edit()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
    <span class="fas fa-pencil-alt"></span>
</button> -->