<div class="d-flex align-items-center" [ngClass]="{ listItem: view.values.length > 1 }" style="padding-left: 0px !important;">

  <div style="flex: 1;" [ngClass]="{ multivalue: view.values.length > 1 }">
    <cv-value-renderer *ngFor="let v of view.values"
      [value]="v" [subject]="view.resource.asResource()" [section]="section" [readonly]="readonly" [rendering]="rendering"
      (update)="onUpdate($event)" (delete)="deleteSingleValue(v)" (dblclick)="onDoubleClick()" (valueClick)="onValueClick($event)">
    </cv-value-renderer>
  </div>

  <div *ngIf="view.values.length > 1" class="dropdown float-end" ngbDropdown container="body">
    <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" ngbDropdownToggle [disabled]="readonly">
      <span class="fas fa-caret-down fa-sm"></span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item" [ngClass]="{ disabled: !deleteAuthorized }" (click)="deleteHandler()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
        {{'COMMONS.ACTIONS.DELETE'|translate}}
      </button>
    </div>
  </div>

</div>