<div class="cv-table">
  <table class="table table-sm">
    <colgroup>
      <col style="width: 1%">
      <col *ngFor="let h of headers" [ngStyle]="{ 'width': 98/headers.length + '%' }">
      <col style="width: 1%">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let h of headers">
          {{h}}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let view of views">
        <td>
          <button class="btn btn-transparent btn-xs me-2"  (click)="openResource(view, $event)" [title]="view.resource.toNT()">
            <i class="fas fa-arrow-alt-circle-right"></i>
          </button>
        </td>
        <td *ngFor="let v of view.values">
          <cv-value-renderer [value]="v" [subject]="subject" [section]="section" [readonly]="readonly" [rendering]="rendering" [context]="'vector'"
            (update)="onUpdate(v, $event)" (dblclick)="onCvDoubleClick(v)" (click)="onCvClick(v, $event)" (valueClick)="onValueClick($event)">
          </cv-value-renderer>
        </td>
        <td>
          <button class="btn btn-transparent btn-xs ms-2" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!deleteAuthorized" (click)="deleteHandler(view)">
            <i class="fas fa-minus fa-sm"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>