<div class="d-flex align-items-center">
  <div class="d-flex align-items-center" style="flex: 1;">
    <span *ngIf="title" class="fw-bold" style="font-family: serif; font-size: 2rem;">{{title.getValue()}}</span>
    <!-- inline morphoprop -->
    <div class="d-flex flex-wrap ms-2">
      <ng-container *ngFor="let mp of entry.morphosyntacticProps">
        <morphosyntactic-prop *ngFor="let mv of mp.getObjects()" class="ms-2"
          [resource]="entry.id" [property]="mp.getPredicate()" [value]="mv.asURIResource()" [lexViewCache]="lexViewCache" [readonly]="readonly"
          [hideProp]="true" (update)="onUpdate()">
        </morphosyntactic-prop>
      </ng-container>
    </div>
  </div>

  <div class="dropdown ms-1" ngbDropdown>
    <button class="btn btn-faded btn-xs dropdown-toggle" data-toggle="dropdown" [disabled]="readonly" ngbDropdownToggle>
      <span class="fas fa-pencil-alt"></span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <a class="dropdown-item" (click)="addMorphosintacticProp()" [ngClass]="{ disabled: !addMorphoPropAuthorized }">
        {{'DATA.ACTIONS.ADD_MORPHOSYNTACTIC_PROP'|translate}}
      </a>
    </div>
  </div>
</div>

<!-- morphosyntactic properties addition -->
<div class="ms-4">
  <morphosyntactic-prop *ngIf="pendingMorphoProp" [resource]="entry.id" [lexViewCache]="lexViewCache"
    (update)="onUpdate()" (dismiss)="onPendingMorphPropCanceled()">
  </morphosyntactic-prop>
</div>