<div class="card vbox">
  <div class="card-header">
    <label style="flex: 1">{{'HISTORY_VALIDATION.COMMITS'|translate}}</label>

    <label style="white-space: pre">{{'HISTORY_VALIDATION.OPERATION_SORT'|translate}}: </label>
    <div class="btn-group btn-group-xs me-3" ngbDropdown>
      <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
        <span>{{operationSorting.translationKey|translate}}</span>
        <span class="fas fa-sort-alpha-down ms-2"></span>
      </button>
      <div class="dropdown-menu float-end" ngbDropdownMenu>
        <a *ngFor="let sd of sortingDirectionList" class="dropdown-item" (click)="sortOperation(sd)">
          {{sd.translationKey|translate}}
          <span *ngIf="sd == operationSorting" class="fas fa-check float-end"></span>
        </a>
      </div>
    </div>

    <label style="white-space: pre">{{'HISTORY_VALIDATION.TIME_SORT'|translate}}: </label>
    <div class="btn-group btn-group-xs me-3" ngbDropdown>
      <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
        <span>{{timeSorting.translationKey|translate}}</span>
        <span class="fas fa-sort-numeric-down ms-2"></span>
      </button>
      <div class="dropdown-menu float-end" ngbDropdownMenu>
        <a *ngFor="let sd of sortingDirectionList" class="dropdown-item" (click)="sortTime(sd)">
          {{sd.translationKey|translate}}
          <span *ngIf="sd == timeSorting" class="fas fa-check float-end"></span>
        </a>
      </div>
    </div>

    <button class="btn btn-xs btn-light" [ngClass]="{active: showFilterBox}" (click)="showFilterBox = !showFilterBox">
      <span *ngIf="!showFilterBox">{{'COMMONS.ACTIONS.SHOW_FILTERS'|translate}}</span>
      <span *ngIf="showFilterBox">{{'COMMONS.ACTIONS.HIDE_FILTERS'|translate}}</span>
      <span class="fas fa-filter ms-2"></span>
    </button>

    <button class="btn btn-xs btn-light ms-2" (click)="init()" [title]="'COMMONS.ACTIONS.REFRESH'|translate">
      <span class="fas fa-redo"></span>
    </button>
  </div>

  <div class="card-body vbox">

    <history-filter *ngIf="showFilterBox" class="vbox" style="margin-bottom: 6px; min-height: 115px;" (apply)="onFilterApplied($event)"
      [operations]="operations" [performers]="performers" [resource]="resource" [fromTime]="fromTime" [toTime]="toTime"></history-filter>

    <div class="table-responsive" style="flex: 3;">

      <table class="table table-hoverable">
        <colgroup>
          <col style="width: 1%">
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">{{'HISTORY_VALIDATION.COMMIT_ID'|translate}}</th>
            <th class="text-center">{{'HISTORY_VALIDATION.OPERATION'|translate}}</th>
            <th class="text-center">{{'HISTORY_VALIDATION.1ST_PARAM'|translate}}</th>
            <th class="text-center" *ngIf="isLargeWidth()">{{'HISTORY_VALIDATION.2ND_PARAM'|translate}}</th>
            <th class="text-center">{{'HISTORY_VALIDATION.OTHER_PARAMS'|translate}}</th>
            <th class="text-center">{{'USER.USER'|translate}}</th>
            <th class="text-center">{{'HISTORY_VALIDATION.DATE'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of commits">
            <td class="text-center" nowrap>
              <a (click)="getCommitDelta(item); false" href>{{item.commit.getLocalName()}}</a>
            </td>
            <td class="text-center">
              <span *ngIf="item.operation" [title]="item.operation.getURI()">
                {{item.operation.getShow()}}
              </span>
            </td>
            <td class="text-center">
              <ng-container *ngIf="item.operationParameters.length != 0">
                <label style="white-space: pre;">{{item.operationParameters[0].name}}: </label>
                <span class="clickable text-break" (click)="openValueResourceView(item.operationParameters[0].value)">
                  {{item.operationParameters[0].value}}
                </span>
              </ng-container>
            </td>
            <td class="text-center" *ngIf="isLargeWidth()">
              <ng-container *ngIf="item.operationParameters.length > 1">
                <label style="white-space: pre;">{{item.operationParameters[1].name}}: </label>
                <span class="clickable text-break" (click)="openValueResourceView(item.operationParameters[1].value)">
                  {{item.operationParameters[1].value}}
                </span>
              </ng-container>
            </td>
            <td class="text-center">
              <ng-container *ngIf="!isLargeWidth() && item.operationParameters.length > 1">
                <label style="white-space: pre;">{{item.operationParameters[1].name}}: </label>
                <span class="clickable text-break" (click)="openValueResourceView(item.operationParameters[1].value)">
                  {{item.operationParameters[1].value}}
                </span>
              </ng-container>
              <ng-container *ngIf="isLargeWidth() && item.operationParameters.length > 2">
                <label style="white-space: pre;">{{item.operationParameters[2].name}}: </label>
                <span class="clickable text-break" (click)="openValueResourceView(item.operationParameters[2].value)">
                  {{item.operationParameters[2].value}}
                </span>
              </ng-container>
              <button *ngIf="showOtherParamButton(item)" class="btn btn-xs btn-light" (click)="inspectParams(item)"
                [title]="'COMMONS.ACTIONS.SHOW_ALL'|translate">
                <span class="fas fa-ellipsis-h"></span>
              </button>
            </td>
            <td class="text-center">
              <span *ngIf="item.user" [title]="item.user.getURI()">
                {{item.user.getShow()}}
              </span>
            </td>
            <td class="text-center">
              {{item.endTimeLocal}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <div class="card-footer">

    <div class="d-flex align-items-center" style="justify-content: end;">

      <div class="btn-group btn-group-xs">
        <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="getPreviousCommits()" [disabled]="page <= 0">
          <span class="fas fa-caret-left"></span>
        </button>
        <button class="btn btn-light" style="cursor: auto" disabled>
          <span>{{pageCount != 0 ? page+1 : '0'}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{pageCount}}</span>
        </button>
        <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="getNextCommits()" [disabled]="page+1 >= pageCount">
          <span class="fas fa-caret-right"></span>
        </button>
      </div>

      <div class="d-flex align-items-center ms-3">
        <label style="white-space: nowrap;">{{'COMMONS.PAGING.GO_TO'|translate}}:</label>
        <div class="input-group input-group-sm ms-2">
          <select class="form-select" [(ngModel)]="pageSelectorOpt" [disabled]="pageSelector.length == 0">
            <option *ngFor="let p of pageSelector" [ngValue]="p">{{p+1}}</option>
          </select>
          <button class="btn btn-light" (click)="goToPage()" [disabled]="pageSelectorOpt == null">{{'COMMONS.ACTIONS.GO'|translate}}</button>
        </div>
      </div>
    </div>

  </div>
</div>