<div class="card vbox">
  <div class="card-body d-flex">
    <div class="vbox">

      <div class="hbox">

        <div class="card vbox">
          <div class="card-header">
            <label style="flex: 1;">{{'HISTORY_VALIDATION.FILTERS.OPERATIONS'|translate}}</label>
            <button class="btn btn-xs btn-light" (click)="selectOperationFilter()">
              <span class="fas fa-plus"></span>
            </button>
          </div>
          <div class="card-body scrollableContainer">
            <div *ngFor="let op of operations" class="listItem d-flex align-items-center">
              <span style="flex: 1;">{{op.getShow()}}</span>
              <button class="btn btn-xs btn-light" (click)="removeOperationFilter(op)">
                <span class="fas fa-minus"></span>
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="!hidePerformers" class="card vbox ms-2">
          <div class="card-header">
            <label style="flex: 1;">{{'HISTORY_VALIDATION.FILTERS.PERFORMERS'|translate}}</label>
            <button class="btn btn-xs btn-light" (click)="selectOperationPerformer()">
              <span class="fas fa-plus"></span>
            </button>
          </div>
          <div class="card-body scrollableContainer">
            <div *ngFor="let p of performers" class="listItem d-flex align-items-center">
              <span style="flex: 1">{{p.getShow()}}<span class="grayText">&nbsp;({{p.getEmail()}})</span></span>
              <button class="btn btn-xs btn-light" (click)="removeOperationPerformer(p)">
                <span class="fas fa-minus"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="card vbox ms-2">
          <div class="card-header">
            <label>
              {{'COMMONS.TIME'|translate}}
              <span class="fas fa-info-circle" [title]="'HISTORY_VALIDATION.FILTERS.DATETIME_FORMAT'|translate"></span>
            </label>
          </div>
          <div class="card-body scrollableContainer">
            <table class="table table-sm table-borderless">
              <colgroup>
                <col style="width: 1%">
                <col>
                <col>
                <col style="width: 1%">
              </colgroup>
              <tbody>
                <tr>
                  <td><label>{{'HISTORY_VALIDATION.FILTERS.TIME_FROM'|translate}}:</label></td>
                  <td><input type="datetime-local" class="form-control" [(ngModel)]="fromTime"></td>
                  <td><input class="form-control" [ngModel]="fromTime" disabled></td>
                  <td>
                    <button class="btn btn-xs btn-light" (click)="fromTime=null" [title]="'COMMONS.ACTIONS.RESET'|translate" [disabled]="!fromTime">
                      <span class="fas fa-times"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td><label>{{'HISTORY_VALIDATION.FILTERS.TIME_TO'|translate}}:</label></td>
                  <td><input type="datetime-local" class="form-control" [(ngModel)]="toTime"></td>
                  <td><input class="form-control" [ngModel]="toTime" disabled></td>
                  <td>
                    <button class="btn btn-xs btn-light" (click)="toTime=null" [title]="'COMMONS.ACTIONS.RESET'|translate" [disabled]="!toTime">
                      <span class="fas fa-times"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="d-flex align-items-center mt-2">
        <label>{{'MODELS.RESOURCE.RESOURCE'|translate}}:</label>
        <resource-picker class="flex-grow-1 ms-2" [resource]="resource" [editable]="true" (resourceChanged)="resource = $event">
        </resource-picker>
      </div>

    </div>

    <div class="align-self-center ms-2">
      <button class="btn btn-sm btn-primary" (click)="applyFilter()">{{'HISTORY_VALIDATION.FILTERS.APPLY'|translate}}</button>
    </div>
  </div>
</div>