<table class="table table-sm table-borderless">
    <colgroup>
        <col style="width: 1%">
        <col>
    </colgroup>
    <tbody>
        <tr>
            <td class="p-0">
                <label>{{'DATA.CONCEPT.CONCEPT'|translate}}:</label>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <rdf-resource class="clickable" [resource]="concept.id" (dblclick)="resourceDblClick()"></rdf-resource>
                    <div class="dropdown ms-1" ngbDropdown>
                        <button class="btn btn-faded btn-xs dropdown-toggle" data-toggle="dropdown" [disabled]="readonly" ngbDropdownToggle>
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" (click)="addDefinition()" [ngClass]="{ disabled: !addDefAuthorized }">
                                {{'DATA.ACTIONS.ADD_DEF_TO_LEX_CONCEPT'|translate}}
                            </a>
                        </div>
                    </div>
                    <button class="btn btn-faded btn-xs ms-1" (click)="deleteConcept()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!deleteConceptAuthorized">
                        <span class="fas fa-minus"></span>
                    </button>
                </div>
            </td>
        </tr>
        <tr *ngIf="concept.definition.length > 0 || pendingDef">
            <td class="p-0" style="vertical-align: top;">
                <label style="padding-top: 0.75rem;">{{'COMMONS.DEFINITION'|translate}}:</label>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <div class="vbox">
                        <div *ngFor="let def of concept.definition; let last=last" class="d-flex align-items-center me-2" [ngClass]="{ 'mb-1': !last }">
                            <inline-def style="flex: 1" [resource]="concept.id" [definition]="def" (update)="onUpdate()"></inline-def>
                            <button *ngIf="last && !pendingDef" class="btn btn-faded btn-xs ms-1" (click)="addDefinition()" [disabled]="!addDefAuthorized" [title]="'COMMONS.ACTIONS.ADD'|translate">
                                <span class="fas fa-plus"></span>
                            </button>
                        </div>
                        <inline-editable-value *ngIf="pendingDef" class="mt-1" [focusOnInit]="true" (edited)="onPendingDefConfirmed($event)" (editCanceled)="onPendingDefCanceled()">
                        </inline-editable-value>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>