<inline-editable-value style="flex: 1" [value]="definition" (edited)="onDefinitionEdited($event)" [disabled]="!editDefAuthorized">
</inline-editable-value>
<button class="btn btn-faded btn-xs ms-1" (click)="deleteDefinition()"  [disabled]="!deleteDefAuthorized" [title]="'COMMONS.ACTIONS.DELETE'|translate">
    <span class="fas fa-minus"></span>
</button>