<div class="d-flex">
  <div class="sense">

    <!-- Reference -->
    <div *ngIf="sense.reference?.length > 0" class="my-3">
      <div *ngFor="let ref of sense.reference" class="d-flex align-items-center mb-2">
        <label class="me-2">{{'RESOURCE_VIEW.LEX_VIEW.SEMANTIC_REFERENCE'|translate}}:</label>
        <rdf-resource class="clickable" [resource]="ref" (dblclick)="resourceDblClick(ref)"></rdf-resource>
      </div>
    </div>

    <!-- Definitions -->
    <div *ngIf="sense.definition?.length > 0 || pendingDef" class="d-flex my-3">
      <label class="mt-2 me-2">{{'COMMONS.DEFINITION'|translate}}:</label>
      <div class="vbox">
        <div *ngFor="let def of sense.definition; let last=last" class="d-flex align-items-center me-2" [ngClass]="{ 'mb-1': !last }">
          <inline-def style="flex: 1" [resource]="sense.id" [definition]="def" (update)="onUpdate()"></inline-def>
          <button *ngIf="last && !pendingDef" class="btn btn-faded btn-xs ms-1" (click)="addDefinition()" [disabled]="!addDefAuthorized" [title]="'COMMONS.ACTIONS.ADD'|translate">
            <span class="fas fa-plus"></span>
          </button>
        </div>
        <inline-editable-value *ngIf="pendingDef" class="mt-1" [focusOnInit]="true" (edited)="onPendingDefConfirmed($event)" (editCanceled)="onPendingDefCanceled()">
        </inline-editable-value>
      </div>
    </div>

    <!-- Concepts -->
    <div *ngIf="sense.concept?.length > 0" class="my-3">
      <concept-ref *ngFor="let c of sense.concept" class="my-2" [concept]="c" [sense]="sense" [lang]="lang" [lexViewCache]="lexViewCache"
        (update)="onUpdate()" (dblclickObj)="resourceDblClick($event)">
      </concept-ref>
    </div>

    <!-- Relations -->
    <div *ngIf="sense.related.length > 0" class="d-flex align-items-center my-3">
      <label>{{'RESOURCE_VIEW.LEX_VIEW.RELATED'|translate}}:</label>
      <sense-relation *ngFor="let r of sense.related" class="ms-3" [sense]="sense" [relation]="r" (update)="onUpdate()" (dblclickObj)="resourceDblClick($event)">
      </sense-relation>
      <button class="btn btn-xs btn-faded ms-3" (click)="addRelation()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="!addRelatedAuthorized">
        <span class="fas fa-plus"></span>
      </button>
    </div>
    <div *ngIf="sense.terminologicallyRelated.length > 0" class="d-flex align-items-center my-3">
      <label>{{'RESOURCE_VIEW.LEX_VIEW.TERMINOLOGICALLY_RELATED'|translate}}:</label>
      <sense-relation *ngFor="let r of sense.terminologicallyRelated" class="ms-3" [sense]="sense" [relation]="r" (update)="onUpdate()" (dblclickObj)="resourceDblClick($event)">
      </sense-relation>
      <button class="btn btn-xs btn-faded ms-3" (click)="addTerminologicalRelation()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="!addRelatedAuthorized">
        <span class="fas fa-plus"></span>
      </button>
    </div>
    <div *ngIf="sense.translations.length > 0" class="d-flex align-items-center my-3">
      <label>{{'RESOURCE_VIEW.LEX_VIEW.TRANSLATION'|translate}}:</label>
      <sense-relation *ngFor="let r of sense.translations" class="ms-3" [sense]="sense" [relation]="r" [translation]="true" (update)="onUpdate()" (dblclickObj)="resourceDblClick($event)">
      </sense-relation>
      <button class="btn btn-xs btn-faded ms-3" (click)="addTranslation()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="!addTranslationAuthorized">
        <span class="fas fa-plus"></span>
      </button>
    </div>

  </div>

  <div class="d-flex ms-1" style="align-self: flex-start;">
    <div class="dropdown" ngbDropdown>
      <button class="btn btn-faded btn-xs dropdown-toggle" data-toggle="dropdown" [disabled]="readonly" ngbDropdownToggle>
        <span class="fas fa-pencil-alt"></span>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a *ngIf="!sense.id" class="dropdown-item" (click)="reifyPlainSense()" [ngClass]="{ disabled: !reifySenseAuthorized }">
          {{'DATA.ACTIONS.REIFY_PLAIN_SENSE'|translate}}
        </a>
        <ng-container *ngIf="sense.id">
          <a class="dropdown-item" (click)="setReference()" [ngClass]="{ disabled: !setReferenceAuthorized }">
            {{'DATA.ACTIONS.SET_REFERENCE'|translate}}
          </a>
          <a class="dropdown-item" (click)="setConcept()" [ngClass]="{ disabled: !addConceptAuthorized }">
            {{'DATA.ACTIONS.ADD_LEX_CONCEPT'|translate}}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="addRelation()" [ngClass]="{ disabled: !addRelatedAuthorized }">
            {{'DATA.ACTIONS.ADD_RELATED_SENSE'|translate}}
          </a>
          <a class="dropdown-item" (click)="addTerminologicalRelation()" [ngClass]="{ disabled: !addRelatedAuthorized }">
            {{'DATA.ACTIONS.ADD_TERMINOLOGICAL_RELATION'|translate}}
          </a>
          <a class="dropdown-item" (click)="addTranslation()" [ngClass]="{ disabled: !addTranslationAuthorized }">
            {{'DATA.ACTIONS.ADD_TRANSLATION'|translate}}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="addDefinition()" [ngClass]="{ disabled: !addDefAuthorized }">
            {{'DATA.ACTIONS.ADD_DEF_TO_LEX_SENSE'|translate}}
          </a>
        </ng-container>
      </div>
    </div>
    <button class="btn btn-faded btn-xs ms-1" (click)="deleteSense()" [disabled]="readonly" [title]="'COMMONS.ACTIONS.DELETE'|translate">
      <span class="fas fa-minus"></span>
    </button>
  </div>

</div>