<div class="card">
    <div class="card-body table-responsive">
        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%">
                <col>
            </colgroup>
            <tbody>
                <!-- 
                <tr><td colspan="2" class="text-center"><label>Charge</label></td></tr>
                <tr>
                    <td>Strength:</td>
                    <td>
                        <input type="range" style="width: 100%;" [(ngModel)]="forces?.charge.strength" (ngModelChange)="onForceChange()"
                            min="-500" max="50" step="1" [title]="forces?.charge.strength">
                    </td>
                </tr>
                <tr>
                    <td>Distance Min:</td>
                    <td>
                        <input type="range" style="width: 100%;" [(ngModel)]="forces?.charge.distanceMin" (ngModelChange)="onForceChange()"
                            min="1" max="200" step="1" [title]="forces?.charge.distanceMin">
                    </td>
                </tr>
                <tr>
                    <td>Distance Max:</td>
                    <td>
                        <input type="range" style="width: 100%;" [(ngModel)]="forces?.charge.distanceMax" (ngModelChange)="onForceChange()"
                            min="0" max="2000" step="1" [title]="forces?.charge.distanceMax">
                    </td>
                </tr>

                <tr><td colspan="2" class="text-center"><label>Collide</label></td></tr>
                <tr>
                    <td>Strength:</td>
                    <td>
                        <input type="range" style="width: 100%;" [(ngModel)]="forces?.collide.strength" (ngModelChange)="onForceChange()"
                            min="0" max="1" step=".1" [title]="forces?.collide.strength">
                    </td>
                </tr>
                <tr>
                    <td>Radius:</td>
                    <td>
                        <input type="range" style="width: 100%;" [(ngModel)]="forces?.collide.radius" (ngModelChange)="onForceChange()"
                            min="0" max="100" step="1" [title]="forces?.collide.radius">
                    </td>
                </tr> 
                -->                            
                <tr><td colspan="2" class="text-center"><label>{{'GRAPHS.FORCE_CONTROL.LINKS'|translate}}</label></td></tr>
                <tr>
                    <td>{{'GRAPHS.FORCE_CONTROL.STRENGTH'|translate}}:</td>
                    <td>
                        <input type="range" style="width: 100%;" [(ngModel)]="forces?.link.strength" (ngModelChange)="onForceChange()"
                            min="0" max="1" step="0.1" [title]="forces?.link.strength">
                    </td>
                </tr>
                <tr>
                    <td>{{'GRAPHS.FORCE_CONTROL.LENGTH'|translate}}:</td>
                    <td>
                        <input type="range" style="width: 100%;" [(ngModel)]="forces?.link.distance" (ngModelChange)="onForceChange()"
                            min="100" max="500" step="1" [title]="forces?.link.distance">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>