<div class="table-responsive">
  <table class="table table-sm table-borderless">
    <colgroup>
      <col style="width: 1%">
      <col>
    </colgroup>
    <tbody>
      <tr>
        <td><label>{{'MODELS.RESOURCE.RESOURCE'|translate}}:</label></td>
        <td><rdf-resource *ngIf="resource" [resource]="resource"></rdf-resource></td>
      </tr>
      <tr *ngIf="resource.isResource()">
        <td>
          <label *ngIf="resource.isURIResource()">IRI:</label>
          <label *ngIf="resource.isBNode()">ID:</label>
        </td>
        <td class="ellipsable" style="max-width: 200px;">{{resource.getNominalValue()}}</td>
      </tr>
      <tr>
        <td><label>{{'MODELS.RESOURCE.LABEL'|translate}}:</label></td>
        <td>{{resource.getShow()}}</td>
      </tr>
      <ng-container *ngIf="resource.isResource()">
        <tr>
          <td><label>{{'COMMONS.ROLE'|translate}}:</label></td>
          <td>{{resource.asResource().getRole()}}</td>
        </tr>
        <tr>
          <td><label>{{'MODELS.RESOURCE.DEPRECATED'|translate}}:</label></td>
          <td>{{resource.asResource().isDeprecated()}}</td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot>
      <tr *ngIf="resource.isResource()">
        <td colspan="2">
          {{'GRAPHS.RESOURCE_DETAILS.SHOW_THE_COMPLETE'|translate}} <a style="cursor: pointer" (click)="showResourceView(); false" href>ResourceView</a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>