<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox">

    <div class="d-flex align-items-center">
      <select class="form-select" style="width: initial;" [(ngModel)]="selectedScope" (ngModelChange)="onScopeChanged()">
        <option *ngFor="let s of scopes" [ngValue]="s">{{s.scope}}</option>
      </select>
      <input class="form-control ms-2" [ngModel]="path" disabled>
    </div>



    <div class="card mt-2">
      <div class="card-header">
        <div class="btn-toolbar" style="flex: 1">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="levelUp()" [title]="'WIDGETS.STORAGE_MGR.LEVEL_UP'|translate" [disabled]="path == selectedScope.rootPath">
              <span class="fas fa-level-up-alt"></span>
            </button>
          </div>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="createDir()" [title]="'WIDGETS.STORAGE_MGR.CREATE_DIR'|translate">
              <span class="fas fa-folder-plus"></span>
            </button>
            <button class="btn btn-light" (click)="uploadFile()" [title]="'WIDGETS.STORAGE_MGR.UPLOAD_FILE'|translate">
              <span class="fas fa-file-upload"></span>
            </button>
          </div>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="deleteEntry()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!selectedEntry">
              <span class="far fa-trash-alt"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body scrollableContainer" style="min-height: 200px;">
        <div *ngFor="let entry of dirEntries" class="listItem d-flex align-items-center" [ngClass]="{ active: selectedEntry == entry }" (click)="selectEntry(entry)" (dblclick)="doubleClickEntry(entry)">
          <div *ngIf="multiselection" style="width: 20px;">
            <input *ngIf="entry.type == 'FILE'" type="checkbox" style="vertical-align: middle" (click)="onEntryChecked(entry)" [checked]="selectedEntries.includes(entry.fullPath)">
          </div>
          <div class="clickable" style="flex: 1">
            <span *ngIf="entry.type=='DIRECTORY'" class="far fa-folder"></span>
            <span *ngIf="entry.type=='FILE'" class="far fa-file"></span>
            <span class="ms-2" (mousedown)="preventSelection($event)">{{entry.name}}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="multiselection" class="card mt-2">
      <div class="card-body scrollableContainer" style="min-height: 200px;">
        <div *ngFor="let e of selectedEntries" class="listItem d-flex align-items-center">
          <span style="flex: 1;">{{e}}</span>
          <button class="btn btn-light btn-xs" (click)="removeCheckedEntry(e)" [title]="'COMMONS.ACTIONS.REMOVE'|translate">
            <span class="fas fa-minus"></span>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>

</div>