<div class="modal-body vbox">
    <div class="hbox">
        <resource-view-editor [resource]="resource" [readonly]="true" [inModal]="true"></resource-view-editor>
        <div class="vbox ms-3">
            <resource-view-editor *ngIf="commitDate || pickedDate; else emptyCard" [resource]="resource" [readonly]="true" [inModal]="true" [atTime]="commitDate ? commitDate : pickedDate"></resource-view-editor>
            <ng-template #emptyCard>
                <div *ngIf="!selectedCommit" class="card" style="flex: 1;"></div>
            </ng-template>
        </div>
    </div>
    <div class="vbox mt-2" style="flex: initial; width: 50%; align-self: center;">
        <div class="btn-group btn-group mb-2" style="align-self: center;">
            <button class="btn btn-light" (click)="previousCommit()" [disabled]="commitSlideIdx==0 || !selectedCommit">
                <span class="fas fa-caret-left"></span>
            </button>
            <div class="btn-group" ngbDropdown placement="top">
                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                    <b *ngIf="commitDate">{{commitDate.toLocaleDateString() + ' ' + commitDate.toLocaleTimeString()}}</b>
                    <b *ngIf="pickedDate">{{pickedDate.toLocaleDateString() + ' ' + pickedDate.toLocaleTimeString()}}</b>
                    <b *ngIf="!commitDate && !pickedDate">{{'RESOURCE_VIEW.TIME_MACHINE.SELECT_DATE'|translate}}</b>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <h6 class="dropdown-header">{{'HISTORY_VALIDATION.COMMITS'|translate}}:</h6>
                    <div class="dropdown-divider"></div>
                    <ng-container *ngFor="let c of commits">
                        <a class="dropdown-item" [ngClass]="{ 'bg-primary text-white' : c.endTime == commitDate}" (click)="selectCommit(c)">
                            <div>
                                <b>{{'HISTORY_VALIDATION.DATE'|translate}}:</b>
                                <span class="ms-2">{{c.endTime.toLocaleDateString() + ' ' + c.endTime.toLocaleTimeString()}}</span>
                            </div>
                            <div>
                                <b>{{'USER.USER'|translate}}:</b>
                                <span class="ms-2">{{c.user.getShow()}}</span>
                            </div>
                            <div>
                                <b>{{'HISTORY_VALIDATION.OPERATION'|translate}}:</b>
                                <span class="ms-2">{{c.operation.getShow()}}</span>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                    </ng-container>
                    <h6 class="dropdown-header">Pick a date manually:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="pickDate()" [ngClass]="{ 'bg-primary text-white' : pickedDate}">
                        <i class="far fa-calendar-alt ms-2"></i>
                        <span *ngIf="pickedDate">
                            <span class="ms-2">{{pickedDate.toLocaleDateString() + ' ' + pickedDate.toLocaleTimeString()}}</span>
                        </span>
                    </a>
                </div>
            </div>
            <button class="btn btn-light" (click)="nextCommit()" [disabled]="commitSlideIdx==commits.length-1 || !selectedCommit">
                <span class="fas fa-caret-right"></span>
            </button>
        </div>
        <input type="range" min="0" [max]="commits.length-1" [(ngModel)]="commitSlideIdx" (ngModelChange)="updatePreviewedCommit()" (change)="updateSelectedCommit()" [disabled]="!selectedCommit">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
</div>