<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox">

    <div class="card scrollableContainer">
      <table class="table table-sm table-hoverable">
        <thead>
          <tr>
            <th class="text-center" style="width: 1%">ID</th>
            <th class="text-center">Location</th>
            <th class="text-center">{{'COMMONS.DESCRIPTION'|translate}}</th>
            <th class="text-center" style="width: 1%">Readable</th>
            <th class="text-center" style="width: 1%">Writeable</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repo of repoList" (click)="selectedRepo = repo" [ngClass]="{ 'table-primary': selectedRepo == repo}">
            <td class="fw-bold">{{repo.id}}</td>
            <td class="text-center">{{repo.location}}</td>
            <td class="text-center">{{repo.description}}</td>
            <td class="text-center">{{repo.readable}}</td>
            <td class="text-center">{{repo.writable}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedRepo">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>