<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal" resizable>
  <div class="modal-header" cdkDragHandle>
    <h3 *ngIf="!id" class="modal-title">{{'CUSTOM_FORMS.ACTIONS.CREATE_CUSTOM_FORM'|translate}}</h3>
    <h3 *ngIf="id" class="modal-title">{{'CUSTOM_FORMS.ACTIONS.EDIT_CUSTOM_FORM'|translate}}</h3>
  </div>
  <div class="modal-body vbox">

    <div class="entryRow">
      <div class="hbox" style="align-items: center;">
        <label class="entryLabel">ID:</label>
        <div class="input-group" style="flex: 1;">
          <ng-container *ngIf="namespaceLocked">
            <span class="input-group-text">
              {{cfPrefix}}
            </span>
            <input type="text" class="form-control" [(ngModel)]="cfShortId" [disabled]="mode == 'edit'" [sanitized]="true">
          </ng-container>

          <ng-container *ngIf="!namespaceLocked">
            <input type="text" class="form-control" [(ngModel)]="cfId" [disabled]="mode == 'edit'" [sanitized]="true">
          </ng-container>

          <button class="btn btn-light" style="width:30px; padding: 1px 3px;" (click)="unlockNamespace()"
            [title]="'COMMONS.ACTIONS.LOCK_UNLOCK_NAMESPACE'|translate" [ngClass]="{active: namespaceLocked}" [disabled]="mode == 'edit'">
            <span class="fas fa-lock" style="font-size: 10px;"></span>
          </button>
        </div>
        <span class="optionalCell">*</span>
      </div>
    </div>
    <div class="entryRow">
      <div class="hbox" style="align-items: center;">
        <label class="entryLabel">
          {{'COMMONS.NAME'|translate}}:
          <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.FORMS.NAME_INFO'|translate"></span>
        </label>
        <input type="text" class="form-control" style="flex: 1" [(ngModel)]="name" [disabled]="readOnly">
        <span class="optionalCell">*</span>
      </div>
    </div>
    <div class="entryRow">
      <div class="hbox" style="align-items: center;">
        <label class="entryLabel">
          {{'COMMONS.DESCRIPTION'|translate}}:
          <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.FORMS.DESCRIPTION_INFO'|translate"></span>
        </label>
        <textarea class="form-control" style="flex: 1;" [(ngModel)]="description" [rows]="descriptionTextareaRows" [disabled]="readOnly"></textarea>
        <span class="optionalCell"></span>
      </div>
    </div>
    <div class="entryRow">
      <div class="hbox" style="align-items: center;">
        <label class="entryLabel">
          {{'COMMONS.TYPE'|translate}}:
        </label>
        <select class="form-select" style="flex: 1;" [(ngModel)]="type" [disabled]="cfId">
          <option value="graph">Graph</option>
          <option value="node">Node</option>
        </select>
        <span class="optionalCell">*</span>
      </div>
    </div>
    <div class="entryRow vbox">
      <div class="hbox">
        <label class="entryLabel" style="align-self: center;">
          Ref:
          <span class="fas fa-info-circle"
            [title]="'CUSTOM_FORMS.FORMS.REF_INFO'|translate">
          </span>
        </label>
        <div class="hbox">
          <pearl-editor [(ngModel)]="ref" [disabled]="readOnly">
          </pearl-editor>
          <div class="vbox" style="flex: initial; margin-left: 6px;">
            <button class="btn btn-light btn-sm" (click)="pickConverter()" [disabled]="readOnly">
              {{'COMMONS.ACTIONS.PICK_CONVERTER'|translate}}
            </button>
            <ng-container *ngIf="type == 'graph'">
              <button class="btn btn-light btn-sm mt-2" (click)="inferAnnotations()"
                [title]="'CUSTOM_FORMS.FORMS.INFER_ANNOTATIONS_INFO'|translate" [disabled]="!ref || readOnly">
                {{'CUSTOM_FORMS.ACTIONS.INFER_ANNOTATIONS'|translate}}
              </button>
              <button *ngIf="extractFromShaclAuthorized" class="btn btn-light btn-sm mt-2" (click)="extractFromShacl()"
                [title]="'CUSTOM_FORMS.FORMS.FROM_SHACL_INFO'|translate" [disabled]="readOnly">
                {{'CUSTOM_FORMS.FORMS.FROM_SHACL'|translate}}
              </button>
              <div class="btn-group mt-2" placement="bottom-right" ngbDropdown>
                <button class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                  {{'CUSTOM_FORMS.WIZARD.WIZARD'|translate}}
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <a class="dropdown-item" (click)="openWizard(false)">
                    {{'CUSTOM_FORMS.FORMS.CUSTOM_CONSTRUCTOR'|translate}}
                  </a>
                  <a class="dropdown-item" (click)="openWizard(true)">
                    {{'CUSTOM_FORMS.FORMS.CUSTOM_RANGE'|translate}}
                  </a>
                </div>
              </div>
            </ng-container>
          </div>

        </div>
        <span class="optionalCell">*</span>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <span class="float-start">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="readOnly">Ok</button>
    <button class="btn btn-light btn-sm ms-2" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>