<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">

    <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="'application/xml'"></file-picker>

    <div class="hbox" style="align-items: center; margin-top: 4px">
      <label style="margin-right: 4px;">ID:</label>
      <div>
        <div class="input-group">
          <span class="input-group-text">{{prefix}}</span>
          <input type="text" class="form-control" [(ngModel)]="shortId" [disabled]="useImportedId" [sanitized]="true">
        </div>
      </div>
      <div>
        <div class="hbox" style="align-items: center; margin-left: 4px;">
          <div><input type="checkbox" [(ngModel)]="useImportedId"></div>
          <span style="margin-left: 3px;">{{'CUSTOM_FORMS.COMMONS.USE_ID_OF_IMPORTED'|translate:translationParam}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>