<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal" resizable>
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'CUSTOM_FORMS.FORMS.PEARL_INFERENCE_VALIDATION.PEARL_ANNOTATIONS_INFERENCE'|translate}}</h3>
  </div>
  <div class="modal-body vbox">

    <div class="alert alert-warning" [innerHTML]="'CUSTOM_FORMS.FORMS.PEARL_INFERENCE_VALIDATION.WARNING_MSG'|translate">
    </div>

    <div class="hbox" style="margin-top: 4px;">
      <div class="card vbox">
        <div class="card-header"><label>{{'CUSTOM_FORMS.FORMS.PEARL_INFERENCE_VALIDATION.ORIGINAL_PEARL'|translate}}</label></div>
        <div class="card-body vbox">
          <pearl-editor [ngModel]="oldPearl" [disabled]="true"></pearl-editor>
        </div>
      </div>
      <div class="card vbox" style="margin-left: 5px;">
        <div class="card-header"><label>{{'CUSTOM_FORMS.FORMS.PEARL_INFERENCE_VALIDATION.INFERRED_PEARL'|translate}}</label></div>
        <div class="card-body vbox">
          <pearl-editor [(ngModel)]="newPearl"></pearl-editor>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">{{'COMMONS.ACTIONS.ACCEPT'|translate}}</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.DISCARD'|translate}}</button>
  </div>
</div>