<div class="vbox">

  <ul class="nav nav-tabs" (click)="$event.preventDefault()">
    <li class="nav-item" [ngClass]="{active : currentRoute == 'customService', disabled: !csAuthorized }">
      <a class="nav-link" (click)="currentRoute = 'customService'">{{'CUSTOM_SERVICES.CUSTOM_SERVICES'|translate}}</a>
    </li>
    <li class="nav-item" [ngClass]="{active : currentRoute == 'reporter', disabled: !reporterAuthorized }">
      <a class="nav-link" (click)="currentRoute = 'reporter'">Reports</a>
    </li>
  </ul>

  <!--Tabs content-->
  <div class="tab-content">
    <div *ngIf="csAuthorized" class="tab-pane" [ngClass]="{active : currentRoute == 'customService'}">
      <custom-services-component></custom-services-component>
    </div>
    <div *ngIf="reporterAuthorized" class="tab-pane" [ngClass]="{active : currentRoute == 'reporter'}">
      <invokable-reporters-component></invokable-reporters-component>
    </div>
  </div>
</div>