<div class="card vbox">

  <div class="card-body vbox">

    <div *ngIf="unauthorized" class="alert alert-danger p-2">
      {{'MESSAGES.UNAUTHORIZED_VIEW'|translate}}
    </div>

    <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
      <ng-container *ngFor="let n of nodes; let idx=index">
        <translationset-list-node *ngIf="idx < nodeLimit"
          [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context" [projectCtx]="projectCtx"
          (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
        </translationset-list-node>
      </ng-container>
    </div>

    <loading-div *ngIf="loading"></loading-div>

  </div>

</div>