<div class="vbox scrollableContainer">

  <div class="d-flex align-items-center">
    <select class="form-select" style="width: initial;" [(ngModel)]="selectedConfig" (ngModelChange)="onConfigChanged()" [disabled]="selectedConfigIdOnInit">
      <option *ngFor="let c of configs" [ngValue]="c">{{c.name}}</option>
    </select>
    <input class="form-control ms-2" [ngModel]="path" disabled>
  </div>

  <div class="card mt-2 vbox">
    <div class="card-header">
      <div class="btn-toolbar" style="flex: 1">
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" (click)="levelUp()" [title]="'WIDGETS.STORAGE_MGR.LEVEL_UP'|translate" [disabled]="path == rootPath">
            <span class="fas fa-level-up-alt"></span>
          </button>
        </div>
      </div>
      <div *ngIf="!readonly" class="btn-toolbar">
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" (click)="createDir()" [title]="'WIDGETS.STORAGE_MGR.CREATE_DIR'|translate">
            <span class="fas fa-folder-plus"></span>
          </button>
          <button class="btn btn-light" (click)="uploadFile()" [title]="'WIDGETS.STORAGE_MGR.UPLOAD_FILE'|translate">
            <span class="fas fa-file-upload"></span>
          </button>
        </div>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" (click)="deleteEntry()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!selectedEntry">
            <span class="far fa-trash-alt"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body scrollableContainer vbox" style="min-height: 200px;">
      <div class="hbox">
        <div style="flex: 2">
          <div *ngIf="loading; else dirEntriesBlock" class="spinner-border spinner-border-sm"></div>
          <ng-template #dirEntriesBlock>
            <div *ngFor="let entry of dirEntries" class="listItem d-flex align-items-center" [ngClass]="{ active: selectedEntry == entry }" (click)="selectEntry(entry)" (dblclick)="doubleClickEntry(entry)">
              <div *ngIf="multiselection" style="width: 20px;">
                <input type="checkbox" style="vertical-align: middle" (click)="onEntryChecked(entry)" [checked]="isEntryChecked(entry) || entry['implicitlyChecked']" [disabled]="entry['implicitlyChecked']">
              </div>
              <div class="clickable" (mousedown)="preventSelection($event)" style="flex: 1">
                <span *ngIf="entry.type=='DIRECTORY'" class="far fa-folder"></span>
                <span *ngIf="entry.type=='FILE'" class="far fa-file"></span>
                <span class="ms-2">{{entry.name}}</span>
              </div>
            </div>
          </ng-template>
        </div>
        <div *ngIf="showDetails" class="vbox ms-2" style="flex: 1">
          <file-details [file]="selectedEntry"></file-details>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="input-group">
        <input #searchInput type="text" class="form-control" [(ngModel)]="searchString" (keydown)="onKeydown($event)">
        <button class="btn btn-light" (click)="search()">
          <span class="fas fa-search"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="multiselection" class="card vbox mt-2">
    <div class="card-body scrollableContainer" style="min-height: 100px; max-height: 50vh;">
      <div *ngFor="let entry of selectedEntries" class="listItem d-flex align-items-center" [ngClass]="{ active: selectedEntryPath == entry }" (click)="selectDocsetEntry(entry)">
        <span *ngIf="entry.type=='DIRECTORY'" class="far fa-folder"></span>
        <span *ngIf="entry.type=='FILE'" class="far fa-file"></span>
        <span style="flex: 1;" class="ms-2">{{entry.name}}</span>
        <button class="btn btn-light btn-xs" (click)="removeCheckedEntry(entry)" [title]="'COMMONS.ACTIONS.REMOVE'|translate">
          <span class="fas fa-minus"></span>
        </button>
      </div>
    </div>
    <div class="card-footer">
      <span class="far fa-folder"></span>
      <span class="ms-1">:</span>
      <span class="font-monospace ms-2">{{selectedEntryPath?.['fullPath']}}</span>
    </div>
  </div>

</div>