<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox">

        <div class="card vbox">
            <div class="card-body scrollableContainer" style="min-height: 100px; max-height: 50vh;">
                <div *ngFor="let entry of entries" class="listItem d-flex align-items-center" [ngClass]="{ active: selectedEntry == entry }" (click)="selectEntry(entry)">
                    <div class="clickable" style="flex: 1">
                        <span *ngIf="entry.type=='DIRECTORY'" class="far fa-folder"></span>
                        <span *ngIf="entry.type=='FILE'" class="far fa-file"></span>
                        <span class="ms-2">{{entry.name}}</span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <span class="far fa-folder"></span>
                <span class="ms-1">:</span>
                <span class="font-monospace ms-2">{{entryPath}}</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedEntry">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>

</div>
