<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox scrollableContainer">
        <sep-browser [readonly]="false" [showDetails]="true"  [selectedConfigIdOnInit]="selectedConfigIdOnInit" [multiselection]="multiselection" [selectedEntriesOnInit]="selectedEntriesOnInit" (entriesChanged)="onEntriesChanged($event)"></sep-browser>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>

</div>
