<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'RESOURCE_VIEW.ACTIONS.CHANGE_PROP'|translate}}</h3>
    </div>
    <div class="modal-body vbox">
        <ng-container *ngIf="ready">
            <div *ngIf="isShowAllAuthorized" class="form-check mb-2">
                <input class="form-check-input" id="allCheck" type="checkbox" [(ngModel)]="showAll" (ngModelChange)="onShowAllChanged()">
                <label class="form-check-label" for="allCheck">{{'COMMONS.ACTIONS.SHOW_ALL'|translate}}</label>
            </div>
            
            <property-tree-panel class="mt-2" [roots]="roots" [resource]="subjResForPropTree" [editable]="false" (nodeSelected)="onNodeSelected($event)">
            </property-tree-panel>
        </ng-container>
    </div>
    <div class="modal-footer">
        <div class="form-check" style="float: left;">
            <input class="form-check-input" id="keepCheck" type="checkbox" [(ngModel)]="copy">
            <label class="form-check-label" for="keepCheck">
                {{'RESOURCE_VIEW.MISC.COPY_NOT_REPLACE'|translate}}
            </label>
        </div>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="isOkDisabled()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>