<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox">

    <div class="hbox">
      <class-tree-panel (nodeSelected)="onNodeSelected($event)" [editable]="false"></class-tree-panel>

      <div class="d-grid gap-2 align-self-center m-2">
        <button class="btn btn-light btn-sm" style="margin-bottom: 5px;" (click)="addClassToList()" [disabled]="!selectedTreeClass">
          {{'COMMONS.ACTIONS.ADD'|translate}}<span class="fas fa-chevron-right ms-1"></span>
        </button>
        <button class="btn btn-light btn-sm" style="margin-bottom: 5px;" (click)="removeFromList()" [disabled]="!selectedListElement">
          <span class="fas fa-chevron-left me-1"></span>{{'COMMONS.ACTIONS.REMOVE'|translate}}
        </button>

        <button class="btn btn-light btn-sm" style="margin-top: 20px;" (click)="addExpressionToList()">
          Manchester...<span class="fas fa-chevron-right ms-1"></span>
        </button>
      </div>

      <div class="scrollableContainer" style="border: 1px solid #ddd">
        <div *ngFor="let c of classList">
          <rdf-resource [resource]="c" class="listItem" (click)="onListElementSelected(c)"
            [ngClass]="{selectedResource : isListElementSelected(c)}">
          </rdf-resource>
        </div>
      </div>
    </div>

    <div *ngIf="duplicateResource" class="alert alert-danger" style="margin-top: 4px;" role="alert">
      <strong>{{duplicateResource.getShow()}}</strong> {{'RESOURCE_VIEW.MISC.IS_ALREADY_IN_LIST'|translate}}
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="classList.length == 0">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>