<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox">

        <div style="margin-bottom: 4px;">
            <div class="btn-group btn-group-xs float-end">
                <button *ngFor="let a of aspectSelectors" class="btn btn-light" [ngClass]="{active: selectedAspect == a}"
                    (click)="selectedAspect = a">{{a}}</button>
            </div>
        </div>

        
        <datatype-facets-editor *ngIf="selectedAspect == ASPECT_FACETS" [(ngModel)]="facetsDescription"></datatype-facets-editor>
        <manchester-editor *ngIf="selectedAspect == ASPECT_MANCHESTER" [(ngModel)]="manchExpr" [context]="manchesterCtx"></manchester-editor>
        <data-range-editor *ngIf="selectedAspect == ASPECT_ENUMERATION" [(ngModel)]="literalEnumerations"></data-range-editor>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>