<div class="card">
    <div class="card-body">
        <typed-literal-input [(ngModel)]="value" (keyup.enter)="add()"></typed-literal-input>
    </div>
</div>

<div style="align-self: center">
    <button class="btn btn-xs btn-light" style="align-self: center; margin: 4px" (click)="add()" [disabled]="!value">
        {{'COMMONS.ACTIONS.ADD'|translate}}
    </button>
</div>

<div class="card vbox">
    <div class="card-body scrollableContainer">
        <div *ngFor="let dr of datarange" class="listItem d-flex align-items-center">
            <rdf-resource style="flex: 1" [resource]="dr"></rdf-resource>
            <button class="btn btn-light btn-xs" (click)="remove(dr)">
                <span class="far fa-trash-alt" [title]="'COMMONS.ACTIONS.REMOVE'|translate"></span>
            </button>
        </div>
    </div>
</div>