<div class="vbox">

  <!-- <ul class="nav nav-tabs nav-tabs-xs" (click)="$event.preventDefault()"> -->
  <ul class="nav nav-tabs" (click)="$event.preventDefault()">
    <ng-container *ngIf="tabs.length > 1">
      <ng-container *ngFor="let t of tabs">
        <li class="nav-item" [ngClass]="{ active : activeTab == t.panel }">
          <a class="nav-link" (click)="selectTab(t.panel)" href="#">{{t.label}}</a>
        </li>
      </ng-container>
    </ng-container>
    <li class="nav-item active ms-auto">
      <a (click)="openSettings()" class="nav-link px-2">
        <span class="fas fa-cog"></span>
      </a>
    </li>
  </ul>

  <!--Tabs content-->
  <div class="tab-content">
    <div *ngIf="isTabVisible(DataPanel.cls)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.cls}">
      <class-individual-tree-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </class-individual-tree-panel>
    </div>
    <div *ngIf="isTabVisible(DataPanel.concept)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.concept}" [hidden]="activeTab != DataPanel.concept">
      <concept-tree-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </concept-tree-panel>
    </div>
    <div *ngIf="isTabVisible(DataPanel.conceptScheme)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.conceptScheme}" [hidden]="activeTab != DataPanel.conceptScheme">
      <scheme-list-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </scheme-list-panel>
    </div>
    <div *ngIf="isTabVisible(DataPanel.skosCollection)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.skosCollection}" [hidden]="activeTab != DataPanel.skosCollection">
      <collection-tree-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </collection-tree-panel>
    </div>
    <div *ngIf="isTabVisible(DataPanel.property)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.property}" [hidden]="activeTab != DataPanel.property">
      <property-tree-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </property-tree-panel>
    </div>
    <div *ngIf="isTabVisible(DataPanel.limeLexicon)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.limeLexicon}" [hidden]="activeTab != DataPanel.limeLexicon">
      <lexicon-list-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </lexicon-list-panel>
    </div>
    <div *ngIf="isTabVisible(DataPanel.ontolexLexicalEntry)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.ontolexLexicalEntry}" [hidden]="activeTab != DataPanel.ontolexLexicalEntry">
      <lexical-entry-list-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </lexical-entry-list-panel>
    </div>
    <div *ngIf="isTabVisible(DataPanel.dataRange)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.dataRange}" [hidden]="activeTab != DataPanel.dataRange">
      <datatype-list-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </datatype-list-panel>
    </div>

    <div *ngIf="isTabVisible(DataPanel.custom)" class="tab-pane" [ngClass]="{active : activeTab == DataPanel.custom}" [hidden]="activeTab != DataPanel.custom">
      <custom-tree-panel (nodeSelected)="onNodeSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
        [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
      </custom-tree-panel>
    </div>
  </div>

</div>