<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'DATA.SETTINGS.TREE_LIST_SETTINGS'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <data-panels-settings [(ngModel)]="hiddenDataPanels"></data-panels-settings>

        <custom-tree-settings class="mt-2" [(ngModel)]="customTreeSettings" (settingsReset)="onSettingsReset()"></custom-tree-settings>

        <div class="card mt-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" id="deprecatedCheck" type="checkbox" [(ngModel)]="showDeprecated">
                    <label class="form-check-label" for="deprecatedCheck">{{'DATA.SETTINGS.SHOW_DEPRECATED_RES'|translate}}</label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>