<svg:defs>
  <svg:marker [attr.id]="'arrow'+link.index" [attr.class]="'arrow '+arrowClass" [ngClass]="{ linkSelected: selected }"
    viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="7" markerHeight="7" orient="auto">
    <svg:path d="M1,0 L1,-4 L9,0 L1,4 L1,-4 L1,0"></svg:path>
  </svg:marker>
</svg:defs>


<svg:path [attr.class]="linkClass" [ngClass]="{ 'linkSelected': selected }" style="cursor: pointer;"
  [attr.marker-end]="'url(#arrow' + link.index + ')'" [attr.d]="computePath()" (click)="onClick($event)">
  <title>{{link.res.toNT()}}</title>
</svg:path>

<svg:g [attr.transform]="getLabelTransform()" style="font-size: 9px; cursor: pointer;" (click)="onClick($event)">
  <svg:rect [ngClass]="{ linkSelected: selected }" [attr.x]="-labelRectWidth/2" y="-4" [attr.width]="labelRectWidth" height="8" fill="#ddd"></svg:rect>

  <svg:text #textEl style="visibility: hidden">{{show}}</svg:text>
  <svg:text text-anchor="middle" dominant-baseline="central">{{show}}</svg:text>

  <title>{{link.res.toNT()}}</title>
</svg:g>