<div class="vbox">

  <ul class="nav nav-tabs" (click)="$event.preventDefault()">
    <li *ngFor="let extPt of extPointIds" class="nav-item" [ngClass]="{ active : extPt.id == selectedExtPoint }">
      <a class="nav-link" (click)="selectExtensionPoint(extPt.id)">{{extPt.shortId}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div *ngIf="selectedExtPoint" class="tab-pane active">
      <div class="hbox">

        <div class="card vbox">
          <div class="card-header">
            <label>{{'ADMINISTRATION.SYSTEM.SETTINGS_MGR.SETTINGS_MGR'|translate}}</label>
          </div>
          <div class="card-body vbox scrollableContainer">
            <div *ngFor="let mgr of extPointMap[selectedExtPoint]" class="listItem" [ngClass]="{active: mgr == selectedSettingsMgr}" (click)="selectSettingsMgr(mgr)">
              {{mgr.getShortId()}}
            </div>
          </div>
        </div>

        <div class="card vbox ms-2" style="flex: 4;">
          <div class="card-header">
            <label>{{selectedSettingsMgr?.getShortId()}}</label>
          </div>
          <div class="card-body vbox position-relative">
            <ng-container *ngIf="selectedSettingsMgr">
              <div class="d-flex align-items-center">
                <label>Scope:</label>
                <select class="form-select ms-2" [(ngModel)]="selectedScope" (ngModelChange)="onSelectedScopeChange()">
                  <option *ngFor="let s of selectedSettingsMgrScopes" [ngValue]="s.scope">{{s.label}}</option>
                </select>
              </div>
              <settings-renderer-panel *ngIf="selectedSettings" class="vbox mt-3" [(ngModel)]="selectedSettings"></settings-renderer-panel>
            </ng-container>

            <loading-div *ngIf="loading"></loading-div>

          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-end" (click)="applyChanges()" [disabled]="!selectedSettings">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>