<div class="vbox">

  <div *ngIf="isInitialConfiguration" class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.SYSTEM.INTRO'|translate">
  </div>

  <div class="card vbox">
    <div class="card-body vbox scrollableContainer">

      <!-- Misc setting -->
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-borderless">
            <colgroup>
              <col style="width: 1%;">
              <col style="width: 1%;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.ST_DATA_FOLDER_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.ST_DATA_FOLDER'|translate}}:</label>
                </td>
                <td>
                  <div class="hbox" style="align-items: center;">
                    <input class="form-control" style="margin-right: 4px;" [(ngModel)]="stDataFolder">
                    <button class="btn btn-light btn-sm" (click)="updateDataFolder()" [disabled]="stDataFolder == stDataFolderPristine">
                      {{'COMMONS.ACTIONS.UPDATE'|translate}}
                    </button>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.PRELOAD_THRESHOLD_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.PRELOAD_THRESHOLD'|translate}}:</label>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <datasize-renderer [(ngModel)]="profilerThreshold" style="flex: 1"></datasize-renderer>
                    <button class="btn btn-light btn-sm ms-2" (click)="updateProfilerThreshold()" [disabled]="profilerThreshold == profilerThresholdPristine">
                      {{'COMMONS.ACTIONS.UPDATE'|translate}}
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- E-mail configuration -->
      <div class="card mt-2">
        <div class="card-header">
          <label>{{'ADMINISTRATION.SYSTEM.EMAIL.VB_EMAIL_CONFIG'|translate}}:</label>
        </div>
        <div class="card-body">
          <div class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.SYSTEM.EMAIL.VB_EMAIL_CONFIG_INFO'|translate">
          </div>
          <table *ngIf="emailSettings" class="table table-sm table-borderless">
            <colgroup>
              <col style="width: 1%;">
              <col style="width: 1%;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_URL_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_URL'|translate}}:</label>
                </td>
                <td><input class="form-control" [(ngModel)]="emailSettings.smtp.host"></td>
              </tr>
              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_PORT_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_PORT'|translate}}:</label>
                </td>
                <td><input class="form-control" type="number" [(ngModel)]="emailSettings.smtp.port"></td>
              </tr>

              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.CRYPTOGRAPHIC_PROTOCOL'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.EMAIL.CRYPTOGRAPHIC_PROTOCOL'|translate}}:</label>
                </td>
                <td>
                  <select class="form-select" [(ngModel)]="cryptoProtocol" (ngModelChange)="updateProtocol()">
                    <option>SSL</option>
                    <option>TLS</option>
                    <option>None</option>
                  </select>
                </td>
              </tr>
              <tr *ngIf="emailSettings.smtp.sslEnabled">
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.SSL_PROTOCOLS_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.EMAIL.SSL_PROTOCOLS'|translate}}:</label>
                </td>
                <td>
                  <input class="form-control" [(ngModel)]="emailSettings.smtp.sslProtocols">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.AUTHENTICATION_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.EMAIL.AUTHENTICATION'|translate}}:</label>
                </td>
                <td class="text-center">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="authRadioTrue" type="radio" name="emailAuthRadio" [(ngModel)]="emailSettings.smtp.auth" [value]="true">
                    <label class="form-check-label" for="authRadioTrue">{{'COMMONS.BOOLEAN.TRUE'|translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="authRadioFalse" type="radio" name="emailAuthRadio" [(ngModel)]="emailSettings.smtp.auth" [value]="false">
                    <label class="form-check-label" for="authRadioFalse">{{'COMMONS.BOOLEAN.FALSE'|translate}}</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_FROM_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.EMAIL.MAIL_FROM'|translate}}:</label>
                </td>
                <td><input class="form-control" type="email" [(ngModel)]="emailSettings.from.address"></td>
              </tr>
              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_PASSWORD_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.EMAIL.MAIL_PASSWORD'|translate}}:</label>
                </td>
                <td>
                  <input *ngIf="!emailSettings.smtp.auth; else authBlock" class="form-control" disabled>
                  <ng-template #authBlock>
                    <input type="password" class="form-control" [(ngModel)]="emailSettings.from.password" autocomplete="new-password">
                  </ng-template>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_ALIAS_INFO'|translate"></span>
                </td>
                <td nowrap>
                  <label>{{'ADMINISTRATION.SYSTEM.EMAIL.MAIL_ALIAS'|translate}}:</label>
                </td>
                <td><input class="form-control" [(ngModel)]="emailSettings.from.alias"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer" style="text-align: right;">
          <button class="btn btn-primary btn-sm" (click)="testEmailConfig()">Test</button>
          <button type="submit" class="btn btn-light btn-sm" (click)="updateEmailConfig()" [disabled]="!isEmailConfigChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
        </div>
      </div>

      <!-- Notifications -->
      <div class="card mt-2">
        <div class="card-header">
          <label>{{'ADMINISTRATION.SYSTEM.NOTIFICATIONS.NOTIFICATION_SCHEDULER'|translate}}:</label>
        </div>
        <div class="card-body">
          <div class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.NOTIFICATION_SCHEDULER_INFO'|translate"></div>
          <table class="table table-sm table-borderless">
            <colgroup>
              <col style="width: 1%;">
              <col style="width: 1%;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td><span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.HOURS_OF_DAY_INFO'|translate"></span></td>
                <td nowrap><label>{{'ADMINISTRATION.SYSTEM.NOTIFICATIONS.HOURS_OF_DAY'|translate}}:</label></td>
                <td>
                  <select class="form-select" [(ngModel)]="cronHourOfDay">
                    <option *ngFor="let h of hoursOfDay">{{h}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.TIMEZONE_ID_INFO'|translate"></span></td>
                <td nowrap><label>Time zone:</label></td>
                <td>
                  <div class="hbox">
                    <select class="form-select" [(ngModel)]="timezone">
                      <option *ngFor="let t of timezones">{{t}}</option>
                    </select>
                    <button class="btn btn-sm btn-light" style="margin-left: 4px;" (click)="detectTimezone()" [title]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.DETECT_INFO'|translate">
                      {{'COMMONS.ACTIONS.DETECT'|translate}}
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer" style="text-align: right;">
          <button type="submit" class="btn btn-light btn-sm" (click)="updateNotificationSchedule()"
            [disabled]="!cronHourOfDay || !timezone">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
          <button class="btn btn-warning btn-sm" (click)="disableNotificationSchedule()" [title]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.DISABLE_INFO'|translate"
            [disabled]="!cronHourOfDay && !timezone">{{'COMMONS.ACTIONS.DISABLE'|translate}}</button>
        </div>
      </div>

      <!-- Registration form -->
      <div class="card mt-2">
        <div class="card-header">
          <label>{{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.FORM_FIELDS'|translate}}:</label>
        </div>
        <div class="card-body">

          <div class="card card-alt">
            <div class="card-header">
              <label style="flex: 1;">{{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.OPTIONAL_FIELDS'|translate}}:</label>
            </div>
            <div class="card-body">
              <div class="alert alert-info mb-2">
                {{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.OPTIONAL_FIELDS_INFO'|translate}}
              </div>
              <div *ngFor="let f of optionalFields" class="listItem d-flex align-items-center">
                <button class="btn btn-sm btn-light" (click)="updateOptionalFieldVisibility(f)" [ngClass]="{ active: f.visible }" style="margin-right: 4px;">
                  <span *ngIf="f.visible" class="fas fa-eye"></span>
                  <span *ngIf="!f.visible" class="fas fa-eye-slash"></span>
                </button>
                <input class="form-control" [value]="getOptionalFieldLabel(f)|translate" disabled>
              </div>
            </div>
          </div>

          <div class="card mt-2">
            <div class="card-header">
              <label style="flex: 1;">{{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.CUSTOM_FIELDS'|translate}}:</label>
              <div class="btn-toolbar">
                <div class="btn-group btn-group-xs">
                  <button class="btn btn-light" (click)="moveCustomField('DOWN')" [title]="'COMMONS.ACTIONS.MOVE_DOWN'|translate" [disabled]="!selectedCustomField || customFormFields.indexOf(selectedCustomField)+1 >= customFormFields.length">
                    <span class="fas fa-chevron-down"></span>
                  </button>
                  <button class="btn btn-light" (click)="moveCustomField('UP')" [title]="'COMMONS.ACTIONS.MOVE_UP'|translate" [disabled]="!selectedCustomField || customFormFields.indexOf(selectedCustomField) == 0">
                    <span class="fas fa-chevron-up"></span>
                  </button>
                  <button class="btn btn-light" (click)="removeCustomField()" [title]="'COMMONS.ACTIONS.REMOVE'|translate" [disabled]="!selectedCustomField">
                    <span class="far fa-trash-alt"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.CUSTOM_FIELDS_INFO'|translate:translationParam"></div>
              <table *ngIf="customFormFields" class="table table-sm table-borderless">
                <colgroup>
                  <col style="width: 1%;">
                  <col style="width: 1%;">
                  <col>
                  <col style="width: 1%;">
                  <col>
                </colgroup>
                <tbody>
                  <tr *ngFor="let idx of fieldsIdx;" (click)="selectCustomField(idx)" [ngClass]="{ 'table-primary': selectedCustomField && selectedCustomField == customFormFields[idx] }">
                    <td class="text-center" style="min-width: 30px;"><label>{{idx+1}}</label></td>
                    <td class="text-center">{{'COMMONS.LABEL'|translate}}:</td>
                    <td>
                      <input-editable [value]="customFormFields[idx]?.label" (valueEdited)="renameCustomField(idx, $event)" [disabled]="idx >= customFormFields.length + 1"></input-editable>
                    </td>
                    <td class="text-center">{{'COMMONS.DESCRIPTION'|translate}}:</td>
                    <td>
                      <input-editable [value]="customFormFields[idx]?.description" (valueEdited)="updateCustomFieldDescr(idx, $event)" [disabled]="idx >= customFormFields.length + 1" [allowEmpty]="true"></input-editable>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-check mt-3">
            <input class="form-check-input" id="emailVerificationCheck" type="checkbox" [(ngModel)]="emailVerification" (ngModelChange)="onEmailVerificationChanged()">
            <label class="form-check-label" for="emailVerificationCheck">{{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.EMAIL_VERIFICATION'|translate}}</label>
            <span class="fas fa-info-circle ms-2" [title]="'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.EMAIL_VERIFICATION_INFO'|translate"></span>
          </div>

        </div>
      </div>

      <!-- Home content -->
      <div class="card mt-2">
        <div class="card-header">
          <label>{{'ADMINISTRATION.SYSTEM.HOME_PAGE.HOME_CONTENT'|translate}}:</label>
        </div>
        <div class="card-body">
          <div class="alert alert-info mb-2">
            {{'ADMINISTRATION.SYSTEM.HOME_PAGE.HOME_CONTENT_INFO'|translate}}
          </div>
          <div class="hbox">
            <html-editor [(ngModel)]="homeContent"></html-editor>
            <div style="flex: 1; border: 1px solid #ddd; border-radius: 4px; margin-left: 4px;" [innerHTML]="safeHomeContent"></div>
          </div>
        </div>
        <div class="card-footer" style="text-align: right;">
          <button class="btn btn-primary btn-sm" (click)="previewHomeContent()" [disabled]="!homeContent">{{'COMMONS.PREVIEW'|translate}}</button>
          <button type="submit" class="btn btn-light btn-sm" (click)="updateHomeContent()" [disabled]="!isHomeContentChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
        </div>
      </div>

      <!-- Project creation -->
      <div class="card mt-2">
        <div class="card-header">
          <label>{{'ADMINISTRATION.SYSTEM.PROJ_CREATION.PROJ_CREATION'|translate}}:</label>
        </div>
        <div class="card-body">
          <div class="alert alert-info mb-2">
            {{'ADMINISTRATION.SYSTEM.PROJ_CREATION.PROJ_CREATION_INFO'|translate}}
          </div>
          <table class="table table-borderless">
            <colgroup>
              <col style="width: 1%;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td nowrap>
                  <label>
                    {{'ADMINISTRATION.SYSTEM.PROJ_CREATION.DEFAULT_FOR'|translate}}
                    "{{'PROJECTS.ACL.UNIVERSAL_ACCESS_LEVEL'|translate}}":
                  </label>
                  <span class="fas fa-info-circle ms-2" [ngbPopover]="popContent" triggers="mouseenter:mouseleave"></span>
                  <ng-template #popContent>
                    <div style="width: 350px;">
                      <p>{{'PROJECTS.ACL.UNIVERSAL_ACCESS_LEVEL_INFO'|translate}}</p>
                      <ul>
                        <li><code>R</code>: {{'PROJECTS.ACL.UNIVERSAL_LEVEL_R_INFO'|translate}}</li>
                        <li><code>RW</code>: {{'PROJECTS.ACL.UNIVERSAL_LEVEL_RW_INFO'|translate}}</li>
                        <li><code>EXT</code>: {{'PROJECTS.ACL.UNIVERSAL_LEVEL_EXT_INFO'|translate}}</li>
                      </ul>
                    </div>
                  </ng-template>
                </td>
                <td class="text-center">
                  <select class="form-select" [(ngModel)]="defaultAclUniversalAccess" (ngModelChange)="updateProjectCreationSettings()">
                    <option *ngFor="let l of universalAccessLevels" [ngValue]="l.level">{{l.label}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td nowrap>
                  <label>
                    {{'ADMINISTRATION.SYSTEM.PROJ_CREATION.DEFAULT_FOR'|translate}}
                    "{{'PROJECTS.OPEN_AT_STARTUP'|translate}}":
                  </label>
                </td>
                <td class="text-center">
                  <div class="form-control">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="startupRadioTrue" type="radio" name="startupRadio" [(ngModel)]="defaultOpenAtStartup" (ngModelChange)="updateProjectCreationSettings()" [value]="true">
                      <span class="form-check-label" for="startupRadioTrue">{{'COMMONS.BOOLEAN.TRUE'|translate}}</span>
                    </div>
                    <div class="form-check form-check-inline ms-3">
                      <input class="form-check-input" id="startupRadioFalse" type="radio" name="startupRadio" [(ngModel)]="defaultOpenAtStartup" (ngModelChange)="updateProjectCreationSettings()" [value]="false">
                      <span class="form-check-label" for="startupRadioFalse">{{'COMMONS.BOOLEAN.FALSE'|translate}}</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td nowrap>
                  <label>
                    {{'ADMINISTRATION.SYSTEM.PROJ_CREATION.DEFAULT_FOR'|translate}}
                    {{'PROJECTS.PUBLICLY_ACCESSIBLE'|translate}}
                  </label>
                  <span class="fas fa-info-circle" [title]="'PROJECTS.PUBLICLY_ACCESSIBLE_INFO'|translate"></span>
                </td>
                <td class="text-center">
                  <div class="form-control">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="accessibleRadioTrue" type="radio" name="accessibleRadio" [(ngModel)]="defaultPubliclyAccessible" (ngModelChange)="updateProjectCreationSettings()" [value]="true">
                      <span class="form-check-label" for="accessibleRadioTrue">{{'COMMONS.BOOLEAN.TRUE'|translate}}</span>
                    </div>
                    <div class="form-check form-check-inline ms-3">
                      <input class="form-check-input" id="accessibleRadioFalse" type="radio" name="accessibleRadio" [(ngModel)]="defaultPubliclyAccessible" (ngModelChange)="updateProjectCreationSettings()" [value]="false">
                      <span class="form-check-label" for="accessibleRadioFalse">{{'COMMONS.BOOLEAN.FALSE'|translate}}</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Experimental feature -->

      <div class="card mt-2">
        <div class="card-header">
          <label>{{'ADMINISTRATION.SYSTEM.OTHER.OTHER_SETTINGS'|translate}}</label>
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" id="codaProvisioningCheck" type="checkbox" [(ngModel)]="codaProvisioningEnabled" (ngModelChange)="onCodaProvisioningEnabledChanged()">
            <label class="form-check-label" for="codaProvisioningCheck">{{'ADMINISTRATION.SYSTEM.OTHER.ENABLE_CODA_PROVISIONING'|translate}}</label>
            <span class="fas fa-info-circle ms-2" [title]="'ADMINISTRATION.SYSTEM.OTHER.ENABLE_CODA_PROVISIONING_INFO'|translate"></span>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" id="expFeatureCheck" type="checkbox" [(ngModel)]="expFeatEnabled" (ngModelChange)="onExpFeatEnabledChanged()">
            <label class="form-check-label" for="expFeatureCheck">{{'ADMINISTRATION.SYSTEM.OTHER.ENABLE_EXPERIMENTAL_FEATURES'|translate}}</label>
            <span class="fas fa-info-circle ms-2" [title]="'ADMINISTRATION.SYSTEM.OTHER.ENABLE_EXPERIMENTAL_FEATURES_INFO'|translate"></span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <button *ngIf="isInitialConfiguration" class="btn btn-sm btn-primary" style="margin-top: 6px; align-self: flex-end" (click)="ok()">Done</button>

</div>