<div class="card d-flex flex-column flex-fill">

    <div class="card-header">
        <label>{{'ADMINISTRATION.SYSTEM.DEFAULTS.USER'|translate}}</label>
    </div>

    <div class="card-body d-flex flex-column overflow-auto" style="gap: 8px;">

        <div info class="alert alert-info">
            {{'ADMINISTRATION.SYSTEM.DEFAULTS.USER_INFO'|translate}}
        </div>


        <div class="card">
            <div class="card-header">
                <label>
                    {{'PROJECTS.CONFIG.PROJ_VIEW_SETTINGS'|translate}}
                </label>
            </div>
            <div class="card-body">
                <projects-view-settings [(ngModel)]="projVisualization" (ngModelChange)="onProjVisualizationChanged()">
                    <tr>
                        <td>
                            <label>{{'COMMONS.RENDERING'|translate}}</label>
                            <span class="fas fa-info-circle ms-2" [title]="'PROJECTS.CONFIG.RENDERING_INFO'|translate"></span>
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="projectRendering" (ngModelChange)="onProjRenderingChanged()">
                        </td>
                    </tr>
                </projects-view-settings>
            </div>
        </div>



    </div>

</div>