<div class="treeNode" #treeNodeElement>
  <div class="expandCollapseBtnContainer">
    <ng-container *ngIf="showExpandCollapseBtn">
      <img *ngIf="!open" src="./assets/images/icons/arrow.png" class="arrow-right"
        (click)="expandNode().subscribe()">
      <img *ngIf="open" src="./assets/images/icons/arrow.png" (click)="collapseNode()">
    </ng-container>
  </div>
  <rdf-resource #rdfRes [resource]="node" [rendering]="rendering" (click)="selectNode($event)"
    [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}" tabindex="0" (keydown)="keyHandler($event)"></rdf-resource>
  <input *ngIf="multiselection" type="checkbox" style="margin-left: 5px;" [(ngModel)]="checked"
    (ngModelChange)="onNodeCheckChange()">
</div>

<div class="subTree" *ngIf="node.getAdditionalProperty('more')==1">
  <collection-tree-node *ngFor="let n of children"
    [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated"
    [context]="context" [projectCtx]="projectCtx"
    (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)"
    (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
  </collection-tree-node>
</div>