<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'USER.PASSWORD.CHANGE_PASSWORD'|translate}}</h3>
    </div>
    <div class="modal-body">

        <div class="alert alert-warning" [innerHTML]="'ADMINISTRATION.USERS.FORCE_PASSWORD_WARNING'|translate:translationParam">
        </div>

        <div class="d-flex align-items-center mt-2">
            <label style="margin-right: 4px;">{{'USER.PASSWORD.NEW_PASSWORD'|translate}}:</label>
            <input type="password" class="form-control" style="flex: 1;" [(ngModel)]="password">
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>