<div class="vbox">

     <div class="card vbox">

        <div class="card-body hbox"> 
            <users-list style="flex: 2" (userSelected)="onUserSelected($event)"></users-list>

            <div *ngIf="selectedUser" class="vbox" style="flex: 5; margin-left: 5px;">
                <div class="btn-group float-end" style="align-self: flex-end; margin-bottom: 4px;">
                    <button *ngFor="let selector of aspectSelectors" class="btn btn-light" [ngClass]="{active: selectedAspectSelector == selector}"
                        (click)="selectedAspectSelector = selector">{{selector}}</button>
                </div>

                <div class="card vbox" *ngIf="selectedAspectSelector == userDetailsAspect">
                    <div class="card-body vbox">
                        <user-details-panel [user]="selectedUser" (deleted)="onUserDeleted()">
                        </user-details-panel>
                        <div class="card" style="margin-top: 8px">
                            <div class="card-body hbox" style="align-items: center;">
                                <label>{{'ADMINISTRATION.USERS.ASSIGNED_TO_PROJECTS'|translate}}:</label>
                                <div class="d-flex flex-grow-1 align-items-center tile-group ms-2" style="flex-wrap: nowrap; overflow: auto;">
                                    <span *ngIf="selectedUser.isAdmin(); else notAdminBlock" style="margin-left: 4px;">
                                        {{'ADMINISTRATION.USERS.ADMIN_ASSIGNED_PROJECTS_INFO'|translate}}
                                    </span>
                                    <ng-template #notAdminBlock>
                                        <span *ngFor="let p of userProjects" class="tile">{{p}}</span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card vbox" *ngIf="selectedAspectSelector == rvTemplateAspect">
                    <div class="card-header">
                        <label style="flex: 1;">Template</label>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-light" (click)="storeTemplate()" [title]="'COMMONS.ACTIONS.STORE'|translate">
                                    <span class="fas fa-download"></span>
                                </button>
                                <button class="btn btn-light" (click)="loadTemplate()" [title]="'COMMONS.ACTIONS.LOAD'|translate">
                                    <span class="fas fa-upload"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body vbox">
                        <div class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.USERS.TEMPLATE_INFO'|translate"></div>
                        <section-filter-editor [(ngModel)]="sectionFilter" [template]="template" (ngModelChange)="updateTemplate()"></section-filter-editor>
                    </div>
                </div>
                
            </div>

         </div>

    </div> 

</div>