<div class="vbox">

  <div class="card">
    <div class="card-body" style="padding: 3px;">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr style="margin-bottom: 4px">
            <td style="width: 1%" class="text-end" nowrap><label>{{'ALIGNMENT.VALIDATION.FROM_FILE.ALIGN_FILE'|translate}}:</label></td>
            <td>
              <div class="hbox">
                <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="'application/rdf+xml'"></file-picker>
                <button class="btn btn-light" style="margin-left: 4px;" (click)="loadAlignment()"
                  [disabled]="!alignmentFile" [title]="'COMMONS.ACTIONS.RELOAD'|translate">
                  <span class="fas fa-redo"></span>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 1%" class="text-end" nowrap><label>{{'ALIGNMENT.VALIDATION.FROM_FILE.LEFT_ONTO_URI'|translate}}:</label></td>
            <td><input type="text" class="form-control" [ngModel]="sourceBaseURI" disabled></td>
          </tr>
          <tr>
            <td style="width: 1%" class="text-end" nowrap><label>{{'ALIGNMENT.VALIDATION.FROM_FILE.RIGHT_ONTO_URI'|translate}}:</label></td>
            <td><input type="text" class="form-control" [ngModel]="targetBaseURI" disabled></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <alignment-management style="margin-top: 4px;" *ngIf="alignmentOverview" [overview]="alignmentOverview" [leftProject]="leftProject"></alignment-management>

</div>