<div class="card vbox" tabindex="0">

  <div class="card-header" style="display: flex;">
    <label style="flex: 1">{{'ALIGNMENT.VALIDATION.MANAGEMENT.ALIGNMENTS'|translate}}:</label>
    <button class="btn btn-light btn-xs" style="margin-right: 4px;" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate"
      (click)="toggleRendering()">
      <span class="fas fa-font"></span>
    </button>
    <button class="btn btn-light btn-xs" (click)="openSettings()">
      <span class="fas fa-cog"></span>
    </button>
  </div>

  <div class="card-body vbox scrollableContainer blockingDivHost">

    <div class="scrollableContainer" style="border: 1px solid #ddd">
      <table class="table table-sm table-hoverable">
        <thead>
          <tr>
            <th class="text-center">{{'ALIGNMENT.VALIDATION.MANAGEMENT.LEFT_ENTITY'|translate}}</th>
            <th class="text-center">{{'ALIGNMENT.VALIDATION.MANAGEMENT.RIGHT_ENTITY'|translate}}</th>
            <th class="text-center">{{'COMMONS.RELATION'|translate}}</th>
            <th class="text-center">{{'ALIGNMENT.VALIDATION.MANAGEMENT.MAPPING_PROP'|translate}}</th>
            <th class="text-center" style="width: 1%">{{'COMMONS.ACTIONS.ACTION'|translate}}</th>
            <th class="text-center" style="width: 1%">{{'STATUS.STATUS'|translate}}</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let a of alignmentCellList; let i=index;" (click)="selectAlignment(a)" [ngClass]="{ 'table-primary': selectedAlignment == a }">
            <td>
              <span class="clickable" (dblclick)="openResView(a.getEntity1(), false)">
                <rdf-resource [resource]="a.getEntity1()" [rendering]="rendering"></rdf-resource>
              </span>
            </td>
            <td>
              <span class="clickable" (dblclick)="openResView(a.getEntity2(), true)">
                <rdf-resource [resource]="a.getEntity2()" [rendering]="rendering"></rdf-resource>
              </span>
            </td>
            <td style="position: relative"
              (mouseover)="editRel.style.display='initial'" (mouseout)="editRel.style.display='none'">
              <div class="progress" [ngClass]="{ 'large-progress' : unknownRelation }" style="min-width: 100px;">
                <div class="progress-bar bg-success" [ngStyle]="{'width': a.getMeasure()*100+'%'}">
                  <span class="progress-value" [title]="a.getRelation()+' ('+a.getMeasure()+')'">
                    {{getRelationRendered(a)}}
                  </span>
                </div>
              </div>
              <div #editRel class="btn-group" style="position: absolute; top: 0; right: 0; display: none;" ngbDropdown>
                <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle>
                  <span class="fas fa-caret-down fa-sm"></span>
                </button>
                <div class="dropdown-menu float-end" ngbDropdownMenu>
                  <a *ngFor="let rel of relationSymbols" class="dropdown-item text-nowrap" (click)="changeRelation(a, rel.relation)">
                    <div class="hbox">
                      <span style="flex:1">{{rel.relation}}</span>
                      <span *ngIf="a.getRelation() == rel.relation" style="margin-left: 3px;" class="fas fa-check"></span>
                    </div>
                  </a>
                </div>
              </div>
            </td>
            <td>
              <span *ngIf="a.getMappingProperty()">
                <div class="btn-group" [ngClass]="{ dropup : i > alignmentCellList.length/2 }" ngbDropdown>
                  <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" (click)="initSuggestedMappingProperties(a)" ngbDropdownToggle>
                    {{a.getMappingProperty().getShow()}}
                    <span class="fas fa-caret-down fa-sm"></span>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <a *ngFor="let sp of a.getSuggestedMappingProperties()" class="dropdown-item text-nowrap" (click)="changeMappingProperty(a, sp)">
                      {{sp.getShow()}}
                      <span *ngIf="sp.getShow() == a.getMappingProperty().getShow()" class="fas fa-check"></span>
                    </a>
                  </div>
                </div>
              </span>
            </td>
            <td>
              <span style="white-space: nowrap">
                <button class="btn btn-success btn-xs" (click)="acceptAlignment(a).subscribe()">
                  {{'COMMONS.ACTIONS.ACCEPT'|translate}} <span class="fas fa-check-circle"></span>
                </button>
                <button class="btn btn-danger btn-xs ms-2" (click)="rejectAlignment(a).subscribe()">
                  {{'COMMONS.ACTIONS.REJECT'|translate}} <span class="fas fa-times-circle"></span>
                </button>
              </span>
            </td>
            <td style="font-size: 14px;">
              <span *ngIf="a.getStatus() == 'accepted'" class="fas fa-check" style="color: #5cb85c"></span>
              <span *ngIf="a.getStatus() == 'rejected'" class="fas fa-times" style="color: #d9534f"></span>
              <span *ngIf="a.getStatus() == 'error'" class="fas fa-exclamation-triangle" style="color: #f0ad4e"
                [title]="a.getComment()"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="totPage && totPage != 1">
      <div class="btn-group btn-group-xs float-end" style="margin-top: 4px;" role="group">
        <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="prevPage()" [disabled]="page==0">
          <span class="fas fa-caret-left"></span>
        </button>
        <button class="btn btn-light" style="cursor: auto" disabled>
          <span>{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{totPage}}</span>
        </button>
        <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="nextPage()" [disabled]="page==totPage-1">
          <span class="fas fa-caret-right"></span>
        </button>
      </div>
    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
      <div class="loadingDiv">
        <div>
          <p>Loading...</p><img src="./assets/images/loading.gif" />
        </div>
      </div>
    </div>

  </div>

  <div class="card-footer">
    <span>
      <label>{{'ALIGNMENT.VALIDATION.MANAGEMENT.QUICK_ACTIONS'|translate}}:</label>

      <select class="form-select form-select-sm ms-2" style="width: auto; display: inline-block" [(ngModel)]="chosenQuickAction"
        [disabled]="alignmentCellList.length == 0">
        <option *ngFor="let qa of quickActionList">{{qa}}</option>
      </select>
      <input *ngIf="chosenQuickAction.includes('threshold')"
        class="form-control form-control-sm ms-2" style="width: auto; display: inline-block"
        type="number" min="0" max="1" step="0.01" [(ngModel)]="threshold">
      <button class="btn btn-light btn-sm ms-2" [disabled]="chosenQuickAction=='---'" (click)="doQuickAction()">
        {{'COMMONS.ACTIONS.DO_QUICK_ACTION'|translate}}
      </button>
    </span>
    <span class="float-end">
      <button class="btn btn-light btn-sm" (click)="applyValidation()" [disabled]="alignmentCellList.length == 0">
        <span *ngIf="!isEdoal">{{'ALIGNMENT.ACTIONS.APPLY_TO_DATASET'|translate}}</span>
        <span *ngIf="isEdoal">{{'ALIGNMENT.ACTIONS.APPLY_TO_EDOAL'|translate}}</span>
      </button>
      <button class="btn btn-light btn-sm ms-2" (click)="export()" [disabled]="alignmentCellList.length == 0">
        {{'COMMONS.ACTIONS.SAVE'|translate}}
      </button>
    </span>
  </div>

</div>