<div class="card vbox">
  <div class="card-header">
    <label>{{'ALIGNMENT.VALIDATION.ALIGNMENT_VALIDATION'|translate}}:</label>
  </div>

  <div class="card-body vbox">
    <div style="display: flex; align-items: center; margin-bottom: 8px;">
      <label style="margin-right: 4px;">{{'COMMONS.SOURCE'|translate}}:</label>
      <select class="form-select" [(ngModel)]="selectedSource">
        <option *ngFor="let source of alignmentSources">{{source}}</option>
      </select>
    </div>

    <alignment-file *ngIf="selectedSource == sourceFile"></alignment-file>
    <alignment-remote *ngIf="selectedSource == sourceRemoteSystem"></alignment-remote>

  </div>

</div>