<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
        <button class="btn-close" (click)="close()"></button>
    </div>
    <div class="modal-body">

        <div *ngIf="message" class="alert alert-info mb-2">
            {{message}}
        </div>

        <a [href]="safeDownloadLink" [download]="fileName">Download</a>

    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    </div>
</div>