<div class="treeNode" #treeNodeElement>
	<div class="expandCollapseBtnContainer">
		<ng-container *ngIf="showExpandCollapseBtn">
			<img *ngIf="!open" src="./assets/images/icons/arrow.png" class="arrow-right"
				(click)="expandNode().subscribe()">
			<img *ngIf="open" src="./assets/images/icons/arrow.png" (click)="collapseNode()">
		</ng-container>
	</div>
	<rdf-resource #rdfRes [resource]="node" [rendering]="rendering" (click)="selectNode($event)"
		[ngClass]="{selectedResource : node.getAdditionalProperty('selected')}" tabindex="0" (keydown)="keyHandler($event)"></rdf-resource>
	<input *ngIf="multiselection" type="checkbox" style="margin-left: 5px;" [(ngModel)]="checked"
		(ngModelChange)="onNodeCheckChange()">
</div>

<div class="subTree" *ngIf="node.getAdditionalProperty('more')==1">
	<ng-container *ngFor="let n of children">
		<concept-tree-node [node]="n"
			[projectCtx]="projectCtx" [schemes]="schemes" [rendering]="rendering" [multiselection]="multiselection"
			[showDeprecated]="showDeprecated" [context]="context" (nodeSelected)="onNodeSelected($event)"
			(nodeChecked)="onNodeChecked($event)" (nodeExpandStart)="onNodeExpandStart()"
			(nodeExpandEnd)="onNodeExpandEnd()">
		</concept-tree-node>
	</ng-container>
</div>