<div class="card vbox">

  <div class="card-body vbox">

    <div *ngIf="unauthorized" class="alert alert-danger m-2">
      {{'MESSAGES.UNAUTHORIZED_VIEW'|translate}}
    </div>

    <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">

      <div *ngIf="visualizationMode == 'searchBased' && !nodes" class="alert alert-warning mb-1">
        {{'DATA.CONCEPT.USE_SEARCH_MSG'|translate}}.
        <ng-container *ngIf="context=='addPropValue' && forceVisualizationMode != 'searchBased'">
          <br /><br />
          <a style="font-size: .9rem;" (click)="switchMode.emit(ConceptTreeVisualizationMode.hierarchyBased); false" href>{{'DATA.CONCEPT.SWITCH_TO_HIERARCHY_MODE'|translate}}</a>
        </ng-container>
      </div>

      <ng-container *ngIf="safeToGo.safe; then safetyBlock else unsafetyBlock"></ng-container>

      <ng-template #safetyBlock>
        <ng-container *ngFor="let n of nodes; let idx = index">
          <concept-tree-node *ngIf="idx < nodeLimit"
            [node]="n" [projectCtx]="projectCtx" [schemes]="schemes" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context"
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)" (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
          </concept-tree-node>
        </ng-container>
      </ng-template>

      <ng-template #unsafetyBlock>
        <div class="alert alert-warning">
          {{'DATA.CONCEPT.UNSAFE_WARN.ELEMENT_COUNT'|translate:translationParam}}
          {{'DATA.CONCEPT.UNSAFE_WARN.PERFORMANCE_ISSUE'|translate}}<br>
          {{'DATA.CONCEPT.UNSAFE_WARN.IT_IS_RECOMMENDED'|translate}}
          <a (click)="switchMode.emit(ConceptTreeVisualizationMode.searchBased); false" href>{{'DATA.CONCEPT.UNSAFE_WARN.SWITCH_MODE'|translate}}</a>.<br>
          <ng-container *ngIf="!schemes || schemes.length == 0">
            {{'DATA.CONCEPT.UNSAFE_WARN.SELECT_SCHEME'|translate}}<br>
          </ng-container>
          {{'DATA.CONCEPT.UNSAFE_WARN.FORCE_INIT'|translate}}
          <a (click)="forceSafeness(); false" href>{{'DATA.CONCEPT.UNSAFE_WARN.HERE'|translate}}</a>.
        </div>
      </ng-template>

    </div>

    <loading-div *ngIf="loading"></loading-div>

  </div>
</div>