<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <div class="d-flex align-items-center">
            <h3 class="modal-title" style="flex: 1">{{title}}</h3>
            <button *ngIf="schemes.length > 0" class="btn btn-light btn-bright btn-xs" [title]="'COMMONS.RENDERING'|translate" (click)="rendering = !rendering" [ngClass]="{active: rendering}">
                <span class="fas fa-font"></span>
            </button>
        </div>
    </div>
    <div class="modal-body vbox">
        <div class="alert alert-info">
            <ng-container *ngIf="schemes.length > 0">
                <p [innerHTML]="'MESSAGES.SEARCHED_CONCEPT_IN_OTHER_SCHEME.0'|translate"></p>
                <resource-list-selection class="bg-light my-2" [resources]="schemes" [selectedResources]="selectedResources" [rendering]="rendering" (nodeSelected)="onResourceSelected($event)">
                </resource-list-selection>
                <p [innerHTML]="'MESSAGES.SEARCHED_CONCEPT_IN_OTHER_SCHEME.1'|translate"></p>
            </ng-container>
            <ng-container *ngIf="schemes.length == 0">
                {{'MESSAGES.SEARCHED_CONCEPT_IN_NO_SCHEME'|translate}}
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="changeSchemes()" [disabled]="schemes.length > 0 && !selectedScheme">Switch scheme</button>
        <button class="btn btn-primary btn-sm" (click)="openInDialog()">Open in dialog</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>