<div class="groupPanel" style="margin-top: 15px;">
  <div *ngIf="term.object" class="groupPanel-heading">
    <label class="groupPanel-heading-content" style="font-size: 9px;">{{term.object['qname']}}</label>
  </div>

  <div class="groupPanel-body">
    <div class="term-wrap">
      <label [ngClass]="term?.isPrefLabel ? 'text-primary' : 'text-secondary'" [title]="term.predicate.getShow()" style="font-size: 13px;">{{'RESOURCE_VIEW.TERM_VIEW.TERM'|translate}}:</label>
      <inline-editable-value style="flex: 1; margin-left: 4px;" [focusOnInit]="focus" [value]="term.object" (edited)="onValueEdited($event)"
        [disabled]="!editTermAuthorized || readonly">
      </inline-editable-value>
      <button class="btn btn-xs btn-faded ms-1" (click)="deleteTermBox()" [disabled]="!deleteTermAuthorized || readonly" [title]="'COMMONS.ACTIONS.DELETE'|translate">
        <span class="fas fa-minus" style="font-size: 9px;"></span>
      </button>
    </div>
  </div>
</div>