<div class="row p-1" [ngClass]="{ 'inferred' : triple.tripleScope == 'inferred' }" style="position: relative;">
  <div class="col-sm-4 text-center"><rdf-resource [resource]="triple.subject" class="clickable" [rendering]="rendering" (dblclick)="onResourceDblClick(triple.subject)"></rdf-resource></div>
  <div class="col-sm-4 text-center"><rdf-resource [resource]="triple.predicate" class="clickable" [rendering]="rendering" (dblclick)="onResourceDblClick(triple.predicate)"></rdf-resource></div>
  <div class="col-sm-4 text-center"><rdf-resource [resource]="triple.object" class="clickable" [rendering]="rendering" (dblclick)="onResourceDblClick(triple.object)"></rdf-resource></div>
  <button *ngIf="triple.tripleScope == 'inferred'" class="btn btn-light btn-xs" [ngClass]="{ active: showExplanation }" style="position: absolute; right: 2px;"
    (click)="explain()" [title]="'RESOURCE_VIEW.ACTIONS.EXPLAIN_INFERRED_STATEMENT'|translate">
    <span class="fas fa-question-circle"></span>
  </button>
  <button *ngIf="deletable && triple.tripleScope == 'local'" class="btn btn-light btn-xs" style="position: absolute; right: 2px;"
    (click)="deleteTriple()" [title]="'COMMONS.ACTIONS.DELETE'|translate">
    <span class="far fa-trash-alt"></span>
  </button>
</div>

<div *ngIf="showExplanation && explanation" class="card m-2">
  <div class="card-body">
    <explainable-triple *ngFor="let t of explanation.premises" [triple]="t" [rendering]="rendering" [deletable]="deletable" (delete)="onDelete()"></explainable-triple>
  </div>
</div>