<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'ICV.STRUCTURAL.OWL_CONSISTENCY_VIOLATION.INFERENCE_EXPLANATION'|translate}}</h3>
    </div>
    <div class="modal-body scrollableContainer">
        <div class="card">
            <div class="card-header">
                <label style="flex: 1;"></label>
                <button class="btn btn-light btn-xs" [title]="'COMMONS.RENDERING'|translate" (click)="rendering=!rendering" [ngClass]="{ 'active': rendering }">
                    <span class="fas fa-font"></span>
                </button>
            </div>
            <div class="card-body">
                <explainable-triple [triple]="triple" [explainAtInit]="true" [rendering]="rendering"></explainable-triple>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-light btn-sm" (click)="ok()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
    </div>
</div>