<div class="card vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.STRUCTURAL.OWL_CONSISTENCY_VIOLATION.NAME'|translate}}</label>
        
        <button *ngIf="violations" class="btn btn-light btn-xs me-2" [title]="'COMMONS.RENDERING'|translate" (click)="rendering=!rendering" [ngClass]="{ 'active': rendering }">
            <span class="fas fa-font"></span>
        </button>

        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'COMMONS.ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">

        <div *ngIf="violations" class="row">
            <div class="col-sm-4 text-center">
                <label>{{'MODELS.RESOURCE.SUBJECT'|translate}}</label>
            </div>
            <div class="col-sm-4 text-center">
                <label>{{'MODELS.RESOURCE.PREDICATE'|translate}}</label>
            </div>
            <div class="col-sm-4 text-center">
                <label>{{'MODELS.RESOURCE.OBJECT'|translate}}</label>
            </div>
        </div>

        <div *ngIf="violations" class="vbox">
            <div *ngFor="let v of violations" class="card mt-2">
                <div class="card-body">
                    <explainable-triple *ngFor="let t of v.inconsistentTriples" [triple]="t" [deletable]="true" [rendering]="rendering" (delete)="onDelete()"></explainable-triple>
                </div>
            </div>

            <div style="flex: 1;"></div>
            <div class="alert alert-warning mt-2">
                {{'ICV.STRUCTURAL.OWL_CONSISTENCY_VIOLATION.DELETE_TRIPLE_WARNING'|translate}}
            </div>
        </div>
        
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>



