<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'PROJECTS.ACL.PROJECT_ACL'|translate}}</h3>
  </div>
  <div class="modal-body vbox position-relative">
    <div class="scrollableContainer">
      <table class="table table-sm table-bordered border-light-subtle m-auto w-auto">
        <thead>
          <tr class="border-0">
            <th class="firstCol border-0 align-bottom">
              <div class="hbox">
                <div style="flex: 1"><span class="fas fa-chevron-down"></span> {{'MODELS.PROJECT.PROJECTS'|translate}}</div>
                <div class="ms-4">{{'MODELS.PROJECT.CONSUMER'|translate}} <span class="fas fa-chevron-right"></span></div>
              </div>
            </th>
            <th *ngFor="let cons of consumerList" class="rotate" [title]="cons">
              <div class="rotated-container">
                <div class="consumer-container">
                  <span class="consumer-text">{{cons}}</span>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of aclTable">
            <tr>
              <td class="firstCol fw-bold">
                <div class="hbox align-items-center">
                  <div class="ellipsable" style="flex: 1;">{{row.project}}</div>
                  <button class="btn btn-light btn-xs float-end ms-3" [title]="'PROJECTS.ACTIONS.SHOW_ACL_MATRIX'|translate" (click)="editProjectACL(row.project)">
                    <span class="fas fa-pencil-alt"></span>
                  </button>

                  <span [class]="row.lock.class + ' ms-2'" [title]="row.lock.title">
                    {{row.lock.status.availableLockLevel}}
                  </span>
                </div>
              </td>
              <td *ngFor="let col of row.cols" [class]="col.accessLevelCell.class" [title]="col.accessLevelCell.title">
                {{col.accessLevelCell.available}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </div>

    <loading-div *ngIf="loading"></loading-div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
  </div>
</div>