<div class="d-flex align-items-center">

  <div style="flex: 1; border-radius: 3px;" [ngClass]="{ proposedAddRes: proposedAdd, proposedRemoveRes: proposedRemove }">
    <inline-editable-value *ngFor="let wr of form.writtenRep" [value]="wr" [textStyle]="inlineEditStyle" [disabled]="!editWrittenRepFormAuthorized"
      (edited)="onWrittenRepEdited($event)">
    </inline-editable-value>
  </div>

  <div class="dropdown ms-1" ngbDropdown>
    <button class="btn btn-faded btn-xs dropdown-toggle" data-toggle="dropdown" [disabled]="readonly" ngbDropdownToggle>
      <span class="fas fa-pencil-alt"></span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <a class="dropdown-item" (click)="addMorphosintacticProp()" [ngClass]="{ disabled: !addMorphoPropAuthorized }">
        {{'DATA.ACTIONS.ADD_MORPHOSYNTACTIC_PROP'|translate}}
      </a>
      <a class="dropdown-item" (click)="addPhoneticRep()" [ngClass]="{ disabled: !addPhoneticRepAuthorized }">
        {{'DATA.ACTIONS.ADD_PHONETIC_REPRESENTATION'|translate}}
      </a>
    </div>
  </div>
  <button *ngIf="!lemma" class="btn btn-xs btn-faded ms-1" (click)="deleteForm()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!removeFormAuthorized">
    <span class="fas fa-minus"></span>
  </button>
</div>

<!-- Phonetic rep -->
<div class="ms-4">
  <!-- visualization and editing -->
  <phonetic-rep *ngFor="let pr of form.phoneticRep" class="mt-1" [form]="form" [phoneticRep]="pr" (update)="onUpdate()"></phonetic-rep>
  <!-- addition -->
  <phonetic-rep *ngIf="pendingPhoneticRep" class="mt-1" [form]="form" (dismiss)="onPendingPhoneticRepCanceled()" (update)="onUpdate()"></phonetic-rep>
</div>

<!-- morphosyntactic properties -->
<div class="ms-4">
  <!-- visualization and editing -->
  <ng-container *ngFor="let mp of form.morphosyntacticProps">
    <morphosyntactic-prop *ngFor="let mv of mp.getObjects()" [resource]="form.id" [property]="mp.getPredicate()" [value]="mv.asURIResource()"
      [lexViewCache]="lexViewCache" [readonly]="readonly" (update)="onUpdate()">
    </morphosyntactic-prop>
  </ng-container>
  <!-- addition -->
  <morphosyntactic-prop *ngIf="pendingMorphoProp" [resource]="form.id" [lexViewCache]="lexViewCache"
    (update)="onUpdate()" (dismiss)="onPendingMorphPropCanceled()">
  </morphosyntactic-prop>
</div>