<ng-container *ngIf="property && value; then visualizationBlock; else creationBlock"></ng-container>
<!-- visualization and editing -->
<ng-template #visualizationBlock>
  <div class="d-flex align-items-center mt-1">
    <label *ngIf="!hideProp" [title]="property.toNT()">{{property.getLocalName()}}:</label>
    <div class="d-flex align-items-center ms-1">
      <ng-container *ngIf="editing; then editingBlock; else showBlock"></ng-container>
      <ng-template #showBlock>
        <span class="clickable form-control form-control-editable" [ngClass]="ngClassValue" [title]="value.toNT()" (click)="editValue()">{{value.getLocalName()}}</span>
      </ng-template>
      <ng-template #editingBlock>
        <resource-picker *ngIf="values?.length == 0" [resource]="selectedValue" (resourceChanged)="selectedValue = $event" [editable]="true"></resource-picker>
        <select *ngIf="values?.length > 0" class="form-select" style="width: initial;" [(ngModel)]="selectedValue">
          <option *ngFor="let v of values" [ngValue]="v">{{v.getLocalName()}}</option>
        </select>
        <div class="text-nowrap ms-1">
          <button class="btn btn-success btn-xs" style="width: 22px;" (click)="confirmEdit()" [disabled]="!selectedValue">
            <span class="fas fa-check"></span>
          </button>
          <button class="btn btn-danger btn-xs ms-1" style="width: 22px;" (click)="cancelEdit()">
            <span class="fas fa-times"></span>
          </button>
        </div>
      </ng-template>
    </div>
    <button class="btn btn-xs btn-faded ms-2" (click)="deleteValue()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!deleteAuthorized">
      <span class="fas fa-minus"></span>
    </button>
  </div>
</ng-template>
<!-- creation -->
<ng-template #creationBlock>
  <div class="d-flex align-items-center mt-1">
    <select class="form-select" style="width: initial;" [(ngModel)]="selectedProp" (ngModelChange)="onPropChanged()">
      <option *ngFor="let p of properties" [ngValue]="p">{{p.getLocalName()}}</option>
    </select>
    <div *ngIf="values" class="ms-1">
      <resource-picker *ngIf="values.length == 0" [resource]="selectedValue" (resourceChanged)="selectedValue = $event" [editable]="true" [disabled]="!selectedProp"></resource-picker>
      <select *ngIf="values.length > 0" class="form-select" style="width: initial;" [(ngModel)]="selectedValue" [disabled]="!selectedProp">
        <option *ngFor="let v of values" [ngValue]="v">{{v.getLocalName()}}</option>
      </select>
    </div>
    <div class="text-nowrap ms-1">
      <button class="btn btn-success btn-xs" style="width: 22px;" (click)="confirmCreation()" [disabled]="!selectedValue">
        <span class="fas fa-check"></span>
      </button>
      <button class="btn btn-danger btn-xs ms-1" style="width: 22px;" (click)="cancelCreation()">
        <span class="fas fa-times"></span>
      </button>
    </div>
  </div>
</ng-template>