<div class="d-flex align-items-center mt-1">
    <label class="me-2">{{'RESOURCE_VIEW.LEX_VIEW.PRONUNCIATION'|translate}}:</label>

    <ng-container *ngIf="phoneticRep; then visualizationBlock; else creationBlock"></ng-container>
    <!-- visualization and editing -->
    <ng-template #visualizationBlock>
        /<inline-editable-value [value]="phoneticRep" (edited)="onEdited($event)" [disabled]="!editAuthorized"></inline-editable-value>/
        <button class="btn btn-xs btn-faded ms-2" (click)="deleteRep()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!deleteAuthorized">
            <span class="fas fa-minus"></span>
        </button>
    </ng-template>
    <ng-template #creationBlock>
        <inline-editable-value [focusOnInit]="true" (edited)="confirmCreation($event)" (editCanceled)="cancelCreation()">
        </inline-editable-value>
    </ng-template>
</div>