<div class="card vbox">
  <div class="card-header">
    <div *ngIf="context != 'sparql'" class="btn-toolbar">
      <button class="btn btn-xs btn-light" (click)="addNode()" [title]="'COMMONS.ACTIONS.ADD_NODE'|translate">
        <span class="fas fa-plus"></span>
      </button>
      <button class="btn btn-xs btn-light" (click)="removeNode()" [title]="'GRAPHS.ACTIONS.DELETE_SELECTED_NODE'|translate" [disabled]="!activeRemove">
        <span class="fas fa-minus"></span>
      </button>

      <div *ngIf="isExpandEnabled()" class="btn-group btn-group-xs">
        <button class="btn btn-light" (click)="expandSubResources()" [title]="'GRAPHS.ACTIONS.EXPAND_SUB_RESOURCES'|translate">Sub</button>
        <button class="btn btn-light" (click)="expandSuperResources()" [title]="'GRAPHS.ACTIONS.EXPAND_SUPER_RESOURCES'|translate">Super</button>
      </div>
    </div>
    <span style="flex: 1;"></span>
    <div class="btn-toolbar">
      <button class="btn btn-light btn-xs" (click)="rendering=!rendering" [title]="'COMMONS.RENDERING'|translate" [ngClass]="{ active: rendering }">
        <span class="fas fa-font"></span>
      </button>
      <button class="btn btn-light btn-xs" (click)="snapshot()" [title]="'GRAPHS.ACTIONS.EXPORT_GRAPH_SNAPSHOT'|translate">
        <span class="fas fa-camera"></span>
      </button>
      <button class="btn btn-light btn-xs" [title]="'GRAPHS.ACTIONS.FIX_NODES_POSITION'|translate" (click)="isLock? unfixAll() : fixAll()" [ngClass]="{ active: isLock }">
        <span class="fas fa-lock"></span>
      </button>
      <button class="btn btn-light btn-xs" (click)="openSettings()" [title]="'COMMONS.SETTINGS'|translate">
        <span class="fas fa-cog"></span>
      </button>
    </div>
  </div>
  <div class="card-body hbox">
    <data-graph class="vbox" [graph]="graph" [rendering]="rendering" [fixed]="isLock" (nodeSelected)="onNodeSelected($event)" (linkSelected)="onLinkSelected($event)"></data-graph>

    <div class="vbox" style="flex: initial; width: 300px; margin-left: 4px;">
      <div class="card vbox">
        <div class="card-header">
          <label></label>
          <span style="flex: 1;"></span>
          <div *ngIf="selectedNode" class="btn-toolbar">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-light" [ngClass]="{ active: selectedNode?.fixed }" [title]="'GRAPHS.ACTIONS.FIX_NODE_POSITION'|translate" (click)="fixNode()" [disabled]="!selectedNode">
                <span class="fas fa-lock"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body vbox">
          <resource-details-panel *ngIf="selectedNode?.res || selectedLink?.res" [resource]="selectedNode?.res ?? selectedLink?.res"></resource-details-panel>
        </div>
      </div>

      <force-control-panel [(ngModel)]="forces" (ngModelChange)="onForceChange()" class="mt-1"></force-control-panel>

    </div>
  </div>
</div>