<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'COMMONS.SETTINGS'|translate}}</h3>
    </div>
    <div class="modal-body vbox table-responsive">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="text-end" nowrap>
                        <label>{{'SEPIA.BACKEND_URL'|translate}}</label>
                    </td>
                    <td>
                        <input class="form-control" [(ngModel)]="endpointURL" placeholder="http://sepia.example:8050/">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>

</div>