<div class="card vbox">
  <div class="card-header">
    <label style="flex: 1;">{{'RESOURCE_METADATA.RESOURCE_METADATA_CONFIG'|translate}}:</label>
  </div>
  <div class="card-body hbox">

    <div class="card vbox">
      <div class="card-header">
        <label style="flex: 1">{{'RESOURCE_METADATA.METADATA_PATTERNS'|translate}}:</label>
        <div class="btn-toolbar">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createPattern()" [disabled]="!createPatternAuthorized">
              <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.DELETE'|translate" (click)="deletePattern()"
              [disabled]="!selectedPattern || selectedPattern.scope == 'FACTORY' || !deletePatternAuthorized">
              <span class="fas fa-minus"></span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EDIT'|translate" (click)="editPattern()" [disabled]="!selectedPattern || !modifyPatternAuthorized">
              <span class="fas fa-pencil-alt"></span>
            </button>
          </div>
          <div class="btn-group btn-group-xs" ngbDropdown>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CLONE'|translate" (click)="clonePattern()"
              [disabled]="!selectedPattern || !createPatternAuthorized">
              <span class="fas fa-copy"></span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EXPORT'|translate" (click)="exportPattern()" [disabled]="!selectedPattern">
              <span class="fas fa-download"></span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.IMPORT'|translate" (click)="importPattern()" [disabled]="!createPatternAuthorized">
              <span class="fas fa-upload"></span>
            </button>
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [title]="'RESOURCE_METADATA.PATTERN_LIBRARY'|translate" [disabled]="!createPatternAuthorized">
              <span class="fas fa-book"></span>
            </button>
            <div class="dropdown-menu float-end" ngbDropdownMenu>
              <a class="dropdown-item" (click)="importPatternFromLibrary()">{{'RESOURCE_METADATA.IMPORT_FROM_LIBRARY'|translate}}</a>
              <a class="dropdown-item" [ngClass]="{ disabled: !selectedPattern || selectedPattern.scope == 'FACTORY' }" (click)="storePatternInLibrary()">
                {{'RESOURCE_METADATA.STORE_IN_LIBRARY'|translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body vbox scrollableContainer">
        <div *ngFor="let p of patterns" (click)="selectedPattern = p" class="listItem" [ngClass]="{ active: p == selectedPattern, grayText: p.scope == 'FACTORY' }">
          {{p.name}}
        </div>
      </div>
    </div>

    <div class="card vbox" style="margin-left: 6px;">
      <div class="card-header">
        <label style="flex: 1">{{'RESOURCE_METADATA.PATTERN_ASSOSIACTIONS'|translate}}:</label>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createAssociation()" [disabled]="!createAssociationAuthorized">
            <span class="fas fa-plus"></span>
          </button>
          <button class="btn btn-light" [title]="'COMMONS.ACTIONS.DELETE'|translate" (click)="deleteAssociation()" [disabled]="!selectedAssociation || !deleteAssociationAuthorized">
            <span class="fas fa-minus"></span>
          </button>
        </div>
      </div>
      <div class="card-body vbox scrollableContainer">
        <table class="table table-sm table-borderless table-hoverable">
          <thead style="border-bottom: 1px solid #ddd;">
            <tr>
              <th>{{'MODELS.RESOURCE.RESOURCE_TYPE'|translate}}</th>
              <th>{{'RESOURCE_METADATA.PATTERN_ID'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of associations" (click)="selectedAssociation = a" [ngClass]="{ 'table-primary': a == selectedAssociation }">
              <td>{{a['roleLabel']}}</td>
              <td [ngClass]="{grayText: a.pattern.scope == 'FACTORY'}">{{a.pattern.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <span class="grayText float-end">{{'RESOURCE_METADATA.PATTERN_FACTORY_PROVIDED'|translate}}</span>
  </div>

</div>