<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'APP.TOP_BAR.GLOBAL_DATA_MENU.WGRAPH'|translate}}</h3>
  </div>
  <div class="modal-body vbox gap-2">

    <fieldset class="border rounded p-2" [disabled]="useCustomGraph">
      <legend>
        <label>{{'COMMONS.ACTIONS.SELECT_GRAPH' | translate }}
        </label>
      </legend>

      <div class="overflow-auto vbox">
        <div *ngFor="let g of graphs" class="listItem" [ngClass]="{ active: g.equals(selectedGraph), 'opacity-50': useCustomGraph }" (click)="selectGraph(g)" (dblclick)="onDblClick(g)">
          <rdf-resource [resource]="g" [ngClass]="{ 'text-primary fw-bold': g.getNominalValue() == baseUri }"></rdf-resource>
        </div>
      </div>

    </fieldset>

    <fieldset class="border rounded p-2">
      <legend>
        <label>{{'APP.TOP_BAR.GLOBAL_DATA_MENU.OR_DEFINE_NEW' | translate }}
        </label>
      </legend>

      <div class="input-group">
        <span class="input-group-text">
          <input type="checkbox" [(ngModel)]="useCustomGraph" (ngModelChange)="onUseCustomGraphChange()">
        </span>
        <input type="text" class="form-control" [(ngModel)]="customGraph" [disabled]="!useCustomGraph">
      </div>

    </fieldset>

    <!-- <div class="card vbox">
      <div class="card-header">
        <label style="flex: 1">{{'COMMONS.ACTIONS.SELECT_GRAPH'|translate}}</label>
      </div>
      <div class="card-body overflow-auto vbox">
        <div *ngFor="let g of graphs" class="listItem" [ngClass]="{ active: g.equals(selectedGraph) }" (click)="selectGraph(g)" (dblclick)="onDblClick(g)">
          <rdf-resource [resource]="g" [ngClass]="{ 'text-primary fw-bold': g.getNominalValue() == baseUri }"></rdf-resource>
        </div>
      </div>
    </div>

    <div>
      <label class="text-nowrap">{{'APP.TOP_BAR.GLOBAL_DATA_MENU.OR_DEFINE_NEW'| translate}}</label>
      <div class="d-flex align-items-center" [ngClass]="{ 'bg-primary-subtle' : useCustomGraph}">
        <div class="input-group ms-2">
          <span class="input-group-text">
            <input type="checkbox" [(ngModel)]="useCustomGraph" (ngModelChange)="onUseCustomGraphChange()">
          </span>
          <input type="text" class="form-control" [(ngModel)]="customGraph" [disabled]="!useCustomGraph">
        </div>
      </div>
    </div> -->

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" ngbAutofocus (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>