<div class="container-fluid">

  <div class="float-start">
    <div class="d-flex align-items-center">

      <div *ngIf="isUserLogged()" class="d-flex align-items-center">
        <div class="d-flex align-items-center">
          <label style="margin-right: 2px;">{{'APP.TOP_BAR.CURRENT_PROJECT'|translate}}:</label>
          <div class="btn-group btn-group-xs" style="max-width: 300px;">
            <button class="btn btn-light ellipsable disabled" style="opacity: initial">
              <ng-container *ngIf="isProjectAccessed()">
                {{currentProject.getName(true)}}
              </ng-container>
              <ng-container *ngIf="!isProjectAccessed()">
                ------
              </ng-container>
            </button>
            <button class="btn btn-light ps-1" (click)="changeProject()" [title]="'COMMONS.ACTIONS.CHANGE_PROJECT'|translate">
              <span class="far fa-list-alt" style="line-height: 1"></span>
            </button>
          </div>
        </div>
        <div *ngIf="getCtxVersion()" class="d-flex align-items-center ms-3">
          <label>ver:</label>
          <span class="ms-1">{{getCtxVersion().versionId}}</span>
        </div>
        <div *ngIf="getCtxWGraph()" class="d-flex align-items-center ms-3">
          <label>wgraph:</label>
          <button class="btn btn-xs btn-light ellipsable-left ms-1" style="max-width: 200px; opacity: initial" (click)="changeWGraph()" [title]="getCtxWGraph().toNT()">
            {{getCtxWGraph().getNominalValue()}}
          </button>
        </div>
      </div>


      <div *ngIf="isUserLogged() && isProjectAccessed()" class="ms-3">
        <div class="dropdown float-end" ngbDropdown>
          <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" (click)="onGlobalDataManagementMenuOpen()" ngbDropdownToggle>
            {{'APP.TOP_BAR.GLOBAL_DATA_MENU.GLOBAL_DATA_MANAGEMENT'|translate}}
            <span class="fas fa-caret-down ms-1"></span>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a routerLink="/LoadData" class="dropdown-item"
              [ngClass]="{ disabled : !loadDataAuthorized }">
              <span class="fas fa-upload" style="margin-right: 5px"></span>{{'COMMONS.ACTIONS.LOAD_DATA'|translate}}
            </a>
            <a routerLink="/ExportData" class="dropdown-item"
              [ngClass]="{ disabled : !exportDataAuthorized }">
              <span class="fas fa-download" style="margin-right: 5px"></span>{{'COMMONS.ACTIONS.EXPORT_DATA'|translate}}
            </a>
            <a (click)="clearData()" class="dropdown-item" [ngClass]="{ disabled : !clearDataAuthorized }">
              <span class="fas fa-eraser" style="margin-right: 5px"></span>{{'COMMONS.ACTIONS.CLEAR_DATA'|translate}}
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="/Versioning" class="dropdown-item"
              [ngClass]="{ disabled : !versioningAuthorized }">
              <span class="far fa-clock" style="margin-right: 5px"></span>{{'APP.TOP_BAR.GLOBAL_DATA_MENU.VERSIONING'|translate}}
            </a>
            <a (click)="changeWGraph()" class="dropdown-item"
              [ngClass]="{ disabled : !wgraphAuthorized }">
              <span class="fas fa-pen" style="margin-right: 5px"></span>{{'APP.TOP_BAR.GLOBAL_DATA_MENU.WGRAPH'|translate}}
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="/Refactor" class="dropdown-item">
              <span class="fas fa-retweet" style="margin-right: 5px"></span>{{'APP.TOP_BAR.GLOBAL_DATA_MENU.REFACTOR'|translate}}
            </a>
            <ng-container *ngIf="shaclEnabled">
              <div class="dropdown-divider"></div>
              <a (click)="loadShaclShapes()" class="dropdown-item"
                [ngClass]="{ disabled : !loadShapesAuthorized }">
                <span class="fas fa-upload" style="margin-right: 5px"></span>{{'SHACL.LOAD_SHACL_SHAPES'|translate}}
              </a>
              <a (click)="exportShaclShapes()" class="dropdown-item"
                [ngClass]="{ disabled : !exportShapesAuthorized }">
                <span class="fas fa-download" style="margin-right: 5px"></span>{{'SHACL.EXPORT_SHACL_SHAPES'|translate}}
              </a>
              <a (click)="clearShaclShapes()" class="dropdown-item"
                [ngClass]="{ disabled : !clearShapesAuthorized }">
                <span class="fas fa-eraser" style="margin-right: 5px"></span>{{'SHACL.CLEAR_SHACL_SHAPES'|translate}}
              </a>
              <a (click)="batchShaclValidation()" class="dropdown-item"
                [ngClass]="{ disabled : !shaclBatchValidationAuthorized }">
                <span class="far fa-check-square" style="margin-right: 5px"></span>{{'SHACL.BATCH_VALIDATION'|translate}}
              </a>
            </ng-container>
          </div>
        </div>
      </div>


      <button *ngIf="isProjectAccessed() && currentProject.isUndoEnabled()" class="btn btn-light btn-xs ms-3" (click)="undo()" [title]="'COMMONS.ACTIONS.UNDO'|translate">
        <span class="fas fa-undo"></span>
      </button>

    </div>
  </div>

  <div class="float-end">
    <div class="d-flex align-items-center">

      <div class="dropdown" ngbDropdown>
        <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" (click)="onAboutMenuOpen()" ngbDropdownToggle>
          {{'APP.TOP_BAR.ABOUT_MENU.ABOUT_VB'|translate}}
          <span class="fas fa-caret-down"></span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="http://vocbench.uniroma2.it/" target="_blank">
            <span class="fas fa-globe-europe me-2"></span>{{'APP.TOP_BAR.ABOUT_MENU.VB_SITE'|translate}}
          </a>
          <a class="dropdown-item" href="http://vocbench.uniroma2.it/aboutus/" target="_blank">
            <span class="fas fa-comment-alt me-2"></span>{{'APP.TOP_BAR.ABOUT_MENU.CONTACT_US'|translate}}
          </a>
          <a class="dropdown-item" href="http://vocbench.uniroma2.it/support/" target="_blank">
            <span class="fas fa-question-circle me-2"></span>{{'APP.TOP_BAR.ABOUT_MENU.SUPPORT'|translate}}
          </a>
          <a *ngIf="privacyStatementAvailable" class="dropdown-item" (click)="downloadPrivacyStatement()">
            <span class="fas fa-download me-2"></span>{{'APP.TOP_BAR.ABOUT_MENU.PRIVACY_STATEMENT'|translate}}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="copyWebApiUrl()">
            <span class="fas fa-code me-2"></span>{{'APP.TOP_BAR.ABOUT_MENU.WEB_API'|translate}}
          </a>
        </div>
      </div>

      <div class="ms-3">
        <select class="form-select form-select-xs" [(ngModel)]="translateLang" (ngModelChange)="onTranslateLangChanged()">
          <option *ngFor="let lang of translateLangs">{{ lang }}</option>
        </select>
      </div>

    </div>
  </div>

</div>