<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'CUSTOM_SERVICES.ACTIONS.IMPORT_CUSTOM_SERVICE'|translate}}</h3>
  </div>
  <div class="modal-body">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end">
            <label>{{'COMMONS.FILE'|translate}}:</label>
          </td>
          <td>
            <file-picker (fileChanged)="fileChangeEvent($event)" accept=".cfg"></file-picker>
          </td>
        </tr>
        <tr>
          <td class="text-end">
            <label>ID:</label>
          </td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="id" [disabled]="useInputId">
              <button class="btn btn-light" [ngClass]="{ active : useInputId }" (click)="useInputId = !useInputId">
                <span class="fas fa-lock"></span>
              </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <div class="d-flex align-items-center justify-content-between">
      <div class="form-check">
        <input class="form-check-input" id="overwriteCheck" type="checkbox" [(ngModel)]="overwrite">
        <label class="form-check-label" for="overwriteCheck">
          {{'COMMONS.ACTIONS.OVERWRITE'|translate}}
          <span class="fas fa-info-circle ms-2" [title]="'CUSTOM_SERVICES.OVERWRITE_INFO'|translate"></span>
        </label>
      </div>

      <div>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm ms-2" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
      </div>
    </div>

  </div>
</div>