<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">

    <div class="row mb-2">
      <label class="col-form-label col-sm-3">{{'DATA_MANAGEMENT.VERSIONING.VERSION_ID'|translate}}:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="versionId" [sanitized]="true">
      </div>
    </div>

    <div class="row mb-2">
      <label class="col-form-label col-sm-3">{{'MODELS.PROJECT.REPO_ACCESS'|translate}}:</label>
      <div class="col-sm-9">
        <div class="hbox">
          <select class="form-select" [(ngModel)]="selectedRepositoryAccess">
            <option *ngFor="let repoAcc of repositoryAccessList" [ngValue]="repoAcc">{{repoAcc}}</option>
          </select>
          <div *ngIf="isSelectedRepoAccessRemote()" class="input-group" style="margin-left: 5px; min-width: 210px;">
            <select class="form-select" [(ngModel)]="selectedRemoteRepoConfig">
              <option *ngFor="let c of remoteRepoConfigs" [ngValue]="c">{{c.serverURL}}</option>
            </select>
            <button class="btn btn-light" (click)="configureRemoteRepositoryAccess()">
              <span class="fas fa-pencil-alt"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isSelectedRepoAccessCreateMode()" class="row mb-2">
      <label class="col-form-label col-sm-3">{{'DATA_MANAGEMENT.VERSIONING.REPO_CONFIGURATION'|translate}}:</label>
      <div class="col-sm-9">
        <extension-configurator #repoConfigurator *ngIf="repoExtensions" [extensions]="repoExtensions"
          (extensionUpdated)="selectedRepoExtension = $event" (configurationUpdated)="selectedRepoConfig = $event">
        </extension-configurator>
      </div>
    </div>

    <ng-container *ngIf="!isSelectedRepoAccessCreateMode()">
      <div class="row mb-2">
        <label class="col-form-label col-sm-3">{{'MODELS.PROJECT.REPOSITORY_ID'|translate}}:</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="repositoryId" [disabled]="isSelectedRepoAccessCreateMode()">
            <button class="btn btn-light" type="button" (click)="changeRemoteRepository()"
              [title]="'COMMONS.ACTIONS.SELECT_REMOTE_REPO'|translate" [disabled]="isSelectedRepoAccessCreateMode()">
              <span class="fas fa-folder-open"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <label class="col-form-label col-sm-3">{{'MODELS.PROJECT.BACKEND_TYPE'|translate}}</label>
        <div class="col-sm-9">
          <select class="form-select" [(ngModel)]="selectedRepoBackendType">
            <option *ngFor="let bt of backendTypes" [value]="bt">{{bt}}</option>
          </select>
        </div>
      </div>
    </ng-container>


  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>