<div class="card vbox">
    <div class="card-header" style="display: flex;">
        <label style="flex: 1">{{'COLLABORATION.COLLABORATION_SYSTEM'|translate}}</label>


        <span>{{'STATUS.STATUS'|translate}}:</span>
        <button *ngIf="isCollProjManagementAuthorized()" class="btn btn-light btn-xs ms-1" (click)="changeActiveStatus()" [ngClass]="{'active': csActive}" [disabled]="!csWorking">
            <span *ngIf="csActive" class="text-success">{{'STATUS.ACTIVE'|translate}}</span>
            <span *ngIf="!csActive" class="text-danger">{{'STATUS.INACTIVE'|translate}}</span>
        </button>

        <button *ngIf="csActive" class="btn btn-light btn-xs ms-2" (click)="initIssueList()" [disabled]="!csWorking">
            <span class="fas fa-redo"></span>
        </button>

        <div class="dropdown ms-2" ngbDropdown>
            <button class="btn btn-xs btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                <span class="fas fa-cog"></span>
            </button>
            <div class="dropdown-menu float-end" ngbDropdownMenu>
                <a *ngIf="isCollProjManagementAuthorized()" class="dropdown-item" (click)="openProjectConfig()">{{'COLLABORATION.PROJECT_CONFIG'|translate}}</a>
                <a class="dropdown-item" (click)="openUserConfig()">{{'COLLABORATION.USER_CONFIG'|translate}}</a>
                <a *ngIf="isCollProjManagementAuthorized()" class="dropdown-item" [ngClass]="{ disabled : !csProjectLinked }" (click)="assignProject()">{{'COMMONS.ACTIONS.ASSIGN_PROJECT'|translate}}</a>
            </div>
        </div>

    </div>
    
    <div class="card-body vbox">

        <!-- Mandatory settings not configured (missing serverURL) -->
        <div *ngIf="!projSettingsConfigured; else elseBlock1" class="alert alert-warning m-2">
            {{'COLLABORATION.UNCONFIGURED_CS.UNCONFIGURED_CS_WARNING'|translate}}
            <span *ngIf="isCollProjManagementAuthorized()">
                <a style="cursor: pointer" (click)="openProjectConfig(); false" href>{{'COLLABORATION.UNCONFIGURED_CS.CONFIGURE'|translate}}</a>
                {{'COLLABORATION.UNCONFIGURED_CS.A_CS'|translate}}.
            </span>
        </div>
        <ng-template #elseBlock1>
            <!-- Mandatory settings configured, Mandatory preferences not configured (missing credentials) -->
            <div *ngIf="!userSettingsConfigured; else elseBlock2" class="alert alert-warning m-2">
                {{'COLLABORATION.UNSIGNED_USER.UNSIGNED_USER_WARNING'|translate}}
                <a style="cursor: pointer" (click)="openUserConfig(); false" href>{{'COLLABORATION.UNSIGNED_USER.PROVIDE'|translate}}</a>
                {{'COLLABORATION.UNSIGNED_USER.YOUR_CREDENTIALS'|translate}}
            </div>
            <ng-template #elseBlock2>
                <!-- Mandatory settings and preferences configured, but no project is linked (optional settings) -->
                <div *ngIf="!csProjectLinked; else elseBlock3" class="alert alert-warning m-2">
                    {{'COLLABORATION.UNASSIGNED_PROJ.UNASSIGNED_PROJ_WARNING'|translate}}
                    <span *ngIf="isCollProjManagementAuthorized()">
                        <a style="cursor: pointer" (click)="assignProject(); false" href>{{'COLLABORATION.UNASSIGNED_PROJ.CREATE_OR_ASSIGN'|translate}} Create or assign</a>
                        {{'COLLABORATION.UNASSIGNED_PROJ.A_PROJECT'|translate}}
                    </span>
                </div>
                <ng-template #elseBlock3>
                    <!-- All configured: mandatory settings and preferences, project linked, but CS inactive -->
                    <div *ngIf="!csActive; else elseBlock4" class="alert alert-warning m-2">
                        {{'COLLABORATION.CS_NOT_ACTIVE'|translate}}
                    </div>
                    <ng-template #elseBlock4>
                        <!-- All configured and CS active but not working -->
                        <div *ngIf="!csWorking" class="alert alert-warning m-2">
                            {{'COLLABORATION.CS_NOT_WORKING_WARNING'|translate}}
                        </div>
                    </ng-template>
                </ng-template>
            </ng-template>
        </ng-template>
        
        <issue-list *ngIf="csWorking && csActive"></issue-list>

    </div>

</div>