<div class="table-responsive" style="flex: 1;">
    <table *ngIf="issues" class="table table-sm table-hoverable">
        <colgroup>
            <col style="width: 1%">
            <col style="width: 50%">
            <col *ngIf="context == 'Dashboard'">
            <col style="width: 1%">
        </colgroup>
        <tbody>
            <tr *ngFor="let i of issues" (click)="selectIssue(i)" [ngClass]="{ 'table-primary': i == selectedIssue }">
                <td nowrap>
                    <a [href]="i.getUrl()" target="_blank">{{i.getKey()}}</a>
                </td>
                <td>{{i.getSummary()}}</td>
                <td *ngIf="context == 'Dashboard'">
                    <div *ngIf="i.getResources().length > 0; else noResBlock">
                        <rdf-resource *ngFor="let r of i.getResources()" [resource]="r" class="clickable" (click)="onResourceClick(r)"></rdf-resource>
                    </div>
                    <ng-template #noResBlock>
                        <span class="fas fa-exclamation-triangle" style="color: #f0ad4e; padding: 0px 2px;"></span>
                        <span style="font-style: italic; color: grey;">{{'COLLABORATION.NO_RESOURCE_ASSOCIATED'|translate}}</span>
                    </ng-template>
                </td>
                <td class="text-center">
                    <span [class]="'badge ' + i.getStatusClass()" style="font-size: 100%">{{i.getStatus()}}</span>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<div *ngIf="showPaging" style="align-self: flex-end">
    <div class="btn-group btn-group-xs float-end" style="margin-top: 4px;" role="group">
        <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="previousPage()" [disabled]="page==0">
            <span class="fas fa-caret-left"></span>
        </button>
        <button class="btn btn-light" style="cursor: auto" disabled>
            <span>{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{totPage}}</span>
        </button>
        <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="nextPage()" [disabled]="page==totPage-1">
            <span class="fas fa-caret-right"></span>
        </button>
    </div>
</div>

<div #blockingDiv class="blockingDiv" style="display:none">
    <div class="loadingDiv">
        <div>
            <p>Loading...</p><img src="./assets/images/loading.gif" />
        </div>
    </div>
</div>