<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox">
        <div class="card vbox">
            <div class="card-header">
                <label>{{'COMMONS.GROUPS'|translate}}</label>
            </div>
            <div class="card-body scrollableContainer">
                <table class="table table-sm table-borderless table-hoverable">
                    <colgroup>
                        <col *ngIf="multiselection" style="width: 1%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr *ngFor="let g of groupItems" (click)="selectRole(g)">
                            <td *ngIf="multiselection" class="text-center">
                                <input type="checkbox" style="vertical-align: middle" [(ngModel)]="g.selected">
                            </td>
                            <td class="text-center" nowrap>
                                {{g.group.shortName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>