<div class="card vbox">

  <div class="card-body hbox">

    <div class="card vbox">
      <div class="card-header">
        <label style="flex: 1;">{{'COMMONS.GROUPS'|translate}}:</label>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" (click)="createGroup()" [title]="'COMMONS.ACTIONS.CREATE'|translate">
            <span class="fas fa-plus"></span>
          </button>
          <button class="btn btn-light" (click)="deleteGroup()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!selectedGroup">
            <span class="fas fa-minus"></span>
          </button>
          <button class="btn btn-light" (click)="editGroup()" [title]="'COMMONS.ACTIONS.EDIT'|translate" [disabled]="!selectedGroup">
            <span class="fas fa-pencil-alt"></span>
          </button>
        </div>
      </div>
      <div class="card-body vbox scrollableContainer">
        <div *ngFor="let g of groupList" class="listItem" (click)="selectGroup(g)" [ngClass]="{active: g == selectedGroup}">
          <span>{{g.shortName}}</span>
        </div>
      </div>
    </div>

    <div class="card vbox" style="flex: 2; margin-left: 5px;">
      <div class="card-header">
        <label style="flex: 1;">{{'ADMINISTRATION.GROUPS.GROUP_DESCRIPTION'|translate}}:</label>
      </div>
      <div class="card-body vbox scrollableContainer">
        <div *ngIf="selectedGroup">
          <table class="table table-sm table-borderless">
            <colgroup>
              <col style="width: 1%">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td nowrap><label>{{'ADMINISTRATION.GROUPS.SHORT_NAME'|translate}}:</label></td>
                <td><input class="form-control" [ngModel]="selectedGroup.shortName" disabled></td>
              </tr>
              <tr>
                <td nowrap><label>{{'ADMINISTRATION.GROUPS.FULL_NAME'|translate}}:</label></td>
                <td><input class="form-control" [ngModel]="selectedGroup.fullName" disabled></td>
              </tr>
              <tr>
                <td nowrap><label>{{'COMMONS.DESCRIPTION'|translate}}:</label></td>
                <td><textarea class="form-control" style="resize: vertical" rows="3" [ngModel]="selectedGroup.description" disabled></textarea></td>
              </tr>
              <tr>
                <td nowrap><label>{{'ADMINISTRATION.GROUPS.WEB_PAGE'|translate}}:</label></td>
                <td><input class="form-control" [ngModel]="selectedGroup.webPage" disabled></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>