<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal" resizable>
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox">
    <table class="table table-borderless table-sm">
      <colgroup>
        <col style="width: 1%;">
        <col>
        <col style="width: 1%;">
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end">
            <label>{{'COMMONS.NAME'|translate}}</label>
          </td>
          <td>
            <input class="form-control form-control-sm" [(ngModel)]="name" [disabled]="ref || readOnly">
          </td>
          <td [title]="'COMMONS.MANDATORY_FIELD'|translate">*</td>
        </tr>
        <tr>
          <td class="text-end">
            <label>{{'COMMONS.DESCRIPTION'|translate}}</label>
          </td>
          <td>
            <textarea class="form-control form-control-sm" style="resize: vertical; max-height: 300px;" [(ngModel)]="description"
              [disabled]="readOnly">
                        </textarea>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="vbox" style="margin-top: 6px;">
      <ul class="nav nav-tabs" (click)="$event.preventDefault()">
        <li *ngFor="let e of pearlEditors" class="nav-item" [ngClass]="{ active : activePearlEditor == e }">
          <a class="nav-link" (click)="activePearlEditor = e">
            {{e.type}}
          </a>
        </li>
      </ul>
      <div class="tab-content vbox">
        <ng-container *ngFor="let e of pearlEditors">
          <div *ngIf="e == activePearlEditor" class="vbox">
            <div *ngIf="e.type == 'Destruction'" class="alert alert-warning mb-2">
              {{'RESOURCE_METADATA.DESTRUCTION_PATTERN_INFO'|translate}}
            </div>
            <div class="vbox" style="position: relative;">
              <pearl-editor [(ngModel)]="e.code" (ngModelChange)="onPearlChanged(e)" [disabled]="readOnly"></pearl-editor>
              <div *ngIf="!e.validation.valid" style="position: absolute; top: 12px; right: 30px; z-index: 10;" [title]="e.validation.details">
                <span class="fas fa-exclamation-triangle" style="color: red;"></span>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid() || readOnly">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>