<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <div class="hbox" style="align-items: center">
            <h3 class="modal-title" style="flex: 1">{{title}}</h3>
            <span>
                <button class="btn btn-light btn-xs" [title]="'DATA.ACTIONS.CHANGE_CLASS'|translate" (click)="changeClass()" [disabled]="!clsChangeable">
                    <rdf-resource [resource]="resourceClass"></rdf-resource>
                </button>
            </span>
        </div>
    </div>
    <div class="modal-body vbox" (keyup.enter)="onEnter()">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr *ngIf="!hideStdResField">
                    <td class="text-end"><label>URI:</label></td>
                    <td>
                        <ng-container *ngIf="uriOptional; then uriOptionalBlock; else uriMandatoryBlock"></ng-container>
                        <ng-template #uriMandatoryBlock>
                            <editable-ns-input [(ngModel)]="uri"  [toFocus]="true">
                            </editable-ns-input>
                        </ng-template>
                        <ng-template #uriOptionalBlock>
                            <editable-ns-input [(ngModel)]="uri"  [toFocus]="true" [placeholder]="'DATA.COMMONS.LEAVE_EMPTY_FOR_RANDOM_URI'|translate">
                            </editable-ns-input>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>

        <custom-form *ngIf="customFormId" [cfId]="customFormId" [(ngModel)]="formFields" (hideStdResField)="hideStdResField = true" [ngClass]="{'border-top mt-2 pt-2': !hideStdResField}"></custom-form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>