<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox">
    <div *ngIf="message" class="alert alert-info">
      {{message}}
    </div>
    <div class="card vbox mt-2">
      <div class="card-header">
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
          <button class="btn btn-light btn-bright btn-xs" [title]="'COMMONS.RENDERING'|translate" (click)="rendering = !rendering" [ngClass]="{active: rendering}">
            <span class="fas fa-font"></span>
          </button>
        </div>
      </div>
      <div class="card-body vbox">
        <resource-list-selection [resources]="resourceList" [selectedResources]="selectedResources" [rendering]="rendering" [multiselection]="multiselection" (nodeSelected)="onResourceSelected($event)" (dblClicked)="onResDblClicked($event)">
        </resource-list-selection>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>