<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox mb-2">
    <div *ngIf="message" [class]="msgStyle + ' mb-2'">
      {{message}}
    </div>
    <div class="card vbox">
      <div class="card-body vbox scrollableContainer">
        <ng-container *ngIf="stringOptions; else structOptionsBlock">
          <div *ngFor="let opt of stringOptions" class="listItem d-flex align-items-center" [ngClass]="{ active: optionSelected == opt }" (click)="optionSelected = opt">
            <span>{{opt}}</span>
          </div>
        </ng-container>
        <ng-template #structOptionsBlock>
          <div *ngFor="let opt of structOptions" class="listItem d-flex align-items-center" [ngClass]="{ active: optionSelected == opt }" (click)="optionSelected = opt">
            <span class="text-nowrap">
              <span style="font-size: 13px;">{{opt.value}}</span>
              <span *ngIf="opt.description" class="fas fa-info-circle ms-2" [title]="opt.description"></span>
            </span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!optionSelected">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>