<ul class="nav nav-tabs">
  <li *ngFor="let t of tabs" class="nav-item" (mousedown)="onTabMouseDown($event, t)">
    <a class="nav-link" [ngClass]="{ active: activeTab == t }">
      <div class="d-flex align-items-center">
        <div class="d-inline-block">
          <rdf-resource [resource]="t.resource" class="shift-cursor"></rdf-resource>
        </div>
        <span class="ms-2" (click)="closeTab(t)">
          <i class="fas fa-times clickable"></i>
        </span>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a (click)="promptAddress()" class="nav-link clickable" [title]="'RESOURCE_VIEW.ACTIONS.OPEN_RES_IN_NEW_TAB'|translate">
      <span class="fas fa-plus"></span>
    </a>
  </li>
  <li class="nav-item ms-auto">
    <a class="nav-link" (click)="closeAll()" [title]="'RESOURCE_VIEW.ACTIONS.CLOSE_ALL_TABS'|translate">
      <span class="fas fa-times"></span>
    </a>
  </li>
</ul>
<div class="tab-content">
  <resource-view-tab *ngFor="let t of tabs"
    class="tab-pane" [ngClass]="{ active: activeTab == t }"
    [resource]="t.resource"
    (update)="onResourceUpdate($event, t)" (valueClick)="onValueClick($event)" (historyChange)="onHistoryChange($event)">
  </resource-view-tab>
</div>