<div class="card card-alt">

  <div class="card-header">
    <label style="flex: 1" [title]="predicate.getShow()">{{predicateRendering}}</label>
    <div class="btn-group" ngbDropdown>
      <button class="btn btn-xs btn-light" (click)="addValue()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="addDisabled">
        <span class="fas fa-plus fa-sm"></span>
      </button>
      <button class="btn btn-xs btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [disabled]="actionMenuDisabled">
        <span class="fas fa-caret-down fa-sm"></span>
      </button>
      <div class="dropdown-menu float-end" ngbDropdownMenu>
        <button *ngIf="addManuallyAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addManually()">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_MANUALLY'|translate}}</button>
        <button *ngIf="addExteranlResourceAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addExternalValue()">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_FROM_ANOTHER_PROJ'|translate}}</button>
        <button class="dropdown-item" [ngClass]="{ disabled: deleteAllDisabled }" (click)="removeAllValues()">{{'RESOURCE_VIEW.ACTIONS.DELETE_ALL_VALUES'|translate}}</button>
        <ng-container *ngIf="customView">
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="toggleCustomView()">
            {{'RESOURCE_VIEW.ACTIONS.TOGGLE_CUSTOM_VIEW'|translate}}
            <span *ngIf="showCustomView" class="fas fa-check"></span>
          </button>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="card-body">

    <div *ngFor="let obj of objects; let i = index" (dblclick)="onDblClick(obj)" (click)="onClick(obj, $event)">
      <resview-value-renderer *ngIf="showObject(i)"
        [subject]="resource" [predicate]="predicate" [object]="obj" [rendering]="rendering"
        [readonly]="readonly" [section]="section"
        (valueClick)="onValueClick($event)"
        (delete)="removeValue(obj)" (edit)="onEdit(obj)"
        (update)="onUpdate()" (changeProp)="onChangeProperty($event)" (copyLocale)="onCopyLocale($event, obj)">
      </resview-value-renderer>
    </div>

    <ng-container *ngIf="showCustomView && customView">
      <custom-views-renderer [cvData]="customView" [subject]="resource" [predicate]="predicate" [objects]="predObj.getObjects()" [readonly]="readonly" [rendering]="rendering" [section]="section"
        (valueClick)="onValueClick($event)" (delete)="removeValue($event)" (update)="onUpdate()">
      </custom-views-renderer>
    </ng-container>

    <ng-container *ngIf="showAllButton()">
      <button class="btn btn-xs btn-light" style="width: 100%; color: #888; border-color: #ddd;" (click)="showAll()">
        {{'COMMONS.ACTIONS.SHOW_ALL'|translate}}...
      </button>
    </ng-container>

  </div>

</div>