<div class="card vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.STRUCTURAL.HIERARCHICAL_REDUNDANCIES.NAME'|translate}}</label>
        <div class="form-check" [title]="'ICV.STRUCTURAL.HIERARCHICAL_REDUNDANCIES.SAME_SCHEME_INFO'|translate">
            <input class="form-check-input" id="schemeCheck" type="checkbox" [(ngModel)]="sameScheme">
            <label class="form-check-label" for="schemeCheck">{{'ICV.STRUCTURAL.HIERARCHICAL_REDUNDANCIES.SAME_SCHEME'|translate}}</label>
        </div>
        <button class="btn btn-xs btn-light ms-3" (click)="runIcv()">{{'COMMONS.ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">
        
        <div class="alert alert-info mb-2">
            {{'ICV.STRUCTURAL.HIERARCHICAL_REDUNDANCIES.DESCRIPTION'|translate}}.<br/>
            {{'ICV.STRUCTURAL.HIERARCHICAL_REDUNDANCIES.EXAMPLE.0'|translate}}:<br/>
            1) <i>:concept3 skos:broader :concept2</i><br/>
            2) <i>:concept2 skos:broader :concept1</i><br/>
            3) <i>:concept3 skos:broader :concept1</i><br/>
            {{'ICV.STRUCTURAL.HIERARCHICAL_REDUNDANCIES.EXAMPLE.1'|translate}}
        </div>

        <div class="card vbox">
            <div class="card-body table-responsive">
                <table *ngIf="brokenRecordList" class="table table-sm table-hoverable">
                    <thead>
                        <tr>
                            <th class="text-center">{{'MODELS.RESOURCE.SUBJECT'|translate}}</th>
                            <th class="text-center">{{'MODELS.RESOURCE.PREDICATE'|translate}}</th>
                            <th class="text-center">{{'MODELS.RESOURCE.OBJECT'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let record of brokenRecordList; let i=index">
                            <tr *ngIf="i >= page*resultsLimit && i < page*resultsLimit + resultsLimit">
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.subject" (click)="onResourceClick(record.subject)"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.predicate" (click)="onResourceClick(record.predicate)"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.object" (click)="onResourceClick(record.object)"></rdf-resource>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

            <div *ngIf="brokenRecordList && brokenRecordList.length > 0" class="card-footer">
                <div class="btn-group btn-group-xs float-end" role="group">
                    <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="page=page-1" [disabled]="page <= 0">
                        <span class="fas fa-caret-left"></span>
                    </button>
                    <button class="btn btn-light" style="cursor: auto" disabled>
                        <span>{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{pageCount}}</span>
                    </button>
                    <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="page=page+1" [disabled]="page+1 >= pageCount">
                        <span class="fas fa-caret-right"></span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>