<div class="card vbox">
  <div class="card-header">
    <label style="flex: 1;">{{'SEPIA.SEPIA_DASHBOARD'|translate}}</label>
    <button *ngIf="isAdmin" class="btn btn-xs btn-light" (click)="settings()">
      <span class="fas fa-cog"></span>
    </button>
  </div>
  <div class="card-body vbox">

    <div *ngIf="!configured" class="alert alert-warning">
      {{'SEPIA.BACKEND_NOT_CONFIGURED_MSG'|translate}}
    </div>

    <ng-container *ngIf="configured">

      <resizable-layout orientation="H" [mainFlex]="2">

        <div main class="vbox">
          <resizable-layout orientation="V" [mainFlex]="6">
            <docset-list-panel main (nodeSelected)="onDocsetSelected($event)"></docset-list-panel>
            <file-list-panel secondary (nodeSelected)="onFileSelected($event)" [docset]="selectedDocset"></file-list-panel>
          </resizable-layout>
        </div>

        <div *ngIf="selectedDocset || selectedFile" secondary class="card vbox">
          <div class="card-body vbox" style="gap: 4px">
            <div *ngIf="selectedDocset" class="card">
              <div class="card-header">
                <i class="far fa-folder-open fa-lg me-2"></i>
                <label>{{selectedDocset.name}}</label>
              </div>
              <div class="card-body">
                <table class="table table-sm table-hoverable" style="flex: 1">
                  <tbody>
                    <tr>
                      <td><label>ID:</label></td>
                      <td>{{selectedDocset.id}}</td>
                    </tr>
                    <tr>
                      <td><label>{{'COMMONS.NAME'|translate}}:</label></td>
                      <td>{{selectedDocset.name}}</td>
                    </tr>
                    <tr *ngIf="selectedDocset.contentSize">
                      <td><label>{{'MODELS.RESOURCE.RESOURCES'|translate}}:</label></td>
                      <td>{{selectedDocset.contentSize}}</td>
                    </tr>
                    <tr>
                      <td><label>{{'COMMONS.CONFIG.CONFIGURATION'|translate}}:</label></td>
                      <td>{{selectedDocset?.configuration?.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <ng-container *ngIf="selectedFile">
              <ng-container *ngIf="selectedFile.type == SepFMObjectType.FILE; else directoryBrowser">
                <file-details [file]="selectedFile"></file-details>
              </ng-container>
              <ng-template #directoryBrowser>
                <div class="card vbox">
                  <div class="card-header">
                    <span class="far fa-folder fa-lg me-2"></span>
                    <label>{{selectedFile.name}}</label>
                  </div>
                  <div class="card-body vbox">
                    <sep-browser class="vbox" [readonly]="true" [showDetails]="true" [title]="selectedFile.name" [selectedConfigIdOnInit]="selectedDocset.configurationId" [rootPath]="selectedFile?.['fullPath']"></sep-browser>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </div>
        </div>

      </resizable-layout>

    </ng-container>


  </div>

</div>