<div class="card vbox">

  <div class="card-body vbox">

    <div *ngIf="unauthorized" class="alert alert-danger m-2">
      {{'MESSAGES.UNAUTHORIZED_VIEW'|translate}}
    </div>

    <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
      <ng-container *ngFor="let n of nodes; let idx=index">
        <property-tree-node *ngIf="idx < nodeLimit"
          [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context" [projectCtx]="projectCtx"
          (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)" (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
        </property-tree-node>
      </ng-container>
    </div>

    <loading-div *ngIf="loading"></loading-div>

  </div>

</div>