<div class="card vbox">
  <!-- Commands -->
  <div class="card-header">
    <div *ngIf="editable" class="btn-group btn-group-xs">
      <ng-container *ngFor="let action of panelActions">
        <button *ngIf="isActionVisible(action)" class="btn btn-light" [title]="action.title" (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
          <img [src]="action.icon" class="panelButtonImg" />
        </button>
      </ng-container>
    </div>
    <div *ngIf="editable" style="margin: 0px 5px;">
      <img *ngIf="!workingLexicon" src="./assets/images/icons/warning.png"
        [title]="'DATA.LEX_ENTRY.NO_LEXICON_SELECTED_WARN'|translate">
    </div>
    <div style="flex: 1"></div>
    <div class="btn-toolbar" role="toolbar">
      <button class="btn btn-light btn-bright btn-xs" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()" [ngClass]="{ active: rendering }">
        <span class="fas fa-font"></span>
      </button>
      <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
        <span class="fas fa-redo"></span>
      </button>
      <button *ngIf="isOpenSettingsAvailable()" class="btn btn-light btn-xs" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
        <span class="fas fa-cog"></span>
      </button>
    </div>

    <div class="dropdown" ngbDropdown>
      <button class="dropdown-toggle transparentBtn ms-1" data-toggle="dropdown" ngbDropdownToggle [disabled]="!allowMultiselection && !isOpenGraphEnabled(GraphModeEnum.dataOriented)">
        <span class="fas fa-caret-down"></span>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <ng-container *ngIf="allowMultiselection">
          <button class="dropdown-item" (click)="toggleMultiselection()">
            <span style="flex: 1;">
              <span class="far fa-check-square" style="margin-right: 4px;"></span>
              {{'DATA.COMMONS.MULTISELECTION'|translate}}
            </span>
            <span *ngIf="multiselection" class="fas fa-check float-end"></span>
          </button>
          <button *ngIf="context=='dataPanel' && multiselection" class="dropdown-item" [ngClass]="{ disabled: checkedNodes.length == 0 }" (click)="enrichMultiSubject()">
            <span class="far fa-check-square" style="margin-right: 4px; margin-left: 16px;"></span>
            {{'DATA.COMMONS.ADD_PROP_VALUE_TO_SELECTION'|translate}}
          </button>
        </ng-container>
        <button *ngIf="isOpenGraphEnabled(GraphModeEnum.dataOriented)" class="dropdown-item" (click)="openDataGraph()">
          <img src="./assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
          {{'GRAPHS.ACTIONS.SHOW_DATA_ORIENTED_GRAPH'|translate}}
        </button>
      </div>
    </div>
  </div>

  <!-- List -->
  <div class="card-body vbox">

    <div *ngIf="lexiconChangeable" style="padding-bottom: 3px; display: flex; align-items: center">
      <span style="white-space: nowrap; margin: 0px 3px;">Lexicon:</span>
      <select class="form-select form-select-sm" [(ngModel)]="workingLexicon" (ngModelChange)="onLexiconSelectionChange()">
        <option *ngFor="let l of lexiconList" [ngValue]="l">{{getLexiconRendering(l)}}</option>
      </select>
    </div>

    <div *ngIf="visualizationMode == 'indexBased'" style="padding-bottom: 3px; display: flex; align-items: center">
      <select class="form-select form-select-sm" [(ngModel)]="firstDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
        <option *ngFor="let i of alphabet">{{i}}</option>
      </select>
      <ng-container *ngIf="indexLength>1">
        <span class="fw-bold my-0 mx-2">&gt;</span>
        <select class="form-select form-select-sm" [(ngModel)]="secondDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
          <option value=" ">{{firstDigitIndex}}⎵</option>
          <option *ngFor="let i of alphabet" [value]="i">{{firstDigitIndex}}{{i}}</option>
        </select>
      </ng-container>
    </div>

    <lexical-entry-list [lexicon]="workingLexicon" [index]="index" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated"
      [context]="context" [projectCtx]="projectCtx" [forceVisualizationMode]="forceVisualizationMode"
      (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)"
      (switchMode)="onSwitchMode($event)" (changeIndexLength)="onChangeIndexLength($event)">
    </lexical-entry-list>
  </div>

  <!-- Search -->
  <div *ngIf="!hideSearch" class="card-footer">
    <search-bar (search)="doSearch($event)" (advancedSearch)="onAdvancedSearch($event)" [role]="panelRole"
      [context]="context" [projectCtx]="projectCtx" [disabled]="!workingLexicon || !viewChildList?.safeToGo.safe" [focusOnInit]="!!forceVisualizationMode">
    </search-bar>
  </div>

</div>