<div class="card vbox">

  <div class="card-body vbox">

    <div *ngIf="unauthorized" class="alert alert-danger m-2">
      {{'MESSAGES.UNAUTHORIZED_VIEW'|translate}}
    </div>

    <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">

      <div *ngIf="visualizationMode == 'searchBased' && !nodes" class="alert alert-warning mb-1">
        {{'DATA.LEX_ENTRY.USE_SEARCH_MSG'|translate}}
        <ng-container *ngIf="context=='addPropValue'">
          <br /><br />
          <a style="font-size: .9rem;" (click)="switchMode.emit(LexEntryVisualizationMode.indexBased); false" href>{{'DATA.INSTANCE.SWITCH_TO_INDEX_BASED_MODE'|translate}}</a>
        </ng-container>
      </div>

      <ng-container *ngIf="safeToGo.safe; then safetyBlock else unsafetyBlock"></ng-container>

      <ng-template #safetyBlock>
        <ng-container *ngFor="let n of nodes; let idx=index">
          <lexical-entry-list-node *ngIf="idx < nodeLimit"
            [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context" [projectCtx]="projectCtx"
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
          </lexical-entry-list-node>
        </ng-container>
      </ng-template>

      <ng-template #unsafetyBlock>
        <div class="alert alert-warning">
          {{'DATA.LEX_ENTRY.UNSAFE_WARN.ELEMENT_COUNT'|translate:translationParam}}
          {{'DATA.LEX_ENTRY.UNSAFE_WARN.PERFORMANCE_ISSUE'|translate}}
          {{'DATA.LEX_ENTRY.UNSAFE_WARN.IT_IS_RECOMMENDED'|translate}}
          <a (click)="switchMode.emit(LexEntryVisualizationMode.searchBased); false" href>{{'DATA.LEX_ENTRY.UNSAFE_WARN.SWITCH_MODE'|translate}}</a>
          <ng-container *ngIf="unsafeIndexOneChar">
            {{'DATA.LEX_ENTRY.UNSAFE_WARN.OR'|translate}}
            <a (click)="changeIndexLength.emit(2); false" href>{{'DATA.LEX_ENTRY.UNSAFE_WARN.CHANGE_INDEX_LENGTH'|translate}}</a>
          </ng-container>
          <br>

          <ng-container *ngIf="!lexicon">
            {{'DATA.LEX_ENTRY.UNSAFE_WARN.SELECT_LEXICON'|translate}}<br>
          </ng-container>
          {{'DATA.LEX_ENTRY.UNSAFE_WARN.FORCE_INIT'|translate}}
          <a (click)="forceSafeness(); false" href>{{'DATA.LEX_ENTRY.UNSAFE_WARN.HERE'|translate}}</a>.
        </div>
      </ng-template>

    </div>

    <loading-div *ngIf="loading"></loading-div>

  </div>
</div>