<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'DATA.LEX_ENTRY.SETTINGS.LEX_ENTRY_SETTINGS'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td nowrap><label>{{'COMMONS.VISUALIZATION_MODE'|translate}}</label></td>
                    <td>
                        <select class="form-select form-select-sm" [(ngModel)]="visualization">
                            <option *ngFor="let vm of visualizationModes" [value]="vm.value">{{vm.labelTranslationKey|translate}}</option>
                        </select>
                    </td>
                </tr>
                <ng-container *ngIf="visualization == 'indexBased'">
                    <tr>
                        <td nowrap>
                            <label>
                                {{'DATA.LEX_ENTRY.SETTINGS.LEX_ENTRIES_LIMIT'|translate}}
                                <span class="fas fa-info-circle ms-1" [title]="'DATA.LEX_ENTRY.SETTINGS.LEX_ENTRIES_LIMIT_INFO'|translate"></span>
                            </label>
                        </td>
                        <td>
                            <input class="form-control form-control-sm" type="number" min="1" [(ngModel)]="safeToGoLimit">
                        </td>
                    </tr>
                    <tr>
                        <td nowrap>
                            <label>{{'DATA.LEX_ENTRY.SETTINGS.INDEX_LENGTH'|translate}}</label>
                        </td>
                        <td>
                            <select class="form-select form-select-sm" [(ngModel)]="indexLength">
                                <option *ngFor="let l of lengthChoices">{{l}}</option>
                            </select>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>