<div class="vbox">
  <resource-view-editor *ngIf="activeView == 'resourceView'"
    [resource]="resource" [historyControl]="historyControlTemplate"
    (valueClick)="onValueClick($event)" (update)="onResourceUpdate($event)"
    (renderingChanged)="onRenderingChanged($event)" (pendingValidation)="pendingValidation = $event">
  </resource-view-editor>
  <term-view *ngIf="activeView == 'termView'"
    [resource]="resource" [historyControl]="historyControlTemplate"
    (update)="onResourceUpdate($event)">
  </term-view>
  <lexicographer-view *ngIf="activeView == 'lexicographerView'"
    [resource]="resource" [historyControl]="historyControlTemplate"
    (update)="onResourceUpdate($event)" (valueClick)="onValueClick($event)">
  </lexicographer-view>
  <resource-triple-editor *ngIf="activeView == 'sourceCode'"
    [resource]="resource" [pendingValidation]="pendingValidation"
    (update)="onResourceUpdate($event)">
  </resource-triple-editor>
</div>
<ul class="nav nav-tabs-bottom" *ngIf="rViews.length > 1">
  <li *ngFor="let v of rViews" [ngClass]="{ active: v.type == activeView }">
    <a (click)="changeView(v.type)">{{v.show}}</a>
  </li>
</ul>


<ng-template #historyControlTemplate>
  <ng-content select="[history-control]"></ng-content>
</ng-template>