<config-bar></config-bar>
<nav [class]="'navbar navbar-expand-lg navbar-dark bg-theme-' + navbarTheme">

  <a class="navbar-brand" style="padding: 8px;" [routerLink]="['/Home']">VocBench</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar" (click)="navbarCollapsed = !navbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavbar" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav me-auto">
      <li *ngIf="isUserLogged() && isUserAdmin()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/Projects']">{{'MODELS.PROJECT.PROJECTS'|translate}}</a>
      </li>
      <li *ngIf="isUserLogged() && isProjectOpen()" class="nav-item" [ngClass]="{ disabled : !isDataAuthorized() }" routerLinkActive="active">
        <a *ngIf="!isProjectEdoal()" class="nav-link" [routerLink]="['/Data']">{{'APP.NAVBAR.DATA'|translate}}</a>
        <a *ngIf="isProjectEdoal()" class="nav-link" [routerLink]="['/Edoal']">{{'APP.NAVBAR.DATA'|translate}}</a>
      </li>
      <li *ngIf="isUserLogged() && isProjectOpen()" class="nav-item dropdown" ngbDropdown display="dynamic">
        <a [routerLink]="" class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
          {{'APP.NAVBAR.METADATA.TITLE'|translate}}
          <span class="fas fa-caret-down ms-1"></span>
        </a>
        <div class="dropdown-menu" style="font-size: 12px; line-height: 20px;" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/Imports']">{{'APP.NAVBAR.METADATA.NAMESPACES_AND_IMPORTS'|translate}}</a>
          <a *ngIf="isMetadataVocAuthorized()" class="dropdown-item" [routerLink]="['/Vocabularies']">{{'APP.NAVBAR.METADATA.METADATA_VOCABULARIES'|translate}}</a>
          <a *ngIf="isMetadataRegistryAuthorized()" class="dropdown-item" [routerLink]="['/MetadataRegistry']">{{'APP.NAVBAR.METADATA.METADATA_REGISTRY'|translate}}</a>
        </div>
      </li>
      <li *ngIf="isUserLogged() && isProjectOpen()" class="nav-item" [ngClass]="{ disabled : !isSparqlAuthorized() }" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/Sparql']">{{'APP.NAVBAR.SPARQL'|translate}}</a>
      </li>
      <li *ngIf="isUserLogged() && isProjectOpen() && isProjectHistoryEnabled()" class="nav-item" [ngClass]="{ disabled : !isHistoryAuthorized() }"
        routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/History']">{{'APP.NAVBAR.HISTORY'|translate}}</a>
      </li>
      <li *ngIf="isUserLogged() && isProjectOpen() && isProjectValidationEnabled()" class="nav-item" [ngClass]="{ disabled : !isValidationAuthorized() }"
        routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/Validation']">{{'APP.NAVBAR.VALIDATION'|translate}}</a>
      </li>
      <li *ngIf="isUserLogged() && isProjectOpen()" class="nav-item dropdown" ngbDropdown display="dynamic">
        <a [routerLink]="" class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
          {{'APP.NAVBAR.TOOLS'|translate}}
          <span class="fas fa-caret-down ms-1"></span>
        </a>
        <div class="dropdown-menu" style="font-size: 12px; line-height: 20px;" ngbDropdownMenu>
          <a *ngIf="isAlignValidationAuthorized()" class="dropdown-item" [routerLink]="['/AlignmentValidation']">{{'ALIGNMENT.VALIDATION.ALIGNMENT_VALIDATION'|translate}}</a>
          <a *ngIf="isCollaborationAuthorized()" class="dropdown-item" [routerLink]="['/Collaboration']">{{'COLLABORATION.COLLABORATION_SYSTEM'|translate}}</a>
          <a *ngIf="isCustomFormAuthorized()" class="dropdown-item" [routerLink]="['/CustomFormView']">{{'APP.NAVBAR.CUSTOM_FORMS_AND_VIEWS'|translate}}</a>
          <a *ngIf="isCustomServicesAuthorized()" class="dropdown-item" [routerLink]="['/CustomServices']">{{'APP.NAVBAR.CUSTOM_SERVICES_AND_REPORTS'|translate}}</a>
          <a class="dropdown-item" [routerLink]="['/Icv']">{{'ICV.ICV'|translate}}</a>
          <a *ngIf="isResourceMetadataAuthorized()" class="dropdown-item" [routerLink]="['/ResourceMetadata']">ResourceMetadata</a>
          <a *ngIf="isSheet2RdfAuthorized()" class="dropdown-item" [routerLink]="['/Sheet2RDF']">Sheet2RDF</a>
          <a *ngIf="isSkosDiffingAuthorized()" class="dropdown-item" [routerLink]="['/SkosDiffing']">SKOS diffing</a>
          <a *ngIf="isSepiaAuthorized()" class="dropdown-item" [routerLink]="['/Sepia']">Sepia</a>
        </div>
      </li>
    </ul>
    <ul user-menu *ngIf="isUserLogged()" class="navbar-nav"></ul>

  </div>
</nav>
<div class="vbox" style="padding: 10px;" undo>
  <router-outlet></router-outlet>
</div>
<div class="bottom-bar">
  <span>v. {{appVersion}}</span>
  <span class="float-end">© <a href="http://art.uniroma2.it/" target="_blank">ART Group</a>, 2016</span>
</div>

<app-toasts class="toast-container bottom-0 end-0"></app-toasts>