
<div class="card vbox">
    <div class="card-body hbox">

        <div class="card vbox" style="margin-right: 4px;">
            <div class="card-header">
                <label>{{'RESOURCE_VIEW.SECTIONS.FILTER.RESOURCE_TYPES'|translate}}</label>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let rps of roleSectionsStructs" class="listItem" (click)="selectRoleSectionsStruct(rps)"
                    [ngClass]="{ active: rps == selectedRoleSectionsStruct }">
                    {{rps.role.show}}
                </div>
            </div>
        </div>

        <div class="card vbox">
            <div class="card-header">
                <label style="flex: 1;">{{'RESOURCE_VIEW.SECTIONS.SECTIONS'|translate}}</label>
                <div *ngIf="!readonly" class="btn-toolbar">
                    <div class="btn-group btn-group-xs" role="group">
                        <button class="btn btn-light" (click)="checkAll(selectedRoleSectionsStruct, true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
                            <span class="far fa-check-square"></span>
                        </button>
                        <button class="btn btn-light" (click)="checkAll(selectedRoleSectionsStruct, false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
                            <span class="far fa-square"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let section of selectedRoleSectionsStruct?.sections" class="listItem d-flex align-items-center">
                    <input type="checkbox" [(ngModel)]="section.checked" (ngModelChange)="updatePref()" [disabled]="readonly">
                    <span style="flex: 1; margin-left: 4px">{{section.labelTranslationKey|translate}}</span>
                    <span *ngIf="section.checked" class="fas fa-eye"></span>
                    <span *ngIf="!section.checked" class="fas fa-eye-slash"></span>
                    
                    <div *ngIf="!readonly" class="dropdown float-end" ngbDropdown container="body">
                        <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" ngbDropdownToggle>
                            <span class="fas fa-caret-down fa-sm"></span>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button class="dropdown-item" (click)="checkForAllRoles(section.id, true)">
                                <span class="fas fa-eye me-1"></span>{{'RESOURCE_VIEW.SECTIONS.FILTER.SET_VISIBLE_FOR_ALL'|translate}}
                            </button>
                            <button class="dropdown-item" (click)="checkForAllRoles(section.id, false)">
                                <span class="fas fa-eye-slash me-1"></span>{{'RESOURCE_VIEW.SECTIONS.FILTER.HIDE_FOR_ALL'|translate}}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div *ngIf="!readonly" class="card-footer">
        <button class="btn btn-xs btn-light float-end" (click)="reset()" [title]="'RESOURCE_VIEW.SECTIONS.FILTER.SET_VISIBLE_ALL'|translate">
            <span class="fas fa-eye me-1"></span>
            {{'COMMONS.ACTIONS.ENABLE_ALL'|translate}}
        </button>
    </div>
</div>