<div *ngIf="!hideModeChange" class="card" style="margin-bottom: 4px;">
    <div class="card-body">
        <div class="hbox"  style="align-items: center;">
            <label>{{'COMMONS.MODE'|translate}}:</label>
            <select class="form-select" style="margin-left: 6px;" [(ngModel)]="activeNotificationOpt" (ngModelChange)="changeNotificationStatus()">
                <option *ngFor="let opt of notificationOptions" [ngValue]="opt">{{opt.show|translate}}</option>
            </select>
        </div>
        <div class="alert alert-info" style="margin-top: 4px;">
            {{activeNotificationOpt.description|translate}}
        </div>
    </div>
</div>

<div class="card vbox" style="margin-bottom: 4px; flex: initial;">
    <div class="card-header">
        <label style="flex: 1;">
            {{'NOTIFICATIONS.SETTINGS.TYPE_EVENT_NOTIFICATIONS'|translate}}
            <span class="fas fa-info-circle ms-1" 
                [title]="'NOTIFICATIONS.SETTINGS.TYPE_EVENT_NOTIFICATIONS_INFO'|translate">
            </span>
        </label>
        <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="checkAllActions(true)" [title]="'NOTIFICATIONS.SETTINGS.ENABLE_ALL'|translate">
                <span class="far fa-check-square"></span>
            </button>
            <button class="btn btn-light" (click)="checkAllActions(false)" [title]="'NOTIFICATIONS.SETTINGS.DISABLE_ALL'|translate">
                <span class="far fa-square"></span>
            </button>
        </div>
    </div>
    <div class="card-body scrollableContainer">
        <table class="table table-sm" style="margin-top: 4px;">
            <thead>
                <tr>
                    <th>{{'MODELS.RESOURCE.RESOURCE_TYPE'|translate}}</th>
                    <th *ngFor="let a of actions" class="text-center">
                        {{a}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rs of roleStructs">
                    <td>
                        <div class="hbox" style="align-items: center;">
                            <label style="flex: 1;">{{rs.show}}</label>
                            <button #btnCheck class="btn btn-transparent btn-xs" (click)="checkAllActionsForRole(rs.role, true)"
                                (mouseup)="btnCheck.blur()" [title]="'NOTIFICATIONS.SETTINGS.ENABLE_ALL_FOR_TYPE'|translate">
                                <span class="far fa-check-square"></span>
                            </button>
                            <button #btnUncheck class="btn btn-transparent btn-xs" (click)="checkAllActionsForRole(rs.role, false)" 
                                (mouseup)="btnUncheck.blur()" [title]="'NOTIFICATIONS.SETTINGS.DISABLE_ALL_FOR_TYPE'|translate">
                                <span class="far fa-square"></span>
                            </button>
                        </div>
                    </td>
                    <td *ngFor="let a of actions" class="text-center">
                        <input type="checkbox" [(ngModel)]="notificationTable[rs.role][a]" (ngModelChange)="updateNotificationPref(rs.role, a)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card vbox" style="flex: initial;">
    <div class="card-header">
        <label>{{'NOTIFICATIONS.SETTINGS.WATCHING_RESOURCES'|translate}}</label>
    </div>
    <div class="card-body scrollableContainer">
        <div *ngIf="watchingResources.length == 0" class="alert alert-warning">
            {{'NOTIFICATIONS.SETTINGS.NO_RESOURCE_WATCHING_MSG.0'|translate}}
            <span class="fas fa-bell"></span>
            {{'NOTIFICATIONS.SETTINGS.NO_RESOURCE_WATCHING_MSG.1'|translate}}
        </div>

        <div *ngFor="let r of watchingResources" class="listItem d-flex align-items-center">
            <rdf-resource [resource]="r" style="flex: 1"></rdf-resource>
            <button class="btn btn-xs btn-light" (click)="stopWatching(r)" [title]="'NOTIFICATIONS.SETTINGS.STOP_WATCHING_RES'|translate">
                <span class="fas fa-minus"></span>
            </button>
        </div>
    </div>
</div>