<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title text-info">{{title}}</h3>
    </div>
    <div class="modal-body vbox scrollableContainer">
        <table class="table table-sm table-hoverable">
            <thead>
                <tr>
                    <th>{{'MODELS.RESOURCE.RESOURCE'|translate}}</th>
                    <th>{{'SEARCH.ASSISTED_SEARCH.MATCHED_LANG'|translate}}</th>
                    <th>{{'SEARCH.ASSISTED_SEARCH.MATCH_MODE'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of resourceList" (click)="resourceSelected = r" [ngClass]="{ 'table-primary': r == resourceSelected }">
                    <td><rdf-resource [resource]="r"></rdf-resource></td>
                    <td>{{r.getAdditionalProperty('matchedLang')}}</td>
                    <td>{{r.getAdditionalProperty('matchMode')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!resourceSelected">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>