<div class="card vbox">
  <div class="card-header">
    <label>{{'WIDGETS.CONVERTER.CONVERTER'|translate}}</label>
  </div>
  <div class="card-body scrollableContainer">

    <div class="table-responsive">
      <table class="table table-sm table-hoverable border-bottom mt-2">
        <thead>
          <tr>
            <th>{{'COMMONS.NAME'|translate}}</th>
            <th>{{'COMMONS.DESCRIPTION'|translate}}</th>
            <th nowrap>{{'WIDGETS.CONVERTER.RDF_CAPABILITY'|translate}}</th>
            <th>URI</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of availableConverters" (click)="selectConverter(c)" [ngClass]="{ 'table-primary': c == selectedConverter }" style="cursor: pointer;">
            <td>{{c.getName()}}</td>
            <td class="px-2" style="white-space: pre-wrap;">{{c.getDescription()}}</td>
            <td nowrap>
              {{c.getRDFCapability()}}
              <span *ngIf="c.getDatatypes()?.length > 0" class="fas fa-info-circle" [title]="c.getDatatypes()"></span>
            </td>
            <td [title]="c.getURI()">{{c.getQName()}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="selectedConverter" class="groupPanel mt-4">
      <div class="groupPanel-heading">
        <span style="flex: 1">
          <label class="groupPanel-heading-content">{{'WIDGETS.CONVERTER.CONVERTER_PARAMETERIZATION'|translate}}:</label>
        </span>
      </div>
      <div class="groupPanel-body hbox">
        <div class="card card-alt" style="flex: 2;">
          <div class="card-header">
            <label>{{'WIDGETS.CONVERTER.SIGNATURE'|translate}}</label>
          </div>
          <div class="card-body">
            <div *ngFor="let s of availableSignatures" class="listItem d-flex align-items-center" (click)="selectSignature(s)" [ngClass]="{ active: s == selectedSignature }">
              <span>{{getSignatureShow(s)}}</span>
              <span *ngIf="s.getRequirementLevels() != 'IGNORED'" class="fw-bold ms-2" [title]="'Feature path ' + s.getRequirementLevels().toLocaleLowerCase()">
                <ng-container *ngIf="s.getRequirementLevels() == 'OPTIONAL'">
                  [
                  <span class="fas fa-long-arrow-alt-left"></span>
                  <span style="font-style: italic;">F</span>
                  ]
                </ng-container>
                <ng-container *ngIf="s.getRequirementLevels() == 'REQUIRED'">
                  <span class="fas fa-long-arrow-alt-left"></span>
                  <span style="font-style: italic;">F</span>
                </ng-container>
              </span>

            </div>
          </div>
        </div>


        <!-- default literal converter, datatype and language choice -->
        <div *ngIf="showDefaultLiteralConverterOpt(); else otherConvBlock" class="card" style="flex: 3; margin-left: 4px;">
          <div class="card-body hbox" style="align-items: center;">
            <select class="form-select form-select-sm" style="max-width: 150px; margin-right: 4px;" [(ngModel)]="selectedLiteralAspect"
              [disabled]="!literalAspectChangeable" (ngModelChange)="onSignatureParamChange()">
              <option *ngFor="let o of literalAspectOpts">{{o}}</option>
            </select>
            <ng-container [ngSwitch]="selectedLiteralAspect">
              <lang-picker *ngSwitchCase="languageLiteralAspect" style="flex: 1;" [(ngModel)]="language"
                (ngModelChange)="onSignatureParamChange()">
              </lang-picker>
              <datatype-picker *ngSwitchCase="datatypeLiteralAspect" style="flex: 1;" [(ngModel)]="datatype"
                (ngModelChange)="onSignatureParamChange()">
              </datatype-picker>
              <input *ngSwitchDefault class="form-control form-control-sm" disabled>
            </ng-container>
          </div>

        </div>
        <!-- other converters -->
        <ng-template #otherConvBlock>
          <div *ngIf="signatureParams?.length > 0" class="card card-alt" style="flex: 3; margin-left: 4px;">
            <div class="card-header d-flex align-items-center">
              <label style="flex: 1;">{{'WIDGETS.CONVERTER.PARAMS'|translate}}</label>
              <button class="btn btn-xs btn-light" [ngbPopover]="popContent" container="body">
                <span class="fas fa-question-circle"></span>
              </button>
              <ng-template #popContent>
                <div style="max-width: 400px;">
                  <p>{{'WIDGETS.CONVERTER.PARAM_HELPER.INTRO'|translate}}</p>
                  <ul>
                    <li>
                      <b>{{'WIDGETS.CONVERTER.PARAM_HELPER.OPT_RDF_VALUE'|translate}}</b>:
                      <span [innerHTML]="'WIDGETS.CONVERTER.PARAM_HELPER.OPT_RDF_VALUE_DESCR'|translate"></span>
                    </li>
                    <li>
                      <b>{{'WIDGETS.CONVERTER.PARAM_HELPER.OPT_NODE_REF'|translate}}</b>:
                      <span [innerHTML]="'WIDGETS.CONVERTER.PARAM_HELPER.OPT_NODE_REF_DESCR'|translate"></span>
                    </li>
                    <li>
                      <b>{{'WIDGETS.CONVERTER.PARAM_HELPER.OPT_RDF_IRI'|translate}}</b>:
                      <span [innerHTML]="'WIDGETS.CONVERTER.PARAM_HELPER.OPT_RDF_IRI_DESCR'|translate"></span>
                    </li>
                    <li>
                      <b>{{'WIDGETS.CONVERTER.PARAM_HELPER.OPT_RDF_LITERAL'|translate}}</b>:
                      <span [innerHTML]="'WIDGETS.CONVERTER.PARAM_HELPER.OPT_RDF_LITERAL_DESCR'|translate"></span>
                    </li>
                    <li>
                      <b>{{'WIDGETS.CONVERTER.PARAM_HELPER.OPT_STRING'|translate}}</b>:
                      <span [innerHTML]="'WIDGETS.CONVERTER.PARAM_HELPER.OPT_STRING_DESCR'|translate"></span>
                    </li>
                    <li>
                      <b>{{'WIDGETS.CONVERTER.PARAM_HELPER.OPT_LIST'|translate}}</b>:
                      <span [innerHTML]="'WIDGETS.CONVERTER.PARAM_HELPER.OPT_LIST_DESCR'|translate"></span>
                    </li>
                    <li>
                      <b>{{'WIDGETS.CONVERTER.PARAM_HELPER.OPT_MAP'|translate}}</b>:
                      <span [innerHTML]="'WIDGETS.CONVERTER.PARAM_HELPER.OPT_MAP_DESCR'|translate"></span>
                    </li>
                  </ul>
                </div>
              </ng-template>
            </div>
            <div class="card-body">
              <table class="table table-sm table-borderless">
                <colgroup>
                  <col style="width: 1%;">
                  <col>
                </colgroup>
                <tbody>
                  <tr *ngFor="let p of signatureParams">
                    <td nowrap>
                      <div class="d-flex align-items-center" style="gap: 4px;">
                        <img [src]="parameterDetailsMap[p.type].icon" [title]="parameterDetailsMap[p.type].info" />
                        <label>{{p.name}}</label>
                        <span *ngIf="p.description" class="fas fa-info-circle" [title]="p.description"></span>
                      </div>
                    </td>
                    <td>
                      <div [ngSwitch]="p.type">
                        <ng-container *ngSwitchCase="'java.lang.String'">
                          <div *ngIf="p.name == 'xRole'; else genericStringParamElseBlock" class="hbox">
                            <select class="form-select form-select-sm" [(ngModel)]="p[XROLE_SEL_ATTR]" (ngModelChange)="onXRoleChange(p)">
                              <option *ngFor="let r of xRoles">{{r}}</option>
                              <option [value]="xRoleOther">{{'COMMONS.OTHER'|translate}}</option>
                            </select>
                            <input *ngIf="p[XROLE_SEL_ATTR] == xRoleOther" class="form-control form-control-sm ms-2" [(ngModel)]="p.value" (ngModelChange)="onSignatureParamChange()">
                          </div>
                          <ng-template #genericStringParamElseBlock>
                            <input class="form-control form-control-sm" [(ngModel)]="p.value" (ngModelChange)="onSignatureParamChange()">
                          </ng-template>
                        </ng-container>

                        <ng-container *ngSwitchCase="'org.eclipse.rdf4j.model.Value[]'">
                          <list-param-editor [value]="p.value" (valueChanged)="onListParamChange($event, p)"></list-param-editor>
                        </ng-container>

                        <ng-container *ngSwitchCase="'java.util.Map<java.lang.String, org.eclipse.rdf4j.model.Value>'">
                          <map-param-editor [value]="p.value" (valueChanged)="onMapParamChange($event, p)"></map-param-editor>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                          <!-- org.eclipse.rdf4j.model.Value -->
                          <!-- org.eclipse.rdf4j.model.Resource -->
                          <!-- org.eclipse.rdf4j.model.IRI -->
                          <!-- org.eclipse.rdf4j.model.Literal -->
                          <input class="form-control form-control-sm" [(ngModel)]="p.value" (ngModelChange)="onSignatureParamChange()">
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

</div>