<div class="input-group">

  <ng-container *ngIf="namespaceLocked">
    <span class="input-group-text">{{namespace}}</span>
    <input #lnWithPH *ngIf="placeholder" type="text" class="form-control" [(ngModel)]="localName"
      (ngModelChange)="onModelChanged()" [placeholder]="placeholder" [sanitized]="true">
    <input #lnWithoutPH *ngIf="!placeholder" type="text" class="form-control" [(ngModel)]="localName"
      (ngModelChange)="onModelChanged()" [sanitized]="true">
  </ng-container>

  <ng-container *ngIf="!namespaceLocked">
    <input *ngIf="placeholder" type="text" class="form-control" [(ngModel)]="uri" (ngModelChange)="onModelChanged()"
      [placeholder]="placeholder" [sanitized]="true">
    <input *ngIf="!placeholder" type="text" class="form-control" [(ngModel)]="uri" (ngModelChange)="onModelChanged()"
      [sanitized]="true">
  </ng-container>

  <button class="btn btn-light" style="width:30px;" (click)="unlockNamespace()"
    [title]="'COMMONS.ACTIONS.LOCK_UNLOCK_NAMESPACE'|translate" [ngClass]="{active: namespaceLocked}">
    <span class="fas fa-lock"></span>
  </button>
</div>