<div class="card vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.LABEL.NO_MANDATORY_LABEL.NAME'|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'COMMONS.ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox" style="gap: 5px">
        
        <icv-config-panel [checkRoles]="checkRoles" (rolesChange)="onRolesChanged($event)"
            [checkLanguages]="checkLanguages" (langsChange)="onLangsChanged($event)">
        </icv-config-panel>

        <div class="card vbox">
            <div class="card-body table-responsive">
                <table *ngIf="brokenRecordList" class="table table-sm table-hoverable">
                    <thead>
                        <tr>
                            <th class="text-center">{{'MODELS.RESOURCE.RESOURCE'|translate}}</th>
                            <th class="text-center">{{'ICV.LABEL.NO_MANDATORY_LABEL.MISSING_LANG_LABEL'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let record of brokenRecordList; let i=index">
                            <tr *ngIf="i >= page*resultsLimit && i < page*resultsLimit + resultsLimit">
                                <td class="text-center">
                                    <rdf-resource class="clickable" [resource]="record.resource" (click)="onResourceClick(record.resource)"></rdf-resource>
                                </td>
                                <td class="text-center">
                                    <ng-container *ngFor="let lang of record.langs">
                                        <lang-item [language]="lang"></lang-item>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

            <div *ngIf="brokenRecordList && brokenRecordList.length > 0" class="card-footer">
                <div class="btn-group btn-group-xs float-end" role="group">
                    <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="page=page-1" [disabled]="page <= 0">
                        <span class="fas fa-caret-left"></span>
                    </button>
                    <button class="btn btn-light" style="cursor: auto" disabled>
                        <span>{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{pageCount}}</span>
                    </button>
                    <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="page=page+1" [disabled]="page+1 >= pageCount">
                        <span class="fas fa-caret-right"></span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>