<div class="card vbox position-relative">
  <div class="card-header">
    <div class="d-flex align-items-center gap-2" style="flex: 1;">

      <div class="d-flex gap-2">
        <ng-container *ngTemplateOutlet="historyControl"></ng-container>
        <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="buildResourceView(resource)">
          <span class="fas fa-redo"></span>
        </button>
      </div>

      <resource-rename [resource]="resource" style="flex: 1;" [readonly]="readonly || disabled" (update)="buildResourceView(resource)">
        
        <ng-container resource-position *ngTemplateOutlet="resourcePositionTemplate"></ng-container>

      </resource-rename>

      <button class="btn btn-light btn-xs btn-bright" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()" [disabled]="disabled">
        <span class="fas fa-font"></span>
      </button>
      <button class="btn btn-light btn-xs btn-bright" [ngClass]="{active: showInferred}" [title]="'RESOURCE_VIEW.ACTIONS.SHOW_HIDE_INFERRED'|translate" (click)="switchInferred()" [disabled]="disabled">
        <span *ngIf="showInferred" class="fas fa-eye"></span>
        <span *ngIf="!showInferred" class="fas fa-eye-slash"></span>
      </button>
      <button class="btn btn-light btn-xs btn-bright" [ngClass]="{active: valueFilterLangEnabled}" [title]="'RESOURCE_VIEW.ACTIONS.TOGGLE_VALUE_FILTER_LANG'|translate" (click)="switchValueFilterLang()" [disabled]="disabled">
        <span class="fas fa-filter"></span>
      </button>

      <button *ngIf="notificationsAvailable" class="btn btn-light btn-xs btn-bright" [ngClass]="{active: isWatching}"
        (click)="changeNotificationStatus()" [title]="'RESOURCE_VIEW.ACTIONS.TOGGLE_NOTIFICATIONS'|translate" [disabled]="disabled">
        <span class="fas fa-bell"></span>
      </button>

      <div *ngIf="timeActionsEnabled" class="dropdown" ngbDropdown>
        <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle (click)="initVersions()" [title]="'RESOURCE_VIEW.TIME_MACHINE.TIME_MACHINE'|translate"
          [disabled]="(!versionList || versionList.length == 0) && !timeMachineAvailable || disabled">
          <span class="far fa-clock"></span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <ng-container *ngIf="versionList?.length > 0">
            <h6 class="dropdown-header">{{'RESOURCE_VIEW.TIME_MACHINE.CHANGE_VERSION'|translate}}</h6>
            <button class="dropdown-item ps-5" (click)="switchToVersion()">
              <div class="d-flex align-items-center">
                <span style="flex: 1;">{{'RESOURCE_VIEW.TIME_MACHINE.CURRENT'|translate}}</span>
                <span *ngIf="!activeVersion" class="fas fa-check ms-2"></span>
              </div>
            </button>
            <button *ngFor="let v of versionList" class="dropdown-item ps-5" (click)="switchToVersion(v)">
              <div class="d-flex align-items-center">
                <span style="flex: 1;">{{v.dateTimeLocal}} - {{v.versionId}}</span>
                <span *ngIf="v == activeVersion" class="fas fa-check ms-2"></span>
              </div>

            </button>
          </ng-container>
          <ng-container *ngIf="timeMachineAvailable && !activeVersion">
            <a class="dropdown-header" (click)="timeMachine()">
              {{'RESOURCE_VIEW.TIME_MACHINE.TRAVER_TO_TIME'|translate}}
            </a>
          </ng-container>
        </div>
      </div>

      <div *ngIf="collaborationAvailable" class="dropdown" ngbDropdown>
        <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [title]="'COLLABORATION.ACTIONS.SHOW_ISSUES'|translate" [disabled]="disabled">
          <span [class]="'fas fa-exclamation-circle ' + issuesStruct.btnClass"></span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button *ngFor="let i of issuesStruct.issues" class="dropdown-item hbox align-items-center">
            <a style="flex: 1;" [href]="i.getUrl()" target="_blank" [title]="i.getSummary()">
              {{i.getKey()}}
              <div [class]="'badge float-end ' + i.getStatusClass()" style="font-size: 100%">{{i.getStatus()}}</div>
            </a>
            <button class="btn btn-light btn-xs ms-1" (click)="unassignIssue(i)" [title]="'COLLABORATION.ACTIONS.UNASSIGN_ISSUE'|translate">
              <span class="far fa-trash-alt"></span>
            </button>
          </button>
          <div *ngIf="issuesStruct.issues" class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="createIssue()">{{'COLLABORATION.ACTIONS.CREATE_ISSUE'|translate}}</button>
          <button class="dropdown-item" (click)="assignToIssue()">{{'COLLABORATION.ACTIONS.ASSIGN_TO_ISSUE'|translate}}</button>
        </div>
      </div>

      <div *ngIf="isGraphAuthorized" class="dropdown" ngbDropdown>
        <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
          <i class="fas fa-project-diagram"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button *ngIf="isOpenDataGraphEnabled" class="dropdown-item" (click)="openDataGraph()">
            {{'RESOURCE_VIEW.ACTIONS.SHOW_IN_DATA_GRAPH'|translate}}
          </button>
          <button *ngIf="isOpenModelGraphEnabled" class="dropdown-item" (click)="openModelGraph()">
            {{'RESOURCE_VIEW.ACTIONS.SHOW_IN_MODEL_GRAPH'|translate}}
          </button>
        </div>
      </div>

      <button *ngIf="settingsAvailable" class="btn btn-light btn-xs" [title]="'COMMONS.SETTINGS'|translate" (click)="openSettings()" [disabled]="disabled">
        <span class="fas fa-cog"></span>
      </button>

      <res-view-menu [resource]="resource" [rendering]="rendering" [showInferred]="showInferred" [readonly]="readonly || disabled" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (assertInferred)="assertInferredStatements()"></res-view-menu>
    </div>
  </div>
  <div class="card-body scrollableContainer">
    <div *ngIf="unauthorizedResource" class="alert alert-danger">
      {{'RESOURCE_VIEW.STATUS.UNAUTHORIZED_RESOURCE'|translate}}
    </div>
    <div *ngIf="unexistingResource" class="alert alert-danger">
      {{'RESOURCE_VIEW.STATUS.RESOURCE_NOT_EXISTING'|translate}}
      <ng-container *ngIf="availablePosition?.length > 1">
        <span>({{resourcePosition.serialize()}})</span>
        <div class="mt-3">
          {{'RESOURCE_VIEW.ACTIONS.TRY_DIFFERENT_POSITIONS'|translate}}
          <ul class="my-2">
            <li *ngFor="let pos of availablePosition">
              <a class="alert-link me-2" (click)="forcePosition(pos); false" href>
                <ng-container *ngIf="pos.isLocal()">{{pos['project']}}</ng-container>
                <ng-container *ngIf="pos.isRemote()">{{pos['datasetMetadata'].getShow()}}</ng-container>
              </a>
              <span class="badge bg-light">{{pos.position}}</span>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
    <div *ngIf="unknownHost" class="alert alert-danger">
      {{'RESOURCE_VIEW.STATUS.RESOURCE_UNKNOWN_HOST'|translate}}
    </div>
    <ng-container *ngIf="!unexistingResource && !unknownHost">
      <types-renderer *ngIf="resViewSections['types']" class="section-renderer" [ngStyle]="{ order: sectionOrder['types'] }"
        [poList]="resViewSections['types']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </types-renderer>
      <class-axiom-renderer *ngIf="resViewSections['classaxioms']" class="section-renderer" [ngStyle]="{ order: sectionOrder['classaxioms'] }"
        [poList]="resViewSections['classaxioms']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </class-axiom-renderer>
      <top-concepts-renderer *ngIf="resViewSections['topconceptof']" class="section-renderer" [ngStyle]="{ order: sectionOrder['topconceptof'] }"
        [poList]="resViewSections['topconceptof']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </top-concepts-renderer>
      <schemes-renderer *ngIf="resViewSections['schemes']" class="section-renderer" [ngStyle]="{ order: sectionOrder['schemes'] }"
        [poList]="resViewSections['schemes']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </schemes-renderer>
      <broaders-renderer *ngIf="resViewSections['broaders']" class="section-renderer" [ngStyle]="{ order: sectionOrder['broaders'] }"
        [poList]="resViewSections['broaders']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </broaders-renderer>
      <superproperties-renderer *ngIf="resViewSections['superproperties']" class="section-renderer" [ngStyle]="{ order: sectionOrder['superproperties'] }"
        [poList]="resViewSections['superproperties']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </superproperties-renderer>
      <equivalent-properties-renderer *ngIf="resViewSections['equivalentProperties']" class="section-renderer" [ngStyle]="{ order: sectionOrder['equivalentProperties'] }"
        [poList]="resViewSections['equivalentProperties']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </equivalent-properties-renderer>
      <disjoint-properties-renderer *ngIf="resViewSections['disjointProperties']" class="section-renderer" [ngStyle]="{ order: sectionOrder['disjointProperties'] }"
        [poList]="resViewSections['disjointProperties']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </disjoint-properties-renderer>
      <property-chain-renderer *ngIf="resViewSections['subPropertyChains']" class="section-renderer" [ngStyle]="{ order: sectionOrder['subPropertyChains'] }"
        [poList]="resViewSections['subPropertyChains']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </property-chain-renderer>
      <constituents-renderer *ngIf="resViewSections['constituents']" class="section-renderer" [ngStyle]="{ order: sectionOrder['constituents'] }"
        [poList]="resViewSections['constituents']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </constituents-renderer>
      <subterms-renderer *ngIf="resViewSections['subterms']" class="section-renderer" [ngStyle]="{ order: sectionOrder['subterms'] }"
        [poList]="resViewSections['subterms']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </subterms-renderer>
      <domains-renderer *ngIf="resViewSections['domains']" class="section-renderer" [ngStyle]="{ order: sectionOrder['domains'] }"
        [poList]="resViewSections['domains']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </domains-renderer>
      <ranges-renderer *ngIf="resViewSections['ranges']" class="section-renderer" [ngStyle]="{ order: sectionOrder['ranges'] }"
        [poList]="resViewSections['ranges']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </ranges-renderer>
      <property-facets-renderer *ngIf="resViewSections['facets'] && propertyFacets" class="section-renderer" [ngStyle]="{ order: sectionOrder['facets'] }"
        [poList]="resViewSections['facets']" [facets]="propertyFacets" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </property-facets-renderer>
      <datatype-definition-renderer *ngIf="resViewSections['datatypeDefinitions']" class="section-renderer" [ngStyle]="{ order: sectionOrder['datatypeDefinitions'] }"
        [poList]="resViewSections['datatypeDefinitions']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </datatype-definition-renderer>
      <lexicalizations-renderer *ngIf="resViewSections['lexicalizations']" class="section-renderer" [ngStyle]="{ order: sectionOrder['lexicalizations'] }"
        [poList]="resViewSections['lexicalizations']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </lexicalizations-renderer>
      <lexical-forms-renderer *ngIf="resViewSections['lexicalForms']" class="section-renderer" [ngStyle]="{ order: sectionOrder['lexicalForms'] }"
        [poList]="resViewSections['lexicalForms']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </lexical-forms-renderer>
      <lexical-senses-renderer *ngIf="resViewSections['lexicalSenses']" class="section-renderer" [ngStyle]="{ order: sectionOrder['lexicalSenses'] }"
        [poList]="resViewSections['lexicalSenses']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </lexical-senses-renderer>
      <denotations-renderer *ngIf="resViewSections['denotations']" class="section-renderer" [ngStyle]="{ order: sectionOrder['denotations'] }"
        [poList]="resViewSections['denotations']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </denotations-renderer>
      <evoked-lexical-concepts-renderer *ngIf="resViewSections['evokedLexicalConcepts']" class="section-renderer" [ngStyle]="{ order: sectionOrder['evokedLexicalConcepts'] }"
        [poList]="resViewSections['evokedLexicalConcepts']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </evoked-lexical-concepts-renderer>
      <notes-renderer *ngIf="resViewSections['notes']" class="section-renderer" [ngStyle]="{ order: sectionOrder['notes'] }"
        [poList]="resViewSections['notes']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </notes-renderer>
      <members-renderer *ngIf="resViewSections['members']" class="section-renderer" [ngStyle]="{ order: sectionOrder['members'] }"
        [poList]="resViewSections['members']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </members-renderer>
      <members-ordered-renderer *ngIf="resViewSections['membersOrdered']" class="section-renderer" [ngStyle]="{ order: sectionOrder['membersOrdered'] }"
        [poList]="resViewSections['membersOrdered']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </members-ordered-renderer>
      <label-relations-renderer *ngIf="resViewSections['labelRelations']" class="section-renderer" [ngStyle]="{ order: sectionOrder['labelRelations'] }"
        [poList]="resViewSections['labelRelations']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </label-relations-renderer>
      <form-representations-renderer *ngIf="resViewSections['formRepresentations']" class="section-renderer" [ngStyle]="{ order: sectionOrder['formRepresentations'] }"
        [poList]="resViewSections['formRepresentations']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </form-representations-renderer>
      <imports-renderer *ngIf="resViewSections['imports']" class="section-renderer" [ngStyle]="{ order: sectionOrder['imports'] }"
        [poList]="resViewSections['imports']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </imports-renderer>
      <rdfs-members-renderer *ngIf="resViewSections['rdfsMembers']" class="section-renderer" [ngStyle]="{ order: sectionOrder['rdfsMembers'] }"
        [poList]="resViewSections['rdfsMembers']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </rdfs-members-renderer>
      <properties-renderer *ngIf="resViewSections['properties']" class="section-renderer" [ngStyle]="{ order: sectionOrder['properties'] }"
        [poList]="resViewSections['properties']" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
        (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
      </properties-renderer>

      <!-- Lazy loaded section not availabl with time machine (atTime not null) -->
      <collections-renderer *ngIf="!atTime && resViewSections['collections']" class="section-renderer" [ngStyle]="{ order: sectionOrder['collections'] }"
        [resource]="resource" [rendering]="rendering" [readonly]="true" [projectCtx]="projectCtx"
        (valueClick)="onValueClick($event)">
      </collections-renderer>

      <ng-container *ngFor="let s of customSections">
        <custom-section-renderer *ngIf="resViewSections[s]" [section]="s" class="section-renderer" [ngStyle]="{ order: sectionOrder[s] }"
          [poList]="resViewSections[s]" [resource]="resource" [rendering]="rendering" [readonly]="readonly" [projectCtx]="projectCtx"
          (update)="buildResourceView(resource)" (valueClick)="onValueClick($event)">
        </custom-section-renderer>
      </ng-container>

    </ng-container>
  </div>
  <div class="card-footer"></div>

  <loading-div *ngIf="loading"></loading-div>

</div>


<ng-template #resourcePositionTemplate>
<button class="btn btn-sm btn-light border rounded-start-3" style="width: 26px;" [ngbPopover]="popContent" placement="bottom" popoverClass="rounded" [disabled]="loading || !resourcePosition">
  <i *ngIf="loading; else resPositionBlock" class="spinner-border text-secondary spinner-border-sm"></i>
  <ng-template #resPositionBlock>
    <i *ngIf="!resourcePosition || resourcePosition?.isUnknown(); else knownPositionBlock" class="far fa-question-circle" [title]="'RESOURCE_VIEW.STATUS.UNKNOWN_POSITION'|translate"></i>
    <ng-template #knownPositionBlock>
      <span [ngSwitch]="accessMethod" [title]="'Access method: ' + accessMethod">
        <span *ngSwitchCase="AccessMethod.dereferenciation" class="fas fa-download"></span>
        <img *ngSwitchCase="AccessMethod.local" [src]="'./assets/images/icons/' + (localCurrentProject ? 'local_current_project.png' : 'local_other_project.png')" style="max-height: 12px;">
        <img *ngSwitchCase="AccessMethod.sparql" src="./assets/images/icons/res/ontology.png" style="max-height: 12px;">
        <img *ngSwitchCase="AccessMethod.sparql_degraded" src="./assets/images/icons/res/ontology.png" style="max-height: 12px;">
      </span>
    </ng-template>
  </ng-template>
</button>
<ng-template #popContent>
  <div>
    <table class="table table-sm table-borderless">
      <tbody>
        <tr>
          <td><b>{{'RESOURCE_VIEW.STATUS.ACCESS_METHOD'|translate}}:</b></td>
          <td>{{accessMethod}}</td>
        </tr>
        <tr *ngIf="resourcePosition.isLocal()">
          <td>
            <b *ngIf="localCurrentProject">{{'RESOURCE_VIEW.STATUS.LOCAL_PROJECT'|translate}}:</b>
            <b *ngIf="!localCurrentProject">{{'RESOURCE_VIEW.STATUS.OTHER_LOCAL_PROJECT'|translate}}:</b>
          </td>
          <td>{{resourcePositionDetails}}</td>
        </tr>
        <tr *ngIf="resourcePosition.isRemote()">
          <td><b>{{'RESOURCE_VIEW.STATUS.REMOTE_DATASET'|translate}}: </b></td>
          <td>{{resourcePositionDetails}}</td>
        </tr>
        <tr *ngIf="resourcePosition.isUnknown()">
          <td><b>{{'RESOURCE_VIEW.STATUS.REMOTE_DATASET'|translate}}: </b></td>
          <td>
            <div class="d-flex align-items-center gap-2">
              Unknown
              <button *ngIf="resource.isURIResource()" class="btn btn-xs btn-light" (click)="discoverDataset()">{{'COMMONS.ACTIONS.DISCOVER'|translate}}</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>