<div class="input-group input-group-sm position-relative">

  <ng-content select="[resource-position]"></ng-content>

  @if (resource.isURIResource()) {

    <span *ngIf="namespaceLocked" class="input-group-text">{{iriResource.getBaseURI()}}</span>

    <input #localrenameinput *ngIf="namespaceLocked" type="text" class="form-control" style="padding-left: 2px; min-width: 80px;"
      [(ngModel)]="localName" [disabled]="renameLocked" [sanitized]="true">

    <input #totalrenameinput *ngIf="!namespaceLocked" type="text" class="form-control" [value]="iriResource.getURI()" [sanitized]="true">

    <button *ngIf="renameLocked" class="btn btn-light" style="width:72px" (click)="startRename()" [disabled]="renameDisabled">
      {{'COMMONS.ACTIONS.RENAME'|translate}}
    </button>

    <button *ngIf="!renameLocked" class="btn btn-light" style="width:24px; padding: 1px 3px;"
      (click)="renameResource()">
      <span class="fas fa-check" style="color: green"></span>
    </button>
    <button *ngIf="!renameLocked" class="btn btn-light" style="width:24px; padding: 1px 3px;"
      (click)="cancelRename()">
      <span class="fas fa-times" style="color: red"></span>
    </button>
    <button *ngIf="!renameLocked" class="btn btn-light" [ngClass]="{active: namespaceLocked}"
      style="width:24px; padding: 1px 3px;" (click)="blockNamespace()" [title]="'RESOURCE_VIEW.ACTIONS.BLOCK_NAMESPACE'|translate">
      <span class="fas fa-lock"></span>
    </button>

    <div class="position-absolute" style="top: 0px; right: 75px; z-index: 3;">
      <button type="button" class="transparentBtn" (click)="copyToClipboard()" [title]="'RESOURCE_VIEW.ACTIONS.COPY_TO_CLIPBOARD'|translate">
        <span class="far fa-copy" style="font-size: 12px"></span>
      </button>
    </div>

  } @else {

    <input type="text" class="form-control" [value]="bNode.getId()" disabled>

  }

</div>