<div class="dropdown" ngbDropdown>
    <button class="dropdown-toggle transparentBtn ms-1" data-toggle="dropdown" ngbDropdownToggle [disabled]="readonly">
        <span class="fas fa-caret-down"></span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
        <button *ngIf="resource.isURIResource()" class="dropdown-item" [ngClass]="{ disabled : isAlignDisabled }" (click)="alignResource()">
            {{'RESOURCE_VIEW.ACTIONS.ALIGN_WITH_EXTERNAL_RESOURCE'|translate}}
        </button>
        <button *ngIf="isURIResource()" class="dropdown-item" [ngClass]="{ disabled : isSetDeprecatedDisabled }" (click)="setAsDeprecated()">
            {{'RESOURCE_VIEW.ACTIONS.SET_AS_DEPRECATED'|translate}}
        </button>
        <button *ngIf="showInferred" class="dropdown-item" [ngClass]="{ disabled : isAssertInferredDisabled }" (click)="assertInferredStmts()">
            {{'RESOURCE_VIEW.ACTIONS.ASSERT_INFERRED_STATEMENTS'|translate}}
        </button>
        <button *ngIf="resource.getRole() == 'xLabel'" class="dropdown-item" [ngClass]="{ disabled : isSpawnFromLabelDisabled }" (click)="spawnNewConceptWithLabel()">
            {{'RESOURCE_VIEW.ACTIONS.SPAWN_CONCEPT_FROM_XLABEL'|translate}}
        </button>
        <ng-container *ngIf="isHistoryEnabled || isValidationEnabled">
            <div class="dropdown-divider"></div>
            <button *ngIf="isHistoryEnabled" class="dropdown-item" (click)="goToResourceHistory()">
                {{'RESOURCE_VIEW.ACTIONS.SHOW_RES_HISTORY'|translate}}
            </button>
            <button *ngIf="isValidationEnabled" class="dropdown-item" (click)="goToResourceValidation()">
                {{'RESOURCE_VIEW.ACTIONS.SHOW_RES_VALIDATION'|translate}}
            </button>
        </ng-container>
    </div>
</div>