.todo-issues {
    color: #337ab7
}

.in-progress-issues {
    color: #f0ad4e
}

.done-issues {
    color: #5cb85c
}

.generic-issues {
    color: #ff3300
}

.dropdown-header {
    color: black;
    font-size: 1.125rem;
}

a.dropdown-header:hover {
    background-color: #e9ecef !important;
    text-decoration: none;
}

.section-renderer {
    margin-top: 3px;
}

::ng-deep .section-description {
    margin: 10px 12px 14px;
}