<div [class]="inputClass">

  <ng-container [ngSwitch]="type">

    <select *ngSwitchCase="'select'" [(ngModel)]="value" class="form-select" [disabled]="disabled || !editInProgress">
      <option *ngFor="let o of options" [value]="o">{{o}}</option>
    </select>

    <input *ngSwitchCase="'password'" [type]="showPwd ? 'text' : 'password'" class="form-control" [(ngModel)]="value" [readonly]="!editInProgress" [disabled]="disabled">

    <input *ngSwitchDefault [type]="inputType" class="form-control" [(ngModel)]="value"
      [min]="min" [max]="max" [step]="step" [readonly]="!editInProgress" [disabled]="disabled">

  </ng-container>

  <!-- Edit buttons -->
  <ng-container *ngIf="!editInProgress">
    <button *ngIf="type == 'password' && allowPwdToggle" class="btn btn-light" style="width:36px;" (mousedown)="showPwd = true" (mouseup)="showPwd = false">
      <span [class]="'fas fa-eye' + (showPwd ? '' : '-slash')"></span>
    </button>
    <button *ngIf="!readonly" class="btn btn-light" type="button" style="width:36px;"
      (click)="edit()" [title]="'COMMONS.ACTIONS.EDIT'|translate" [disabled]="disabled">
      <span class="fas fa-pencil-alt"></span>
    </button>
  </ng-container>
  <ng-container *ngIf="editInProgress">
    <button *ngIf="type == 'password' && allowPwdToggle" class="btn btn-light" style="width:36px;" (mousedown)="showPwd = true" (mouseup)="showPwd = false">
      <span [class]="'fas fa-eye' + (showPwd ? '' : '-slash')"></span>
    </button>
    <button class="btn btn-light p-0" type="button" style="width:18px;" (click)="confirmEdit()" [title]="'COMMONS.ACTIONS.CONFIRM'|translate">
      <span class="fas fa-check" style="color: green"></span>
    </button>
    <button class="btn btn-light p-0" type="button" style="width:18px;" (click)="cancelEdit()" [title]="'COMMONS.ACTIONS.CANCEL'|translate">
      <span class="fas fa-times" style="color: red"></span>
    </button>
  </ng-container>
</div>