<span [title]="getMenuTitle()" style="display: flex; align-items: center;">
  <select [class]="'me-2 ' + selectClass" [(ngModel)]="language" (ngModelChange)="onLangChange()" [disabled]="isDisabled() || readonly">
    <option *ngFor="let l of languageList" [ngValue]="l">
      {{l.name}}
      <ng-container *ngIf="l.tag">({{l.tag}})</ng-container>
    </option>
  </select>
  <lang-item *ngIf="showFlag && language" [language]="language" [showName]="false"></lang-item>
</span>