<div class="card vbox">
  <div class="card-header">
    <div class="expandCollapseBtnContainer">
      <img src="./assets/images/icons/arrow.png" (click)="configPanelOpen = !configPanelOpen"
        [ngClass]="{'arrow-right': !configPanelOpen}">
    </div>
    <label>{{'ICV.CONFIG.ICV_CONFIG'|translate}}</label>
  </div>
  <div class="card-body">
    <div *ngIf="configPanelOpen" class="hbox">
      <div *ngIf="checkRoles" class="card vbox" style="margin: 2px;">
        <div class="card-header">
          <label style="flex: 1">{{'ICV.CONFIG.RESOURCES_TO_CHECK'|translate}}</label>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="checkAllRoles(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
              <span class="far fa-check-square"></span>
            </button>
            <button class="btn btn-light" (click)="checkAllRoles(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
              <span class="far fa-square"></span>
            </button>
          </div>
        </div>
        <div class="card-body configPanel scrollableContainer">
          <table class="table table-sm table-borderless table-hoverable">
            <thead>
              <tr>
                <th class="text-center">{{'ICV.CONFIG.CHECK'|translate}}</th>
                <th class="text-center">{{'MODELS.RESOURCE.RESOURCE_TYPE'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of roles">
                <td class="text-center">
                  <input type="checkbox" style="vertical-align: middle" [(ngModel)]="r.check" (ngModelChange)="onRolesChange()">
                </td>
                <td class="text-center">
                  <img [src]="r.img" style="margin-right: 4px;">{{r.role}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="checkLanguages" class="card vbox" style="margin: 2px;">
        <div class="card-header">
          <label style="flex: 1">{{'ICV.CONFIG.LANGUAGES_TO_CHECK'|translate}}</label>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="checkAllLangs(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
              <span class="far fa-check-square"></span>
            </button>
            <button class="btn btn-light" (click)="checkAllLangs(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
              <span class="far fa-square"></span>
            </button>
            <button class="btn btn-light" (click)="checkAllLangsMandatory()" [title]="'ICV.CONFIG.ONLY_MANDATORY_INFO'|translate">
              {{'ICV.CONFIG.ONLY_MANDATORY'|translate}}
            </button>
          </div>
        </div>
        <div class="card-body configPanel scrollableContainer">
          <table class="table table-sm table-borderless table-hoverable">
            <thead>
              <tr>
                <th class="text-center">{{'ICV.CONFIG.CHECK'|translate}}</th>
                <th class="text-center">{{'COMMONS.LANGUAGE.LANGUAGE'|translate}}</th>
                <th class="text-center">{{'COMMONS.MANDATORY'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of languages">
                <td class="text-center">
                  <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.check" (ngModelChange)="onLangsChange()">
                </td>
                <td class="text-center">
                  <lang-item [language]="l.lang" [showTag]="true"></lang-item>
                </td>
                <td class="text-center">
                  <span *ngIf="l.lang.mandatory" class="fas fa-check"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <ng-content></ng-content>

    </div>
  </div>
</div>