<resizable-layout orientation="H" [mainFlex]="4">

  <div main class="card vbox">
    <div class="card-header">
      <label>{{'ICV.ICV'|translate}}:</label>
    </div>

    <div class="card-body vbox scrollableContainer" style="gap: 5px">

      <div *ngFor="let group of icvGroups" class="card card-alt">
        <div class="card-header">
          <div class="expandCollapseBtnContainer">
            <img src="./assets/images/icons/arrow.png" (click)="togglePanel(group)" [ngClass]="{'arrow-right': !group.open}">
          </div>
          <label>{{group.name|translate}}</label>
        </div>
        <div class="card-body" *ngIf="group.open">
          <table class="table table-sm table-borderless table-hoverable">
            <colgroup>
              <col style="width: 20%;">
              <col>
            </colgroup>
            <tbody>
              <ng-container *ngFor="let icv of group.icv">
                <tr *ngIf="icv.show" [ngClass]="{ 'table-primary': activeIcv == icv }" (click)="goToIcv(icv)">
                  <td><strong>{{icv.name|translate}}</strong></td>
                  <td><i>{{icv.description|translate}}</i></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="activeIcv" secondary class="vbox">
    <router-outlet></router-outlet>
  </div>

</resizable-layout>