<div class="hbox">

  <mdr-tree-panel (nodeSelected)="onCatalogSelected($event)"></mdr-tree-panel>

  <div *ngIf="selectedCatalogRecord2" class="card vbox ms-2 blockingDivHost">
    <div class="card-header">
      <label style="flex: 1;">{{'MODELS.MAPLE.DATASET.DATASET'|translate}}:</label>
      <button *ngIf="selectedCatalogRecord2?.dataset.nature == 'PROJECT'" class="btn btn-light btn-xs" (click)="profileProject()" [title]="'COMMONS.ACTIONS.PROFILE_PROJECT'|translate">
        <span class="fas fa-align-right" style="transform: rotate(90deg)"></span>
      </button>
    </div>
    <div class="card-body vbox">

      <dataset-metadata class="d-flex" style="max-height: 40vh;" [dataset]="selectedCatalogRecord2.dataset"></dataset-metadata>

      <div *ngIf="selectedCatalogRecord2?.dataset.nature != 'ABSTRACT'" class="vbox mt-2">
        <ul class="nav nav-tabs" (click)="$event.preventDefault()">
          <li class="nav-item" [ngClass]="{ active : activeTab == 'lexicalizationSets' }">
            <a class="nav-link" (click)="activeTab = 'lexicalizationSets'">
              {{'METADATA.METADATA_REGISTRY.LEXICALIZATION_SET.EMBEDDED_LEXICALIZATION_SETS'|translate}}
            </a>
          </li>
          <li class="nav-item" [ngClass]="{ active : activeTab == 'linksets' }">
            <a class="nav-link" (click)="activeTab = 'linksets'">
              {{'METADATA.METADATA_REGISTRY.LINKSETS.EMBEDDED_LINKSETS'|translate}}
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" [ngClass]="{ active : activeTab == 'lexicalizationSets' }">
            <lexicalization-sets-panel [dataset]="selectedCatalogRecord2.dataset"></lexicalization-sets-panel>
          </div>
          <div class="tab-pane" [ngClass]="{ active : activeTab == 'linksets' }">
            <linksets-panel [dataset]="selectedCatalogRecord2.dataset"></linksets-panel>
          </div>
        </div>
      </div>

    </div>

    <div #blockDiv class="blockingDiv" style="display:none">
      <div class="loadingDiv">
        <div>
          <p>Loading...</p><img src="./assets/images/loading.gif" />
        </div>
      </div>
    </div>
  </div>

</div>