<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'PROJECTS.REMOTE_REPO.DELETE_REMOTE_REPO'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <div class="alert alert-info mb-2">
            {{'PROJECTS.REMOTE_REPO.DELETE_REMOTE_REPO_INFO'|translate}}
        </div>

        <div class="card vbox">
            <div class="card-header">
                <span style="flex: 1;"></span>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-light" (click)="checkAll(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
                        <span class="far fa-check-square"></span>
                    </button>
                    <button class="btn btn-light" (click)="checkAll(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
                        <span class="far fa-square"></span>
                    </button>
                </div>
            </div>
            <div class="card-body vbox scrollableContainer">
                <table class="table table-hoverable">
                    <colgroup>
                        <col style="width: 1%">
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">{{'MODELS.PROJECT.REPOSITORY_ID'|translate}}</th>
                            <th class="text-center">{{'COMMONS.DESCRIPTION'|translate}}</th>
                            <th class="text-center">{{'COMMONS.CONFIG.SERVER_URL'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of repositories; let i=index">
                            <td class="text-center">
                                <input type="checkbox" style="vertical-align: middle" [(ngModel)]="selectionList[i]">
                            </td>
                            <td class="text-center">
                                {{r.remoteRepoSummary.repositoryId}}
                            </td>
                            <td class="text-center">
                                {{r.description}}
                            </td>
                            <td class="text-center">
                                {{r.remoteRepoSummary.serverURL}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>