<div class="vbox">

  <div class="hbox" style="align-items: center; flex: initial;">
    <div class="card" style="flex: 1; margin-right: 4px;">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <label>{{'COMMONS.SOURCE'|translate}}:</label>
          <select class="form-select ms-2" [(ngModel)]="selectedInputSource" style="width: initial;">
            <option *ngFor="let source of inputSources" [ngValue]="source.id">{{source.translationKey|translate}}</option>
          </select>
          <div class="card ms-3" style="flex: 1;">
            <div class="card-body d-flex align-items-center">

              <ng-container *ngIf="selectedInputSource=='spreadsheet'">

                <ng-container *ngIf="showOpenFilePickerSupport; then fileSystemApiBlock; else legacyBlock"></ng-container>

                <ng-template #fileSystemApiBlock>
                  <div class="input-group">
                    <button class="btn btn-light" (click)="browse()">Browse</button>
                    <input type="text" class="form-control" [value]="spreadsheetFile?.name" disabled>
                  </div>
                  <button class="btn btn-light ms-2" (click)="reload()" [disabled]="!spreadsheetFile">
                    <span class="fas fa-redo" [title]="'COMMONS.ACTIONS.RELOAD'|translate"></span>
                  </button>
                </ng-template>

                <ng-template #legacyBlock>
                  <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.oasis.opendocument.spreadsheet'"></file-picker>
                  <button class="btn btn-light ms-2" (click)="loadSpreadsheet()" [disabled]="!spreadsheetFile">
                    <span class="fas fa-redo" [title]="'COMMONS.ACTIONS.RELOAD'|translate"></span>
                  </button>
                </ng-template>


              </ng-container>

              <ng-container *ngIf="selectedInputSource=='database'" class="card-body d-flex" style="flex: 1">
                <div class="d-flex align-items-center" style="flex: 1">
                  <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_DRIVER'|translate}}:</label>
                  <select class="form-select ms-2" [(ngModel)]="dbInfo.db_driverName">
                    <option *ngFor="let d of dbDrivers">{{d}}</option>
                  </select>
                </div>
                <div class="d-flex align-items-center ms-2" style="flex: 1">
                  <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_BASE_URL'|translate}}:</label>
                  <input class="form-control ms-1" [(ngModel)]="dbInfo.db_base_url">
                </div>
                <div class="d-flex align-items-center ms-2" style="flex: 1">
                  <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_NAME'|translate}}:</label>
                  <input class="form-control ms-1" [(ngModel)]="dbInfo.db_name">
                </div>
                <div class="d-flex align-items-center ms-2" style="flex: 1">
                  <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_TABLES'|translate}}:</label>
                  <div class="input-group ms-1">
                    <input class="form-control" [value]="dbInfo.db_tableList.join(', ')" disabled>
                    <div class="btn-group" style="flex: 1;" ngbDropdown autoClose="outside" placement="bottom-right">
                      <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                        <span class="fas fa-pencil-alt"></span>
                      </button>
                      <div class="dropdown-menu" ngbDropdownMenu>
                        <a *ngFor="let t of dbInfo.db_tableList" class="dropdown-item d-flex align-items-center">
                          <span style="flex: 1;">{{t}}</span>
                          <button class="btn btn-xs btn-light ms-2" (click)="removeDbTable(t)">
                            <span class="far fa-trash-alt"></span>
                          </button>
                        </a>
                        <div *ngIf="dbInfo.db_tableList.length > 0" class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="addDbTable()">
                          {{'COMMONS.ACTIONS.ADD'|translate}}...
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center ms-2" style="flex: 1">
                  <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_USER'|translate}}:</label>
                  <input class="form-control ms-1" [(ngModel)]="dbInfo.db_user">
                </div>
                <div class="d-flex align-items-center ms-2" style="flex: 1">
                  <label class="text-nowrap">{{'SHEET2RDF.DATABASE.DB_PASSWORD'|translate}}:</label>
                  <password-input class="ms-1" [(ngModel)]="dbInfo.db_password" autocomplete="new-password"></password-input>
                </div>
                <button class="btn btn-light ms-2" (click)="loadSpreadsheet()" [disabled]="!isLoadDbEnabled()">
                  <span *ngIf="!sheets" class="fas fa-check" [title]="'COMMONS.ACTIONS.CONFIRM'|translate"></span>
                  <span *ngIf="sheets" class="fas fa-redo" [title]="'COMMONS.ACTIONS.RELOAD'|translate"></span>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-sm btn-light" [title]="'COMMONS.SETTINGS'|translate" (click)="openSettings()">
      <span class="fas fa-cog"></span>
    </button>
  </div>

  <div class="vbox mt-2" style="position: relative;">

    <ng-container *ngIf="!sheets; then emptyEditor; else editorsBlock"></ng-container>

    <ng-template #emptyEditor>
      <sheet-manager></sheet-manager>
    </ng-template>

    <ng-template #editorsBlock>
      <ng-container *ngIf="sheets.length == 1; then singleSheet; else multiSheet"></ng-container>

      <ng-template #singleSheet>
        <sheet-manager [sheetName]="sheets[0].name"></sheet-manager>
      </ng-template>

      <ng-template #multiSheet>

        <div #multisheetToolbar class="d-flex" style="position: absolute; right: 0px; top: 0px;">
          <div class="input-group input-group-sm">
            <div class="input-group-text">
              {{'SHEET2RDF.ACTIONS.MULTISHEET_ACTIONS'|translate}}
            </div>
            <div class="btn-group btn-group-sm">
              <button class="btn btn-light" (click)="generateAllPearl()" [title]="'SHEET2RDF.ACTIONS.GENERATE_ALL_PEARL'|translate">
                <span class="fas fa-play text-primary"></span>
              </button>
              <button class="btn btn-light" (click)="generateAllTriples()" [title]="'SHEET2RDF.ACTIONS.GENERATE_ALL_TRIPLES'|translate">
                <span class="fas fa-play text-success"></span>
              </button>
              <button class="btn btn-light" (click)="addAllTriples()" [title]="'SHEET2RDF.ACTIONS.ADD_ALL_TRIPLES'|translate">
                <span class="fas fa-file-signature"></span>
              </button>
              <div class="btn-group" ngbDropdown autoClose="outside" placement="bottom-right" container="body">
                <button class="btn btn-sm btn-light px-1 dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                  <span class="fas fa-caret-down fa-sm"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu display="static">
                  <h6 class="dropdown-header">Include/exclude sheet</h6>
                  <a *ngFor="let s of sheets" class="dropdown-item d-flex align-items-center" (click)="s.exclude = !s.exclude">
                    <span [ngStyle]="{ 'text-decoration': s.exclude ? 'line-through' : 'none' }" style="flex: 1;">{{s.name}}</span>
                    <span [class]="'far fa-' + (s.exclude ? 'square' : 'check-square')"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="btn-group btn-group-sm ms-2">
            <!-- Workaround to show input file as simple <button> -->
            <input #inputStatusFile type="file" (change)="loadStatus(inputStatusFile.files[0])" (click)="inputStatusFile.value=null" accept=".json, text/plain" style="display:none">
            <button class="btn btn-light" style="margin-left: -1px" (click)="inputStatusFile.click()" [title]="'SHEET2RDF.ACTIONS.LOAD_GLOBAL_MAPPING_STATUS'|translate">
              <span class="fas fa-upload"></span>
            </button>
            <button class="btn btn-light" (click)="exportStatus()" [title]="'SHEET2RDF.ACTIONS.EXPORT_GLOBAL_MAPPING_STATUS'|translate">
              <span class="fas fa-download"></span>
            </button>
          </div>
        </div>

        <ul class="nav nav-tabs" [ngStyle]="{ 'padding-right': multisheetToolbar.clientWidth + 'px' }" (click)="$event.preventDefault()">
          <li *ngFor="let s of sheets" class="nav-item" [ngClass]="{ active : activeSheet == s }">
            <a class="nav-link" (click)="activeSheet = s">
              {{s.name}}
            </a>
          </li>
        </ul>
        <div class="tab-content p-2">
          <!-- Cannot put tab-pane here due this issue with codemirror https://stackoverflow.com/a/40569014/5805661 -->
          <sheet-manager #multiSheetEditor *ngFor="let s of sheets" [sheetName]="s.name" [hidden]="activeSheet != s"></sheet-manager>
        </div>
      </ng-template>
    </ng-template>

  </div>

</div>