.columnHeader {
    background: linear-gradient(#f6f9fb, #d4dce9);
    border: 1px solid #a9b4c6 !important;
    text-align: center;
    font-weight: bold;
    padding: 1px 6px;
    white-space: nowrap;
}

.spreadsheetCell {
    border: 1px solid #d6d7dc;
    padding: 0px;
    cursor: pointer;
    text-align: center;
}

.cellWrapper {
    /* limits height of cell */
    padding: 2px 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

}

.configuredHeader {
    color: green;
}

.partiallyConfiguredHeader {
    color: orange;
}

/* only for sheets headers: if partially configured, is better orange since red could be too "warning" */
.unconfiguredHeader {
    color: black;
}

.incompleteSubjectHeader {
    color: red;
}

/* Only for subject header */
.ignoredHeader {
    color: gray;
}