<div class="card vbox">
  <div class="card-header">
    <label style="flex: 1;">{{'COMMONS.ACTIONS.LOAD_DATA'|translate}}:</label>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group btn-group-xs">
        <button class="btn btn-light" [title]="'COMMONS.ACTIONS.SAVE_CONFIGURATION'|translate" (click)="saveChain()">
          <span class="fas fa-download"></span>
        </button>
        <button class="btn btn-light" [title]="'COMMONS.ACTIONS.LOAD_CONFIGURATION'|translate" (click)="loadChain()">
          <span class="fas fa-upload"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="card-body vbox">
    <div class="card card-alt">
      <div class="card-header">
        <label style="margin-right: 8px">{{'DATA_MANAGEMENT.LOAD.LOAD_FROM'|translate}}:</label>
        <select class="form-select form-select-sm" style="width: initial" [(ngModel)]="selectedLoader">
          <option *ngFor="let loaderOpt of loaderOptions" [ngValue]="loaderOpt">{{loaderOpt.label}}</option>
        </select>
      </div>
      <div class="card-body">

        <!-- File selection available only when there is no target loader -->
        <div class="row mb-2" *ngIf="!selectedLoader.target">
          <label class="col-form-label col-sm-1">{{'COMMONS.FILE'|translate}}:</label>
          <div class="col-sm-11">
            <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="filePickerAccept"></file-picker>
          </div>
        </div>

        <!-- Dataset catalog -->
        <div class="row mb-2" *ngIf="selectedLoader.target == 'datasetCatalog'">
          <label class="col-form-label col-sm-1">{{'DATA_MANAGEMENT.LOAD.DATA_DUMP'|translate}}:</label>
          <div class="col-sm-5">
            <div class="input-group input-group">
              <input type="text" class="form-control" [ngModel]="dataDumpUrl" disabled>
              <button class="btn btn-light" (click)="loadFromDatasetCatalog()">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
          </div>
          <label class="col-form-label col-sm-1">{{'COMMONS.FORMAT'|translate}}:</label>
          <div class="col-sm-5">
            <ng-container *ngTemplateOutlet="formatSelectionTemplate"></ng-container>
          </div>
        </div>

        <!-- Loader available only When a target (repo or stream) is specified -->
        <div class="row mb-2" *ngIf="showLoader()">
          <label class="col-form-label col-sm-1">Loader:</label>
          <div class="col-sm-11">
            <ng-container *ngIf="selectedLoader.target == 'repository'">
              <extension-configurator #loaderConfigurator *ngIf="repoTargetLoaders" [extensions]="repoTargetLoaders"
                (extensionUpdated)="selectedLoaderExtension = $event"
                (configurationUpdated)="selectedLoaderConfig = $event"
                (configStatusUpdated)="onLoaderConfigStatusUpdated($event)"
                style="flex: 1;">
              </extension-configurator>
            </ng-container>
            <ng-container *ngIf="selectedLoader.target == 'stream'">
              <extension-configurator #loaderConfigurator *ngIf="streamTargetLoaders" [extensions]="streamTargetLoaders"
                (extensionUpdated)="selectedLoaderExtension = $event"
                (configurationUpdated)="selectedLoaderConfig = $event"
                (configStatusUpdated)="onLoaderConfigStatusUpdated($event)"
                style="flex: 1;">
              </extension-configurator>
            </ng-container>
          </div>
        </div>

        <!-- Lifter available only when there is no target (load from file) or a stream-target loader -->
        <div class="row mb-2" *ngIf="!selectedLoader.target || selectedLoader.target == 'stream'">
          <label class="col-form-label col-sm-1">RDF Lifter:</label>
          <div class="col-sm-5">
            <extension-configurator *ngIf="lifters" [extensions]="lifters"
              (extensionUpdated)="onLifterExtensionUpdated($event)"
              (configurationUpdated)="selectedLifterConfig = $event">
            </extension-configurator>
          </div>
          <label class="col-form-label col-sm-1">{{'COMMONS.FORMAT'|translate}}:</label>
          <div class="col-sm-5">
            <ng-container *ngTemplateOutlet="formatSelectionTemplate"></ng-container>
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-form-label col-sm-1">{{'MODELS.PROJECT.BASE_URI'|translate}}:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" [(ngModel)]="baseURI" placeholder="http://example.baseuri.com/" [disabled]="useProjectBaseURI">
          </div>
          <div class="col-sm-2 d-flex align-items-center">
            <div class="form-check">
              <input class="form-check-input" id="useBaseCheck" type="checkbox" [(ngModel)]="useProjectBaseURI" (ngModelChange)="onBaseUriChecboxChange()">
              <label class="form-check-label" for="useBaseCheck">{{'DATA_MANAGEMENT.LOAD.USE_PROJECT_BASEURI'|translate}}</label>
            </div>
          </div>
          <label class="col-form-label col-sm-1">
            {{'DATA_MANAGEMENT.LOAD.RESOLVE_IMPORTS'|translate}}:
            <span class="fas fa-info-circle" [title]="'DATA_MANAGEMENT.LOAD.IMPORTS_RESOLUTION_INFO'|translate"></span>
          </label>
          <div class="col-sm-5">
            <select class="form-select" [(ngModel)]="selectedImportAllowance">
              <option *ngFor="let ia of importAllowances" [value]="ia.allowance">{{ia.showTranslationKey|translate}}</option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="card vbox" style="flex: 2; margin-top: 4px;">
      <div class="card-header">
        <label style="flex: 1">{{'DATA_MANAGEMENT.COMMONS.DATA_TRANSFORMATIONS'|translate}}:</label>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="appendTransformer()">
              <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-light" (click)="removeTransformer()"
              [disabled]="transformersChain.length == 0 || !selectedTransformerChainElement">
              <span class="fas fa-minus"></span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.MOVE_DOWN'|translate" (click)="moveTransformerDown()"
              [disabled]="isSelectedTransformerLast() || !selectedTransformerChainElement">
              <span class="fas fa-chevron-down"></span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.MOVE_UP'|translate" (click)="moveTransformerUp()"
              [disabled]="isSelectedTransformerFirst() || !selectedTransformerChainElement">
              <span class="fas fa-chevron-up"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body scrollableContainer">
        <div class="alert alert-info mb-2">
          {{'DATA_MANAGEMENT.LOAD.TRANSFORMERS_DESCRIPTION'|translate}}
        </div>
        <table class="table table-sm table-hoverable">
          <colgroup>
            <col style="width: 2%">
            <col>
            <col style="width: 2%">
          </colgroup>
          <tbody>
            <tr *ngFor="let transformerChainEl of transformersChain; let l = last; let f = first; let idx = index"
              [ngClass]="{'table-primary': transformerChainEl == selectedTransformerChainElement}" (click)="selectTransformerChainElement(transformerChainEl)">
              <td class="text-center" style="font-size: 11px; font-weight: 700;">{{idx+1}}</td>
              <td>
                <extension-configurator [extensions]="transformerChainEl.availableFactories"
                  (extensionUpdated)="onExtensionUpdated(transformerChainEl, $event)"
                  (configurationUpdated)="onConfigurationUpdated(transformerChainEl, $event)"
                  (configStatusUpdated)="onConfigStatusUpdated(transformerChainEl, $event)">
                </extension-configurator>
              </td>
              <td class="text-center" style="font-size: 14px; font-weight: 700;">
                <span *ngIf="requireConfiguration(transformerChainEl)" class="fas fa-exclamation-triangle"
                  [title]="'COMMONS.CONFIG.CONFIGURATION_REQUIRED'|translate"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex align-items-center">
    <div *ngIf="isValidationEnabled()" class="form-check form-check-inline">
      <input class="form-check-input" id="validateCheck" type="checkbox" [(ngModel)]="validateImplicitly" [disabled]="!isValidationAuthorized()">
      <label class="form-check-label" for="validateCheck">{{'DATA_MANAGEMENT.LOAD.IMPLICITLY_VALIDATE'|translate}}</label>
    </div>
    <span style="flex: 1"></span>
    <div class="float-end">
      <button type="submit" class="btn btn-primary" (click)="load()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
    </div>
  </div>
</div>

<ng-template #formatSelectionTemplate>
  <div class="hbox" style="align-items: center;">
    <ng-container *ngIf="!selectedInputFormat && !forceFormat; then unkownFormatBlock; else selectFormatBlock"></ng-container>
    <ng-template #unkownFormatBlock>
      <select class="form-select" disabled>
        <option>{{'COMMONS.ACTIONS.DETECT_FORMAT'|translate}}</option>
      </select>
    </ng-template>
    <ng-template #selectFormatBlock>
      <select class="form-select" [(ngModel)]="selectedInputFormat" [disabled]="!forceFormat">
        <option *ngFor="let f of inputFormats" [ngValue]="f">{{f.name}}</option>
      </select>
    </ng-template>
    <div class="form-check ms-3">
      <input class="form-check-input" id="formatCheck" type="checkbox" [(ngModel)]="forceFormat">
      <label class="form-check-label text-nowrap" for="formatCheck">
        {{'COMMONS.FORCE_FORMAT'|translate}}
        <span class="fas fa-info-circle ms-2" [title]="'DATA_MANAGEMENT.LOAD.FORCE_FORMAT_INFO'|translate"></span>
      </label>
    </div>
  </div>
</ng-template>