<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'EDOAL.CHANGE_MEASURE'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="hbox" style="align-items: center;">
            <label style="margin-right: 4px;">{{'EDOAL.MEASURE'|translate}}:</label>
            <input ngbAutofocus type="number" class="form-control form-control-sm" style="flex: 1;" [(ngModel)]="value"
                [min]="min" [max]="max" [step]="step">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>