<div *ngIf="contextInitialized" class="hbox">

  <structure-tabset #leftTabset [projectCtx]="leftProjCtx" (nodeSelected)="onLeftResourceSelected($event)" [editable]="false">
  </structure-tabset>

  <div class="vbox" style="flex: 2; margin: 0px 8px">

    <div class="hbox" style="flex: initial; align-items: center;padding: 8px">
      <div class="text-center" style="flex: 1; border-right: 1px solid black">
        <span class="fas fa-chevron-left me-1"></span>
        <label>{{leftProjCtx.getProject().getName(true)}}</label>
      </div>
      <div class="text-center" style="flex: 1;">
        <label>{{rightProjCtx.getProject().getName(true)}}</label>
        <span class="fas fa-chevron-right ms-1"></span>
      </div>
    </div>

    <div class="card" style="margin-bottom: 4px;">
      <div class="card-header">
        <label>{{'EDOAL.NEW_ALIGNMENT'|translate}}</label>
      </div>
      <div class="card-body" style="min-height: 30px;">
        <div class="hbox">
          <div style="flex: 1">
            <rdf-resource *ngIf="leftSelectedResource" style="cursor: pointer" [resource]="leftSelectedResource"
              (dblclick)="openLeftResourceView(leftSelectedResource)">
            </rdf-resource>
          </div>
          <div style="flex: 1">
            <rdf-resource *ngIf="rightSelectedResource" style="cursor: pointer" [resource]="rightSelectedResource"
              (dblclick)="openRightResourceView(rightSelectedResource)">
            </rdf-resource>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="hbox">
          <div class="hbox" style="align-items: center; margin-right: 4px;">
            <label style="margin-right: 4px;">{{'COMMONS.RELATION'|translate}}:</label>
            <select class="form-select" style="margin-right: 4px;" [(ngModel)]="selectedRelation" [title]="selectedRelation?.text">
              <option *ngFor="let rel of relations" [ngValue]="rel" [title]="rel.text">{{rel.relation}}</option>
            </select>
          </div>
          <div class="hbox" style="align-items: center; margin-right: 4px;">
            <label style="margin-right: 4px;">{{'EDOAL.MEASURE'|translate}}:</label>
            <input class="form-control" style="margin-right: 4px;" type="number" min="0" max="1" step=".01" [(ngModel)]="measure">
          </div>
          <button class="btn btn-xs btn-light float-end" (click)="addCorrespondence()"
            [disabled]="!leftSelectedResource || !rightSelectedResource || !selectedRelation || !measure">
            {{'COMMONS.ACTIONS.CREATE'|translate}}
          </button>
        </div>
      </div>
    </div>

    <div class="card vbox">
      <div class="card-header">
        <label style="flex: 1;">{{'EDOAL.ALIGNMENTS'|translate}}</label>
        <div class="btn-toolbar">
          <button class="btn btn-xs btn-light" style="transform: rotate(90deg);" [title]="'EDOAL.SYNC_ENTITIES'|translate" (click)="syncCorrespondece()" [disabled]="!selectedCorrespondence">
            <span class="fas fa-sort"></span>
          </button>
          <button class="btn btn-xs btn-light" (click)="deleteCorrespondece()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!selectedCorrespondence">
            <span class="fas fa-minus"></span>
          </button>
          <button class="btn btn-xs btn-light" (click)="listAlignments()" [title]="'COMMONS.ACTIONS.REFRESH'|translate">
            <span class="fas fa-redo"></span>
          </button>
        </div>
      </div>
      <div class="card-body vbox blockingDivHost">

        <div class="table-responsive vbox">
          <table *ngIf="correspondences" class="table table-sm">
            <colgroup>
              <col>
              <col>
              <col style="width: 1%">
              <col>
              <col style="width: 1%">
            </colgroup>
            <thead>
              <tr>
                <th class="text-center">{{'EDOAL.LEFT_ENTITY'|translate}}</th>
                <th class="text-center">{{'EDOAL.RIGHT_ENTITY'|translate}}</th>
                <th class="text-center">{{'COMMONS.RELATION'|translate}}</th>
                <th class="text-center" nowrap>{{'EDOAL.MAPPING_PROP'|translate}}</th>
                <th class="text-center">{{'EDOAL.MEASURE'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of correspondences" (click)="selectCorrespondence(c)" [ngClass]="{ 'table-primary': selectedCorrespondence == c }">
                <td class="text-center">
                  <rdf-resource [resource]="c.leftEntity[0]" style="cursor: pointer" (dblclick)="openLeftResourceView(c.leftEntity[0])"></rdf-resource>
                </td>
                <td class="text-center">
                  <rdf-resource [resource]="c.rightEntity[0]" style="cursor: pointer" (dblclick)="openRightResourceView(c.rightEntity[0])"></rdf-resource>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle>
                      {{c.relation[0].getShow()}}
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a *ngFor="let rel of relations" class="dropdown-item" (click)="changeRelation(c, rel)" [title]="rel.text">{{rel.relation}}</a>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs" style="width: 100%" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle btn-xs" style="width: 100%" (click)="initSuggestedMappingProperties(c)" data-toggle="dropdown" ngbDropdownToggle>
                      <span *ngIf="c.mappingProperty[0]" [title]="c.mappingProperty[0].toNT()">{{c.mappingProperty[0].getShow()}}</span>
                      <span *ngIf="!c.mappingProperty[0]">----</span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a *ngFor="let p of c['suggestedMappingProperties']" class="dropdown-item" (click)="changeMappingProperty(c, p)" [title]="p.toNT()">{{p.getShow()}}</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="selectCustomProperty(c)">{{'COMMONS.OTHER'|translate}}...</a>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-xs btn-light" (click)="changeMeasure(c)">{{c.measure[0].getShow()}}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div #blockingDiv class="blockingDiv" style="display:none">
          <div class="loadingDiv">
            <div>
              <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="correspondences?.length > 0" class="card-footer">
        <div class="d-flex align-items-center" style="justify-content: end;">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="prevPage()" [disabled]="page==0">
              <span class="fas fa-caret-left"></span>
            </button>
            <button class="btn btn-light" style="cursor: auto" disabled>
              <span>{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{totPage}}</span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="nextPage()" [disabled]="page>=totPage-1">
              <span class="fas fa-caret-right"></span>
            </button>
          </div>

          <div class="d-flex align-items-center ms-3">
            <label style="white-space: nowrap;">{{'COMMONS.PAGING.GO_TO'|translate}}:</label>
            <div class="input-group input-group-sm ms-2">
              <select class="form-select" [(ngModel)]="pageSelectorOpt" [disabled]="pageSelector.length == 0">
                <option *ngFor="let p of pageSelector" [ngValue]="p">{{p+1}}</option>
              </select>
              <button class="btn btn-light" (click)="goToPage()" [disabled]="pageSelectorOpt == null">{{'COMMONS.ACTIONS.GO'|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <structure-tabset #rightTabset [projectCtx]="rightProjCtx" (nodeSelected)="onRightResourceSelected($event)" [editable]="false">
  </structure-tabset>

</div>