<div class="vbox">

    <div class="card vbox">
        <div class="card-header">
            <label>{{'DATA_MANAGEMENT.REFACTOR.DATA_REFACTOR'|translate}}:</label>
        </div>

        <div class="card-body vbox scrollableContainer">
            
            <div *ngIf="skosToSkosxlEnabled()" class="card card-alt">
                <div class="card-header">
                    <label style="flex: 1">SKOS &#8594; SKOS-XL</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        {{'DATA_MANAGEMENT.REFACTOR.SKOS_TO_SKOSXL_INFO'|translate}}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="form-check">
                            <input class="form-check-input" id="reifyNoteCheck" type="checkbox" [(ngModel)]="reifyNotes">
                            <label class="form-check-label" for="reifyNoteCheck">{{'DATA_MANAGEMENT.REFACTOR.REIFY_NOTES'|translate}}</label>
                        </div>
                        <button class="btn btn-sm btn-light ms-4" (click)="skosToSkosxl()" [disabled]="!isSkosToSkosxlAuthorized()">{{'COMMONS.ACTIONS.START'|translate}}</button>
                    </div>
                </div>
            </div>

            <div *ngIf="skosxlToSkosEnabled()" class="card card-alt" style="margin-top: 4px;">
                <div class="card-header">
                    <label style="flex: 1">SKOS-XL &#8594; SKOS</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        {{'DATA_MANAGEMENT.REFACTOR.SKOSXL_TO_SKOS_INFO'|translate}}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="form-check">
                            <input class="form-check-input" id="flatNoteCheck" type="checkbox" [(ngModel)]="flattenNotes">
                            <label class="form-check-label" for="flatNoteCheck">{{'DATA_MANAGEMENT.REFACTOR.FLATTEN_NOTES'|translate}}</label>
                        </div>
                        <button class="btn btn-sm btn-light ms-4" (click)="skosxlToSkos()" [disabled]="!isSkoxlToSkosAuthorized()">{{'COMMONS.ACTIONS.START'|translate}}</button>
                    </div>
                </div>
            </div>

            <div class="card card-alt" style="margin-top: 4px;">
                <div class="card-header">
                    <label style="flex: 1">{{'COMMONS.ACTIONS.MIGRATE_DATA_TO_BASEURI_GRAPH'|translate}}</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        {{'DATA_MANAGEMENT.REFACTOR.MIGRATE_INFO'|translate}}
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-light float-end" (click)="migrateData()" [disabled]="!isMigrateAuthorized()">{{'COMMONS.ACTIONS.START'|translate}}</button>
                    <span class="clearfix"></span>
                </div>
            </div>

        </div>

    </div>

</div>