<div class="card vbox">

  <div class="card-body vbox">

    <div *ngIf="unauthorized" class="alert alert-danger m-2">
      {{'MESSAGES.UNAUTHORIZED_VIEW'|translate}}
    </div>

    <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
      <ng-container *ngFor="let n of nodes; let idx=index">
        <class-tree-node *ngIf="idx < nodeLimit" [node]="n"
          [root]="true" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated"
          [filterEnabled]="filterEnabled" [context]="context" [projectCtx]="projectCtx"
          (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)"
          (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
        </class-tree-node>
      </ng-container>
    </div>

    <loading-div *ngIf="loading"></loading-div>
  </div>

</div>