<div class="treeNode" #treeNodeElement>
  <div class="expandCollapseBtnContainer">
    <ng-container *ngIf="showExpandCollapseBtn">
      <img *ngIf="!open" src="./assets/images/icons/arrow.png" class="arrow-right" (click)="expandNode().subscribe()">
      <img *ngIf="open" src="./assets/images/icons/arrow.png" (click)="collapseNode()">
    </ng-container>
  </div>
  <div class="hbox" style="position: relative">
    <rdf-resource #rdfRes [resource]="node" [rendering]="rendering" (click)="selectNode($event)"
      [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}" tabindex="0" (keydown)="keyHandler($event)"></rdf-resource>
    <div *ngIf="node.getAdditionalProperty('numInst') > 0 && this.showInstanceNumber" style="position: absolute; margin: 4px; top: 0; right: 0;">
      <span class="badge bg-warning">{{node.getAdditionalProperty('numInst')}}</span>
    </div>
  </div>
  <input *ngIf="multiselection" type="checkbox" style="margin-left: 5px;" [(ngModel)]="checked" (ngModelChange)="onNodeCheckChange()">
</div>

<div class="subTree" *ngIf="node.getAdditionalProperty('more')==1">
  <ng-container *ngFor="let n of children">
    <ng-container *ngIf="!n['filtered']">
      <class-tree-node
        [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated"
        [filterEnabled]="filterEnabled" [context]="context" [projectCtx]="projectCtx"
        (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)"
        (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
      </class-tree-node>
    </ng-container>
  </ng-container>
</div>