<div class="hbox">
  <class-tree-panel [roots]="roots" [selectionOnInit]="roots?.length == 1 ? roots[0] : null" [context]="context" (nodeSelected)="onTreeClassSelected($event)" [editable]="false" [projectCtx]="projectCtx">
  </class-tree-panel>

  <!-- Show appropriate tree/list according to the selected class -->
  <div [ngSwitch]="selectedClass?.getURI()" class="vbox" style="margin-left: 4px;">

    <concept-tree-panel *ngSwitchCase="'http://www.w3.org/2004/02/skos/core#Concept'" [context]="context"
      [schemes]="currentSchemes" [editable]="editable" [deletable]="deletable" [schemeChangeable]="true"
      [allowMultiselection]="allowMultiselection" [projectCtx]="projectCtx" [forceVisualizationMode]="$any(forceVisualizationMode)"
      (nodeSelected)="onInstanceSelected($event)" (nodeChecked)="onNodeChecked($event)"
      (schemeChanged)="onConceptTreeSchemeChange()" (multiselectionStatus)="onMultiselectionChange($event)">
    </concept-tree-panel>

    <concept-tree-panel *ngSwitchCase="'http://www.w3.org/ns/lemon/ontolex#LexicalConcept'" [context]="context"
      [schemes]="currentSchemes" [editable]="editable" [deletable]="deletable" [schemeChangeable]="true"
      [allowMultiselection]="allowMultiselection" [projectCtx]="projectCtx" [forceVisualizationMode]="$any(forceVisualizationMode)"
      (nodeSelected)="onInstanceSelected($event)" (nodeChecked)="onNodeChecked($event)"
      (schemeChanged)="onConceptTreeSchemeChange()" (multiselectionStatus)="onMultiselectionChange($event)">
    </concept-tree-panel>

    <scheme-list-panel *ngSwitchCase="'http://www.w3.org/2004/02/skos/core#ConceptScheme'" [context]="context"
      [editable]="editable" [deletable]="deletable" [allowMultiselection]="allowMultiselection" [projectCtx]="projectCtx"
      (nodeSelected)="onInstanceSelected($event)" (nodeChecked)="onNodeChecked($event)"
      (multiselectionStatus)="onMultiselectionChange($event)">
    </scheme-list-panel>

    <collection-tree-panel *ngSwitchCase="'http://www.w3.org/2004/02/skos/core#Collection'" [context]="context"
      [editable]="editable" [deletable]="deletable" [allowMultiselection]="allowMultiselection" [projectCtx]="projectCtx"
      (nodeSelected)="onInstanceSelected($event)" (nodeChecked)="onNodeChecked($event)" (multiselectionStatus)="onMultiselectionChange($event)">
    </collection-tree-panel>

    <lexical-entry-list-panel *ngSwitchCase="'http://www.w3.org/ns/lemon/ontolex#LexicalEntry'" [context]="context"
      [lexiconChangeable]="true" [editable]="editable" [deletable]="deletable" [allowMultiselection]="allowMultiselection"
      [projectCtx]="projectCtx" [forceVisualizationMode]="$any(forceVisualizationMode)"
      (nodeSelected)="onInstanceSelected($event)" (nodeChecked)="onNodeChecked($event)"
      (lexiconChanged)="onLexEntryLexiconChange()" (multiselectionStatus)="onMultiselectionChange($event)">
    </lexical-entry-list-panel>

    <lexical-sense-selector *ngSwitchCase="'http://www.w3.org/ns/lemon/ontolex#LexicalSense'"
      (nodeSelected)="onInstanceSelected($event)">
    </lexical-sense-selector>

    <instance-list-panel *ngSwitchDefault [context]="context"
      [cls]="selectedClass" [editable]="editable" [deletable]="deletable" [allowMultiselection]="allowMultiselection" [projectCtx]="projectCtx"
      [forceVisualizationMode]="$any(forceVisualizationMode)"
      (nodeSelected)="onInstanceSelected($event)" (nodeChecked)="onNodeChecked($event)" (multiselectionStatus)="onMultiselectionChange($event)">
    </instance-list-panel>
  </div>

</div>