<class-tree-panel #clsPanel [ngStyle]="{ 'flex': classPanelFlex }" (nodeSelected)="onClassSelected($event)" (advancedSearch)="onAdvancedSearch($event)"
  [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx" [readonly]="readonly" [editable]="editable">
</class-tree-panel>

<div class="sliderY" (mousedown)="onMousedown($event);"></div>

<instance-list-panel #instPanel [ngStyle]="{ 'flex': instancePanelFlex }" (nodeSelected)="onInstanceSelected($event)"
  (advancedSearch)="onAdvancedSearch($event)" (classChange)="onClassChangeRequest($event)"
  [cls]="selectedClass" [allowMultiselection]="allowMultiselection" [context]="context" [projectCtx]="projectCtx"
  [readonly]="readonly" [editable]="editable">
</instance-list-panel>