<div class="card vbox position-relative">
  <div class="card-header">
    <rdf-resource style="flex: 1;" [resource]="resource"></rdf-resource>
    <select class="form-select form-select-xs ms-2" style="width: initial;" [(ngModel)]="format" (ngModelChange)="onFormatChange()">
      <option *ngFor="let f of rdfFormats" [ngValue]="f">{{f.name}}</option>
    </select>
    <button class="btn btn-xs btn-light ms-2" (click)="initDescription()" [title]="'COMMONS.ACTIONS.REFRESH'|translate">
      <span class="fas fa-redo"></span>
    </button>
  </div>
  <div class="card-body vbox">
    <ntriple-editor [(ngModel)]="description" [disabled]="!editAuthorized || pendingValidation"></ntriple-editor>
  </div>
  <div class="card-footer">
    <button class="btn btn-xs btn-light float-end" (click)="applyChanges()" [disabled]="!isApplyEnabled() || pendingValidation">
      {{'COMMONS.ACTIONS.APPLY_CHANGES'|translate}}
      <span *ngIf="pendingValidation" class="fas fa-exclamation-triangle ms-1" [title]="'RESOURCE_VIEW.CODE_EDITOR.DISABLED_UNDER_VALIDATION'|translate"></span>
    </button>
  </div>

  <loading-div *ngIf="loading"></loading-div>

</div>