<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'WIDGETS.REMOTE_ACCESS_CONFIG.CONFIG_FOR_REMOTE'|translate}}</h3>
  </div>
  <div class="modal-body">

    <div class="card">
      <div class="card-body table-responsive">
        <table class="table table-sm table-hoverable">
          <thead>
            <tr>
              <th>{{'COMMONS.CONFIG.SERVER_URL'|translate}}</th>
              <th>{{'COMMONS.CONFIG.USERNAME'|translate}}</th>
              <th>{{'COMMONS.CONFIG.PASSWORD'|translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="savedConfigs.length == 0">
              <td colspan="4">{{'WIDGETS.REMOTE_ACCESS_CONFIG.NO_CONFIG_FOUND'|translate}}</td>
            </tr>
            <tr *ngFor="let conf of savedConfigs">
              <td>
                <input-editable [value]="conf.serverURL" (valueEdited)="updateConfServerURL(conf, $event)"></input-editable>
              </td>
              <td>
                <input-editable [value]="conf.username" [allowEmpty]="true" (valueEdited)="updateConfUsername(conf, $event)"></input-editable>
              </td>
              <td>
                <input-editable [value]="conf.password" type="password" [allowEmpty]="true" (valueEdited)="updateConfPassword(conf, $event)"></input-editable>
              </td>
              <td>
                <button class="btn btn-sm btn-light" (click)="deleteConfig(conf)">
                  <span class="far fa-trash-alt"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="hbox" style="align-items: center;">
          <label>{{'STATUS.NEW'|translate}}:</label>
          <input class="form-control ms-2" [(ngModel)]="newConfig.serverURL" placeholder="http://serverurl">
          <input class="form-control ms-2" [(ngModel)]="newConfig.username" placeholder="username">
          <password-input class="ms-2" style="width: 100%;" [(ngModel)]="newConfig.password" placeholder="password" autocomplete="new-password"></password-input>
          <button class="btn btn-sm btn-light" style="margin-left: 6px;" (click)="createConfiguration()" [disabled]="!newConfig.serverURL">
            <span class="fas fa-plus"></span>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
  </div>
</div>