<div class="card vbox">
    <div class="card-header">
        <label style="flex: 1;">{{'INVOKABLE_REPORTERS.INVOKABLE_REPORTS'|translate}}</label>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-light" (click)="createReporter()" [title]="'COMMONS.ACTIONS.CREATE'|translate" [disabled]="!createReporterAuthorized">
                    <span class="fas fa-plus"></span>
                </button>
                <button class="btn btn-light" (click)="deleteReporter()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!selectedReporter || !deleteReporterAuthorized">
                    <span class="fas fa-minus"></span>
                </button>
            </div>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-light" (click)="exportInvokableReporter()" [title]="'COMMONS.ACTIONS.EXPORT'|translate" [disabled]="!selectedReporter">
                    <span class="fas fa-download"></span>
                </button>
                <button class="btn btn-light" (click)="importInvokableReporter()" [title]="'COMMONS.ACTIONS.IMPORT'|translate" [disabled]="!createReporterAuthorized">
                    <span class="fas fa-upload"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body vbox scrollableContainer">
        <div *ngFor="let r of reporters" class="listItem ellipsable-left" [ngClass]="{ active: selectedReporter == r }" (click)="selectReporter(r)">
            {{r.identifier}}
        </div>
    </div>
</div>
<invokable-reporter *ngIf="selectedReporter" style="flex: 4; margin-left: 6px;" [ref]="selectedReporter"></invokable-reporter>