.narrowCol {
  width: 1%;
}

.issuedCol,
.modifiedCol {
  width: 130px;
}

mdr-tree-node {
  /* In order to not brake style of table since mdr-tree-node contains tr of parent table */
  display: contents;
}

td {
  /* 
  I don't know why, despite display:contents above, 
  this rule
  .table>:not(caption)>*>* {
  which define the padding of tdù
  is not matched and thus applied 
  */
  padding: .5rem .5rem;
}

.dropdown-header {
  /* color: black; */
  font-size: 1rem;
}

a.dropdown-header:hover {
  background-color: #e9ecef !important;
  text-decoration: none;
}