<div class="card vbox blockingDivHost">
    
    <div class="card-header">
        <label style="flex: 1">{{'DATA_MANAGEMENT.DATASET_CATALOG.DATASET_CATALOG'|translate}}</label>

        <ng-container *ngIf="context != 'assistedSearch'; then fullToolbar; else assistedSearchToolbar"></ng-container>

        <ng-template #fullToolbar>
            <div class="btn-toolbar">
                <div class="btn-group btn-group-xs">
                    <div class="btn-group" ngbDropdown>
                        <button *ngIf="mdrCreateAuthorized" class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                            <span class="fas fa-plus"></span>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" (click)="createConcreteDataset()">{{'METADATA.METADATA_REGISTRY.ACTIONS.CREATE_CONCRETE_DATASET'|translate}}</a>
                            <a class="dropdown-item" (click)="discoverDataset()">{{'METADATA.METADATA_REGISTRY.ACTIONS.DISCOVER_DATASET'|translate}}</a>
                            <a class="dropdown-item" (click)="spawnNewAbstractDataset()">{{'METADATA.METADATA_REGISTRY.ACTIONS.SPAWN_ABSTRACT_DATASET'|translate}}</a>
                        </div>
                    </div>
                    <button *ngIf="mdrDeleteAuthorized" class="btn btn-light" (click)="deleteRecord()" [disabled]="!selectedRecord">
                        <span class="fas fa-minus"></span>
                    </button>
                </div>
                <div class="btn-group" ngbDropdown>
                    <button *ngIf="mdrUpdateAuthorized" class="btn btn-light btn-xs dropdown-toggle" [disabled]="!selectedRecord" data-toggle="dropdown" ngbDropdownToggle>
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="connectToAbstractDataset()" [ngClass]="{ disabled: !selectedRecord || selectedRecord.dataset.role != 'ROOT' || selectedRecord.dataset.nature == 'ABSTRACT' }">{{'METADATA.METADATA_REGISTRY.ACTIONS.CONNECT_TO_ABS_DATASET'|translate}}</a>
                        <a class="dropdown-item" (click)="disconnectFromAbstractDataset()" [ngClass]="{ disabled: isDisconnectDisabled() }">{{'METADATA.METADATA_REGISTRY.ACTIONS.DISCONNECT_FROM_ABS_DATASET'|translate}}</a>
                    </div>
                </div>
                <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
                    <span class="fas fa-redo"></span>
                </button>
            </div>
        </ng-template>
        <ng-template #assistedSearchToolbar>
            <button *ngIf="mdrCreateAuthorized" class="btn btn-light btn-xs" [title]="'METADATA.METADATA_REGISTRY.ACTIONS.CREATE_CONCRETE_DATASET'|translate" (click)="createConcreteDataset()">
                <span class="fas fa-plus"></span>
            </button>
        </ng-template>
    </div>

    <!-- Tree -->
    <div class="card-body vbox">
        <mdr-tree [context]="context" (nodeSelected)="onNodeSelected($event)"></mdr-tree>
    </div>

    <div class="card-footer">
        <div class="dropdown float-end" ngbDropdown placement="top-right">
            <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle>
                {{'COMMONS.LEGEND'|translate}} <span class="fas fa-caret-up fa-sm"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <h6 class="dropdown-header">{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.DATASET_NATURE'|translate}}</h6>
                <a class="dropdown-item no-hover">
                    <div class="text-nowrap">
                        <span class="fas fa-folder-open me-2"></span> {{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.ABSTRACT_DATASET'|translate}}
                    </div>
                </a>
                <a class="dropdown-item no-hover">
                    <div class="text-nowrap">
                        <img src="./assets/images/icons/vb_16x16.png" class="me-2" height="16px" width="16px"> {{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.VB_PROJECT'|translate}}
                    </div>
                </a>
                <a class="dropdown-item no-hover">
                    <div class="text-nowrap">
                        <img src="./assets/images/icons/rdf4j_16x16.png" class="me-2" height="16px" width="16px"> {{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.RDF4J_REPO'|translate}}
                    </div>
                </a>
                <a class="dropdown-item no-hover">
                    <div class="text-nowrap">
                        <img src="./assets/images/icons/gdb_16x16.png" class="me-2" height="16px" width="16px"> GraphDB
                    </div>
                </a>
                <a class="dropdown-item no-hover">
                    <div class="text-nowrap">
                        <img src="./assets/images/icons/res/ontology.png" class="me-2" height="16px" width="16px"> {{'MODELS.MAPLE.DATASET.SPARQL_ENDPOINT'|translate}}
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.DATASET_ROLE'|translate}}</h6>
                <a class="dropdown-item no-hover">
                    <span class="badge bg-primary me-2">M</span>Master
                </a>
                <a class="dropdown-item no-hover">
                    <span class="badge bg-success me-2">L</span>LOD
                </a>
                <a class="dropdown-item no-hover">
                    <span class="badge bg-secondary me-2">V</span>Version
                </a>
            </div>
        </div>
    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>