<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
        <col style="width: 1%;">
      </colgroup>
      <tbody>
        <tr>
          <td nowrap><label>{{'Local name'|translate}}:</label></td>
          <td>
            <input class="form-control" [(ngModel)]="datasetName" [sanitized]="true">
          </td>
          <td>*</td>
        </tr>
        <tr>
          <td nowrap><label>{{'COMMONS.TITLE'|translate}}:</label></td>
          <td>
            <lang-string-editor [(ngModel)]="datasetTitle"></lang-string-editor>
          </td>
        </tr>
        <tr>
          <td nowrap><label>{{'COMMONS.DESCRIPTION'|translate}}:</label></td>
          <td>
            <lang-string-editor [(ngModel)]="description"></lang-string-editor>
          </td>
        </tr>
        <tr>
          <td nowrap><label>{{'MODELS.MAPLE.DATASET.URI_SPACE'|translate}}:</label></td>
          <td>
            <input class="form-control" [(ngModel)]="uriSpace">
          </td>
          <td>*</td>
        </tr>

        <ng-container *ngIf="mode == 'createConcrete'">
          <tr>
            <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.DEREFERENCEABLE'|translate}}:</label></td>
            <td>
              <select class="form-select" [(ngModel)]="dereferenceable">
                <option *ngFor="let der of dereferenceableOpts" [ngValue]="der.value">{{der.label}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.DATASET_NATURE'|translate}}:</label></td>
            <td>
              <div class="d-flex align-items-center">
                <select class="form-select" style="flex: 1;" [(ngModel)]="distributionNature">
                  <option *ngFor="let nature of distributionNatureOpts" [ngValue]="nature.id">{{nature.label}}</option>
                </select>

                <div class="d-flex align-items-center ms-3" style="flex: 1;">
                  <ng-container *ngIf="distributionNature == 'PROJECT'; then projectNature; else repoNature"></ng-container>
                  <ng-template #projectNature>
                    <label>{{'MODELS.PROJECT.PROJECT'|translate}}:</label>
                    <select class="form-select ms-1" [(ngModel)]="selectedProject">
                      <option *ngFor="let p of projects" [ngValue]="p">{{p.getName()}}</option>
                    </select>
                  </ng-template>
                  <ng-template #repoNature>
                    <label>{{'MODELS.MAPLE.DATASET.SPARQL_ENDPOINT'|translate}}:</label>
                    <input class="form-control ms-1" [(ngModel)]="sparqlEndpoint" placeholder="http://endpoint_sparql_url">
                  </ng-template>
                </div>

              </div>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>

    <div *ngIf="mode == 'createConcrete'" class="card mt-2">
      <div class="card-header">
        <label>{{'METADATA.METADATA_REGISTRY.ACTIONS.CONNECT_TO_ABS_DATASET'|translate}}</label>
        <input type="checkbox" class="ms-2" style="vertical-align: middle" [(ngModel)]="attachToDataset">
      </div>
      <div class="card-body">
        <table *ngIf="attachToDataset" class="table table-sm table-borderless">
          <colgroup>
            <col style="width: 1%;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.ABSTRACT_DATASET'|translate}}:</label></td>
              <td>
                <select class="form-select" [(ngModel)]="abstractDatasetAttached">
                  <option *ngFor="let d of abstractDatasets" [ngValue]="d">{{d.dataset['localizedTitle']}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td nowrap><label>{{'COMMONS.RELATION'|translate}}:</label></td>
              <td>
                <select class="form-select" [(ngModel)]="absDatasetRelation">
                  <option *ngFor="let r of datasetRelationOpts" [ngValue]="r.id">{{r.label}}</option>
                </select>
              </td>
            </tr>
            <ng-container *ngIf="absDatasetRelation == 'version'">
              <tr>
                <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.VERSION_INFO'|translate}}:</label></td>
                <td>
                  <input class="form-control" [(ngModel)]="versionInfo">
                </td>
              </tr>
              <tr>
                <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.VERSION_NOTES'|translate}}:</label></td>
                <td>
                  <lang-string-editor [(ngModel)]="versionNotes"></lang-string-editor>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <ng-container *ngIf="mode == 'spawnAbstract'">
      <div class="card mt-2">
        <div class="card-header">
          <label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.CONCRETE_DATASET'|translate}} 1</label>
        </div>
        <div class="card-body">
          <table class="table table-sm table-borderless">
            <colgroup>
              <col style="width: 1%;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td nowrap><label>{{'MODELS.MAPLE.DATASET.DATASET'|translate}}:</label></td>
                <td>
                  <select class="form-select" [(ngModel)]="concreteDataset1">
                    <option *ngFor="let d of concreteDatasets" [ngValue]="d">{{d.dataset['localizedTitle']}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td nowrap><label>{{'COMMONS.RELATION'|translate}}:</label></td>
                <td>
                  <select class="form-select" [(ngModel)]="dataset1Relation">
                    <option *ngFor="let r of datasetRelationOpts" [ngValue]="r.id">{{r.label}}</option>
                  </select>
                </td>
              </tr>
              <ng-container *ngIf="dataset1Relation == 'version'">
                <tr>
                  <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.VERSION_INFO'|translate}}:</label></td>
                  <td>
                    <input class="form-control" [(ngModel)]="dataset1VersInfo">
                  </td>
                </tr>
                <tr>
                  <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.VERSION_NOTES'|translate}}:</label></td>
                  <td>
                    <lang-string-editor [(ngModel)]="dataset1VersNotes"></lang-string-editor>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-header">
          <label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NATURE.CONCRETE_DATASET'|translate}} 2</label>
        </div>
        <div class="card-body">
          <table class="table table-sm table-borderless">
            <colgroup>
              <col style="width: 1%;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td nowrap><label>{{'MODELS.MAPLE.DATASET.DATASET'|translate}}:</label></td>
                <td>
                  <select class="form-select" [(ngModel)]="concreteDataset2">
                    <option *ngFor="let d of concreteDatasets" [ngValue]="d">{{d.dataset['localizedTitle']}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td nowrap><label>{{'COMMONS.RELATION'|translate}}:</label></td>
                <td>
                  <select class="form-select" [(ngModel)]="dataset2Relation">
                    <option *ngFor="let r of datasetRelationOpts" [ngValue]="r.id">{{r.label}}</option>
                  </select>
                </td>
              </tr>
              <ng-container *ngIf="dataset2Relation == 'version'">
                <tr>
                  <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.VERSION_INFO'|translate}}:</label></td>
                  <td>
                    <input class="form-control" [(ngModel)]="dataset2VersInfo">
                  </td>
                </tr>
                <tr>
                  <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.VERSION_NOTES'|translate}}:</label></td>
                  <td>
                    <lang-string-editor [(ngModel)]="dataset2VersNotes"></lang-string-editor>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

  </div>
  <div class="modal-footer">
    <span class="float-start">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>