<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">
            {{'WIDGETS.CONVERTER.CONVERTER_CONFIG'|translate}}
        </h3>
    </div>
    <div class="modal-body vbox">
        <converter-config [converter]="converter" [rangeType]="rangeType" [datatype]="datatype" [language]="language" (update)="onConverterUpdate($event)"></converter-config>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>