<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal" resizable>
  <div class="modal-header" cdkDragHandle>
    <div class="d-flex align-items-center">
      <h3 class="modal-title" style="flex: 1;">
        {{'CUSTOM_FORMS.WIZARD.CUSTOM_FORM_WIZARD'|translate}}
      </h3>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-light" (click)="storeStatus()" [title]="'COMMONS.ACTIONS.STORE_STATUS'|translate">
          <span class="fas fa-download"></span>
        </button>
        <button class="btn btn-light" (click)="loadStatus()" [title]="'COMMONS.ACTIONS.LOAD_STATUS'|translate">
          <span class="fas fa-upload"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body vbox">

    <div class="hbox" style="flex: 2">
      <div class="vbox" style="flex: 2">
        <custom-form-wizard-fields-editor [fields]="fields" [advGraphs]="advGraphs" (changed)="onFieldChange($event)">
        </custom-form-wizard-fields-editor>

        <custom-form-wizard-nodes-editor class="mt-2" [(ngModel)]="nodes" [fields]="fields" [advGraphs]="advGraphs" [customRange]="customRange"
          (ngModelChange)="updatePearl()" (deleted)="onNodeDeleted($event)">
        </custom-form-wizard-nodes-editor>
      </div>

      <div class="card vbox ms-2">
        <div class="card-header">
          <label style="flex: 1">{{'CUSTOM_FORMS.WIZARD.PEARL_PREVIEW'|translate}}</label>
        </div>
        <div class="card-body vbox">
          <textarea class="form-control vbox" style="resize: none;" [ngModel]="pearl" disabled></textarea>
        </div>
      </div>
    </div>

    <div class="hbox mt-2">
      <custom-form-wizard-graph-editor style="flex: 2;" [(ngModel)]="graphs" [nodes]="nodes" (ngModelChange)="updatePearl()">
      </custom-form-wizard-graph-editor>

      <div class="card vbox ms-2">
        <div class="card-header">
          <label style="flex: 1;">
            {{'CUSTOM_FORMS.WIZARD.GRAPH.ADV_GRAPH_PATTERN'|translate}}
          </label>
          <div class="btn-toolbar">
            <div class="btn-group btn-group-xs">
              <button class="btn btn-light" (click)="addAdvGraph()">
                <span class="fas fa-plus"></span>
              </button>
              <button class="btn btn-light" (click)="deleteAdvGraph()" [disabled]="!selectedAdvGraph">
                <span class="fas fa-minus"></span>
              </button>
              <button class="btn btn-light" (click)="editAdvGraph()" [disabled]="!selectedAdvGraph">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
          </div>

        </div>
        <div class="card-body vbox">
          <div *ngFor="let g of advGraphs" class="listItem d-flex" [ngClass]="{ active : selectedAdvGraph == g }" (click)="selectAdvGraph(g)">
            <span class="ellipsable" style="flex: 1;">{{g.pattern}}</span>
          </div>
        </div>
      </div>

    </div>



  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>