<div class="card vbox">
  <div class="card-header">
    <label style="flex: 1;">
      Graph
    </label>
    <div class="btn-toolbar">
      <div class="btn-group btn-group-xs">
        <button class="btn btn-light" (click)="addGraph()">
          <span class="fas fa-plus"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body scrollableContainer">
    <table class="table table-sm table-borderless">
      <colgroup>
        <col>
        <col style="width: 30%">
        <col style="width: 30%">
        <col style="width: 40%">
      </colgroup>
      <thead>
        <th></th>
        <th>{{'MODELS.RESOURCE.SUBJECT'|translate}}</th>
        <th>{{'MODELS.RESOURCE.PREDICATE'|translate}}</th>
        <th>{{'MODELS.RESOURCE.OBJECT'|translate}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let g of graphs; let index=index">
          <td class="text-center ps-2">{{index+1}}</td>
          <td>
            <select class="form-select mx-1" [(ngModel)]="g.subject" [disabled]="g.subject?.resourceNode && index == 0" (ngModelChange)="onModelChange()">
              <option *ngFor="let n of nodes" [ngValue]="n">{{n.nodeId}}</option>
            </select>
          </td>
          <td>
            <resource-picker class="mx-1" [resource]="g.predicate" [config]="{ roles: [RDFResourceRolesEnum.property]}" [editable]="true" (resourceChanged)="onGraphPredicateChange(g, $event)">
            </resource-picker>
          </td>
          <td>
            <div class="d-flex mx-1">
              <select class="form-select" style="width: initial;" [(ngModel)]="g.object.type">
                <option value="node">{{'COMMONS.NODE'|translate}}</option>
                <option value="value">{{'COMMONS.VALUE'|translate}}</option>
              </select>
              <div class="ms-3" style="flex: 1">
                <select *ngIf="g.object.type == 'node'" class="form-select" [(ngModel)]="g.object.node" (ngModelChange)="onModelChange()">
                  <option *ngFor="let n of nodes" [ngValue]="n">{{n.nodeId}}</option>
                </select>
                <value-picker *ngIf="g.object.type == 'value'" [value]="g.object.value" [editable]="true" (valueChanged)="onGraphObjectValueChange(g, $event)">
                </value-picker>
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-light" (click)="removeGraph(g)">
              <span class="far fa-trash-alt"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>