<div class="hbox">
  <div class="card vbox">
    <div class="card-header">
      <label style="flex: 1;">
        {{'CUSTOM_FORMS.WIZARD.FIELDS.FORM_FIELDS'|translate}}
        <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.WIZARD.FIELDS.FORM_FIELDS_INFO'|translate"></span>
      </label>
      <div class="btn-toolbar">
        <div class="btn-group btn-group-xs">
          <div class="btn-group" ngbDropdown>
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
              <span class="fas fa-plus"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" (click)="addFieldLiteral()">
                {{'CUSTOM_FORMS.WIZARD.FIELDS.FIELD_LITERAL'|translate}}
              </a>
              <a class="dropdown-item" (click)="addFieldUri()">
                {{'CUSTOM_FORMS.WIZARD.FIELDS.FIELD_URI'|translate}}
              </a>
            </div>
          </div>
          <button class="btn btn-light" (click)="removeField()" [disabled]="!selectedField">
            <span class="fas fa-minus"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body scrollableContainer">
      <table class="table table-sm">
        <colgroup>
          <col>
          <col style="width: 70%;">
          <col>
          <col>
        </colgroup>
        <thead>
          <th></th>
          <th>
            {{'CUSTOM_FORMS.WIZARD.FIELDS.FIELD'|translate}}
            <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.WIZARD.FIELDS.FIELD_INFO'|translate"></span>
          </th>
          <th class="text-center">{{'COMMONS.TYPE'|translate}}</th>
          <th class="text-center">{{'COMMONS.OPTIONAL'|translate}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let f of fields; let index=index" [ngClass]="{ 'table-primary' : f == selectedField }" (click)="selectedField = f">
            <td class="text-center">{{index+1}}</td>
            <td>
              <input class="form-control" [(ngModel)]="f.label" (ngModelChange)="onLabelChange(f)" [sanitized]="true">
            </td>
            <td class="text-center">{{f.type}}</td>
            <td class="text-center">
              <input type="checkbox" [(ngModel)]="f.optional" (ngModelChange)="onFieldChange(f)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card vbox ms-2" style="flex: 2;">
    <div class="card-header">
      <label>
        {{'CUSTOM_FORMS.WIZARD.FIELDS.FIELD_DETAILS'|translate}}
        <ng-container *ngIf="selectedField">
          ({{selectedField.label}})
        </ng-container>
      </label>
    </div>
    <div class="card-body vbox scrollableContainer">
      <ng-container *ngIf="selectedField">
        <div class="row mb-2">
          <div class="col-sm-2">
            <label class="col-form-label">
              {{'CUSTOM_FORMS.WIZARD.FIELDS.MULTIVALUE'|translate}}
              <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.WIZARD.FIELDS.MULTIVALUE_INFO'|translate"></span>
            </label>
          </div>
          <div class="col-sm-1">
            <div class="col-form-label form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="selectedField.collection.enabled" (ngModelChange)="onFieldChange(selectedField)">
            </div>
          </div>
          <div *ngIf="selectedField.collection.enabled" class="col-sm-9 row">
            <div class="d-flex" style="flex: 1">
              <div class="col-form-label form-check">
                <input class="form-check-input" id="minCheck" type="checkbox" [(ngModel)]="selectedField.collection.minEnabled" (ngModelChange)="onFieldChange(selectedField)">
                <label class="form-check-label" for="minCheck">Min</label>
              </div>
              <input *ngIf="selectedField.collection.minEnabled" class="form-control ms-2" type="number" step="1" min="0"
                [(ngModel)]="selectedField.collection.min" (ngModelChange)="onCollMinChange()"
                [disabled]="!selectedField.collection.minEnabled">
            </div>
            <div class="d-flex ms-4" style="flex: 1">
              <div class="col-form-label form-check">
                <input class="form-check-input" id="maxCheck" type="checkbox" [(ngModel)]="selectedField.collection.maxEnabled" (ngModelChange)="onFieldChange(selectedField)">
                <label class="form-check-label" for="maxCheck">Max</label>
              </div>
              <input *ngIf="selectedField.collection.maxEnabled" class="form-control ms-2" type="number" step="1" min="0"
                [(ngModel)]="selectedField.collection.max" (ngModelChange)="onCollMaxChange()"
                [disabled]="!selectedField.collection.maxEnabled">
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-form-label col-sm-3">{{'CUSTOM_FORMS.WIZARD.FIELDS.CONSTRAINT'|translate}}:</label>
          <div class="col-sm-9">
            <select class="form-select" [(ngModel)]="selectedField.constraint" (ngModelChange)="onFieldConstraintChange()">
              <option [ngValue]="null">---</option>
              <option *ngFor="let c of constraintTypes[selectedField.type]">{{c}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="selectedField.constraint == 'Role'" class="row mb-2 vbox">
          <div class="col-sm-9 offset-sm-3 vbox">
            <role-selector class="vbox" [(ngModel)]="selectedField.asWizardFieldUri().roles" (ngModelChange)="onFieldChange(selectedField)"></role-selector>
          </div>
        </div>
        <div *ngIf="selectedField.constraint == 'Enumeration'" class="row mb-2">
          <div class="col-sm-9 offset-sm-3">
            <constraint-values-selector [type]="selectedField.type" [constraint]="selectedField.constraint" [(ngModel)]="selectedField.enumeration"
              (ngModelChange)="onFieldChange(selectedField)">
            </constraint-values-selector>
          </div>
        </div>
        <div *ngIf="selectedField.constraint == 'Range'" class="row mb-2">
          <div class="col-sm-9 offset-sm-3">
            <constraint-values-selector [type]="selectedField.type" [constraint]="selectedField.constraint" [(ngModel)]="selectedField.asWizardFieldUri().ranges"
              (ngModelChange)="onFieldChange(selectedField)">
            </constraint-values-selector>
          </div>
        </div>
        <div *ngIf="selectedField.constraint == 'Datatype'" class="row mb-2">
          <div class="col-sm-9 offset-sm-3">
            <select class="form-select" [(ngModel)]="selectedField.asWizardFieldLiteral().datatype" (ngModelChange)="onFieldChange(selectedField)">
              <option *ngFor="let dt of datatypes" [ngValue]="dt">{{dt.getShow()}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="selectedField.constraint == 'LangString'" class="row mb-2">
          <label class="col-form-label col-sm-3">
            {{'COMMONS.LANGUAGE.LANGUAGE'|translate}}
          </label>
          <div class="col-sm-9">
            <div class="d-flex align-items-center">
              <select class="form-select" [(ngModel)]="selectedField.asWizardFieldLiteral().languageConstraint.type" (ngModelChange)="onLangConstraintChange()">
                <option value="Fixed">{{'CUSTOM_FORMS.WIZARD.FIELDS.LANG_FIXED'|translate}}</option>
                <option value="UserPrompted">{{'CUSTOM_FORMS.WIZARD.FIELDS.LANG_USER_PROMPTED'|translate}}</option>
              </select>
              <div *ngIf="selectedField.asWizardFieldLiteral().languageConstraint.type == 'Fixed'" class="ms-2">
                <lang-picker [config]="{ projectAware: false }" [(ngModel)]="selectedField.asWizardFieldLiteral().languageConstraint.language" (ngModelChange)="onFieldChange(selectedField)">
                </lang-picker>
              </div>
            </div>
            <div *ngIf="selectedField.asWizardFieldLiteral().languageConstraint.type == 'UserPrompted' && selectedField.collection.enabled" class="alert alert-warning mt-1">
              {{'CUSTOM_FORMS.WIZARD.FIELDS.MULTIVALUE_LANG_WARN'|translate}}
            </div>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</div>