<div class="card vbox">
  <div class="card-header">
    <label style="flex: 1;">
      {{'COMMONS.NODES'|translate}}
      <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.WIZARD.NODES.NODES_INFO'|translate"></span>
    </label>
    <div class="btn-toolbar">
      <button class="btn btn-xs btn-light" (click)="addNode()">
        <span class="fas fa-plus"></span>
      </button>
    </div>
  </div>
  <div class="card-body scrollableContainer">
    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%">
        <col style="width: 20%">
        <col style="width: 50%">
        <col style="width: 30%">
        <col>
      </colgroup>
      <thead>
        <th></th>
        <th class="px-1">{{'COMMONS.ID'|translate}}</th>
        <th class="px-1">{{'WIDGETS.CONVERTER.CONVERTER'|translate}}</th>
        <th class="px-1">{{'CUSTOM_FORMS.WIZARD.NODES.FEATURE'|translate}}</th>
        <th></th>
      </thead>
      <tbody>

        <tr *ngFor="let n of nodes; let index=index; let last=last">
          <td class="px-1">
            <div *ngIf="n.nodeId != 'resource'" class="btn-group-vertical btn-group-xs">
              <button class="btn btn-light" style="line-height: .5;" (click)="moveUp(n)" [title]="'COMMONS.ACTIONS.MOVE_UP'|translate" [disabled]="index == 1">
                <span class="fas fa-chevron-up"></span>
              </button>
              <button class="btn btn-light" style="line-height: .5;" (click)="moveDown(n)" [title]="'COMMONS.ACTIONS.MOVE_DOWN'|translate" [disabled]="last">
                <span class="fas fa-chevron-down"></span>
              </button>
            </div>
          </td>
          <td class="px-1">
            <div style="position: relative;">
              <input class="form-control" [(ngModel)]="n.nodeId" (ngModelChange)="onModelChange()" [disabled]="!n.userCreated" [sanitized]="true">
              <span *ngIf="n.resourceNode" class="fas fa-info-circle" style="position: absolute; right: 4px; top: 7px;"
                [title]="'CUSTOM_FORMS.WIZARD.NODES.ENTRY_POINT_INFO'|translate"></span>
            </div>
          </td>
          <td class="px-1">
            <div class="input-group">
              <input class="form-control" [ngModel]="n.converterSerialization" disabled>
              <!-- Nodes generated from field have converter forced by the facets of the field, so hide the button to edit converter -->
              <button *ngIf="!n.fromField" class="btn btn-light" (click)="editNodeConverter(n)">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
          </td>
          <td class="px-1">
            <ng-container *ngIf="n.fromField; then fromFieldFeature; else featureSelection"></ng-container>
            <!-- Nodes from field have input feature blocked to the userPrompt field feature -->
            <ng-template #fromFieldFeature>
              <input class="form-control" [ngModel]="n.feature.featureName" disabled>
            </ng-template>
            <!-- Other nodes allow selection of the feature when required by the converter -->
            <ng-template #featureSelection>
              <select *ngIf="n.converterStatus?.signatureDesc.getRequirementLevels() == 'REQUIRED'" class="form-select" [(ngModel)]="n.feature" (ngModelChange)="onModelChange()">
                <optgroup *ngIf="fields.length > 0" label="User prompted features">
                  <option *ngFor="let f of fields" [ngValue]="f">{{f.featureName}}</option>
                </optgroup>
                <optgroup label="Session's features">
                  <option *ngFor="let f of sessionFeatures" [ngValue]="f">{{f.featureName}}</option>
                </optgroup>
                <optgroup *ngIf="stdFormFeatures" label="Standard Form's features">
                  <option *ngFor="let f of stdFormFeatures" [ngValue]="f">{{f.featureName}}</option>
                </optgroup>
                <optgroup *ngIf="ctxFormFeatures" label="Context features">
                  <option *ngFor="let f of ctxFormFeatures" [ngValue]="f">{{f.featureName}}</option>
                </optgroup>
              </select>
            </ng-template>
          </td>
          <td>
            <!-- Only nodes created by user can be deleted (entry point node is mandatory, nodes from field are deleted by deleting the field) -->
            <button *ngIf="n.userCreated" class="btn btn-light" (click)="removeNode(n)">
              <span class="far fa-trash-alt"></span>
            </button>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>