<div class="card vbox">
  <div class="card-body scrollableContainer">
    <div *ngFor="let r of roles" class="listItem d-flex align-items-center">
      <input type="checkbox" [(ngModel)]="r.checked" (ngModelChange)="onModelChange()">
      <span class="ms-2">{{r.show}}</span>
    </div>
  </div>
</div>