<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
		<h3 [class]="'modal-title ' + titleClass">{{title}}</h3>
	</div>
	<div class="modal-body">
		<div [class]="alertClass" style="white-space: pre-line">{{message}}</div>

		<div *ngFor="let checkOpt of checkOpts; let i=index" class="form-check mt-3">
			<input class="form-check-input" [id]="'optCheck'+i" type="checkbox" [(ngModel)]="checkOpt.value" [disabled]="checkOpt.disabled">
			<label class="form-check-label" [for]="'optCheck'+i">
				{{checkOpt.label}}
				<span *ngIf="checkOpt.info" class="fas fa-info-circle" [title]="checkOpt.info"></span>
				<span *ngIf="checkOpt.warning" class="fas fa-exclamation-triangle" [title]="checkOpt.warning"></span>
			</label>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-sm btn-primary" (click)="ok()">{{'COMMONS.BOOLEAN.YES'|translate}}</button>
		<button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.BOOLEAN.NO'|translate}}</button>
	</div>
</div>