<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'PREFERENCES.DATA_PANEL_LABELS.DATA_PANEL_LABELS'|translate}}</h3>
  </div>
  <div class="modal-body vbox" style="min-height: 300px;">

    <ul class="nav nav-tabs">
      <li *ngFor="let l of langs" class="nav-item">
        <a class="nav-link px-3" (click)="activateTabLang(l)" [ngClass]="{ active: activeTabLang == l }">
          {{l}}
          <span class="ms-3" (click)="closeTab(l, $event)">
            <i class="fas fa-times-circle clickable"></i>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle dropdown-no-arrow" style="border-color: #dee2e6;" data-toggle="dropdown" ngbDropdownToggle>
          <i class="fas fa-plus"></i>
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a *ngFor="let l of additionalLangs" class="dropdown-item" (click)="addLangTab(l)">{{l}}</a>
        </div>
      </li>
    </ul>

    <div class="tab-content">
      <div *ngIf="activeTab" class="tab-pane active">
        <table class="table">
          <colgroup>
            <col style="width: 1%;">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>{{'COMMONS.PANEL'|translate}}</th>
              <th>{{'COMMONS.LABELS'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of activeTab.panelMappings">
              <td nowrap>
                <label>
                  {{m.translationKey|translate}}
                </label>
              </td>
              <td>
                <input class="form-control" [(ngModel)]="m.label">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>