<div class="card">
    <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">{{'DATA.SETTINGS.VISIBLE_TABS'|translate}}</label>
        <ng-content select="[headerBtn]"></ng-content>
    </div>
    <div class="card-body">
        <ng-content select="[info]"></ng-content>
        <table class="table table-hoverable table-sm table-borderless">
            <thead>
                <th class="text-center">{{'COMMONS.TAB'|translate}}</th>
                <th class="text-center">{{'COMMONS.ACTIONS.SHOW'|translate}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let t of tabsStruct">
                    <td class="text-center" [ngClass]="{ grayText : !t.visible }">{{t.translationKey|translate}}</td>
                    <td class="text-center">
                        <input type="checkbox" [(ngModel)]="t.visible" (ngModelChange)="onTabToggle()" [disabled]="onlyOneVisible && t.visible" [ngbTooltip]="((onlyOneVisible && t.visible) ? 'MESSAGES.CANNOT_HIDE_ALL_DATA_TABS' : '') | translate" >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>