<div class="card vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.LABEL.DANGLING_SKOSXL_LABEL.NAME'|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'COMMONS.ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">
        
        <div *ngIf="!brokenLabelList" style="padding: 4px;">
            {{'ICV.PRESS_RUN_TO_RUN_CHECK.0'|translate}} <strong>{{'COMMONS.ACTIONS.RUN'|translate}}</strong> {{'ICV.PRESS_RUN_TO_RUN_CHECK.1'|translate}}
        </div>
        
        <div *ngIf="brokenLabelList" class="table-responsive">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">XLabel</th>
                        <th class="text-center" style="width: 1%">{{'COMMONS.ACTIONS.ACTION'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let label of brokenLabelList">
                        <td>
                            <rdf-resource [resource]="label"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="deleteLabel(label)">{{'ICV.LABEL.DANGLING_SKOSXL_LABEL.DELETE_LABEL'|translate}}</button>
                            <button class="btn btn-xs btn-light ms-1" (click)="assignLabel(label)">{{'ICV.LABEL.DANGLING_SKOSXL_LABEL.ADD_TO_CONCEPT'|translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div  class="dropup float-end">
            <button *ngIf="brokenLabelList && brokenLabelList.length != 0" class="btn btn-light btn-xs" (click)="deleteAllLabel()">
                {{'COMMONS.ACTIONS.DELETE_ALL'|translate}}
            </button>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>