<ng-container *ngIf="!editInProgress && !editLiteralInProgress && !bulkEditInProgress">

  <rdf-resource *ngIf="!isImage" [resource]="resource" [rendering]="rendering" style="flex:1" (dblclick)="onDblClick()" (valueClick)="onValueClick($event)"></rdf-resource>

  <div *ngIf="isImage" style="flex: 1;">
    <img [src]="resource.asURIResource().getURI()" style="max-height: 100px; max-width: 300px;" (dblclick)="onImgDblClick()" (click)="onImgClick($event)" [title]="resource.asURIResource().getURI()">
  </div>

  <div class="dropdown float-end" style="align-self: flex-start;" ngbDropdown container="body">
    <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" ngbDropdownToggle [disabled]="editMenuDisabled" [title]="'COMMONS.ACTIONS.EDIT'|translate">
      <span class="fas fa-caret-down fa-sm"></span>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button *ngIf="editActionScenario == 'xLabel' || editActionScenario == 'langTaggedLiteral' || editActionScenario == 'typedLiteral'"
        class="dropdown-item" [ngClass]="{ disabled: !editAuthorized || isInferred }" (click)="editLiteral()">
        {{'RESOURCE_VIEW.ACTIONS.EDIT_LITERAL_CONTENT'|translate}}
      </button>

      <button *ngIf="editActionScenario != 'xLabel'" class="dropdown-item" [ngClass]="{ disabled: !editAuthorized || isInferred }" (click)="editValue()">
        {{'COMMONS.ACTIONS.EDIT'|translate}}
      </button>
      <button *ngIf="isBulkActionMenuItemAvailable" class="dropdown-item" [ngClass]="{ disabled: !bulkEditAuthorized || isInferred }"
        (click)="bulkEdit()" [title]="'RESOURCE_VIEW.ACTIONS.BULK_EDIT_INFO'|translate">
        {{'RESOURCE_VIEW.ACTIONS.BULK_EDIT'|translate}}
      </button>
      <button *ngIf="isReplaceMenuItemAvailable" class="dropdown-item" [ngClass]="{ disabled: !editAuthorized || isInferred }" (click)="replace()">
        {{'COMMONS.ACTIONS.REPLACE_WITH_EXISTING_RES'|translate}}
      </button>
      <ng-container *ngIf="isXLabelMenuItemAvailable">
        <button class="dropdown-item" [ngClass]="{ disabled: !spawnFromLabelAuthorized || isInferred }" (click)="spawnNewConceptWithLabel()">
          {{'RESOURCE_VIEW.ACTIONS.SPAWN_CONCEPT_FROM_XLABEL'|translate}}
        </button>
        <button class="dropdown-item" [ngClass]="{ disabled: !moveLabelAuthorized || isInferred }" (click)="moveLabelToConcept()">
          {{'RESOURCE_VIEW.ACTIONS.MOVE_XLABEL_TO_CONCEPT'|translate}}
        </button>
      </ng-container>
      <button *ngIf="changePropertyAvailable" class="dropdown-item" [ngClass]="{ disabled: !editAuthorized || isInferred }" (click)="moveToProperty()">
        {{'RESOURCE_VIEW.ACTIONS.CHANGE_PROP'|translate}}
      </button>
      <button *ngIf="copyLocalesAction.available" class="dropdown-item" [ngClass]="{ disabled: !copyLocalesAuthorized }" (click)="copyLocales()">
        {{'RESOURCE_VIEW.ACTIONS.COPY_VALUE_TO_LOCALES'|translate}}
      </button>
      <ng-container *ngIf="isInferred">
        <button *ngIf="section != 'lexicalizations'" class="dropdown-item" [ngClass]="{ disabled: !assertAuthorized }" (click)="assertInferred()">
          {{'RESOURCE_VIEW.ACTIONS.ASSERT_INFERRED_STATEMENT'|translate}}
        </button>
        <button *ngIf="isRepoGDB" class="dropdown-item" (click)="explainInferred()">
          {{'RESOURCE_VIEW.ACTIONS.EXPLAIN_INFERRED_STATEMENT'|translate}}
        </button>
      </ng-container>

      <button class="dropdown-item" [ngClass]="{ disabled: !deleteAuthorized || isInferred }" (click)="deleteValue()">{{'COMMONS.ACTIONS.DELETE'|translate}}</button>
      <button *ngIf="isBulkActionMenuItemAvailable" class="dropdown-item" [ngClass]="{ disabled: !bulkDeleteAuthorized || isInferred }"
        (click)="bulkDelete()" [title]="'RESOURCE_VIEW.ACTIONS.BULK_DELETE_INFO'|translate">
        {{'RESOURCE_VIEW.ACTIONS.BULK_DELETE'|translate}}
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="editInProgress || bulkEditInProgress || editLiteralInProgress">
  <div class="input-group input-group-sm" style="flex: 1;">
    <textarea *ngIf="editLiteralInProgress; else editInProgressInput" #editingField class="form-control" style="height: initial; resize: vertical;"
      rows="1" [(ngModel)]="resourceStringValue" (keydown)="onKeydown($event)"></textarea>
    <ng-template #editInProgressInput>
      <input #editingField type="text" class="form-control" [(ngModel)]="resourceStringValue" (keydown)="onKeydown($event)">
    </ng-template>
    <button class="btn btn-light" style="width:15px; padding: 0px;" (click)="confirmEdit()" [title]="'COMMONS.ACTIONS.CONFIRM'|translate">
      <span class="fas fa-check" style="color: green"></span>
    </button>
    <button class="btn btn-light" style="width:15px; padding: 0px;" (click)="cancelEdit()" [title]="'COMMONS.ACTIONS.CANCEL'|translate">
      <span class="fas fa-times" style="color: red"></span>
    </button>
  </div>
</ng-container>