<div class="vbox">
    <div class="d-flex mb-2">
        <div class="btn-group">
            <button *ngIf="isAdmin" class="btn btn-light" [routerLink]="['/Administration/Users']" routerLinkActive="active">{{'COMMONS.USERS'|translate}}</button>
            <button class="btn btn-light" [routerLink]="['/Administration/Projects']" routerLinkActive="active"
                [disabled]="!isProjManagementAuthorized()">{{(isAdmin ? 'MODELS.PROJECT.PROJECTS' : 'MODELS.PROJECT.PROJECT')|translate}}</button>
            <button class="btn btn-light" [routerLink]="['/Administration/Roles']" routerLinkActive="active" 
                [disabled]="!isRoleManagementAuthorized()">{{'COMMONS.ROLES'|translate}}</button>
            
            <button *ngIf="isAdmin" class="btn btn-light" [routerLink]="['/Administration/Groups']" routerLinkActive="active">{{'COMMONS.GROUPS'|translate}}</button>
        </div>
        
        <div *ngIf="isAdmin" class="btn-group ms-2">
            <button class="btn btn-light" [routerLink]="['/Administration/Configuration']" routerLinkActive="active">{{'COMMONS.CONFIG.CONFIGURATION'|translate}}</button>
            <div class="btn-group" ngbDropdown>
                <button class="btn btn-light dropdown-toggle" [ngClass]="{ active: isSettingsRouteActive() }" data-toggle="dropdown" ngbDropdownToggle>
                    {{'COMMONS.SETTINGS'|translate}}
                    <span class="fas fa-caret-down ms-1"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" [routerLink]="['/Administration/UserDefaults']">{{'ADMINISTRATION.SYSTEM.DEFAULTS.USER'|translate}}</button>
                    <!-- <button class="dropdown-item" [routerLink]="['/Administration/ProjDefaults']">{{'ADMINISTRATION.SYSTEM.DEFAULTS.PROJECT'|translate}}</button> -->
                    <button class="dropdown-item" [routerLink]="['/Administration/SettingsMgr']">{{'ADMINISTRATION.SYSTEM.SETTINGS_MGR.SETTINGS_MGR'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>