<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">

    <!--
      This modal is used for add import from
      - Web) field to show: baseURI, alernative URL, format
      - Local file) field to show: baseURI, local file, mirror file
      - Ontology mirror) field to show:
      Based on the input parameter "importSource" this modal shows/hides the proper fields
    -->

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr *ngIf="importSource == 'fromLocalProject'">
          <td><label>{{'MODELS.PROJECT.PROJECT'|translate}}:</label></td>
          <td>
            <select class="form-select" [(ngModel)]="selectedProject" (ngModelChange)="onProjectSelected()" [disabled]="projectNameInput || projectListDisabledMsgKey">
              <ng-container *ngIf="projectListDisabledMsgKey; then projectBlockedOption; else projectsOptions"></ng-container>
              <ng-template #projectBlockedOption>
                <option>{{projectListDisabledMsgKey|translate}}</option>
              </ng-template>
              <ng-template #projectsOptions>
                <option *ngFor="let p of projects" [ngValue]="p">{{p.getName(true)}}</option>
              </ng-template>
            </select>
          </td>
        </tr>
        <tr>
          <td><label>{{'MODELS.PROJECT.BASE_URI'|translate}}:</label></td>
          <td>
            <ng-container *ngIf="importSource == 'fromLocalProject' || importSource == 'fromOntologyMirror'">
              <input class="form-control" [(ngModel)]="baseURI" disabled>
            </ng-container>
            <ng-container *ngIf="importSource == 'fromWeb' || importSource == 'fromLocalFile'">
              <div *ngIf="baseURIOptional" class="hbox" style="align-items: center">
                <input class="form-control" [(ngModel)]="baseURI" [disabled]="!baseURICheck">
                <input *ngIf="baseURIOptional" type="checkbox" style="margin-left: 3px;" [(ngModel)]="baseURICheck">
              </div>
              <input *ngIf="!baseURIOptional" class="form-control" [(ngModel)]="baseURI" [disabled]="baseUriInput">
            </ng-container>
          </td>
        </tr>
        <tr *ngIf="importSource == 'fromWeb'">
          <td nowrap>
            <label>{{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_IMPORT.ALTERNATIVE_URL'|translate}}:</label>
          </td>
          <td>
            <div class="hbox" style="align-items: center">
              <input type="text" class="form-control" [(ngModel)]="altURL" [disabled]="!altURLCheck">
              <input type="checkbox" style="margin-left: 3px;" [(ngModel)]="altURLCheck">
            </div>
          </td>
        </tr>
        <tr *ngIf="importSource == 'fromLocalFile'">
          <td><label>{{'METADATA.NAMESPACES_AND_IMPORTS.LOCAL_FILE'|translate}}:</label></td>
          <td>
            <file-picker (fileChanged)="fileChangeEvent($event)"></file-picker>
          </td>
        </tr>
        <tr *ngIf="importSource == 'fromWeb' || importSource == 'fromLocalFile' || importSource == 'fromOntologyMirror'">
          <td nowrap>
            <label>{{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_IMPORT.MIRROR_FILE_NAME'|translate}}:</label>
          </td>
          <td>
            <!-- input of target mirror -->
            <div *ngIf="importSource == 'fromWeb' || importSource == 'fromLocalFile'" class="d-flex align-items-center">
              <input class="form-control" [(ngModel)]="mirrorFile" [disabled]="!mirrorFileCheck">
              <input type="checkbox" style="margin-left: 3px;" [(ngModel)]="mirrorFileCheck">
            </div>
            <!-- selection of source mirror -->
            <select *ngIf="importSource == 'fromOntologyMirror'" class="form-select" [(ngModel)]="selectedMirror" [disabled]="mirrorListDisabled" (ngModelChange)="onMirrorChanged()">
              <ng-container *ngIf="mirrorListDisabledMsgKey; then blockedMirrorOption; else mirrorOptions"></ng-container>
              <ng-template #blockedMirrorOption>
                <option>{{mirrorListDisabledMsgKey|translate}}</option>
              </ng-template>
              <ng-template #mirrorOptions>
                <option *ngFor="let m of mirrorList" [ngValue]="m">{{m.file}}</option>
              </ng-template>
            </select>
          </td>
        </tr>
        <tr *ngIf="importSource == 'fromWeb'">
          <td nowrap>
            <label>{{'COMMONS.FORCE_FORMAT'|translate}}:</label>
          </td>
          <td>
            <div class="hbox" style="align-items: center">
              <select class="form-select" [(ngModel)]="rdfFormat" [disabled]="!forceFormatCheck">
                <option *ngFor="let f of formats" [ngValue]="f">{{f.name}}</option>
              </select>
              <input type="checkbox" style="margin-left: 3px;" [(ngModel)]="forceFormatCheck">
            </div>
          </td>
        </tr>
        <tr>
          <td nowrap><label>{{'METADATA.NAMESPACES_AND_IMPORTS.TRANSITIVE_IMPORTS.TRANSITIVE_IMPORTS'|translate}}:</label></td>
          <td>
            <select class="form-select" [(ngModel)]="selectedImportAllowance">
              <option *ngFor="let ia of importAllowances" [value]="ia.allowance">{{ia.showTranslationKey|translate}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkClickable()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>