<div class="hbox">

  <div class="vbox">

    <!-- Namespace management -->
    <div class="card vbox">
      <div class="card-header">
        <label style="flex: 1">{{'METADATA.NAMESPACES_AND_IMPORTS.NAMESPACE_MANAGEMENT'|translate}}:</label>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" [title]="'COMMONS.ACTIONS.ADD_MAPPING'|translate" (click)="addMapping()" [disabled]="!isAddNsPrefixMappingAuthorized()">
            <span class="fas fa-plus"></span>
          </button>
          <button class="btn btn-light" [title]="'COMMONS.ACTIONS.DELETE_MAPPING'|translate" (click)="removeMapping()"
            [disabled]="!selectedMapping || !selectedMapping.explicit || !isRemoveNsPrefixMappingAuthorized()">
            <span class="fas fa-minus"></span>
          </button>
          <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EDIT_MAPPING'|translate" (click)="changeMapping()"
            [disabled]="!selectedMapping || !isChangeNsPrefixMappingAuthorized()">
            <span class="fas fa-pencil-alt"></span>
          </button>
        </div>
      </div>
      <div class="card-body vbox">

        <div class="card" style="margin: 4px">
          <div class="card-body">
            <table class="table table-sm table-borderless">
              <colgroup>
                <col style="width: 1%;">
                <col>
                <col style="width: 1%;">
              </colgroup>
              <tbody>
                <tr>
                  <td><label>{{'MODELS.PROJECT.BASE_URI'|translate}}:</label></td>
                  <td>
                    <input type="text" class="form-control"
                      [ngClass]="{ submitted:nsBaseURISubmitted, 'ng-invalid':!isBaseURIValid() }" [ngModel]="baseURI"
                      (ngModelChange)="onBaseURIChanged($event)" [disabled]="!isBaseuriNsEditAuthorized()">
                  </td>
                  <td rowspan="2">
                    <div class="btn-group-vertical">
                      <button class="btn btn-light" [ngClass]="{active: bind}" [title]="'METADATA.NAMESPACES_AND_IMPORTS.BIND_NS_AND_BASEURI'|translate"
                        (click)="bindNamespaceBaseURI()">
                        <span class="fas fa-link"></span>
                      </button>
                      <button class="btn btn-light" [title]="'COMMONS.ACTIONS.APPLY_CHANGES'|translate"
                        [ngClass]="{'btn-primary': areNamespaceBaseURIChanged(), 'btn-light': !areNamespaceBaseURIChanged()}"
                        (click)="applyNamespaceBaseURI()" [disabled]="!areNamespaceBaseURIChanged() || !isBaseuriNsEditAuthorized()">
                        <span class="fas fa-check"></span>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label>{{'METADATA.NAMESPACES_AND_IMPORTS.NAMESPACE'|translate}}:</label></td>
                  <td>
                    <input type="text" class="form-control"
                      [ngClass]="{ submitted:nsBaseURISubmitted, 'ng-invalid':!isNamespaceValid() }" [ngModel]="namespace"
                      (ngModelChange)="onNamespaceChanged($event)" [disabled]="!isBaseuriNsEditAuthorized()">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="scrollableContainer">
          <table class="table table-sm table-striped table-hoverable">
            <thead>
              <tr>
                <th class="text-center">{{'METADATA.NAMESPACES_AND_IMPORTS.PREFIX'|translate}}</th>
                <th class="text-center">{{'METADATA.NAMESPACES_AND_IMPORTS.NAMESPACE'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of nsPrefMappingList" (click)="selectMapping(m)"
                [ngClass]="{ 'table-primary': m == selectedMapping, grayText: !m.explicit }">
                <td class="text-center">{{m.prefix}}</td>
                <td class="text-center">{{m.namespace}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Imports-->
    <import-tree-panel class="mt-2" (update)="onImportsUpdate()"></import-tree-panel>

  </div>

  <resource-view-editor *ngIf="baseUriRes" [resource]="baseUriRes" (update)="onOntologyUpdated()"
    style="margin-left: 5px;">
  </resource-view-editor>

</div>