<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}</h3>
  </div>
  <div class="modal-body vbox blockingDivHost">

    <div class="card vbox">
      <div class="card-header">
        <label>{{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR_MANAGEMENT'|translate}}:</label>
      </div>
      <div class="card-body vbox">
        <div class="scrollableContainer">
          <table class="table table-sm table-borderless table-hoverable">
            <colgroup>
              <col>
              <col>
              <col style="width: 1%">
              <col style="width: 1%">
            </colgroup>
            <tbody>
              <tr *ngFor="let m of mirrorList">
                <td>{{m.baseURI}}</td>
                <td>{{m.file}}</td>
                <td>
                  <div class="dropdown float-end" ngbDropdown container="body">
                    <button class="btn btn-light dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ngbDropdownToggle
                      [title]="'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_MIRROR'|translate" [disabled]="!isUpdateMirrorAuthorized()">
                      <span class="fas fa-pencil-alt"></span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="updateMirrorFromWebWithUri(m)">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_MIRROR_FROM_WEB_BASEURI'|translate}}</a>
                      <a class="dropdown-item" (click)="updateMirrorFromWebFromAltUrl(m)">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_MIRROR_FROM_WEB_ALT_URL'|translate}}</a>
                      <a class="dropdown-item" (click)="updateMirrorFromLocalFile(m)">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.UPDATE_MIRROR_FROM_LOCAL_FILE'|translate}}</a>
                    </div>
                  </div>
                </td>
                <td>
                  <button class="btn btn-light btn-xs" (click)="deleteOntoMirror(m)" [title]="'COMMONS.ACTIONS.DELETE_MIRROR'|translate"
                    [disabled]="!isDeleteMirrorAuthorized()">
                    <span class="far fa-trash-alt"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
      <div class="loadingDiv">
        <div>
          <p>Loading...</p><img src="./assets/images/loading.gif" />
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
  </div>
</div>