<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        
        <div class="d-flex align-items-center">
            <table class="table table-sm table-borderless">
                <colgroup>
                    <col style="width: 1%;">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td><label>{{'METADATA.NAMESPACES_AND_IMPORTS.PREFIX'|translate}}:</label></td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="prefix">
                        </td>
                    </tr>
                    <tr>
                        <td><label>{{'METADATA.NAMESPACES_AND_IMPORTS.NAMESPACE'|translate}}:</label></td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="namespace" [disabled]="namespaceReadonly">
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-light ms-2" (click)="resolveWithPrefixCC()" [title]="'METADATA.NAMESPACES_AND_IMPORTS.RESOLVE_WITH_PREFIXCC'|translate"
                [disabled]="!isPrefixCCResolutionEnabled()">
                <span class="far fa-closed-captioning"></span>
            </button>

        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>