<div class="card">
    <div class="card-body">
        <settings-renderer [(ngModel)]="displayedSettings" [preventHoverInheritance]="true"
            (ngModelChange)="updatePropertiesValue($event)" [disabled]="disabled"></settings-renderer>
    </div>
</div>