<div *ngIf="enumeration; else notEnumerationBlock">
  <setting-enumeration-renderer [value]="value" [type]="type" [enumeration]="enumeration" [disabled]="disabled" (valueChanged)="onEnumChange($event)">
  </setting-enumeration-renderer>
</div>

<ng-template #notEnumerationBlock>

  <div [ngSwitch]="type.name">
    <resource-picker *ngSwitchCase="'IRI'" [resource]="value" [config]="{ roles: getIRIRoleConstraints() }" [editable]="true"
      (resourceChanged)="updateValue($event)" [disabled]="disabled">
    </resource-picker>

    <resource-picker *ngSwitchCase="'Resource'" [resource]="value" [config]="{ roles: getIRIRoleConstraints() }" [editable]="true"
      (resourceChanged)="updateValue($event)" [disabled]="disabled">
    </resource-picker>

    <value-picker *ngSwitchCase="'RDFValue'" [value]="value" [editable]="true" (valueChanged)="updateValue($event)"
      [disabled]="disabled">
    </value-picker>

    <ng-container *ngSwitchCase="'Literal'">
      <ng-container *ngIf="isLanguageTaggedString() else notLanguageTaggedString">
        <lang-string-editor [(ngModel)]="value" (ngModelChange)="onModelChange()" [allowNoLang]="false" [disabled]="disabled"></lang-string-editor>
      </ng-container>
      <ng-template #notLanguageTaggedString>
        <literal-picker [literal]="value" (literalChanged)="updateValue($event)" [disabled]="disabled">
        </literal-picker>
      </ng-template>
    </ng-container>

    <setting-set *ngSwitchCase="'List'" [value]="value" [type]="type" (valueChanged)="updateSetValue($event)" [disabled]="disabled"></setting-set>
    <setting-set *ngSwitchCase="'Set'" [value]="value" [type]="type" (valueChanged)="updateSetValue($event)" [disabled]="disabled"></setting-set>

    <setting-map *ngSwitchCase="'Map'" [value]="value" [types]="type.typeArguments" (valueChanged)="updateMapValue($event)" [disabled]="disabled"></setting-map>

    <nested-settings-renderer *ngSwitchCase="'Properties'" [(ngModel)]="value" [schema]="type.schema" (ngModelChange)="updatePropertiesValue($event)" [disabled]="disabled">
    </nested-settings-renderer>

    <textarea *ngSwitchCase="'java.lang.String'" type="text" rows="1" class="form-control" style="resize: vertical"
      [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">
        </textarea>

    <datasize-renderer *ngSwitchCase="'it.uniroma2.art.semanticturkey.properties.DataSize'" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">
    </datasize-renderer>

    <input *ngSwitchCase="'int'" type="number" class="form-control" step="1" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">
    <input *ngSwitchCase="'integer'" type="number" class="form-control" step="1" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">
    <input *ngSwitchCase="'long'" type="number" class="form-control" step="1" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">
    <input *ngSwitchCase="'float'" type="number" class="form-control" step="0.01" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">
    <input *ngSwitchCase="'double'" type="number" class="form-control" step="0.01" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">

    <div *ngSwitchDefault class="hbox" style="align-items: center; position: relative;">
      <textarea *ngSwitchDefault type="text" rows="1" class="form-control"
        style="resize: vertical;" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">
            </textarea>
      <span class="fas fa-exclamation-triangle" style="position: absolute; top: 8px; right: 8px;"
        [title]="'This parameter has an unknown type (' + type.name + '). The entered value will be interpreted as a low-level JSON value.'">
      </span>
    </div>
  </div>

</ng-template>