<div>
    <select *ngIf="!enumeration.open" class="form-select" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled">
        <option *ngFor="let enum of enumeration.values" [value]="enum">{{enum}}</option>
    </select>

    <ng-container *ngIf="enumeration.open">
        <!-- Why attr.list? https://github.com/angular/angular/issues/12759#issuecomment-278940455 -->
        <input class="form-control" [(ngModel)]="value" (ngModelChange)="onModelChange()" [disabled]="disabled" [attr.list]="'datalist_' + randomId">
        <datalist [id]="'datalist_' + randomId">
            <option *ngFor="let enum of enumeration.values" [value]="enum">
        </datalist>
    </ng-container>
</div>