<div class="card vbox">
    <div class="card-header hbox" style="flex: initial">
        <label style="flex: 1">{{settings?.shortName}}</label>
        <ng-content></ng-content>
        <div *ngIf="scope" class="ms-3">
            <label>scope:</label>
            <span class="ms-1">{{scope}}</span>
        </div>
    </div>
    <div class="card-body" class="scrollableContainer">

        <div *ngIf="settings?.htmlDescription" class="alert alert-info" style="margin-bottom: 4px;">
            <div class="hbox" style="align-items: center;">
                <span class="fas fa-info-circle" style="margin-right: 6px;"></span>
                <span style="flex: 1;" [innerHTML]="safeDescription"></span>
            </div>
        </div>

        <div *ngIf="settings?.htmlWarning" class="alert alert-warning" style="margin-bottom: 4px;">
            <div class="hbox" style="align-items: center;">
                <span class="fas fa-exclamation-triangle" style="margin-right: 6px;"></span>
                <span style="flex: 1;" [innerHTML]="safeWarning"></span>
            </div>
        </div>

        <settings-renderer [(ngModel)]="settings" (ngModelChange)="onModelChanged()"></settings-renderer>
        
    </div>
</div>