<div class="card">
  <div class="card-body">
    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%">
        <col>
        <col style="width: 1%">
        <col>
        <col style="width: 1%">
        <col style="width: 1%">
      </colgroup>
      <tbody>
        <tr *ngFor="let m of map; let index = index; let last = last;">
          <td><label>Key:</label></td>
          <td>
            <!-- At the moment, do not check the type of the key, consider it always as string. Moreover do not
                        handle enumeration with open: true, in that case handle the key as simple string.
                        Currently it only handles open: false enumeration with a <select> element  -->
            <input *ngIf="!types[0].enumeration || types[0].enumeration.open; else enumerationKeyBlock" class="form-control form-control-sm"
              [(ngModel)]="map[index].key" (ngModelChange)="onModelChange()" [disabled]="disabled">
            <ng-template #enumerationKeyBlock>
              <select class="form-select form-select-sm" [(ngModel)]="map[index].key" (ngModelChange)="onModelChange()">
                <option *ngFor="let e of types[0].enumeration.values">{{e}}</option>
              </select>
            </ng-template>
          </td>
          <td><label>{{'COMMONS.VALUE'|translate}}:</label></td>
          <td>
            <setting-value [value]="map[index].value" [type]="types[1]" [disabled]="disabled" (valueChanged)="onValueChange(index, $event)"></setting-value>
          </td>
          <td>
            <button *ngIf="map.length > 1" class="btn btn-xs btn-light" (click)="delete(index)" [disabled]="disabled">
              <span class="far fa-trash-alt"></span>
            </button>
          </td>
          <td>
            <button *ngIf="last" class="btn btn-xs btn-light" (click)="add()" [disabled]="disabled">
              <span class="fas fa-plus"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>