<div class="vbox">
  <div class="card vbox">
    <div class="card-header">
      <button class="btn btn-xs btn-light" (click)="createProject()">
        {{'COMMONS.ACTIONS.CREATE'|translate}}
      </button>
      <span style="flex: 1;"></span>
      <div class="btn-toolbar">
        <div>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="openAll()" [title]="'PROJECTS.ACTIONS.OPEN_ALL'|translate">
              <span class="fas fa-folder-open"></span>
            </button>
            <div class="btn-group" ngbDropdown container="body">
              <button class="btn btn-light dropdown-toggle" style="padding: 0px 2px;" data-toggle="dropdown" ngbDropdownToggle>
                <span class="fas fa-caret-down fa-sm"></span>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="openAll()">{{'PROJECTS.ACTIONS.OPEN_ALL'|translate}}</button>
                <button class="dropdown-item" (click)="openAllStartup()">{{'PROJECTS.ACTIONS.OPEN_ALL_STARTUP'|translate}}</button>
              </div>
            </div>
          </div>
          <button class="btn btn-xs btn-light ms-1" (click)="closeAll()" [title]="'PROJECTS.ACTIONS.CLOSE_ALL'|translate">
            <span class="fas fa-folder"></span>
          </button>
        </div>
        <button class="btn btn-xs btn-light" [ngClass]="{ active: rendering }" (click)="switchRendering()" [title]="'COMMONS.RENDERING'|translate">
          <span class="fas fa-font"></span>
        </button>
        <button class="btn btn-xs btn-light" (click)="initProjects()" [title]="'COMMONS.ACTIONS.REFRESH'|translate">
          <span class="fas fa-redo"></span>
        </button>
        <button class="btn btn-xs btn-light" (click)="openACLModal()" [title]="'PROJECTS.ACTIONS.SHOW_ACL_MATRIX'|translate">
          ACL
        </button>
        <div class="ms-1" ngbDropdown>
          <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-xs btn-light dropdown-toggle">
            <span class="fas fa-cog"></span>
          </button>
          <div ngbDropdownMenu class="dropdown-menu">
            <button class="dropdown-item" (click)="settings()">{{'PROJECTS.CONFIG.PROJ_VIEW_SETTINGS'|translate}}</button>
            <button class="dropdown-item" (click)="editCustomFacetsSchema()">{{'PROJECTS.CONFIG.FACETS_SCHEMA_DEFINITION'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body scrollableContainer position-relative px-3">
      <ng-container *ngIf="projectVisualization.mode == ProjectViewMode.facet">
        <!-- 7px applies the same paddings applied to the rows, namely the padding sum of listItem (3px) and groupPanel-body (4px) -->
        <div class="d-flex" style="padding: 7px 7px 0px;">
          <ng-container *ngTemplateOutlet="headersTemplate"></ng-container>
        </div>
        <ng-container *ngFor="let pd of projectDirs">
          <div class="groupPanel">
            <div class="groupPanel-heading">
              <div class="groupPanel-heading-content clickable" (click)="toggleDirectory(pd)" (keyup.enter)="toggleDirectory(pd)" tabindex="0">
                <span [class]="'fas fa-chevron-' + (pd.open ? 'down' : 'right')"></span>
                <span [class]="'fas fa-folder' + (pd.open ? '-open' : '')" style="margin-left: 4px;"></span>
                <label class="clickable" style="margin-left: 4px;">
                  <ng-container *ngIf="pd.dir">{{pd.dirDisplayName}}</ng-container>
                  <ng-container *ngIf="!pd.dir">Unclassified</ng-container>
                </label>
              </div>
            </div>

            <div class="groupPanel-body">
              <ng-container *ngIf="pd.open">
                <ng-container *ngFor="let p of pd.projects">
                  <div *ngIf="isProjectVisible(p)" class="listItem d-flex align-items-center project-row">
                    <ng-container *ngTemplateOutlet="projectRowTemplate; context: { project: p }"></ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="projectVisualization.mode == ProjectViewMode.list">
        <!-- 3px is the same padding applied to the rows (of the listItem class) -->
        <div class="hbox" style="padding: 7px 3px; flex: none;">
          <ng-container *ngTemplateOutlet="headersTemplate"></ng-container>
        </div>
        <div>
          <ng-container *ngFor="let p of projectList">
            <div *ngIf="isProjectVisible(p)" class="listItem d-flex align-items-center project-row">
              <ng-container *ngTemplateOutlet="projectRowTemplate; context: { project: p }"></ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <loading-div *ngIf="loading"></loading-div>

    </div>
    <div class="card-footer">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" [(ngModel)]="filterString" [placeholder]="'COMMONS.ACTIONS.FILTER'|translate">
        <span class="input-group-text">
          <span class="fas fa-filter"></span>
        </span>
      </div>
    </div>
  </div>

</div>


<ng-template #headersTemplate>
  <ng-container *ngFor="let colId of columnIDs">
    <label *ngIf="columnOrder[colId]" class="text-center" [ngStyle]="{ order: columnOrder[colId].order, flex: columnOrder[colId].flex }">
      {{columnOrder[colId].show|translate}}
    </label>
  </ng-container>
  <label class="text-center" style="width: 100px; order: 99;">
    {{'COMMONS.ACTIONS.ACTIONS'|translate}}
  </label>
</ng-template>

<ng-template #projectRowTemplate let-p="project">
  <div *ngIf="columnOrder['name']" class="text-center ellipsable" [ngStyle]="{ order: columnOrder['name'].order, flex: columnOrder['name'].flex }">
    {{p.getName(true)}}
  </div>
  <div *ngIf="columnOrder['name']" class="text-center" [ngStyle]="{ order: columnOrder['open'].order, flex: columnOrder['open'].flex }">
    <button class="btn btn-light" [ngClass]="{active: p.isOpen()}" style="line-height: 1"
      (click)="openOrCloseProject(p)">
      <img *ngIf="!p.isOpen()" src="./assets/images/icons/folder.gif">
      <img *ngIf="p.isOpen()" src="./assets/images/icons/folder-open.gif">
    </button>
  </div>
  <div *ngIf="columnOrder['accessed']" class="text-center" [ngStyle]="{ order: columnOrder['accessed'].order, flex: columnOrder['accessed'].flex }">
    <input type="radio" name="projRadioGrp" (click)="activateProject(p)" [checked]="isWorkingProject(p)" [disabled]="!p.isOpen()" tabindex="0" />
  </div>
  <div *ngIf="columnOrder['model']" class="text-center" [ngStyle]="{ order: columnOrder['model'].order, flex: columnOrder['model'].flex }">
    {{p.getModelType(true)}}
  </div>
  <div *ngIf="columnOrder['lexicalization']" class="text-center" [ngStyle]="{ order: columnOrder['lexicalization'].order, flex: columnOrder['lexicalization'].flex }">
    {{p.getLexicalizationModelType(true)}}
  </div>
  <div *ngIf="columnOrder['history']" class="text-center" [ngStyle]="{ order: columnOrder['history'].order, flex: columnOrder['history'].flex }">
    <span *ngIf="p.isHistoryEnabled()" class="fas fa-check" style="color: green"></span>
    <span *ngIf="!p.isHistoryEnabled()" class="fas fa-times" style="color: darkred"></span>
  </div>
  <div *ngIf="columnOrder['validation']" class="text-center" [ngStyle]="{ order: columnOrder['validation'].order, flex: columnOrder['validation'].flex }">
    <span *ngIf="p.isValidationEnabled()" class="fas fa-check" style="color: green"></span>
    <span *ngIf="!p.isValidationEnabled()" class="fas fa-times" style="color: darkred"></span>
  </div>
  <div *ngIf="columnOrder['location']" class="text-center" [ngStyle]="{ order: columnOrder['location'].order, flex: columnOrder['location'].flex }">
    {{p.getRepositoryLocation().location}}
    <span *ngIf="p.isRepositoryRemote()" class="fas fa-map-marker-alt" [title]="p.getRepositoryLocation().serverURL"></span>
  </div>
  <div class="text-center" style="width: 100px; order: 99;">
    <ng-container *ngTemplateOutlet="projectActionsTemplate; context: { project: p }"></ng-container>
  </div>
</ng-template>

<ng-template #projectActionsTemplate let-p="project">
  <div class="hbox" style="justify-content: center;">
    <button class="btn btn-xs btn-light" (click)="deleteProject(p)" style="margin-left: 10px;">
      <span class="far fa-trash-alt"></span>
    </button>
    <div class="ms-1" ngbDropdown container="body" autoClose="outside">
      <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-xs dropdown-toggle">
        <span class="fas fa-caret-down"></span>
      </button>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <button class="dropdown-item" (click)="editACL(p)">{{'PROJECTS.ACTIONS.EDIT_ACL'|translate}}</button>
        <button *ngIf="p.isRepositoryRemote()" class="dropdown-item" (click)="editRemoteRepoCredential(p)">{{'PROJECTS.ACTIONS.EDIT_REMOTE_REPO_CONFIG'|translate}}</button>
        <button class="dropdown-item" (click)="editLabels(p)">{{'PROJECTS.ACTIONS.EDIT_LABELS'|translate}}</button>
        <button class="dropdown-item" (click)="editDescription(p)">{{'PROJECTS.ACTIONS.EDIT_DESCRIPTION'|translate}}</button>
        <button class="dropdown-item" (click)="editFacets(p)">{{'PROJECTS.ACTIONS.EDIT_FACETS'|translate}}</button>
        <button class="dropdown-item" (click)="editSettings(p)" [disabled]="p.isOpen()">{{'PROJECTS.ACTIONS.EDIT_SETTINGS'|translate}}</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="toggleOpenAtStartup(p)">
          <div class="d-flex justify-content-between ">
            <span>
              {{'PROJECTS.OPEN_AT_STARTUP'|translate}}
              <span class="fas fa-info-circle" [title]="'PROJECTS.OPEN_AT_STARTUP_INFO'|translate"></span>
            </span>
            <div class="form-check form-switch ms-4">
              <input class="form-check-input" type="checkbox" role="switch" [ngModel]="p.getOpenAtStartup()">
            </div>
          </div>
        </button>
        <button class="dropdown-item" (click)="togglePubliclyAccessible(p)">
          <div class="d-flex justify-content-between ">
            <span>
              {{'PROJECTS.PUBLICLY_ACCESSIBLE'|translate}}
              <span class="fas fa-info-circle" [title]="'PROJECTS.PUBLICLY_ACCESSIBLE_INFO'|translate"></span>
            </span>
            <div class="form-check form-switch ms-4">
              <input class="form-check-input" type="checkbox" role="switch" [ngModel]="p.getVisibility() == 'PUBLIC'">
            </div>
          </div>
        </button>
        <button class="dropdown-item" (click)="toggleReadOnly(p)">
          <div class="d-flex justify-content-between ">
            <span>
              {{'PROJECTS.READ_ONLY'|translate}}
              <span class="fas fa-info-circle" [title]="'PROJECTS.READ_ONLY_INFO'|translate"></span>
            </span>
            <div class="form-check form-switch ms-4">
              <input class="form-check-input" type="checkbox" role="switch" [ngModel]="p.isReadOnly()">
            </div>
          </div>
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="profileProject(p)" [disabled]="!p.isOpen()">{{'COMMONS.ACTIONS.PROFILE_PROJECT'|translate}}</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="openPropertyModal(p)">{{'PROJECTS.ACTIONS.SHOW_PROPERTIES'|translate}}</button>
      </div>
    </div>
  </div>
</ng-template>