<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'USER.PASSWORD.CHANGE_PASSWORD'|translate}}</h3>
    </div>
    <div class="modal-body">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td nowrap><label>{{'USER.PASSWORD.OLD_PASSWORD'|translate}}:</label></td>
                    <td>
                        <input type="password" class="form-control" [(ngModel)]="oldPwd">
                    </td>
                </tr>
                <tr>
                    <td nowrap><label>{{'USER.PASSWORD.NEW_PASSWORD'|translate}}:</label></td>
                    <td>
                        <input type="password" class="form-control" [(ngModel)]="newPwd">
                    </td>
                </tr>
                <tr>
                    <td nowrap><label>{{'USER.PASSWORD.CONFIRM_NEW_PASSWORD'|translate}}:</label></td>
                    <td>
                        <input type="password" class="form-control" [ngClass]="{invalid : !isNewPwdConfirmOk()}" [(ngModel)]="newPwdConfirm">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>