<div class="vbox" style="align-items: center;" (keydown)="onKeydown($event)">
  <div class="fw-bold mb-2" style="font-size: 13px;">
    <span class="fas fa-sign-in-alt"></span>
    <span> {{'USER.USER_LOGIN'|translate}}</span>
  </div>

    <ng-container *ngIf="authServMode == 'Default'">
        <input type="text" class="form-control mb-2" [(ngModel)]="email" [placeholder]="'MODELS.USER.EMAIL'|translate" tabindex="1">
        <input type="password" class="form-control mb-2" [(ngModel)]="password" placeholder="Password" tabindex="2">
        <button class="btn btn-primary mb-2" (click)="login()" tabindex="3">{{'USER.LOGIN'|translate}}</button>
        <a (click)="forgotPassword()" style="cursor: pointer">{{'USER.PASSWORD.FORGOT_PASSWORD'|translate}}</a>
        <a [routerLink]="['/Registration/0']">{{'USER.SIGNUP'|translate}}</a>
    </ng-container>

    <form *ngIf="authServMode == 'SAML'" #form class="mt-3" [action]='samlAction' method='get'>
        <button type="submit" class="btn btn-primary mb-2" (click)="form.submit()">{{samlBtnLabel}}</button>
    </form>

    <div *ngIf="authServMode == 'OAuth2'" class="mt-3">
        <button class="btn btn-primary mb-2" (click)="loginOauth2()">{{'USER.LOGIN'|translate}}</button>
    </div>
</div>


