<div class="container vbox" style="flex: initial">

  <div class="card vbox" style="flex: initial">
    <div class="card-header">
      <label><span class="fas fa-user"></span> {{'USER.REGISTRATION.USER_REGISTRATION'|translate}}:</label>
    </div>
    <div class="card-body scrollableContainer">
      <div *ngIf="privacyStatementAvailable" class="alert alert-info mb-2">
        {{'HOME.PRIVACY_STATEMENT.READ_OUR'|translate}}
        <a class="fw-bold" [routerLink]="" (click)="downloadPrivacyStatement()">
          {{'HOME.PRIVACY_STATEMENT.LINK_TEXT'|translate}}
        </a>
      </div>

      <div *ngIf="authServMode == 'Default' && firstAccess" class="alert alert-info mb-2">
        {{'USER.REGISTRATION.NO_USER_REGISTERED_MSG.0'|translate}}
        (<span class="fw-bold">username:</span> admin&#64;vocbench.com, <span class="fw-bold">password:</span> admin)
        {{'USER.REGISTRATION.NO_USER_REGISTERED_MSG.1'|translate}}
        <button class="btn btn-xs btn-primary" (click)="fillDefaultUser()">{{'USER.REGISTRATION.FILL_PREDEFINED_USER'|translate}}</button>
      </div>
      <user-create [(ngModel)]="userForm" [constraint]="constraintUser" [registration]="true"></user-create>
    </div>
    <div class="card-footer">
      <div class="float-start">
        <div><span style="color: red; margin-right: 2px;">* </span>{{'COMMONS.MANDATORY_FIELD'|translate}}</div>
        <div><span style="color: red; margin-right: 2px;">** </span>{{'USER.REGISTRATION.OPTIONAL_RECOMMENDED_FIELD'|translate}}</div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm float-end" (click)="submit()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
      <span class="clearfix"></span>
    </div>
  </div>

</div>