<div>
  <div class="d-flex align-items-center gap-2">
    <label class="text-nowrap">{{'MODELS.USER.EMAIL'|translate}}:</label>
    <input class="form-control" [(ngModel)]="email">
    <button class="btn btn-primary text-nowrap" (click)="reset()" [disabled]="!isEmailValid()">
      {{'USER.PASSWORD.RESET_PASSWORD'|translate}}
    </button>
  </div>
</div>