<li class="dropdown nav-item" ngbDropdown display="dynamic">
  <a [routerLink]="" class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle style="padding: 10px;" (click)="onMenuOpen()" [title]="userShow" ngbDropdownToggle>
    <div class="avatarContainer" style="height: 24px; width: 24px;">
      <img [src]="userAvatarUrl" (error)="setFallbackImage()" style="max-height: 24px; max-width: 24px; background-color: #95A5BC;" />
    </div>
  </a>
  <div class="dropdown-menu" style="font-size: 12px; line-height: 20px;" ngbDropdownMenu>
    <a class="dropdown-item">
      <div class="hbox align-items-center" style="padding: 10px">
        <div class="avatarContainer" style="height: 48px; width: 48px;">
          <img [src]="userAvatarUrl" (error)="setFallbackImage()" style="max-height: 48px; max-width: 48px;" />
        </div>
        <a [routerLink]="['/Profile']" class="ms-2">
          <span class="fw-bold text-nowrap">{{userShow}}</span>
        </a>
      </div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/Profile']"><span class="fas fa-user"></span> {{'APP.NAVBAR.USER_MENU.VIEW_PROFILE'|translate}}</a>
    <a *ngIf="isNotificationsVisible" class="dropdown-item" [routerLink]="['/Notifications']"><span class="fas fa-bell"></span> {{'NOTIFICATIONS.NOTIFICATIONS'|translate}}</a>
    <a *ngIf="isProjectOpen" class="dropdown-item" [routerLink]="['/Preferences']"><span class="fas fa-cog"></span> {{'APP.NAVBAR.USER_MENU.PREFERENCES'|translate}}</a>
    <a *ngIf="isAdministrationVisible" class="dropdown-item" [routerLink]="['/Administration']"><span class="fas fa-wrench"></span> {{'APP.NAVBAR.USER_MENU.ADMINISTRATION'|translate}}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="logout()"><span class="fas fa-sign-out-alt"></span> Log out</a>
  </div>
</li>