<div class="card vbox blockingDivHost">
  <div class="card-header">

    <div class="d-flex align-items-center gap-2" style="flex: 1;">

      <div class="d-flex gap-2">
        <ng-container *ngTemplateOutlet="historyControl"></ng-container>
        <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="buildLexicographerView()">
          <span class="fas fa-redo"></span>
        </button>
      </div>

      <input class="form-control form-control-sm" [ngModel]="resource.getNominalValue()" disabled>

      <button class="btn btn-light btn-xs" style="margin-left: 3px;" (click)="openSettings()" [title]="'COMMONS.SETTINGS'|translate">
        <span class="fas fa-cog"></span>
      </button>

    </div>
  </div>

  <div class="card-body vbox scrollableContainer">

    <div *ngIf="lexEntry" class="d-flex align-items-center">
      <lex-entry class="ms-3" style="flex: 1" [entry]="lexEntry" [lexViewCache]="lexViewCache" [readonly]="readonly" (update)="buildLexicographerView()"></lex-entry>
    </div>

    <!-- Lemma -->
    <div class="mt-3">
      <lexical-form *ngFor="let l of lemma" style="flex: 1" [entry]="lexEntry" [form]="l" [lexViewCache]="lexViewCache" [lemma]="true" [readonly]="readonly"
        (update)="buildLexicographerView()">
      </lexical-form>
    </div>

    <div class="dropdown mt-1" style="align-self: flex-end;" ngbDropdown>
      <button class="btn btn-faded btn-xs dropdown-toggle" data-toggle="dropdown" [disabled]="readonly" [title]="'COMMONS.ACTIONS.ADD'|translate" ngbDropdownToggle>
        <span class="fas fa-plus"></span>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a class="dropdown-item" (click)="addOtherForm()" [ngClass]="{ disabled: !addOtherFormAuthorized }">
          {{'DATA.ACTIONS.ADD_OTHER_FORM'|translate}}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="addSubterm()" [ngClass]="{ disabled: !addSubtermAuthorized }">
          {{'DATA.ACTIONS.ADD_SUBTERM'|translate}}
        </a>
        <a class="dropdown-item" (click)="setConstituents()" [ngClass]="{ disabled: !addConstituentAuthorized }">
          {{'DATA.ACTIONS.SET_CONSTITUENTS'|translate}}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="addRelated()" [ngClass]="{ disabled: !addRelatedAuthorized }">
          {{'DATA.ACTIONS.ADD_RELATED_LEX_ENTRY'|translate}}
        </a>
        <a class="dropdown-item" (click)="addTranslation()" [ngClass]="{ disabled: !addTranslationAuthorized }">
          {{'DATA.ACTIONS.ADD_TRANSLATION'|translate}}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="addSemanticReference()" [ngClass]="{ disabled: !addSemanticReferenceAuthorized }">
          {{'DATA.ACTIONS.ADD_SEMANTIC_REFERENCE'|translate}}
        </a>
        <a class="dropdown-item" (click)="addConceptualization()" [ngClass]="{ disabled: !addConceptualizationAuthorized }">
          {{'DATA.ACTIONS.ADD_CONCEPTUALIZATION'|translate}}
        </a>
      </div>
    </div>

    <!-- Other forms -->
    <div class="mt-3">
      <lexical-form *ngFor="let f of otherForms;" class="mb-2" style="flex: 1" [entry]="lexEntry" [form]="f" [lexViewCache]="lexViewCache" [readonly]="readonly"
        (update)="buildLexicographerView()">
      </lexical-form>
      <inline-editable-value *ngIf="pendingOtherForm" class="mb-2" [focusOnInit]="true"
        (edited)="onPendingOtherFormConfirmed($event)" (editCanceled)="onPendingOtherFormCanceled()">
      </inline-editable-value>
    </div>

    <div *ngIf="lexEntry" class="ms-3">
      <!-- Constituents -->
      <constituent-list *ngIf="lexEntry.constituents.length > 0" class="mt-3" [entry]="lexEntry" [lexViewCache]="lexViewCache"
        (update)="buildLexicographerView()" (dblclickObj)="resourceDblClick($event)">
      </constituent-list>
      <!-- Subterms -->
      <div *ngIf="lexEntry.subterms.length > 0" class="d-flex align-items-center mt-3">
        <label>{{'RESOURCE_VIEW.SECTIONS.SUBTERMS'|translate}}:</label>
        <subterm *ngFor="let s of lexEntry.subterms" class="ms-3" [entry]="lexEntry" [subterm]="s" (update)="buildLexicographerView()" (dblclickObj)="resourceDblClick($event)">
        </subterm>
        <button class="btn btn-xs btn-faded ms-3" (click)="addSubterm()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="!addSubtermAuthorized">
          <span class="fas fa-plus"></span>
        </button>
      </div>
      <!-- lexical relations -->
      <div *ngIf="lexEntry.related.length > 0" class="d-flex align-items-center mt-3">
        <label>{{'RESOURCE_VIEW.LEX_VIEW.RELATED'|translate}}:</label>
        <entry-relation *ngFor="let r of lexEntry.related" class="ms-3" [entry]="lexEntry" [relation]="r" (update)="buildLexicographerView()" (dblclickObj)="resourceDblClick($event)">
        </entry-relation>
        <button class="btn btn-xs btn-faded ms-3" (click)="addRelated()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="!addRelatedAuthorized">
          <span class="fas fa-plus"></span>
        </button>
      </div>
      <div *ngIf="lexEntry.translatableAs.length > 0" class="d-flex align-items-center mt-3">
        <label>{{'RESOURCE_VIEW.LEX_VIEW.TRANSLATION'|translate}}:</label>
        <entry-relation *ngFor="let r of lexEntry.translatableAs" class="ms-3" [entry]="lexEntry" [relation]="r" [translation]="true" (update)="buildLexicographerView()" (dblclickObj)="resourceDblClick($event)">
        </entry-relation>
        <button class="btn btn-xs btn-faded ms-3" (click)="addTranslation()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="!addTranslationAuthorized">
          <span class="fas fa-plus"></span>
        </button>
      </div>
    </div>


    <!-- Senses -->
    <div class="mt-3">
      <lexical-sense *ngFor="let s of senses" class="mb-2" [sense]="s" [entry]="lexEntry" [lang]="lang" [readonly]="readonly" [lexViewCache]="lexViewCache"
        (update)="buildLexicographerView()" (dblclickObj)="resourceDblClick($event)">
      </lexical-sense>
    </div>

  </div>

  <div class="card-footer"></div>

  <div #blockDiv class="blockingDiv" style="display:none">
    <div class="loadingDiv">
      <div>
        <p>Loading...</p><img src="./assets/images/loading.gif" />
      </div>
    </div>
  </div>

</div>