<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <div class="hbox" style="align-items: center">
            <h3 class="modal-title" style="flex: 1">{{title}}</h3>
            <button class="btn btn-light btn-xs" [title]="'DATA.ACTIONS.CHANGE_CLASS'|translate" (click)="changeClass()" [disabled]="!clsChangeable">
                <rdf-resource [resource]="resourceClass"></rdf-resource>
            </button>
        </div>
    </div>
    <div class="modal-body vbox" (keyup.enter)="onEnter()">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="text-end"><label>{{'DATA.LEX_ENTRY.LEX_CONCEPT'|translate}}:</label></td>
                    <td>
                        <resource-picker [config]="{ roles: pickerRoles }" [editable]="true" (resourceChanged)="updateLinkedRes($event)"></resource-picker>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ng-container *ngIf="createSense; then createPlainBlock; else createSenseBlock"></ng-container>
                        <ng-template #createPlainBlock>
                            <div class="form-check">
                                <input class="form-check-input" id="plainCheck" type="checkbox" [(ngModel)]="createPlainCheck">
                                <label class="form-check-label" for="plainCheck">{{'DATA.ACTIONS.CREATE_PLAIN'|translate}}</label>
                            </div>
                        </ng-template>
                        <ng-template #createSenseBlock>
                            <div class="form-check">
                                <input class="form-check-input" id="senseCheck" type="checkbox" [(ngModel)]="createSenseCheck">
                                <label class="form-check-label" for="senseCheck">{{'DATA.ACTIONS.CREATE_SENSE'|translate}}</label>
                            </div>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>

        <custom-form *ngIf="customFormId" [cfId]="customFormId" class="mt-2 pt-2 border-top" [(ngModel)]="formFields"></custom-form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>