<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <div class="hbox" style="align-items: center">
      <h3 class="modal-title" style="flex: 1">{{title}}</h3>
      <span>
        <button class="btn btn-light btn-xs" [title]="'DATA.ACTIONS.CHANGE_CLASS'|translate" (click)="changeClass()" [disabled]="!clsChangeable">
          <rdf-resource [resource]="resourceClass"></rdf-resource>
        </button>
      </span>
    </div>
  </div>
  <div class="modal-body vbox" (keyup.enter)="onEnter()">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end">
            <select class="form-select" style="width: initial;" [(ngModel)]="nature" (ngModelChange)="linkedResource = null">
              <option [value]="'reference'">{{'RESOURCE_VIEW.LEX_VIEW.REFERENCE'|translate}}</option>
              <option [value]="'lexConcept'">{{'DATA.LEX_ENTRY.LEX_CONCEPT'|translate}}</option>
            </select>
          </td>
          <td>
            <resource-picker *ngIf="nature == 'reference'" [config]="{ roles: pickerRoles }" [editable]="true" (resourceChanged)="updateLinkedRes($event)"></resource-picker>
            <resource-picker *ngIf="nature == 'lexConcept'" [config]="{ roles: [RDFResourceRolesEnum.concept] }" [editable]="true" (resourceChanged)="updateLinkedRes($event)"></resource-picker>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <div class="form-check">
              <input class="form-check-input" id="plainCheck" type="checkbox" [(ngModel)]="createPlainCheck">
              <label class="form-check-label" for="plainCheck">{{'DATA.ACTIONS.CREATE_PLAIN'|translate}}</label>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    <custom-form *ngIf="customFormId" [cfId]="customFormId" [(ngModel)]="formFields" (hideStdResField)="hideStdResField = true" class="border-top mt-2 pt-2"></custom-form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>