<div class="card vbox">
  <ng-container *ngIf="file">
    <div class="card-header">
      <span *ngIf="file.type=='DIRECTORY'" class="far fa-folder fa-lg me-2"></span>
      <span *ngIf="file.type=='FILE'" class="far fa-file fa-lg me-2"></span>
      <label>{{file.name}}</label>
    </div>
    <div class="card-body overflow-auto">
      <table class="table table-sm table-hoverable" style="flex: 1">
        <tbody>
          <tr>
            <td><label>{{'MODELS.RESOURCE.RESOURCE'|translate}}:</label></td>
            <td>
              <span *ngIf="file.type == SepFMObjectType.DIRECTORY" class="far fa-file me-2"></span>
              <span *ngIf="file.type == SepFMObjectType.FILE" class="far fa-file me-2"></span>
              {{file.type}}
            </td>
          </tr>
          <tr *ngIf="file.id">
            <td><label>ID:</label></td>
            <td>{{file.id}}</td>
          </tr>
          <tr>
            <td><label>Name:</label></td>
            <td>{{file.name}}</td>
          </tr>
          <tr *ngIf="file.contentType">
            <td><label>Content Type:</label></td>
            <td>{{file.contentType}}</td>
          </tr>
          <tr *ngIf="file.size && file.type != SepFMObjectType.DIRECTORY">
            <td><label>Size:</label></td>
            <td>{{file.size | filesize}}</td>
          </tr>
          <tr *ngIf="file.createdAt">
            <td><label>Created_At:</label></td>
            <td>{{file.createdAt}}</td>
          </tr>
          <tr *ngIf="file.updatedAt">
            <td><label>Updated_At:</label></td>
            <td>{{file.updatedAt}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>