<div class="card vbox">
    <div class="card-header">
        <div style="flex: 1">
            <label>Docset Content</label>
        </div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
                <span class="fas fa-redo"></span>
            </button>
        </div>
    </div>

    <div class="card-body vbox">
        <file-list [files]="files" (nodeSelected)="onNodeSelected($event)">
        </file-list>
    </div>


</div>
