<div class="card vbox">
  <div class="card-body vbox">
    <div class="scrollableContainer">
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

      <div *ngFor="let f of files" class="treeNode listItem" [ngClass]="{ selectedResource: f == selectedFile }" (click)="onNodeSelected(f)" [title]="f.id">
        <div class="me-2">
          <ng-container *ngIf="f.type == SepFMObjectType.FILE; then file; else directory"></ng-container>
          <ng-template #file>
            <span class="far fa-file"></span>
          </ng-template>
          <ng-template #directory>
            <span class="far fa-folder"></span>
          </ng-template>
        </div>
        {{f.name}}
      </div>
    </div>
  </div>
</div>