<select [class]="selectClass" [(ngModel)]="datatype" (ngModelChange)="onDatatypeChange()" [disabled]="disabled || readonly">
  <option *ngFor="let dt of datatypeList" [ngValue]="dt" [title]="dt.toNT()">{{dt.getShow()}}</option>
</select>