<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox">
    <translationset-list-panel [editable]="editable" [deletable]="deletable" [projectCtx]="projectCtx" (nodeSelected)="onNodeSelected($event)">
    </translationset-list-panel>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>