<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'INVOKABLE_REPORTERS.ACTIONS.IMPORT_INVOKABLE_REPORT'|translate}}</h3>
  </div>
  <div class="modal-body">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end">
            <label>{{'COMMONS.FILE'|translate}}:</label>
          </td>
          <td>
            <file-picker (fileChanged)="fileChangeEvent($event)" accept=".cfg"></file-picker>
          </td>
        </tr>
        <tr>
          <td class="text-end">
            <label>ID:</label>
          </td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="id" [disabled]="useInputId">
              <button class="btn btn-light" [ngClass]="{ active : useInputId }" (click)="useInputId = !useInputId">
                <span class="fas fa-lock"></span>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>{{'COMMONS.SCOPE'|translate}}:</label>
          </td>
          <td>
            <select class="form-select" style="display: inline-block" [(ngModel)]="selectedScope">
              <option *ngFor="let s of scopes">{{s}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>