<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body vbox table-responsive">

    <table *ngIf="form" class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%">
        <col>
        <col style="width: 1%">
      </colgroup>
      <tbody>
        <ng-container *ngIf="!reporterRef">
          <tr>
            <td class="text-end" nowrap>
              <label>ID</label>
            </td>
            <td>
              <input class="form-control" [(ngModel)]="id">
            </td>
            <td></td>
          </tr>
          <tr style="border-bottom: 1px solid #ddd;">
            <td class="text-end" nowrap>
              <label>{{'COMMONS.SCOPE'|translate}}</label>
            </td>
            <td>
              <select class="form-select" style="display: inline-block" [(ngModel)]="selectedScope">
                <option *ngFor="let s of scopes">{{s}}</option>
              </select>
            </td>
            <td></td>
          </tr>
        </ng-container>
        <tr>
          <td class="text-end" nowrap>
            <label>{{form.label.displayName}}</label>
            <span class="fas fa-info-circle ms-1" [title]="form.label.description"></span>
          </td>
          <td><input class="form-control" [(ngModel)]="form.label.value"></td>
          <td><ng-container *ngIf="form.label.required">*</ng-container></td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>{{form.description.displayName}}</label>
            <span class="fas fa-info-circle ms-1" [title]="form.description.description"></span>
          </td>
          <td><textarea class="form-control" style="resize: vertical" [(ngModel)]="form.description.value"></textarea></td>
          <td><ng-container *ngIf="form.description.required">*</ng-container></td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>{{form.template.displayName}}</label>
            <span class="fas fa-info-circle ms-1" [title]="form.template.description"></span>
          </td>
          <td>
            <mustache-editor [(ngModel)]="form.template.value"></mustache-editor>
          </td>
          <td><ng-container *ngIf="form.template.required">*</ng-container></td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>{{form.filename.displayName}}</label>
            <span class="fas fa-info-circle ms-1" [title]="form.filename.description"></span>
          </td>
          <td><input class="form-control" [(ngModel)]="form.filename.value"></td>
          <td><ng-container *ngIf="form.filename.required">*</ng-container></td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>{{form.additionalFiles.displayName}}</label>
            <span class="fas fa-info-circle ms-1" [title]="form.additionalFiles.description"></span>
          </td>
          <td>
            <div class="d-flex">
              <div class="card" style="flex: 1">
                <div class="card-body scrollableContainer" style="max-height: 200px;">
                  <table class="table table-sm">
                    <colgroup>
                      <col>
                      <col>
                      <col style="width: 1%;">
                      <col style="width: 1%;">
                    </colgroup>
                    <thead>
                      <th>{{'INVOKABLE_REPORTERS.SOURCE_PATH'|translate}}</th>
                      <th>{{'INVOKABLE_REPORTERS.DESTINATION_PATH'|translate}}</th>
                      <th>{{'COMMONS.REQUIRED'|translate}}</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let f of form.additionalFiles.value">
                        <td><input class="form-control" [ngModel]="f.sourcePath" disabled></td>
                        <td><input class="form-control" [(ngModel)]="f.destinationPath"></td>
                        <td class="text-center"><input type="checkbox" [(ngModel)]="f.required"></td>
                        <td>
                          <button class="btn btn-light btn-xs ms-3" (click)="removeAdditionalFile(f)">
                            <span class="far fa-trash-alt"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <button class="btn btn-light btn-sm ms-3" style="align-self: flex-start;" (click)="editAdditionalFiles()">
                {{'WIDGETS.FILE_PICKER.BROWSE'|translate}}
              </button>
            </div>
          </td>
          <td><ng-container *ngIf="form.additionalFiles.required">*</ng-container></td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>{{form.mimeType.displayName}}</label>
            <span class="fas fa-info-circle ms-1" [title]="form.mimeType.description"></span>
          </td>
          <td><input class="form-control" [(ngModel)]="form.mimeType.value"></td>
          <td><ng-container *ngIf="form.mimeType.required">*</ng-container></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="modal-footer">
    <span class="float-start">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>

</div>