<resizable-layout orientation="H">

  <structure-tabset main (nodeSelected)="onNodeSelected($event)" shiftKey ctrlKey></structure-tabset>

  <ng-container secondary>
    <resizable-layout *ngIf="selectedResource || sideResource" orientation="H" [mainFlex]="4">
      <resource-view-tabset *ngIf="selectedResource" main #mainTabset shiftKey ctrlKey
        (empty)="onMainTabsetEmpty()" (valueClick)="onValueClick($event)" (tabSelect)="onTabSelected($event)">
      </resource-view-tabset>
      <resource-view-tabset *ngIf="sideResource" secondary #sideTabset ctrlKey
        (empty)="onSideTabsetEmpty()" (tabSelect)="onTabSelected($event)">
      </resource-view-tabset>
    </resizable-layout>
  </ng-container>

</resizable-layout>