<div class="d-flex align-items-center">
    <entry-ref [ref]="subterm" class="clickable" (dblclick)="onDblClick()"></entry-ref>
    <button class="btn btn-xs btn-faded ms-2" (click)="delete()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!deleteAuthorized">
        <span class="fas fa-minus"></span>
    </button>
</div>