<div class="card vbox blockingDivHost">
  <div class="card-header">
    <div class="d-flex align-items-center gap-2" style="flex: 1;">
      <div class="d-flex gap-2">
        <ng-container *ngTemplateOutlet="historyControl"></ng-container>
        <button class="btn btn-light btn-xs" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="buildResourceView(resource)">
          <span class="fas fa-redo"></span>
        </button>
      </div>

      <input class="form-control form-control-sm" [ngModel]="resource.getNominalValue()" disabled>

      <button class="btn btn-light btn-xs" style="margin-left: 3px;" (click)="openSettings()" [title]="'COMMONS.SETTINGS'|translate">
        <span class="fas fa-cog"></span>
      </button>

    </div>
  </div>
  <div *ngIf="resource && !unexistingResource" class="card-body scrollableContainer">
    <ng-container *ngIf="!unexistingResource && !unknownHost">
      <!-- first-->
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center" style="position: relative;">
            <h2 id="resShowEl" class="text-primary clamp pe-4 mb-0">
              {{resource.getShow()}}
            </h2>
            <span *ngIf="ellipsedResShow" style="position: absolute; right: 0; font-size: 1.2em;" class="fas fa-exclamation-circle text-primary"
              [title]="'MESSAGES.LONG_RESOURCE_RENDERING_WARNING'|translate">
            </span>
          </div>

          <div class="lined-header"><span>{{'COMMONS.DEFINITION'|translate}}</span></div>
          <div>
            <p *ngFor="let def of definitions">{{def.getShow()}} ({{def.getAdditionalProperty('lang')}})</p>
          </div>

          <div class="lined-header"><span>{{'RESOURCE_VIEW.TERM_VIEW.CONCEPT_SCHEMES'|translate}}</span></div>
          <div>
            <p *ngFor="let s of schemes">{{s.getShow()}}</p>
          </div>

          <div class="lined-header"><span>{{'RESOURCE_VIEW.TERM_VIEW.BROADER_CONCEPTS'|translate}}</span></div>
          <div>
            <p *ngFor="let b of broaders">{{b.getShow()}}</p>
          </div>
        </div>
      </div>
      <!-- Languages-->
      <div class="lang">
        <lang-item *ngFor="let item of languages" class="clickable" [language]="item.lang" [disabled]="item.disabled"
          [showName]="false" [size]="'md'" (click)="onLanguageClicked(item)">
        </lang-item>
      </div>
      <!-- Language definitions-->
      <div class="def-lang">
        <lang-box #langBox *ngFor="let lang of langsWithValue" [resource]="resource" [lang]="lang" [poList]="langStruct[lang]"
          [defCrConfig]="defCustomRangeConfig" [readonly]="readonly" (update)="buildResourceView(resource)" (delete)="deleteLangBox(lang)">
        </lang-box>
      </div>
    </ng-container>

    <div *ngIf="unexistingResource" class="alert alert-danger">
      {{'RESOURCE_VIEW.STATUS.RESOURCE_NOT_EXISTING'|translate}}
    </div>
    <div *ngIf="unknownHost" class="alert alert-danger">
      {{'RESOURCE_VIEW.STATUS.RESOURCE_UNKNOWN_HOST'|translate}}
    </div>

  </div>
  <div class="card-footer"></div>

  <div #blockDiv class="blockingDiv" style="display:none">
    <div class="loadingDiv">
      <div>
        <p>Loading...</p><img src="./assets/images/loading.gif" />
      </div>
    </div>
  </div>

</div>