<div class="def-wrap">
    <label class="groupPanel-heading-content" style="font-size: 13px;">{{'COMMONS.DEFINITION'|translate}}:</label>
    <inline-editable-value style="flex: 1; margin-left: 4px;" [value]="def" [disabled]="!editDefAuthorized || readonly"
        [preventEdit]="defCrConfig.hasCustomRange && !def" (click)="onInlineValueClick()" (edited)="onDefinitionEdited($event,def)">
    </inline-editable-value>
    <button class="btn btn-xs btn-faded ms-1"  (click)="deleteDefinition()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!deleteDefAuthorized || readonly">
        <span class="fas fa-minus" style="font-size: 9px;"></span>
    </button>
</div>