// Override Bootstrap variables before importing it

//links are always underlined by defautl, override style by underlining only on hover
$bs-link-decoration: none;
$bs-link-hover-decoration: underline;

@use "bootstrap/scss/bootstrap" with (
  $link-decoration: $bs-link-decoration,
  $link-hover-decoration: $bs-link-hover-decoration
);

@import url('app/widget/codemirror/manchester-editor/manchester.css');



html,
body {
  height: 100%;
  margin: 0;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}

/* Scrollbar customization */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: auto;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 20px;
  border: 3px solid white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgray;
}

.blockingDivHost {
  position: relative;
  /* to allow blockDiv with absolute position inside these divs */
}

/* Div visible only in some scenario when there is need to block event from user */
.blockingDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  /* Blocking div z-index > of .modal z-index (1000+) */
  text-align: center;
  color: black;
  font-size: 13px;
}

.blockingDiv>.loadingDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 100px;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  background: linear-gradient(#FFFFFF, #CACACA);
}

.blockingDiv>.loadingDiv>div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

app {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.homeLogo {
  max-width: 60px;
  max-height: 36px;
}

li.disabled {
  cursor: not-allowed;
}

/*Disable events when user clicks on a disabled link*/
li.disabled>a {
  pointer-events: none;
}

config-bar {
  background: linear-gradient(#FFFFFF, #CACACA);
  padding-top: 3px;
  padding-bottom: 3px;
}

.bottom-bar {
  background: #7180AB;
  border-top: 1px solid #C5D5E4;
  color: white;
  padding: 3px 20px;
}

.bottom-bar a {
  text-decoration: none;
  color: white
}

/* To style component that take place in main router outlet */
.pageComponent {
  flex: 1;
  min-height: 0;
  display: flex;
  overflow-y: hidden;
}

.vbox {
  display: flex;
  flex-flow: column !important;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.hbox {
  display: flex;
  flex-flow: row !important;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

code {
  font-size: inherit;
}

.project-row:first-of-type {
  border-top: 1px solid #ddd;
}

.project-row {
  border-bottom: 1px solid #ddd;
}

resource-list,
class-individual-tree,
scheme-selection,
data-range-editor,
import-tree {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-flow: column;
}

/* Note: in order to work, the div with this class needs to be placed into a display:flex container */
.scrollableContainer {
  padding: 6px;
  /* the same of the card-body */
  overflow: auto;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-flow: column;
}

/* restore the modal-body padding when scrollableContainer is applied to the same div */
.modal-body.scrollableContainer {
  padding: 10px;
}

button>rdf-resource {
  vertical-align: middle;
}

/* Ellipsis of the content of a rdf-resource in a button, in a navigation tab (ResView tabs), and in a .card-header (heading of ResView) */
/* button > rdf-resource > span, .nav-tabs rdf-resource > span,
.card-header rdf-resource > span, .tile rdf-resource > span { */
button>rdf-resource span,
.nav-tabs rdf-resource span,
.card-header rdf-resource span,
.tile rdf-resource span,
.inline-resource rdf-resource span {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.inline-resource rdf-resource span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.proposedAddRes {
  background-color: #dff0d8 !important;
  color: #3c763d !important;
  border-color: #d6e9c6 !important;
}

.proposedRemoveRes {
  background-color: #f2dede !important;
  color: #a94442 !important;
  border-color: #ebccd1 !important;
}

.proposedAddTriple {
  color: green !important;
  font-style: italic !important;
}

.proposedRemoveTriple>span {
  color: darkred !important;
  text-decoration: line-through !important;
}

.imported {
  background-color: #ffffee
}

.inferred {
  background-color: #eff0ff
}

.treeListComponent {
  /* vbox + blockingDivHost */
  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
  position: relative;
}

.treeListComponent .card-body {
  padding: 0px;
}

.treeListComponent rdf-resource:hover {
  background-color: #e5f3ff;
}

reified-resource {
  /* negative margins to remove the 3px padding of listItem (container of reified-resource) */
  margin: -2px 0px -2px -3px;
}

.expandableResource {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #eee;
  min-height: 16px;
  padding: 2px 3px;
  flex: 1;
}

.selectedResource {
  background-color: #cde8ff !important;
  border: 1px solid #7bc3ff !important;
}

.treeNode {
  min-height: 24px;
  max-width: 100%;
  margin: 2px 0px;
  display: flex;
  align-items: center;
  position: relative;
  /* for positioning 'absolute' children (instNum label in classTreeNode) */
}

.treeNode .expandCollapseBtnContainer {
  min-width: 16px;
}

.treeNode rdf-resource {
  flex: 1;
  min-height: 24px;
}

.expandCollapseBtnContainer>img {
  cursor: pointer;
}

.subTree {
  padding-left: 15px;
}

.listNodeItem {
  display: flex;
  align-items: center;
  min-height: 24px;
}

.listNodeItem input {
  min-width: 13px;
}

.listNodeItem rdf-resource {
  border-radius: 2px;
  flex: 1;
}

input[type="image"]:disabled {
  opacity: 0.5;
}

img.disabled {
  opacity: 0.5;
}

/* table which rows are colored when hovered */
.table-hoverable tbody tr:hover td {
  background-color: #e5f3ff !important;
}

/* when a table-hoverable is nested within another one, add the class table-hoverable-nested to avoid that selection is inherited by the inner table */
.table-hoverable tbody tr:hover .table-hoverable.table-hoverable-nested td {
  background-color: transparent !important;
}

.table-hoverable tbody tr:hover .table-hoverable tr:hover td {
  background-color: #e5f3ff !important;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
  border: none;
}

.table-primary,
.table-primary>td,
.table-primary>th {
  background-color: #cde8ff;
  /* different than the default in bootstrap, in order to match the listItem:active color */
}

.listItem {
  padding: 3px;
  width: 100%;
  min-height: 24px;
}

.listItem:hover {
  background-color: #e5f3ff;
}

.listItem.active {
  background-color: #cde8ff;
}

.listItem.disabled {
  cursor: not-allowed;
  color: #999;
  pointer-events: none;
}

.listItem.disabled.active {
  background-color: #eee !important;
}

.listItem rdf-resource {
  border-radius: 2px;
  flex: 1;
}

.groupPanel {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 8px 0 5px;
  position: relative;
}

.groupPanel-heading {
  display: flex;
  align-items: center;
  position: absolute;
  height: 20px;
  top: -11px;
  left: 6px;
  right: 8px;
}

.groupPanel-heading .groupPanel-heading-content {
  /* labels, buttons, or other elements that should be placed on the heading*/
  padding: 0px 2px;
  background: white;
}

.groupPanel-add-btn {
  position: absolute;
  top: -2px;
  right: 12px;
}

.groupPanel-dropdown-btn {
  position: absolute;
  top: 0px;
  right: -2px;
}

.groupPanel-body {
  padding: 12px 4px 4px;
}

.panelButtonImg {
  width: 20px;
  height: 20px;
}

input.ng-invalid.submitted {
  border-left: 4px solid #a94442;
}

input.invalid {
  background: #ffaaaa;
}

/*Removes spinner from input type number (I'm not sure if show or not the spinner, keep it commented for now)*/
/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}*/

/* apply bootstrap style to input of type "file" */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* this class might seem duplicate of transparentBtn, but this is more generic, more "bootstrap way" (to apply together with btn and btn-<size>) */
.btn-transparent {
  background: transparent;
  border: 1px transparent;
  opacity: 0.4;
  filter: alpha(opacity=40);
  color: #000000;
}

.btn-transparent:hover {
  opacity: 0.9;
  background: #f7f7f7;
  filter: alpha(opacity=90);
}

.btn-transparent:disabled {
  opacity: 0.15 !important;
  filter: alpha(opacity=15) !important;
  cursor: default !important;
}

.btn-faded {
  border: none;
  background: #dddddd33;
  transition: all 0.3s ease-out;
}

.btn-faded:hover:enabled,
.btn-faded:focus:enabled,
.btn-faded:active:enabled {
  background: #ccc !important;
  /*important in order to "win" over the backgroung in btn-group:hover>btn-faded*/
  transition: all 0.4s ease-in;
}

.btn-faded:focus {
  outline: none;
}

.btn-faded>.fas,
.btn-faded>.far {
  color: #fff;
}

/* btn-bright to apply at those button that when active/pressed, the text/icon inside is colored in a bright blue */
.btn-bright.active .fas,
.btn-bright.active .far {
  color: #4285f4;
}

.btn-group:hover>.btn-faded {
  background: #eee;
  transition: all 0.4s ease-in;
}

.btn-light {
  border-color: #ccc !important;
}

/**
 * Progress bars text in Bootstrap are centered according the progress bar, not the "background" bar. This classes fix.
 */
.progress {
  position: relative;
  margin-bottom: 0;
  background-color: #d9534f;
  height: 16px;
}

.progress>.progress-bar>.progress-value {
  position: absolute;
  display: block;
  width: 100%;
  color: white;
  white-space: nowrap;
}

.large-progress {
  min-width: 130px;
}

.CodeMirror {
  /*Border of textare of CodeMirror (just in the editors, because in yasqe there is already)*/
  border: 1px solid #ddd;
  height: auto;
  flex: 1;
}

/* height auto in CodeMirror let the textarea of codemirror fill the available space.
With the following classes is possible to limit the height of the editor to the given max-height */
.CodeMirror-sm .CodeMirror-scroll {
  max-height: 200px !important;
}

.CodeMirror-md .CodeMirror-scroll {
  max-height: 300px !important;
}

.CodeMirror-lg .CodeMirror-scroll {
  max-height: 400px !important;
}

.CodeMirror-scroll {
  min-height: 100px;
  margin-right: 0px;
  flex: 1;
}

ngx-codemirror.disabled .CodeMirror {
  background: #eee;
}

.ngx-charts-tooltip-content.type-tooltip {
  background: rgba(0, 0, 0, .5) !important;
}

.cm-s-default .cm-variable-4 {
  color: #c00
}

/*Reset height to auto when codemirror is fullscreen*/
/* .CodeMirror.CodeMirror-fullscreen {
    height: auto !important
} */

.CodeMirror-hints {
  /* necessary to visualize hints list (z-index just greater that the one of BS modals */
  z-index: calc(bootstrap.$zindex-modal + 1) !important;
}

/* it is necessary to visualize a divisor inside hints window */
.hint-separator {
  border-top: 1px solid rgb(220, 220, 220);
}

.cm-mustache {
  color: #0ca;
}

/* Reduce lateral margin of the buttons that contain img in btn-group in card header (usually button for tree/list managment) */
.card-header .btn-group>.btn>img {
  margin-left: -2px;
  margin-right: -2px;
}

/* Button to add/remove elements in ResourceView sections */
.transparentBtn:hover,
.transparentBtn:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

button.transparentBtn {
  width: 18px;
  height: 18px;
  float: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.4;
  filter: alpha(opacity=40);
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}

button.transparentBtn:disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: default;
}

.section-renderer .card-header .btn {
 opacity: .8;
}

button.resViewSectionAddBtn {
  filter: alpha(opacity=40);
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}

button.resViewSectionAddBtn:disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
  cursor: default;
}

.grayText {
  color: #999;
}

.greenText {
  color: green;
}

/*override padding of the nav-tab links*/
.nav-tabs-xs>li>a {
  cursor: pointer !important;
  padding: 3px !important;
}

/* html hidden attribute doesn't work with flex-box, use this class instead */
.hidden {
  display: none;
}

.sliderY,
.sliderX {
  display: flex;
  justify-content: center;
  margin: 2px;
  padding: 3px;
  border-radius: 3px;
}

.sliderY {
  cursor: ns-resize;
}

.sliderX {
  cursor: ew-resize;
}

.sliderY:hover,
.sliderX:hover {
  background-color: #dddddd;
}

.sliderY div,
.sliderX div {
  align-self: center;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.sliderY:hover div,
.sliderY:hover div {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* To apply to the arrow.png image (that points down) in order to change orientation*/
.arrow-left {
  transform: rotate(90deg);
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-right {
  transform: rotate(270deg);
}

.clickable {
  // cursor: pointer !important; 
  /* removed !important, to prevent it to take priority over the cursor style applied
  in resview-value-renderer inside ctrl-container/shift-container */
  cursor: pointer;
}

/* Disable CSS effect applied on hover */
.no-hover {
  pointer-events: none;
}

lang-pref {
  display: flex;
  flex: 1;
}

/* Fix for a bug in Firefox that adds an additional row to a textarea
see https://stackoverflow.com/questions/46746887/textarea-extra-row-in-firefox-browser */
textarea {
  overflow-x: hidden
}

.avatarContainer {
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 4px;
}

.tile-group {
  min-height: 28px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
  flex-wrap: wrap;
}

.tile {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 4px;
  background: #fff;
  margin: 2px;
  white-space: nowrap;
}

/* class to add to form-control in order to create a container (similar to a form-control) for a rdf-resource */
.input-resource {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 2px 10px;
  min-height: 28px;
  /* height of form-control-sm. Override if this class is used with a different input- size */
  max-height: 140px;
  height: initial;
  /* override the height of the form-control-sm */
  overflow: auto;
}

/* class for positioning the close "x" in a multiline dismissible alert at the top right corner */
.alert-multiline.alert-dismissible {
  position: relative
}

.alert-multiline.alert-dismissible>.close {
  position: absolute;
  top: 4px;
  right: 6px;
}

/* Utility class (to use in combo with max-width) in order truncate inner text with ellipsis if its width exceeds the max-width */
.ellipsable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

/* Like the previous, but the ellipsis is on the left (e.g. "...long text") */
.ellipsable-left {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  direction: rtl;
  text-align: end;
}

.ellipsable>label {
  display: inline;
}

.form-control-editable {
  background-color: #fdfdfd22;
  /* ending two digits represent the opacity */
  border: 1px solid #fbfbfb;
}

.form-control-editable:hover {
  background-color: #f7f7f799;
  border: 1px solid #f4f4f4 !important;
}

.form-control-editable:disabled {
  background-color: #f4f4f4;
  cursor: not-allowed;
}

/* ####################################
########## BOOTSTRAP OVERRIDE #########
#####################################*/

/* remove the negative margin of the grid layout of bootstrap */
.row {
  margin-right: 0;
  margin-left: 0;
}

.btn.active {
  outline: 0px;
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
}

/* Navigation bar START */

/* Theme 0 */
.bg-theme-0 {
  background-color: #1e4387;
}

.bg-theme-alt-0,
.navbar.bg-theme-0 .nav-item.active>.nav-link,
.navbar.bg-theme-0 .nav-item:hover>.nav-link {
  background-color: #7486ab;
}

/* Theme 1 */
.bg-theme-1 {
  background-color: #283e4a;
}

.bg-theme-alt-1,
.navbar.bg-theme-1 .nav-item.active>.nav-link,
.navbar.bg-theme-1 .nav-item:hover>.nav-link {
  background-color: #75c6f7;
}

/* Theme 2 */
.bg-theme-2 {
  background-color: #1da1f2;
}

.bg-theme-alt-2,
.navbar.bg-theme-2 .nav-item.active>.nav-link,
.navbar.bg-theme-2 .nav-item:hover>.nav-link {
  background-color: #75c6f7;
}

/* Theme 3 */
.bg-theme-3 {
  background-color: #367c36;
}

.bg-theme-alt-3,
.navbar.bg-theme-3 .nav-item.active>.nav-link,
.navbar.bg-theme-3 .nav-item:hover>.nav-link {
  background-color: #5cb85c;
}

/* Theme 4 */
.bg-theme-4 {
  background-color: #5f5f5f;
}

.bg-theme-alt-4,
.navbar.bg-theme-4 .nav-item.active>.nav-link,
.navbar.bg-theme-4 .nav-item:hover>.nav-link {
  background-color: #5f5f5f;
}

/* Theme 5 */
.bg-theme-5 {
  background-color: #cc181e;
}

.bg-theme-alt-5,
.navbar.bg-theme-5 .nav-item.active>.nav-link,
.navbar.bg-theme-5 .nav-item:hover>.nav-link {
  background-color: #ec5f64;
}

/* Theme 6 */
.bg-theme-6 {
  background-color: #6f5499;
}

.bg-theme-alt-6,
.navbar.bg-theme-6 .nav-item.active>.nav-link,
.navbar.bg-theme-6 .nav-item:hover>.nav-link {
  background-color: #a08cc0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

nav {
  font-size: 12px;
}

.navbar {
  min-height: 44px;
  /* Required in order to keep the navbar to the same height event when menu item are not loaded yet */
  padding: 0rem 1rem;
  color: white;
}

.navbar-brand {
  font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 13px;
  margin-right: 1px;
}

.navbar .nav-item.active>.nav-link,
.navbar .nav-item:hover>.nav-link {
  color: black;
}


/* Navigation bar END */


.btn-toolbar>.btn,
.btn-toolbar>.btn-group,
.btn-toolbar>.input-group {
  margin-left: 5px;
}

.table {
  font-size: inherit;
  margin-bottom: 0px;
}

thead {
  border-bottom-width: 2px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
}

/* .table>tbody>tr:first-child>td {
  border-top: none;
} */

.card {
  margin-bottom: 0px;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 5px;
  min-height: 32px;
  /* header height changes according the content: only label 27.5px, buttons/toolbar 31.5px. Align to 32px */
  /* background: linear-gradient(#FFFFFF, #CACACA); */
  border-color: #BFBFBF;
}

.card-body {
  padding: 6px;
}

.card-footer {
  padding: 6px;
}

.card-footer>.btn {
  margin-left: .5rem;
}

label {
  font-weight: bold;
  margin-bottom: 0px;
}

.form-check-inline .form-check-input,
.form-check-input {
  margin-top: .1rem;
  margin-left: -2rem;
}

.form-check,
.form-check.form-check-inline {
  padding-left: 2rem;
}

.dropup .dropdown-toggle::after,
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu>li>a {
  padding: 3px 10px;
}

.alert {
  margin-bottom: 0px;
}

.popover {
  max-width: 500px;
}

.popover-body {
  max-height: 200px;
  overflow-y: auto;
  font-size: 1.125rem;
}

/*not available in bootstrap*/
.btn-group-xs .btn,
.btn-xs {
  padding: 1px 5px;
  line-height: 1.5;
  border-radius: .3rem;
}

.form-control-xs {
  min-height: calc(1.5em + .25rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.form-select-xs {
  padding-top: .125rem;
  padding-bottom: .125rem;
  padding-left: .5rem;
  font-size: .875rem;
  border-radius: 0.25rem;
}

/*if a element has (click) instead of href doesn't show pointer cursor. This css rule fixes it*/
.dropdown-menu a:hover {
  cursor: pointer
}

.dropdown-menu .divider {
  margin: 2px 0px;
}

.dropdown-item {
  min-height: 20px;
}

/* tabs bar START */

/* .nav-tabs>li>a { */
.nav-tabs .nav-link {
  padding: 4px 8px;
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: default;
  margin-right: 2px;
}

.nav-tabs .nav-item.active>.nav-link {
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent;
  color: #555555;
}


.tab-content {
  flex: 1;
  display: flex;
  flex-flow: column;
  min-height: 0px;
  padding: 0px;
  border: 1px solid #ddd;
  border-top-color: transparent;
}

.tab-pane {
  flex: 1;
  display: flex;
  flex-flow: column;
  min-height: 0px;
  padding: 4px;
}

.tab-pane.active {
  display: flex !important;
}

.card-header-tabs {
  margin-bottom: -6px;
}

.card-header-tabs.nav-tabs>li>a {
  padding: 6px;
}

ul.nav-tabs {
  padding-left: 3px;
  padding-top: 3px;
}

resource-view-tabset .nav-tabs .nav-item .nav-link {
  //needed to align height of tabs containing a rdf-resource with those containing close (x) and prompt address (+) buttons
  height: 26.5px;
}


/* tabs bar END */



legend {
  float: none;
  margin: 0px 8px;
  padding: 0px 6px;
  font-size: 1rem;
  width: auto;
}


/* modals START */

.modal-dialog {
  width: 600px;
  max-width: 600px;
}

.modal-full.modal-dialog {
  width: 95% !important;
  max-width: 95% !important;
}

.modal-lg {
  width: 900px !important;
  max-width: initial;
}

.modal-xl {
  width: 1140px !important;
  max-width: initial;
}

/* Following modal classe overrides are in order to avoid that modals exceed window height */
.modal-header {
  display: block;
  /* override the flex */
}

.modal-title {
  display: inline-block
}

.modal-body {
  display: flex;
  flex-flow: column;
  min-height: 0;
}

.modal-footer {
  display: block;
  text-align: right;
}

/* 
The following rules ensure that the dialogs fill (at max) up to 95% of the video height (95vh).
In order to let the content of the modal fill the available space (independently from its content), invoke UIUtils.setFullSizeModal()
*/
ngb-modal-window.modal {
  /* .modal selector is added in order to increse the specifity of the rule 
        and override the display: block of the d-block class applied to ngb-modal-window */
  display: flex !important;
  flex-flow: column;
  min-height: 0;
  min-width: 0;
}

.modal-content {
  display: flex !important;
  flex-flow: column;
  min-height: 0;
  min-width: 0;
}

.modal-content>* {
  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.modal-dialog {
  margin: 15px auto;
  display: flex !important;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

/* modals END */



.ctrl-container .treeNode rdf-resource,
.ctrl-container resview-value-renderer *.clickable,
.ctrl-container .ctrl-cursor {
  cursor: copy;
}

.shift-container .treeNode rdf-resource,
.shift-container resview-value-renderer *.clickable,
.shift-container .shift-cursor {
  cursor: alias !important;
}


.callout {
  padding: 1.25rem;
  --bs-link-color-rgb: var(--callout-link);
  --bs-code-color: var(--callout-code-color);
  color: var(--callout-color, inherit);
  background-color: var(--callout-bg, var(--bs-gray-100));
  border-left: 0.3rem solid var(--callout-border, var(--bs-gray-300));
}

.callout-info {
  --callout-color: var(--bs-info-text-emphasis);
  --callout-bg: var(--bs-info-bg-subtle);
  --callout-border: var(--bs-info-border-subtle);
}

.callout-warning {
  --callout-color: var(--bs-warning-text-emphasis);
  --callout-bg: var(--bs-warning-bg-subtle);
  --callout-border: var(--bs-warning-border-subtle);
}

.callout-danger {
  --callout-color: var(--bs-danger-text-emphasis);
  --callout-bg: var(--bs-danger-bg-subtle);
  --callout-border: var(--bs-danger-border-subtle);
}