<div class="card vbox">
    <div class="card-header">
        <label>{{'COMMONS.TEMPLATE'|translate}}</label>
    </div>
    <div class="card-body hbox" style="gap: 8px;">
        <div class="card vbox">
            <div class="card-header">
                <label>
                    {{'RESOURCE_VIEW.SECTIONS.FILTER.RESOURCE_TYPES'|translate}}
                </label>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let r of roles" class="listItem" (click)="selectRole(r)" [ngClass]="{ active: r == selectedRole }">
                    {{r}}
                </div>
            </div>
        </div>

        <div class="card vbox">
            <div class="card-header">
                <label style="flex: 1;">
                    {{'PREFERENCES.RES_VIEW_TEMPLATE_EDITOR.INCLUDED_SECTIONS'|translate}}
                </label>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-light" (click)="moveSectionUp()" [disabled]="!selectedIncludedSection">
                        <span class="fas fa-chevron-up"></span>
                    </button>
                    <button class="btn btn-light" (click)="moveSectionDown()" [disabled]="!selectedIncludedSection">
                        <span class="fas fa-chevron-down"></span>
                    </button>
                </div>
            </div>
            <div class="card-body scrollableContainer">
                <ng-container *ngIf="selectedRole">
                    <div *ngFor="let s of templates[selectedRole].included; let first=first; let last=last" class="listItem" [ngClass]="{ active: selectedIncludedSection == s }" (click)="selectIncluded(s)">
                        {{s.translationKey|translate}}
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="d-flex flex-column align-items-stretch justify-content-center" style="gap: 8px;">
            <div class="btn-group">
                <button class="btn btn-sm btn-light" (click)="addSection(selectedRole, selectedAvailableSection)" [disabled]="!selectedAvailableSection">
                    <span class="fas fa-chevron-left"></span> {{'COMMONS.ACTIONS.INCLUDE'|translate}}
                </button>
                <div class="btn-group" ngbDropdown>
                    <button class="btn btn-sm btn-light dropdown-toggle" style="padding: 5px 3px;" data-toggle="dropdown" ngbDropdownToggle [disabled]="!selectedAvailableSection">
                        <span class="fas fa-caret-down fa-sm"></span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="addSectionToAll()">{{'PREFERENCES.RES_VIEW_TEMPLATE_EDITOR.INCLUDE_IN_ALL'|translate}}</a>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm btn-light" (click)="removeSection(selectedRole, selectedIncludedSection)" [disabled]="!selectedIncludedSection">
                    {{'COMMONS.ACTIONS.EXCLUDE'|translate}} <span class="fas fa-chevron-right"></span>
                </button>
                <div class="btn-group" ngbDropdown>
                    <button class="btn btn-sm btn-light dropdown-toggle" style="padding: 5px 3px;" data-toggle="dropdown" ngbDropdownToggle [disabled]="!selectedIncludedSection">
                        <span class="fas fa-caret-down fa-sm"></span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="removeSectionFromAll()">{{'PREFERENCES.RES_VIEW_TEMPLATE_EDITOR.EXCLUDE_FROM_ALL'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card vbox">
            <div class="card-header">
                <label style="flex: 1;">
                    {{'PREFERENCES.RES_VIEW_TEMPLATE_EDITOR.AVAILABLE_SECTIONS'|translate}}
                </label>
            </div>
            <div class="card-body scrollableContainer">
                <ng-container *ngIf="selectedRole">
                    <div *ngFor="let s of templates[selectedRole].available" class="listItem" [ngClass]="{ active: selectedAvailableSection == s }" (click)="selectAvailable(s)">
                        {{s.translationKey|translate}}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>