<div class="d-flex align-items-center">
    <label>{{'RESOURCE_VIEW.SECTIONS.CONSTITUENTS'|translate}}:</label>
    <div *ngFor="let c of constituents;" class="clickable d-flex align-items-center" (dblclick)="resourceDblClick(c.id)">
        <constituent class="ms-2 clickable" [constituent]="c" [lexViewCache]="lexViewCache" (update)="onUpdate()"></constituent>
    </div>
    <button class="btn btn-xs btn-faded ms-4" (click)="edit()" [title]="'COMMONS.ACTIONS.EDIT'|translate" [disabled]="!editAuthorized">
        <span class="fas fa-pencil-alt"></span>
    </button>
</div>