<div class="d-flex align-items-center">
    <div style="border-radius: 2px; padding: 0px 3px;" [ngClass]="{ proposedAddTriple: proposedAdd, proposedRemoveTriple: proposedRemove }">
        {{predicate.getLocalName()}}={{value.getLocalName()}}
    </div>
    <button class="btn btn-xs btn-faded ms-1" (click)="removeFacet()" [title]="'COMMONS.ACTIONS.REMOVE'|translate" [disabled]="!removeFacetAuthorized">
        <span class="fas fa-minus"></span>
    </button>
</div>