<div class="wrap">
    <div class="links">
        <lang-item class="groupPanel-heading-content" [language]="langForFlag" [showTag]="false" [showName]="false" [size]="'md'"></lang-item>
        <button *ngIf="emptyDef && terms.length == 0" (click)="removeBox()" class="btn btn-xs btn-faded ms-1"
            [title]="'RESOURCE_VIEW.TERM_VIEW.REMOVE_BOX'|translate" [disabled]="readonly">
            <span class="fas fa-times" style="font-size: 7px;"></span>
        </button>
    </div>
    <div class="btn-group" style="margin-left: auto;" ngbDropdown container="body">
        <button class="btn btn-xs btn-faded" (click)="addTermBox()" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="!addLabelAuthorized || emptyTerm || readonly">
            <span class="fas fa-plus" style="font-size: 9px;"></span>
        </button>
        <button class="btn btn-faded arrow dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
            <span class="fas fa-caret-down fa-sm"></span>
        </button>
        <div class="dropdown-menu float-end" ngbDropdownMenu>
            <a class="dropdown-item" [ngClass]="{ disabled : (!addDefAuthorized || emptyDef || readonly) }" (click)="addDefinitionItem()">{{'DATA.ACTIONS.ADD_DEFINITION'|translate}}</a>
        </div>
    </div>
</div>

<lang-def *ngFor="let def of definitions" [def]="def" [resource]="resource" [lang]="lang" [readonly]="readonly"
    [defCrConfig]="defCrConfig" (delete)="deleteDefinition(def)" (update)="onDefUpdate()">
</lang-def>

<lang-term *ngFor="let term of terms" [term]="term" [resource]="resource" [lang]="lang" [readonly]="readonly"
    (delete)="deleteTerm(term)" (update)="onTermUpdate()">
</lang-term>