<div style="width: 250px;">
    <div class="p-2" style="background: #eee;">
        <div *ngFor="let d of chartData" class="legend-entry" (mouseover)="onActivate(d)" (mouseout)="onDeactivate()">
            <span class="fas fa-stop me-2" [ngStyle]="{ 'color': colorHelper.getColor(d.name) }"></span>
            <span class="legend-label ellipsable" [ngClass]="{ 'active': isLabelActive(d) }" [title]="d.name">
                {{d.name}} 
            </span>
            <button *ngIf="!readonly" class="btn btn-xs btn-light ms-1" (click)="edit(d)">
                <span class="fas fa-pencil-alt"></span>
            </button>
        </div>
    </div>
</div>