<div class="card vbox">
  <div class="card-body vbox">

    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
      <li class="nav-item" [ngClass]="{ active : activeTab == 'retrieve' }">
        <a class="nav-link" (click)="switchTab('retrieve')">
          Retrieve
          <i *ngIf="!retrieveEditor.valid" class="fas fa-exclamation text-danger" [title]="'STATUS.ERROR'|translate"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ active : activeTab == 'update' }">
        <a class="nav-link" (click)="switchTab('update')">
          Update
          <i *ngIf="singleValueData.updateMode != 'none' && !singleValueData.updateData.valid" class="fas fa-exclamation text-danger" [title]="'STATUS.ERROR'|translate"></i>
        </a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane" [ngClass]="{ active : activeTab == 'retrieve' }">
        <expandable-alert class="mb-2">
          <p>
            The retrieve query for this kind of view needs to retrieve the single value to render.
          </p>
          <p>
            The query must contain these placeholders:
          </p>
          <ul>
            <li *ngFor="let v of retrievePlaceholdersInfo">
              <code>${{v.id}}</code>: {{v.descrTranslationKey|translate}};
            </li>
          </ul>
          <p>
            It is also possible to define an arbitrary amount of pivot placeholders (to name <code>$piovt</code>, <code>$pivot_1</code>, <code>$pivot_2</code>, ...) which can be used to define anchor points to be referenced in the Update query. Each pivot resource returned by the Retrieve query will be bound, to the related placeholder in the Update query, during an update operation.
          </p>
        </expandable-alert>

        <div class="vbox" style="position: relative;">
          <button class="btn btn-light btn-xs" style="position: absolute; top: 0px; right: 0px;" (click)="suggestFromCF()">{{'CUSTOM_VIEWS.ACTIONS.SUGGEST_FROM_CF'|translate}}</button>
          <yasgui #retrieveYasgui [query]="retrieveEditor.query" (querychange)="onRetrieveChanged($event)" [readonly]="readonly" [hideButtons]="true"></yasgui>
        </div>

      </div>

      <div class="tab-pane" [ngClass]="{ active : activeTab == 'update' }">
        <single-value-editor [data]="singleValueData" [queryInfo]="updateQueryInfo" (dataChange)="onSingleValueDataChanged($event)"></single-value-editor>
      </div>

    </div>

    <div class="d-flex align-items-center mt-3">
      <label class="text-nowrap">{{'CUSTOM_VIEWS.SUGGESTED_VIEW'|translate}}:</label>
      <select class="form-select ms-2" [(ngModel)]="suggestedView" [disabled]="availableViews.length == 1" (ngModelChange)="emitChanges()">
        <option *ngFor="let v of availableViews" [value]="v.id">
          {{v.translationKey|translate}}
        </option>
      </select>
    </div>

  </div>

</div>