<div class="card vbox">
  <div class="card-body vbox">

    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
      <li class="nav-item" [ngClass]="{ active : activeMainTab == 'retrieve' }">
        <a class="nav-link" (click)="switchMainTab('retrieve')">
          Retrieve
          <i *ngIf="!retrieveEditor.valid" class="fas fa-exclamation text-danger" [title]="'STATUS.ERROR'|translate"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ active : activeMainTab == 'update' }">
        <a class="nav-link" (click)="switchMainTab('update')">
          Update
          <i *ngIf="isAnyUpdateError()" class="fas fa-exclamation text-danger" [title]="'STATUS.ERROR'|translate"></i>
        </a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane" [ngClass]="{ active : activeMainTab == 'retrieve' }">
        <expandable-alert class="mb-2">
          <p>
            This view can be used to represent tabular data in ResourceView.
            Each row of the table represents the description of a value of the triggering property.
            The fields to be represented for each row are determined by the Retrieve query.
            You can define arbitrary variables <code>?<i>field</i>_value</code> where <i>field</i> will be used also as header of the column.
          </p>
          <p>
            The query must retun:
          </p>
          <ul>
            <li>All the above mentioned field variables;</li>
            <li>The variable representing the object of the <code>$resource $trigprop</code> pair (e.g. <code>?obj</code> in <code>$resource $trigprop ?obj</code>).</li>
          </ul>
          <p>
            The query must also contain these placeholders:
          </p>
          <ul>
            <li *ngFor="let v of retrievePlaceholdersInfo">
              <code>${{v.id}}</code>: {{v.descrTranslationKey|translate}};
            </li>
          </ul>
          <p>
            It is also possible to define an arbitrary amount of pivot placeholders (to name <code>$piovt</code>, <code>$pivot_1</code>, <code>$pivot_2</code>, ...) which can be used to define anchor points to be referenced in the Update query. Each pivot resource returned by the Retrieve query will be bound, to the related placeholder in the Update query, during an update operation.
          </p>
        </expandable-alert>

        <div class="vbox" style="position: relative;">
          <button class="btn btn-light btn-xs" style="position: absolute; top: 0px; right: 0px;" (click)="suggestFromCF()">{{'CUSTOM_VIEWS.ACTIONS.SUGGEST_FROM_CF'|translate}}</button>
          <yasgui [query]="retrieveEditor.query" (querychange)="onRetrieveChanged($event)" [readonly]="readonly" [hideButtons]="true"></yasgui>
        </div>

        <div class="d-flex align-items-center mt-2">
          <label class="text-nowrap">{{'CUSTOM_VIEWS.MODELS.VECTOR.DETECTED_FIELDS'|translate}}:</label>
          <div class="form-control ms-2">
            <code *ngFor="let f of retrieveFields" class="me-2">{{f}}</code>
          </div>
        </div>
      </div>

      <div class="tab-pane" [ngClass]="{ active : activeMainTab == 'update' }">

        <ng-container *ngIf="updateTabs.length == 0; then noUpdateBlock; else updateTabsBlock;"></ng-container>

        <ng-template #noUpdateBlock>
          {{'CUSTOM_VIEWS.MESSAGES.NO_FIELDS_DETECTED_IN_RETRIEVE'|translate}}
        </ng-template>

        <ng-template #updateTabsBlock>
          <ul class="nav nav-tabs">
            <li *ngFor="let t of updateTabs" class="nav-item" [ngClass]="{ active : activeUpdateTab == t }">
              <a class="nav-link" (click)="switchUpdateTab(t.field)">
                <span>
                  <span style="font-family: monospace;">{{t.field}}</span>
                  <i *ngIf="t.singleValueData?.updateMode != 'none' && !t.singleValueData?.updateData.valid" class="fas fa-exclamation text-danger ms-2" [title]="'STATUS.ERROR'|translate"></i>
                </span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div *ngFor="let t of updateTabs" class="tab-pane" [ngClass]="{ active : activeUpdateTab == t }">
              <single-value-editor [data]="t.singleValueData" [queryInfo]="updateQueryInfo"
                (dataChange)="onUpdateDataChanged(t, $event)">
              </single-value-editor>
            </div>
          </div>
        </ng-template>

      </div>

    </div>

    <div class="d-flex align-items-center mt-3">
      <label class="text-nowrap">{{'CUSTOM_VIEWS.SUGGESTED_VIEW'|translate}}:</label>
      <select class="form-select ms-2" [(ngModel)]="suggestedView" [disabled]="availableViews.length == 1" (ngModelChange)="emitChanges()">
        <option *ngFor="let v of availableViews" [value]="v.id">
          {{v.translationKey|translate}}
        </option>
      </select>
    </div>

  </div>

</div>