<div class="row mb-2">
  <label class="col-form-label col-sm-2">{{'CUSTOM_VIEWS.UPDATE_MODES.UPDATE_MODE'|translate}}:</label>
  <select class="form-select col-10" [(ngModel)]="updateMode" (ngModelChange)="emitChanges()">
    <option *ngFor="let m of updateModes" [value]="m.id">
      {{m.translationKey|translate}}
    </option>
  </select>
</div>
<ng-container *ngIf="updateMode == 'picker'">
  <div class="row mb-2">
    <label class="col-form-label col-sm-2">{{'CUSTOM_VIEWS.UPDATE_MODES.VALUE_TYPE'|translate}}:</label>
    <select class="form-select col-10" style="flex: 1" [(ngModel)]="valueType">
      <option *ngFor="let t of valueTypes" [value]="t.id">{{t.translationKey|translate}}</option>
    </select>
  </div>
  <div *ngIf="valueType == 'resource'" class="row mb-2">
    <label class="col-form-label col-sm-2">{{'DATA.CLASS.CLASSES'|translate}}:</label>
    <inline-resource-list-editor class="col-10 p-0" [resources]="pickerClasses" [role]="RDFResourceRolesEnum.cls" (changed)="onPickerClassesChanged($event)"></inline-resource-list-editor>
  </div>
  <div *ngIf="valueType == 'literal'" class="row mb-2">
    <label class="col-form-label col-sm-2">{{'DATA.DATATYPE.DATATYPE'|translate}}:</label>
    <div class="col-10 p-0 d-flex align-items-center">
      <input type="checkbox" [(ngModel)]="restrictDatatype">
      <select *ngIf="restrictDatatype" class="form-select ms-2" style="flex: 1" [(ngModel)]="datatype" (ngModelChange)="emitChanges()">
        <option *ngFor="let d of datatypes" [ngValue]="d">{{d.getShow()}}</option>
      </select>
    </div>
  </div>
</ng-container>


<div *ngIf="updateMode != 'none'" class="vbox mt-2">
  <expandable-alert *ngIf="queryInfoSafe" class="mb-2" [innerHTML]="queryInfoSafe"></expandable-alert>
  <yasgui [query]="queryEditor.query" (querychange)="onQueryChanged($event)" [hideButtons]="true"></yasgui>
</div>