<div class="card vbox">
  <div class="card-body vbox">

    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
      <li class="nav-item" [ngClass]="{ active : activeTab == 'retrieve' }">
        <a class="nav-link" (click)="switchTab('retrieve')">
          Retrieve
          <i *ngIf="!retrieveEditor.valid" class="fas fa-exclamation text-danger" [title]="'STATUS.ERROR'|translate"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ active : activeTab == 'update' }">
        <a class="nav-link" (click)="switchTab('update')">
          Update
          <i *ngIf="!updateEditor.valid" class="fas fa-exclamation text-danger" [title]="'STATUS.ERROR'|translate"></i>
        </a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane" [ngClass]="{ active : activeTab == 'retrieve' }">
        <expandable-alert class="mb-2">
          <p>
            {{retrieveDescrIntro}}
          </p>
          <ul>
            <li *ngFor="let v of retrieveVariablesInfo">
              <code>?{{v.id}}</code>: {{v.descrTranslationKey|translate}};
            </li>
            <li>The variable representing the object of the <code>$resource $trigprop</code> pair (e.g. <code>?obj</code> in <code>$resource $trigprop ?obj</code>).</li>
          </ul>
          <p>
            The query must also contain these placeholders:
          </p>
          <ul>
            <li *ngFor="let v of retrievePlaceholdersInfo">
              <code>${{v.id}}</code>: {{v.descrTranslationKey|translate}};
            </li>
          </ul>
        </expandable-alert>
        <yasgui #retrieveYasgui [query]="retrieveEditor.query" (querychange)="onRetrieveChanged($event)" [readonly]="readonly" [hideButtons]="true"></yasgui>
      </div>

      <div class="tab-pane" [ngClass]="{ active : activeTab == 'update' }">
        <expandable-alert class="mb-2">
          {{updateDescrIntro}}
          <ul>
            <li *ngFor="let v of updateVariablesInfo">
              <code>?{{v.id}}</code>: {{v.descrTranslationKey|translate}};
            </li>
          </ul>
        </expandable-alert>
        <yasgui #updateYasgui [query]="updateEditor.query" (querychange)="onUpdateChanged($event)" [readonly]="readonly" [hideButtons]="true"></yasgui>
      </div>

    </div>

    <div class="d-flex align-items-center mt-3">
      <label class="text-nowrap">{{'CUSTOM_VIEWS.SUGGESTED_VIEW'|translate}}:</label>
      <select class="form-select ms-2" [(ngModel)]="suggestedView" [disabled]="availableViews.length == 1" (ngModelChange)="emitChanges()">
        <option *ngFor="let v of availableViews" [value]="v.id">
          {{v.translationKey|translate}}
        </option>
      </select>
    </div>

  </div>

</div>