<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'RESOURCE_VIEW.SETTINGS.RES_VIEW_SETTINGS'|translate}}</h3>
  </div>
  <div class="modal-body scrollableContainer">

    <div *ngIf="showGuidelines" class="alert alert-info mb-2">
      <h4>{{'RESOURCE_VIEW.SETTINGS.RES_VIEW_BROWSE_GUIDELINES'|translate}}</h4>
      <p>
        Resources can be opened in different ways using mouse clicks and keyboard modifiers when interacting with lists, trees, or resource references in the ResourceView
      </p>
      <h5>Opening Resources</h5>
      <ul>
        <li>
          <b>Click</b>: opens the resource in the active tab of the main tabset, replacing the current content.
        </li>
        <li>
          <b>Ctrl</b> + <b>Click</b>: the resource in a new tab within the same tabset.
        </li>
        <li>
          <b>Shift</b> + <b>Click</b>: opens the resource in the active tab of the side tabset (if not visible, it appears), replacing the current content.
        </li>
        <li>
          <b>Shift</b> + <b>Ctrl</b> + <b>Click</b>: opens the resource in a new tab in the side tabset.
        </li>
      </ul>
      <h5>Tabs actions</h5>
      <ul>
        <li>
          <b>Middle/Wheel Click</b> on a tab: closes the tab.
        </li>
        <li>
          <b>Shift</b> + <b>Click</b> on an active tab: duplicates it in the side tabset.
        </li>
        <li>
          <b>Shift</b> + <b>Click</b> on an inactive: moves it to the side tabset.
        </li>
      </ul>
      <p>
        Each tab maintains a history of the last 10 resources opened in it, allowing navigation back to previously viewed resources within the same tab.
      </p>

      <div class="d-flex align-items-center float-end gap-3">
        <div class="form-check">
          <input #dontShowCheck class="form-check-input" type="checkbox" id="dontShowCheck">
          <label class="form-check-label" for="dontShowCheck">{{'COMMONS.DONT_SHOW_AGAIN'|translate}}</label>
        </div>
        <button class="btn btn-sm btn-outline-info text-primary-emphasis" (click)="closeGuideline(dontShowCheck.checked)">
          <i class="fas fa-times"></i>
          <span class="ms-2">{{'COMMONS.ACTIONS.CLOSE'|translate}}</span>
        </button>
      </div>
    </div>

    <res-view-pref></res-view-pref>

    <lang-value-filter-pref class="vbox" style="margin-top: 8px; min-height: 40vh;"></lang-value-filter-pref>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
  </div>
</div>