<div [class]="inputGroupClass">
  <span class="btn btn-light btn-file">
    {{'WIDGETS.FILE_PICKER.BROWSE'|translate}}
    <input #inputFile type="file" (change)="fileChangeEvent(inputFile.files[0])" (click)="inputFile.value = null" [accept]="accept">
  </span>
  <input type="text" class="form-control" [ngModel]="file?.name" [placeholder]="'WIDGETS.FILE_PICKER.SELECT_A_FILE'|translate" disabled>
</div>