<div class="vbox">

  <div class="card vbox">
    <div class="card-header">
      <label style="flex: 1">{{'CUSTOM_FORMS.FORMS.CUSTOM_FORMS'|translate}}:</label>
      <button class="btn btn-xs btn-light" (click)="showBrokenCFS()" [title]="'CUSTOM_FORMS.CONFIG.SHOW_BROKEN_CF'|translate">
        <span class="fas fa-exclamation-triangle"></span>
      </button>
    </div>

    <div class="card-body vbox">

      <div class="hbox">
        <div class="card vbox">
          <div class="card-header">
            <label style="flex: 1">{{'CUSTOM_FORMS.FORMS.CUSTOM_FORMS'|translate}}:</label>
            <div class="btn-group btn-group-xs" role="group">
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createCustomForm()"
                [disabled]="!isCreateFormAuthorized()">
                <span class="fas fa-plus"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.DELETE'|translate" (click)="deleteCustomForm()"
                [disabled]="!selectedCustomForm || selectedCustomForm.getLevel() == 'system' || !isDeleteFormAuthorized()">
                <span class="fas fa-minus"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EDIT'|translate" (click)="editCustomForm()"
                [disabled]="!selectedCustomForm || !isUpdateFormAuthorized()">
                <span class="fas fa-pencil-alt"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CLONE'|translate" (click)="cloneCustomForm()"
                [disabled]="!selectedCustomForm || !isCreateFormAuthorized()">
                <span class="fas fa-copy"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EXPORT'|translate" (click)="exportCustomForm()"
                [disabled]="!selectedCustomForm">
                <span class="fas fa-download"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.IMPORT'|translate" (click)="importCustomForm()"
                [disabled]="!isCreateFormAuthorized()">
                <span class="fas fa-upload"></span>
              </button>
            </div>
          </div>
          <div class="card-body vbox scrollableContainer">
            <div *ngFor="let cf of customFormList">
              <div (click)="selectCustomForm(cf)" class="listItem" [ngClass]="{ active: cf == selectedCustomForm, grayText: cf.getLevel() == 'system' }">
                {{cf.getId()}}
              </div>
            </div>
          </div>
        </div>

        <div class="card vbox ms-2">
          <div class="card-header">
            <label style="flex: 1">{{'CUSTOM_FORMS.COLLECTIONS.FORM_COLLECTIONS'|translate}}:</label>
            <div class="btn-group btn-group-xs" role="group">
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createFormCollection()"
                [disabled]="!isCreateCollectionAuthorized()">
                <span class="fas fa-plus"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.DELETE'|translate" (click)="deleteFormCollection()"
                [disabled]="!selectedFormColl || selectedFormColl.getLevel() == 'system' || !isDeleteCollectionAuthorized()">
                <span class="fas fa-minus"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EDIT'|translate" (click)="editFormCollection()"
                [disabled]="!selectedFormColl || !isUpdateCollectionAuthorized()">
                <span class="fas fa-pencil-alt"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CLONE'|translate" (click)="cloneFormCollection()"
                [disabled]="!selectedFormColl || !isCreateCollectionAuthorized()">
                <span class="fas fa-copy"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EXPORT'|translate" (click)="exportFormCollection()"
                [disabled]="!selectedFormColl">
                <span class="fas fa-download"></span>
              </button>
              <button class="btn btn-light" [title]="'COMMONS.ACTIONS.IMPORT'|translate" (click)="importFormCollection()"
                [disabled]="!isCreateCollectionAuthorized()">
                <span class="fas fa-upload"></span>
              </button>
            </div>
          </div>
          <div class="card-body vbox scrollableContainer">
            <div *ngFor="let fc of formCollectionList" (click)="selectFormColl(fc)" class="listItem" [ngClass]="{ active: fc == selectedFormColl, grayText: fc.getLevel() == 'system' }">
              {{fc.getId()}}
            </div>
          </div>
        </div>

      </div>


      <div class="card vbox mt-2">
        <div class="card-header">
          <label style="flex: 1">{{'CUSTOM_FORMS.MAPPINGS.FORM_MAPPINGS'|translate}}:</label>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createFormCollMapping()"
              [disabled]="!isCreateMappingAuthorized()">
              <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.REMOVE'|translate" (click)="removeFormCollMapping()"
              [disabled]="!selectedFormCollMapping || !isDeleteMappingAuthorized()">
              <span class="fas fa-minus"></span>
            </button>
          </div>
        </div>
        <div class="card-body vbox">

          <div class="scrollableContainer">
            <table class="table table-sm table-borderless table-hoverable">
              <thead style="border-bottom: 1px solid #ddd;">
                <tr>
                  <th>{{'DATA.PROPERTY.PROPERTY'|translate}}/{{'DATA.CLASS.CLASS'|translate}}</th>
                  <th>{{'CUSTOM_FORMS.COLLECTIONS.FORM_COLLECTION'|translate}}</th>
                  <th style="width: 1%" nowrap>
                    {{'COMMONS.ACTIONS.REPLACE'|translate}}
                    <span class="fas fa-info-circle"
                      [title]="'CUSTOM_FORMS.CONFIG.REPLACE_INFO'|translate">
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let formCollMap of cfConfigurationMap" (click)="selectFormCollMapping(formCollMap)"
                  [ngClass]="{ 'table-primary': formCollMap == selectedFormCollMapping }">
                  <td>{{formCollMap.getResource().getURI()}}</td>
                  <td [ngClass]="{grayText: formCollMap.getFormCollection().getLevel() == 'system'}">
                    {{formCollMap.getFormCollection().getId()}}
                  </td>
                  <td class="text-center">
                    <input type="checkbox" [ngModel]="formCollMap.getReplace()" (ngModelChange)="changeReplaceToMapping($event, formCollMap)"
                      [disabled]="!isUpdateMappingAuthorized()">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>

    <div class="card-footer">
      <span class="btn btn-light btn-xs float-end no-hover grayText">
        {{'CUSTOM_FORMS.CONFIG.SYSTEM_LEVEL_ELEM'|translate}}
      </span>
      <span class="btn btn-light btn-xs float-end no-hover">
        {{'CUSTOM_FORMS.CONFIG.PROJECT_LEVEL_ELEM'|translate}}
      </span>
    </div>

  </div>

</div>