<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'PROJECTS.CONFIG.PROJ_VIEW_SETTINGS'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <projects-view-settings [(ngModel)]="projectVisualization" (ngModelChange)="onProjVisualizationChanged()"></projects-view-settings>

        <div *ngIf="isAdmin" class="card vbox mt-3">
            <div class="card-header">
                <label>{{'PROJECTS.CONFIG.PROJ_INFO'|translate}}</label>
                <label style="flex: 1"></label>
                <div class="btn-group btn-group-xs" style="margin-right: 4px;">
                    <button class="btn btn-light" (click)="moveUp()" [title]="'COMMONS.ACTIONS.MOVE_UP'|translate"
                        [disabled]="!selectedColumn || columns.indexOf(selectedColumn) == 0">
                        <span class="fas fa-chevron-up"></span>
                    </button>
                    <button class="btn btn-light" (click)="moveDown()" [title]="'COMMONS.ACTIONS.MOVE_DOWN'|translate"
                        [disabled]="!selectedColumn || columns[columns.length-1] == selectedColumn">
                        <span class="fas fa-chevron-down"></span>
                    </button>
                </div>
                <button class="btn btn-xs btn-light" (click)="reset()" [title]="'COMMONS.ACTIONS.RESTORE_DEFAULT'|translate">
                    <span class="fas fa-redo"></span>
                </button>
            </div>
            <div class="card-body scrollableContainer">

                <div class="alert alert-info" style="margin-bottom: 8px;">
                    {{'PROJECTS.CONFIG.PROJ_INFO_INFO'|translate}}
                </div>
                
                <table class="table table-hoverable table-sm table-borderless">
                    <thead>
                        <th class="text-center">{{'PROJECTS.CONFIG.COL_NAME'|translate}}</th>
                        <th class="text-center">{{'COMMONS.ACTIONS.SHOW'|translate}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of columns" [ngClass]="{ 'table-primary': c == selectedColumn }" (click)="selectColumn(c)">
                            <td class="text-center" [ngClass]="{ grayText : !c.show }">{{c.translationKey|translate}}</td>
                            <td class="text-center">
                                <input type="checkbox" [(ngModel)]="c.show" [disabled]="c.mandatory">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>