<div class="card vbox">
    <div class="card-header">
        <label style="flex: 1;">{{'NOTIFICATIONS.NOTIFICATIONS'|translate}}:</label>
        <div class="btn-toolbar">
            <button class="btn btn-xs btn-light" (click)="clear()" [title]="'NOTIFICATIONS.CLEAR_NOTIFICATIONS'|translate">
                <span class="fas fa-eraser"></span>
            </button>
            <button class="btn btn-xs btn-light" (click)="init()" [title]="'COMMONS.ACTIONS.REFRESH'|translate">
                <span class="fas fa-redo"></span>
            </button>
            <button class="btn btn-xs btn-light" (click)="settings()" [title]="'COMMONS.SETTINGS'|translate">
                <span class="fas fa-cog"></span>
            </button>
        </div>
    </div>
    <div class="card-body vbox">
        <div class="table-responsive">
            <table class="table table-hoverable">
                <thead>
                    <tr>
                        <th class="text-center" style="padding: 2px;">
                            {{'COMMONS.TIME'|translate}}
                            <button class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="changeTimeOrder()">
                                <span *ngSwitchCase="'time_ascending'" class="fas fa-sort-numeric-down"></span>
                                <span *ngSwitchCase="'time_descending'" class="fas fa-sort-numeric-down-alt"></span>
                                <span *ngSwitchDefault class="fas fa-sort"></span>
                            </button>
                        </th>
                        <th class="text-center" style="padding: 2px;">
                            {{'MODELS.RESOURCE.RESOURCE'|translate}}
                            <button class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="changeResourceOrder()">
                                <span *ngSwitchCase="'resource_ascending'" class="fas fa-sort-alpha-down"></span>
                                <span *ngSwitchCase="'resource_descending'" class="fas fa-sort-alpha-down-alt"></span>
                                <span *ngSwitchDefault class="fas fa-sort"></span>
                            </button>
                        </th>
                        <th class="text-center" style="padding: 2px;">
                            {{'MODELS.RESOURCE.RESOURCE_TYPE'|translate}}
                            <button class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="changeRoleOrder()">
                                <span *ngSwitchCase="'role_ascending'" class="fas fa-sort-alpha-down"></span>
                                <span *ngSwitchCase="'role_descending'" class="fas fa-sort-alpha-down-alt"></span>
                                <span *ngSwitchDefault class="fas fa-sort"></span>
                            </button>
                        </th>
                        <th class="text-center" style="padding: 2px;">
                            {{'COMMONS.ACTIONS.ACTION'|translate}}
                            <button class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="changeActionOrder()">
                                <span *ngSwitchCase="'action_ascending'" class="fas fa-sort-alpha-down"></span>
                                <span *ngSwitchCase="'action_descending'" class="fas fa-sort-alpha-down-alt"></span>
                                <span *ngSwitchDefault class="fas fa-sort"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let n of notifications">
                        <td class="text-center">
                            {{n.timestampShow}}
                        </td>
                        <td class="text-center">
                            <rdf-resource [resource]="n.annotatedRes" class="clickable" (click)="openResource(n.annotatedRes)"></rdf-resource>
                        </td>
                        <td class="text-center">
                            {{n.roleShow}}
                        </td>
                        <td class="text-center">
                            {{n.action}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>