<div class="card vbox" style="position: relative">
  <div class="card-header">
    <label style="flex: 1;">{{'ICV.GENERIC.BROKEN_ALIGNMENTS.NAME'|translate}}</label>
    <button class="btn btn-xs btn-light" (click)="runIcv()">{{'COMMONS.ACTIONS.RUN'|translate}}</button>
  </div>
  <div class="card-body vbox" style="gap: 5px">

    <icv-config-panel [checkRoles]="checkRoles" (rolesChange)="onRolesChanged($event)">
      <div class="card vbox" style="flex: initial; margin: 2px;">
        <div class="card-header">
          <span style="flex: 1;">
            <label>{{'ICV.GENERIC.BROKEN_ALIGNMENTS.NAMESPACES_TO_CHECK'|translate}}</label>
            <span class="fas fa-info-circle ms-1" [title]="'ICV.GENERIC.BROKEN_ALIGNMENTS.NAMESPACES_TO_CHECK_INFO'|translate"></span>
          </span>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="checkAllNs(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate" [disabled]="!namespaces">
              <span class="far fa-check-square"></span>
            </button>
            <button class="btn btn-light" (click)="checkAllNs(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate" [disabled]="!namespaces">
              <span class="far fa-square"></span>
            </button>
            <button class="btn btn-light" (click)="initNamespaces()" [disabled]="rolesToCheck.length==0">
              <span>{{'COMMONS.ACTIONS.RELOAD'|translate}}</span>
              <span *ngIf="rolesUpdated" class="fas fa-exclamation-circle ms-1" style="color: red"
                [title]="'ICV.GENERIC.BROKEN_ALIGNMENTS.RELOAD_INFO'|translate"></span>
            </button>
          </div>
        </div>
        <div class="card-body table-responsive" style="max-height: 170px;">
          <table *ngIf="namespaces" class="table table-sm table-borderless table-hoverable">
            <thead>
              <tr>
                <th class="text-center">{{'ICV.CONFIG.CHECK'|translate}}</th>
                <th class="text-center">Namespace</th>
                <th class="text-center" nowrap>{{'ICV.GENERIC.BROKEN_ALIGNMENTS.ALIGN_COUNT'|translate}}</th>
                <th class="text-center" colspan="2">{{'ICV.GENERIC.BROKEN_ALIGNMENTS.LOCATIONS'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ns of namespaces">
                <td class="text-center">
                  <input type="checkbox" style="vertical-align: middle" [(ngModel)]="ns.check">
                </td>
                <td class="text-center">
                  {{ns.namespace}}
                </td>
                <td class="text-center">
                  {{ns.count}}
                </td>
                <td>
                  <select class="form-select" [(ngModel)]="ns.chosenResolutionLocation"
                    [disabled]="objectKeys(ns.resolutions).length == 1">
                    <option *ngFor="let location of objectKeys(ns.resolutions)">{{location}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-select" [(ngModel)]="ns.chosenResolutionOpt" [disabled]="ns.resolutions[ns.chosenResolutionLocation].length == 1">
                    <option *ngFor="let opt of ns.resolutions[ns.chosenResolutionLocation]" [ngValue]="opt.value">{{opt.show}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </icv-config-panel>

    <div class="card vbox">
      <div class="card-body table-responsive">
        <table *ngIf="brokenRecordList" class="table table-sm table-hoverable">
          <thead>
            <tr>
              <th class="text-center">{{'MODELS.RESOURCE.SUBJECT'|translate}}</th>
              <th class="text-center">{{'MODELS.RESOURCE.PREDICATE'|translate}}</th>
              <th class="text-center">{{'MODELS.RESOURCE.OBJECT'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let record of brokenRecordList; let i=index">
              <tr *ngIf="i >= page*resultsLimit && i < page*resultsLimit + resultsLimit">
                <td class="text-center">
                  <rdf-resource class="clickable" [resource]="record.subject" (click)="onResourceClick(record.subject)"></rdf-resource>
                </td>
                <td class="text-center">
                  <rdf-resource class="clickable" [resource]="record.predicate" (click)="onResourceClick(record.predicate)"></rdf-resource>
                </td>
                <td class="text-center">
                  <rdf-resource class="clickable" [resource]="record.object" (click)="onResourceClick(record.object)"></rdf-resource>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <div *ngIf="brokenRecordList && brokenRecordList.length > 0" class="card-footer">
        <div class="btn-group btn-group-xs float-end" role="group">
          <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="page=page-1" [disabled]="page <= 0">
            <span class="fas fa-caret-left"></span>
          </button>
          <button class="btn btn-light" style="cursor: auto" disabled>
            <span>{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{pageCount}}</span>
          </button>
          <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="page=page+1" [disabled]="page+1 >= pageCount">
            <span class="fas fa-caret-right"></span>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div id="blockDivIcv" class="blockingDiv" style="display:none">
    <div class="loadingDiv">
      <div>
        <p>Loading...</p><img src="./assets/images/loading.gif" />
      </div>
    </div>
  </div>

</div>