<!-- Node generated with literal converter -->
<div *ngIf="field?.getType() == 'literal';">
  <div [ngSwitch]="field.getAnnotations()[0]?.name">
    <div *ngSwitchCase="'DataOneOf'">
      <select class="form-select" [(ngModel)]="field.value" (ngModelChange)="onModelChanged()">
        <option *ngFor="let v of getAnnValueDataOneOf(field.getAnnotations()[0])">{{v.getNominalValue()}}</option>
      </select>
    </div>
    <!-- no annotations, or unknown/unhanlded annotation -->
    <div *ngSwitchDefault>
      <div [ngSwitch]="field.getDatatype()">
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#string'">
          <textarea type="text" rows="1" class="form-control" style="resize: vertical"
            [(ngModel)]="field.value" (ngModelChange)="onModelChanged()"></textarea>
        </div>
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#integer'">
          <input class="form-control" [(ngModel)]="field.value" type="number" step="1"
            (ngModelChange)="onModelChanged()">
        </div>
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#float'">
          <input class="form-control" [(ngModel)]="field.value" type="number" step="any"
            (ngModelChange)="onModelChanged()">
        </div>
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#boolean'" class="d-flex">
          <input class="form-control" [ngModel]="field.value" style="flex: 1"
            (ngModelChange)="onModelChanged()" disabled>
          <span class="d-flex align-items-center" style="margin-left: 10px; justify-content: center;">
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="boolTrueCheck" type="radio" (click)="field.value='true'" [checked]="field.value=='true'">
              <label class="form-check-label" for="boolTrueCheck">{{'COMMONS.BOOLEAN.TRUE'|translate}}</label>
            </div>
            <div class="form-check form-check-inline ms-3">
              <input class="form-check-input" id="boolFalseCheck" type="radio" (click)="field.value='false'" [checked]="field.value=='false'">
              <label class="form-check-label" for="boolFalseCheck">{{'COMMONS.BOOLEAN.FALSE'|translate}}</label>
            </div>
          </span>
        </div>
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#date'" class="d-flex">
          <input class="form-control" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
          <input class="form-control" style="margin-left: 10px;" type="date" [(ngModel)]="field.value">
        </div>
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#time'" class="d-flex">
          <input class="form-control" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
          <input class="form-control" style="margin-left: 10px;" type="time" step="1" [(ngModel)]="field.value"
            (ngModelChange)="onModelChanged()">
        </div>
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#datetime'" class="d-flex">
          <input class="form-control" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
          <input class="form-control" style="margin-left: 10px;" type="datetime-local" step="1"
            [(ngModel)]="field.value" (ngModelChange)="onModelChanged()">
        </div>
        <div *ngSwitchCase="'http://www.w3.org/1999/02/22-rdf-syntax-ns#langString'" class="d-flex">
          <ng-container *ngTemplateOutlet="langStringInput"></ng-container>
        </div>
        <!-- literal converter, with datatype not handled, or no dt at all -->
        <div *ngSwitchDefault class="d-flex align-items-center">
          <ng-container *ngIf="field.getConverter() == 'http://art.uniroma2.it/coda/contracts/langString'; then codaLangString; else defaultLiteral"></ng-container>
          <!-- coda:langString -->
          <ng-template #codaLangString>
            <!-- coda:langString($ref) or coda:langString('en') -->
            <ng-container *ngIf="field.getConverterArg()">
              <textarea type=" text" rows="1" class="form-control" style="flex:1; resize: vertical"
                [(ngModel)]="field.value" (ngModelChange)="onModelChanged()">
                            </textarea>
              <lang-picker *ngIf="field.getConverterArg()?.ph"
                style="margin-left: 4px;" [ngModel]="field.getConverterArg().ph.value"
                (ngModelChange)="onCodaLangStringPhLangChange($event, field.getConverterArg().ph)"
                [config]="{ languages: field['oneOfLang']}">
              </lang-picker>
              <lang-picker *ngIf="field.getConverterArg()?.lang"
                style="margin-left: 4px;" [ngModel]="field.getConverterArg().lang"
                [disabled]="true">
              </lang-picker>
            </ng-container>
            <!-- coda:langString() no arg -->
            <ng-container *ngIf="!field.getConverterArg()">
              <ng-container *ngTemplateOutlet="langStringInput"></ng-container>
            </ng-container>
          </ng-template>
          <!-- default literal converter -->
          <ng-template #defaultLiteral>
            <textarea type="text" rows="1" class="form-control" style="flex:1; resize: vertical"
              [(ngModel)]="field.value" (ngModelChange)="onModelChanged()">
                        </textarea>
            <!-- language provided to the default literal convert (e.g. literal@en), disable change to the picker -->
            <span *ngIf="field.getLang()" style="margin-left: 4px;">
              <lang-picker [ngModel]="field.getLang()" [disabled]="true"></lang-picker>
            </span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Node generated with uri converter -->
<div *ngIf="field?.getType() == 'uri'">
  <div [ngSwitch]="field.getAnnotations()[0]?.name">
    <div *ngSwitchCase="'ObjectOneOf'">
      <select class="form-select" [(ngModel)]="field.value" (ngModelChange)="onModelChanged()">
        <option *ngFor="let v of getAnnValueObjectOneOf(field.getAnnotations()[0])">{{v.getNominalValue()}}</option>
      </select>
    </div>
    <div *ngSwitchCase="'Role'">
      <resource-picker (resourceChanged)="updateNodeField($event)"
        [config]="{ roles: getAnnValueRole(field.getAnnotations()[0]), allowLocal: !field.getAnnotation('Foreign'), allowRemote: true, projects: [getAnnValueForeign(field.getAnnotation('Foreign'))] }"
        [editable]="true">
      </resource-picker>
    </div>
    <div *ngSwitchCase="'Range'">
      <resource-picker (resourceChanged)="updateNodeField($event)"
        [config]="{ roles: [RDFResourceRolesEnum.individual], classes: [getAnnValueRange(field.getAnnotations()[0])], allowLocal: !field.getAnnotation('Foreign'), allowRemote: true, projects: [getAnnValueForeign(field.getAnnotation('Foreign'))] }"
        [editable]="true">
      </resource-picker>
    </div>
    <div *ngSwitchCase="'RangeList'">
      <resource-picker (resourceChanged)="updateNodeField($event)"
        [config]="{ roles: [RDFResourceRolesEnum.individual], classes: getAnnValueRangeList(field.getAnnotations()[0]), allowLocal: !field.getAnnotation('Foreign'), allowRemote: true, projects: [getAnnValueForeign(field.getAnnotation('Foreign'))] }"
        [editable]="true">
      </resource-picker>
    </div>
    <div *ngSwitchCase="'Foreign'">
      <resource-picker (resourceChanged)="updateNodeField($event)"
        [config]="{ allowLocal: false, allowRemote: true, projects: [getAnnValueForeign(field.getAnnotations()[0])] }"
        [editable]="true">
      </resource-picker>
    </div>
    <!-- no annotations, or unknown/unhanlded annotation -->
    <div *ngSwitchDefault>
      <resource-picker (resourceChanged)="updateNodeField($event)" [editable]="true" placeholder="http://example.org"
        [config]="{ allowRemote: true }">
      </resource-picker>
    </div>
  </div>
</div>

<ng-template #langStringInput>
  <textarea type="text" rows="1" class="form-control" style="flex:1; resize: vertical"
    [(ngModel)]="langString.value" (ngModelChange)="onLangStringChange()">
    </textarea>
  <lang-picker class="ms-2" [(ngModel)]="langString.lang" (ngModelChange)="onLangStringChange()"
    [config]="{ languages: field['oneOfLang']}">
  </lang-picker>
</ng-template>