<div [ngClass]="{'table-responsive bottomPadding': formFields?.length > 8 }">
    <table class="table table-sm table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
            <col style="width: 1%;">
        </colgroup>
        <tbody>

            <tr *ngIf="showStdFormResourceField">
                <td class="text-end"><label>URI:</label></td>
                <td>
                    <editable-ns-input [(ngModel)]="standardResourceValue" (ngModelChange)="onStandardResourceFieldChanged()">
                    </editable-ns-input>
                </td>
                <td></td>
            </tr>

            <ng-container *ngFor="let field of formFields; let index = index;">
                <tr *ngIf="!field.isDependency() && field.getPlaceholderId() != 'resource'">
                    <!--Form entry label-->
                    <td class="text-end"><label>{{field.getUserPrompt()}}:</label></td>
                    <!--Form entry field: depends on type (uri/literal) and optionally on datatype -->
                    <td>
                        <ng-container *ngIf="field.getAnnotation('Collection'); else singleFieldBlock">
                            <custom-form-field-list [(ngModel)]="formFields[index]" (ngModelChange)="onFormFieldChanged(field)"></custom-form-field-list>
                        </ng-container>

                        <ng-template #singleFieldBlock>
                            <custom-form-field [(ngModel)]="formFields[index]" (ngModelChange)="onFormFieldChanged(field)" [lang]="lang"></custom-form-field>
                        </ng-template>
                    </td>
                    <!--Mandatory/Optional-->
                    <td>
                        <span *ngIf="field.isMandatory()" [title]="'COMMONS.MANDATORY_FIELD'|translate">*</span>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>