<div *ngFor="let sf of subFields; let i = index; let last = last" class="hbox" style="padding: 3px;">
  <custom-form-field style="flex: 1;" [ngModel]="subFields[i]" (ngModelChange)="onFieldChange(i)"></custom-form-field>

  <button *ngIf="last" class="btn btn-xs btn-light" style="margin-left: 2px;" (click)="addValue()" [disabled]="subFields.length == max">
    <span class="fas fa-plus"></span>
  </button>
  <button class="btn btn-xs btn-light" style="margin-left: 2px;" (click)="removeValue(i)" [disabled]="subFields.length == min || subFields.length == 1">
    <span class="far fa-trash-alt"></span>
  </button>
</div>