<div class="card">
  <div class="card-body">

    <div class="groupPanel">
      <div class="groupPanel-heading">
        <div class="groupPanel-heading-content px-2">WYSIWYG</div>
      </div>
      <div class="groupPanel-body">
        <quill-editor class="w-100" [(ngModel)]="value" [modules]="quillModules" (ngModelChange)="onValueChanged()"></quill-editor>
      </div>
    </div>

    <div class="groupPanel mt-4">
      <div class="groupPanel-heading">
        <div class="groupPanel-heading-content px-2">HTML</div>
      </div>
      <div class="groupPanel-body">
        <html-editor [(ngModel)]="value" (ngModelChange)="onValueChanged()"></html-editor>
      </div>
    </div>

  </div>
</div>