<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'SHACL.LOAD_SHACL_SHAPES'|translate}}</h3>
    </div>
    <div class="modal-body vbox">
        <div class="row m-0">
            <label class="col-form-label col-sm-1">{{'COMMONS.FILE'|translate}}:</label>
            <div class="col-sm-7">
                <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="filePickerAccept"></file-picker>
            </div>
            <label class="col-form-label col-sm-1">{{'COMMONS.FORMAT'|translate}}:</label>
            <div class="col-sm-3">
                <select class="form-select" [(ngModel)]="selectedInputFormat">
                    <option *ngFor="let f of inputFormats" [ngValue]="f">{{f.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-check float-start">
            <input class="form-check-input" id="clearCheck" type="checkbox" [(ngModel)]="clearExisting">
            <label class="form-check-label" for="clearCheck">{{'SHACL.CLEAR_EXISTING'|translate}}</label>
        </div>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!file || !selectedInputFormat">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>