<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'SHACL.BATCH_VALIDATION'|translate}}</h3>
    </div>
    <div class="modal-body vbox blockingDivHost">

        <div class="card vbox">
            <div class="card-header">
                <label style="flex: 1;"></label>
                <button class="btn btn-light btn-xs" (click)="startValidation()" [title]="'SHACL.RUN_SHACL_VALIDATION'|translate">
                    <span class="fas fa-play"></span>
                </button>
            </div>
            <div class="card-body vbox">
                <shacl-report-editor [ngModel]="validationResult" [disabled]="true"></shacl-report-editor>
            </div>
        </div>

        <div #blockingDiv class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <!-- <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button> -->
    </div>
</div>