<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{'PREFERENCES.RES_VIEW_SECTIONS_DISPLAY_INFO.SECTIONS_DISPLAY_INFO'|translate}}</h3>
  </div>
  <div class="modal-body" style="min-height: 300px;">

    <ul class="nav nav-tabs">
      <li *ngFor="let l of langs" class="nav-item">
        <a class="nav-link px-3" (click)="activateTabLang(l)" [ngClass]="{ active: activeTabLang == l }">
          {{l}}
          <span class="ms-3" (click)="closeTab(l, $event)">
            <i class="fas fa-times-circle clickable"></i>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle dropdown-no-arrow" style="border-color: #dee2e6;" data-toggle="dropdown" ngbDropdownToggle>
          <i class="fas fa-plus"></i>
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a *ngFor="let l of additionalLangs" class="dropdown-item" (click)="addLangTab(l)">{{l}}</a>
        </div>
      </li>
    </ul>

    <div class="tab-content">

      <div *ngIf="activeTab" class="tab-pane active">
        <div class="card vbox">
          <div class="card-body table-responsive">
            <table class="table table-sm table-borderless table-hover">
              <colgroup>
                <col style="width: 1%;">
                <col style="width: 40%;">
                <col style="width: 50%;">
              </colgroup>
              <thead class="border-bottom">
                <tr>
                  <th>{{'RESOURCE_VIEW.SECTIONS.SECTIONS'|translate}}</th>
                  <th>{{'COMMONS.LABEL'|translate}}</th>
                  <th>{{'COMMONS.DESCRIPTION'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let s of activeTab.sectionsCustomization">
                  <tr *ngIf="s.visible">
                    <td nowrap>
                      <label>{{s.translationKey|translate}}</label>
                    </td>
                    <td>
                      <input class="form-control" [(ngModel)]="s.label">
                    </td>
                    <td>
                      <textarea class="form-control" rows="1" [(ngModel)]="s.description"></textarea>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="input-group input-group-sm">
              <div class="input-group-text">
                {{'PREFERENCES.RES_VIEW_SECTIONS_DISPLAY_INFO.FILTER_BY_TEMPLATE'|translate}}
                <input type="checkbox" class="ms-2" [(ngModel)]="activeTab.filter.enabled" (ngModelChange)="applyFilters()">
              </div>
              <select class="form-select" [(ngModel)]="activeTab.filter.role" (ngModelChange)="applyFilters()" [disabled]="!activeTab.filter.enabled">
                <option *ngFor="let r of roles">{{r}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>