<div class="rdfResourceIcon">
  <ng-container *ngIf="language; then flagBlock; else iconBlock"></ng-container>
  <ng-template #flagBlock>
    <lang-item [language]="language" [disabled]="!isExplicit" [showName]="false" [showTag]="false"></lang-item>
  </ng-template>
  <ng-template #iconBlock>
    <img [src]="imgSrc" [title]="natureTooltip">
  </ng-template>
</div>
<span [title]="resource.toNT()" [class]="'rdfResourceText' + renderingClass">

  <ng-container [ngSwitch]="renderMode">
    <span *ngSwitchCase="'manchester'" style="font-family: monospace;">
      <span *ngFor="let cas of manchExprStruct" [class]="cas.class">{{cas.token}}</span>
    </span>
    <div *ngSwitchCase="'literalWithLink'">
      <ng-container *ngFor="let s of splittedLiteral; let even = even">
        <ng-container *ngIf="even; then renderNormal; else renderAsLink"></ng-container>
        <ng-template #renderNormal>
          <span style="white-space: pre-wrap">{{s}}</span>
        </ng-template>
        <ng-template #renderAsLink>
          <a (click)="openLink(s, $event)" class="clickable">{{s}}</a>
        </ng-template>
      </ng-container>
    </div>
    <div *ngSwitchCase="'html'">
      <div [innerHTML]="safeHtml"></div>
    </div>
    <span *ngSwitchDefault #renderingEl class="renderingText">{{renderingLabel}}</span>
  </ng-container>

</span>
<span *ngIf="showDatatypeBadge" class="badge datatype-badge" [title]="datatype.toNT()">{{datatype.getShow()}}</span>

<!-- Direct type badge, available only if rdf-resource is in instance list -->
<span *ngIf="resource['nonDirect'] && renderingEl" class="badge bg-warning rounded-pill ms-auto ellipsable" [style]="'font-size: 100%; max-width: calc(100%-' + renderingEl.nativeElement.clientWidth + ')px'" [title]="'DATA.INSTANCE.NON_DIRECT_INFO'|translate: {classes:resource['directClasses']}">
  {{resource['directClasses']}}
</span>