:host {
  min-height: 16px;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
}

.rdfResourceIcon {
  height: 16px;
  display: flex;
  flex: none;
  align-items: center;
  min-height: 0;
  min-width: 0;
}

.rdfResourceText {
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

.renderingText {
  /* 
  inline-block break something in vertical alignment,
  the widget, when placed in the RV tab, is not vertically aligned.
  I don't remember why inline-block has been added. For the moment remove it
  */
  //display: inline-block;
  line-height: initial;
  white-space: pre-wrap;
}

.datatype-badge {
  background-color: #eb8e54;
  font-weight: initial;
  padding: 0.3em .6em;
}

/*
rdf-resource inside tree/list has tabIndex="0", 
this means that it catch the focus when pressing shift, and thus :focus-visible is applied. 
Then, browser adds a black outline.
However, shift is also used in tree/list for opening resources in the side tabset, so it is common to use it.
It's ugly to have a tree/list element black outlined each time, 
so here I change the color so to have a less invasive effect
*/
:host:focus-visible {
  outline: 2px solid #95ceff;
}