<div style="border: 1px solid #ddd;" class="vbox">
    <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
        <div *ngFor="let n of nodeList; let idx=index">
            <div *ngIf="idx < resLimit" class="listNodeItem" [ngClass]="{ selectedResource: n.selected && !multiselection }" (click)="onResourceSelected(n)" (dblclick)="onDblClick(n)" tabindex="0" (keyup.enter)="onResourceSelected(n)">
                <input *ngIf="multiselection" type="checkbox" class="me-2" [(ngModel)]="n.selected" (ngModelChange)="emitSelection()">
                <rdf-resource [resource]="n.resource" [rendering]="rendering"></rdf-resource>
            </div>
        </div>
    </div>
</div>