<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-info" *ngIf="message">
      {{message}}
    </div>

    <div class="scrollableContainer mt-2" style="border: 1px solid #ddd;">
      <table class="table table-sm table-hoverable">
        <thead>
          <tr>
            <th>{{'COMMONS.NAME'|translate}}</th>
            <th>{{'COMMONS.DESCRIPTION'|translate}}</th>
            <th nowrap>{{'WIDGETS.CONVERTER.RDF_CAPABILITY'|translate}}</th>
            <th>URI</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of converters" (click)="selectConverter(c)" [ngClass]="{ 'table-primary': c == selectedConverter }">
            <td>{{c.getName()}}</td>
            <td class="px-2" style="white-space: pre-wrap;">{{c.getDescription()}}</td>
            <td nowrap>{{c.getRDFCapability()}}
              <span *ngIf="c.getDatatypes().length > 0" class="fas fa-info-circle" [title]="c.getDatatypes()"></span>
            </td>
            <td [title]="c.getURI()">{{c.getQName()}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mt-3">
      <label class="col-form-label col-sm-1">{{'WIDGETS.CONVERTER.SIGNATURE'|translate}}:</label>
      <div class="col-sm-11">

        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
        </div>

        <div class="input-group">

          <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [disabled]="concerterTypeConstrained" ngbDropdown>
            {{selectedConverterType}} <span class="fas fa-caret-down"></span>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" (click)="switchConverterType(RDFCapabilityType.uri)">Uri</a>
            <a class="dropdown-item" (click)="switchConverterType(RDFCapabilityType.literal)">Literal</a>
          </div>

          <input type="text" class="form-control" [ngModel]="projectionOperator" disabled>
          <button class="btn btn-light" (click)="chooseSignature()" [title]="'COMMONS.ACTIONS.EDIT'|translate" [disabled]="!isSignatureEditable()">
            <span class="fas fa-pencil-alt"></span>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedConverter">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>