<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h3 class="modal-title text-info">{{title}}</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-info" *ngIf="message">
      {{message}}
    </div>

    <div class="scrollableContainer mt-2" style="border: 1px solid #ddd;">
      <div *ngFor="let s of signatureList" class="listItem d-flex align-items-center flex-column my-1 p-2" style="border: 1px solid #ddd; border-radius: 4px;" (click)="selectSignature(s)" [ngClass]="{active: selectedSignature == s}">
        <div *ngIf="s.getParameters().length == 0">No parameters</div>
        <div *ngFor="let p of s.getParameters()" class="mt-1">
          <span style="color: #101094; font-family: Courier New, Courier, monospace">{{p.getType()}}</span>
          <span class="fw-bold ms-1" style="font-family: Courier New, Courier, monospace">{{p.getName()}}</span>
          <span *ngIf="p.getDescription().length > 0" class="grayText"> ({{p.getDescription()}})</span>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedSignature">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>